Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(stress-tools): handle empty HDR histogram summary in split_line
  sdcm/loader.py
  sdcm/utils/hdrhistogram.py
Due: ruff-format, ruff

feature(upgrade): split stress workloads for backport 2025.3
  configurations/azure/azure_rolling_upgrade.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: ruff-format, ruff, update-conf-docs

feature(jenkins): add structured test failure summary as PR comment
  Jenkinsfile
  sdcm/utils/junit_summary.py
  unit_tests/test_data/junit_summary/failing.xml
  unit_tests/test_data/junit_summary/passing.xml
  unit_tests/test_data/junit_summary/precommit_all_passing.txt
  unit_tests/test_data/junit_summary/precommit_with_failures.txt
  unit_tests/test_data/junit_summary/single_suite.xml
  unit_tests/test_junit_summary.py
  vars/postTestSummaryComment.groovy
Due: ruff-format, ruff

test(perf-simple-query): add offline installer configs and pipelines for PGO build validation
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64-offline.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64-write-offline.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64-offline.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64-write-offline.jenkinsfile
  test-cases/microbenchmarking/amazon_perf_simple_query_offline_ARM.yaml
  test-cases/microbenchmarking/amazon_perf_simple_query_offline_x86.yaml
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

feature(cassandra): add BaseCassandraCluster mixin and CassandraNodeMixin
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_cassandra.py
  sdcm/gemini_thread.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(cassandra): integrate Cassandra into Docker, AWS, and tester
  sdcm/cluster_aws.py
  sdcm/cluster_docker.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/sct_provision/aws/instance_parameters_builder.py
  sdcm/tester.py
Due: ruff-format, ruff

feature(cassandra): add test configs, scripts, and Jenkins pipelines
  jenkins-pipelines/oss/longevity/cassandra-preload-1tb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-2tb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-500gb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-5tb-latte.jenkinsfile
  run-aws-cassandra-provision-reuse.sh
  run-aws-cassandra-test.sh
  run-docker-cassandra-test.sh
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/cassandra-docker-provision-test.yaml
  test-cases/cassandra/cassandra-preload-1tb-latte.yaml
  test-cases/cassandra/cassandra-preload-2tb-latte.yaml
  test-cases/cassandra/cassandra-preload-500gb-latte.yaml
  test-cases/cassandra/cassandra-preload-5tb-latte.yaml
  test-cases/gemini/gemini-cassandra-oracle-aws.yaml
  test-cases/gemini/gemini-cassandra-oracle-docker.yaml
Due: none

test(cassandra): add unit tests and mini-plan for parallel cloud-init
  docs/plans/infrastructure/cassandra-cluster-support.md
  docs/plans/mini-plans/2026-03-24-parallel-cloud-init.md
  unit_tests/test_cassandra_docker_cluster.py
  unit_tests/test_cluster_cassandra.py
Due: ruff-format, ruff

fix(jenkins): quote arguments passed through hydra.sh to preserve spaces
  vars/postTestSummaryComment.groovy
Due: none

fix(cassandra): increase AWS provision test duration to 60 min
  test-cases/cassandra-aws-provision-test.yaml
Due: none

fix(jenkins): strip hydra.sh noise from PR summary comment
  vars/postTestSummaryComment.groovy
Due: none

feature(error_injection): add support for error injection functionality
  sdcm/rest/error_injection.py
  sdcm/rest/remote_curl_client.py
  sdcm/rest/rest_client.py
  unit_tests/rest/conftest.py
  unit_tests/rest/test_error_injection_client.py
Due: ruff-format, ruff

refactor(nemesis): Remove unused disabled nemesis handling
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/nemesis.md
  docs/plans/config/k8s-multitenancy-dict-config.md
  sdcm/nemesis/__init__.py
  sdcm/sct_config.py
  skills/writing-nemesis/SKILL.md
  unit_tests/nemesis/__init__.py
  unit_tests/nemesis/test_registry.py
  unit_tests/nemesis/test_sisyphus.py
  unit_tests/test_data/test_config/multitenant/shared_option_values.yaml
  unit_tests/test_data/test_config/multitenant/unique_option_values.yaml
  unit_tests/test_utils__operator__multitenant_common.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

feature(cassandra): add Prometheus exporter and Grafana dashboard
  data_dir/cassandra-monitoring-dashboard.json
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/MASTER.md
  docs/plans/infrastructure/cassandra-monitoring.md
  docs/plans/progress.json
  sdcm/cassandra_exporter_setup.py
  sdcm/cluster.py
  sdcm/cluster_cassandra.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(upgrade): add large_partition_stress_during_upgrade parameter
  configurations/azure/azure_rolling_upgrade.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: ruff-format, ruff, update-conf-docs

fix(docs): regenerate configuration_options.md for correct type annotations
  docs/configuration_options.md
Due: none

fix(cassandra): add root_disk_size_db to prevent boot crash on small EBS
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/cassandra/cassandra-preload-1tb-latte.yaml
  test-cases/cassandra/cassandra-preload-2tb-latte.yaml
  test-cases/cassandra/cassandra-preload-500gb-latte.yaml
  test-cases/cassandra/cassandra-preload-5tb-latte.yaml
Due: none

feature(cassandra): add CassandraLogCollector for proper log collection
  sdcm/logcollector.py
  sdcm/tester.py
Due: ruff-format, ruff

fix(cassandra): fix exporter JAR URL and log collector sudo
  sdcm/cassandra_exporter_setup.py
  sdcm/logcollector.py
Due: ruff-format, ruff

docs(plans): Add plan for extracting nemesis
  docs/plans/nemesis/nemesis-extraction.md
Due: none

docs(skills): update writing-unit-tests pitfalls and anti-patterns
  skills/writing-unit-tests/SKILL.md
  skills/writing-unit-tests/references/anti-patterns.md
  skills/writing-unit-tests/references/common-pitfalls.md
Due: none

fix(cassandra): add diagnostics to check_node_db_up for debugging
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

test(nemesis): Enhance test_consecutive_skips
  unit_tests/nemesis/execute_nemesis/__init__.py
  unit_tests/nemesis/execute_nemesis/test_consecutive_skips.py
Due: ruff-format, ruff

feature(cassandra): add Cassandra Docker cluster support
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_docker.py
  sdcm/sct_config.py
  sdcm/tester.py
Due: ruff-format, ruff, update-conf-docs

test(cassandra): add test config and unit tests for Cassandra Docker cluster
  test-cases/cassandra-docker-provision-test.yaml
  unit_tests/test_cassandra_docker_cluster.py
Due: ruff-format, ruff

ci(jenkins): add cassandra-docker provision test and labels definition
  .github/labels.yml
  Jenkinsfile
Due: none

docs(plans): update Phase 1 progress for Cassandra cluster support
  docs/plans/infrastructure/cassandra-cluster-support.md
  docs/plans/progress.json
Due: none

test(backup): add test for native backup on google cloud
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/object_storage_gcs.yaml
  configurations/object_storage_s3.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-s3.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-s3.jenkinsfile
  performance_regression_manager_backup_test.py
  sdcm/cluster.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: ruff-format, ruff

fix(pipelines): add try/finally cleanup and fix CPS scoping in perfRegressionParallelPipeline
  vars/perfRegressionParallelPipeline.groovy
Due: none

fix(config): declare xcloud_provisioning_mode as SctField
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(cassandra): mount NVMe instance storage for Cassandra data
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

defaults: Set Scylla Monitoring branch 4.14.1 scylladb-monitor-4-14-0-2026-02-05t11-58-50z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

feature(scylla_yaml): add 'rack' as valid internode_compression value
  sdcm/nemesis/__init__.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
