Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(config): disable simulated racks for longevity-1-rf-test-12h
  test-cases/longevity/longevity-1-rf-test-12h.yaml
Due: none

fix(tests): drive base-version tests off live supported versions, drop EOL hardcoding
  unit_tests/integration/test_base_version.py
Due: ruff-format, ruff

feature(triggers): auto-detect AMI architecture and filter jobs accordingly
  configurations/triggers/rolling-upgrade.yaml
  sct.py
  sdcm/utils/trigger_matrix.py
  unit_tests/trigger_matrix/conftest.py
  unit_tests/trigger_matrix/test_filtering.py
  unit_tests/trigger_matrix/test_resolve_version.py
Due: ruff-format, ruff

fix(aws-provision): report config init failures to Argus during provisioning
  sct.py
  sdcm/sct_config.py
  unit_tests/unit/test_provision_error_event.py
Due: ruff-format, ruff, update-conf-docs

fix(provision/gce): prevent live migration from disrupting tests
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_scheduling_policy.py
Due: ruff-format, ruff

fix(provision/gce): prevent live migration from disrupting tests
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_scheduling_policy.py
Due: ruff-format, ruff

ci(pr-pipeline): abort previous build on force-push
  Jenkinsfile
Due: none

fix(tests): drive base-version tests off live supported versions, drop EOL hardcoding
  unit_tests/test_base_version.py
Due: ruff-format, ruff

feature(versions): add fetch_official_supported_versions
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

fix(tests): drop create_retry_session mention from backported docstring
  unit_tests/integration/test_base_version.py
Due: ruff-format, ruff

feature(utils): add fetch_official_supported_versions for base-version tests
  unit_tests/test_base_version.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

feat(base-versions): add fetch_official_supported_versions helper
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

test(pytest): register the integration marker
  unit_tests/pytest.ini
Due: none

feature(base-versions): add fetch_official_supported_versions helper
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff
