Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

refactor: move snapshot+decrypt to CorruptedSstablesPreparator teardown validator
  sdcm/logcollector.py
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/sstables.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/test_corrupted_sstables_preparator.py
Due: ruff-format, ruff

fix(logcollector): fall back to existing snapshot when nodetool snapshot fails
  sdcm/logcollector.py
  unit_tests/test_sstable_decrypt.py
Due: ruff-format, ruff

feature: Decrypt sstable before uploading
  docs/plans/mini-plans/2026-03-26-decrypt-sstables-before-collecting.md
  sdcm/logcollector.py
  sdcm/teardown_validators/sstables.py
  sdcm/utils/sstable/s3_uploader.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/test_sstable_decrypt.py
  unit_tests/test_sstable_decrypt_integration.py
Due: ruff-format, ruff

fix(remoter): always retry on EOFError from paramiko transport failure
  sdcm/logcollector.py
  sdcm/remote/remote_cmd_runner.py
  unit_tests/test_remoter.py
  unit_tests/test_sstable_decrypt.py
Due: ruff-format, ruff

fix: add add_install_prefix to CollectingNode for sstable decryption
  sdcm/logcollector.py
  unit_tests/test_sstable_decrypt.py
Due: ruff-format, ruff

test(integration): rewrite integration tests to use real constructors for full pipeline coverage
  unit_tests/test_sstable_decrypt_integration.py
Due: ruff-format, ruff

fix: handle all WITH/AND layouts in encryption stripping and validate sstable paths in event parsing
  sdcm/teardown_validators/sstables.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/test_corrupted_sstables_preparator.py
  unit_tests/test_sstable_decrypt_integration.py
Due: ruff-format, ruff

fix(multidc-parallel-network-schema-changes): fix op name for user profile
  test-cases/longevity/longevity-multidc-parallel-network-schema-changes-12h.yaml
Due: none

ci(manager): update default ScyllaDB version to 2026.1
  vars/managerPipeline.groovy
Due: none

test(tester): reduce busy-wait from 2s to 0.2s in CriticalErrorNotCaughtTest
  unit_tests/test_tester.py
Due: ruff-format, ruff

test(wait): reduce timeout and step values to eliminate unnecessary sleeping
  unit_tests/test_wait.py
Due: ruff-format, ruff

test(events): reduce last_event_processing_delay default from 1.0s to 0.5s
  unit_tests/lib/events_utils.py
Due: ruff-format, ruff

test(parallelobject): reduce sleep values from seconds to sub-second
  unit_tests/test_parallelobject.py
Due: ruff-format, ruff

test(adaptive-timeouts): add port-9100 node exporter mapping to fake remoter
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

test(gce-log-monitor): switch from RealEventsTest to FakeEventsMixin
  unit_tests/test_gce_log_monitor.py
Due: ruff-format, ruff

feature(tier1-longevity): replace Azure 1TB 5-day test with AWS i8ge alternative
  jenkins-pipelines/oss/tier1/longevity-1tb-5days-aws.jenkinsfile
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl-aws.yaml
Due: none

unit_tests: replace direct os.environ mutation with monkeypatch
  unit_tests/test_aws_services.py
  unit_tests/test_kafka.py
Due: ruff-format, ruff

fix(plans): regenerate progress-roadmap SVG to match progress.json
  docs/plans/assets/progress-roadmap.svg
Due: none

docs(config-deps): expand plan with full codebase dependency audit
  docs/plans/resilient-test-config-dependencies.md
Due: none

docs(review-analysis): add generated 7-year PR review taxonomy report
  scripts/review_analysis/reports/pr-review-taxonomy-report.md
Due: none

feature(skills): add data-driven code-review skill from taxonomy analysis
  AGENTS.md
  skills/code-review/SKILL.md
  skills/code-review/references/correctness-and-safety.md
  skills/code-review/references/scope-and-structure.md
  skills/code-review/references/test-quality-checklist.md
Due: none

feature(code-review): replace data-driven skill with override safety checks
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  skills/code-review/SKILL.md
  skills/code-review/references/common-issues.md
  skills/code-review/references/review-checklist.md
  skills/code-review/workflows/review-a-pr.md
Due: none

docs(review-analysis): add S3 upload script, executive summary, and Marp presentation
  scripts/review_analysis/reports/executive-summary.md
  scripts/review_analysis/reports/pr-review-taxonomy-presentation.md
  scripts/review_analysis/upload_cache.sh
Due: none

improvement(review-analysis): expand taxonomy with universal review categories and security/safety
  scripts/review_analysis/taxonomy.yaml
Due: none

docs(review-analysis): add implementation plan for PR review taxonomy analysis
  docs/plans/MASTER.md
  docs/plans/pr-review-taxonomy-analysis.md
  docs/plans/progress.json
Due: none

feature(review-analysis): add PR review taxonomy analysis pipeline
  scripts/review_analysis/.gitignore
  scripts/review_analysis/README.md
  scripts/review_analysis/analyze.py
  scripts/review_analysis/classify.py
  scripts/review_analysis/report.py
  scripts/review_analysis/run.sh
  scripts/review_analysis/taxonomy.yaml
Due: ruff-format, ruff

docs(plans): add AWS capacity validation and AZ fallback plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/aws-capacity-az-fallback.md
  docs/plans/progress.json
Due: none

fix(cloud-cleanup): fix circular import, add boto3 timeouts, and per-region error handling
  sdcm/utils/gce_utils.py
  utils/cloud_cleanup/aws/clean_aws.py
  utils/cloud_cleanup/k8s_eks/clean_eks.py
Due: ruff-format, ruff

fix(cloud-cleanup): add email notification on cleanup pipeline failure
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
Due: none

fix(cloud-cleanup): simplify email notification to avoid rawBuild API
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
Due: none

perf(claude): reduce per-turn context footprint by ~84%
  AGENTS.md
  CLAUDE.md
Due: none

fix(cloud-cleanup): fix aws_supported_regions AttributeError on class-level access
  sct.py
  sdcm/sct_config.py
  sdcm/utils/aws_peering.py
  utils/copy_ami_to_all_regions.py
Due: ruff-format, ruff, update-conf-docs

fix(cloud-cleanup): disable TerminationProtection before deleting orphaned CloudFormation stacks
  utils/cloud_cleanup/k8s_eks/clean_eks.py
Due: ruff-format, ruff

fix(nemesis): collect logs and terminate nodes that fail during provisioning
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): collect logs and terminate nodes that fail during provisioning
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/nemesis.py
Due: ruff-format, ruff
