Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(test): use commit batch and unthrottle only
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
  configurations/strong_consistency/enable_experimental_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-unthrottle-tablets-sc.jenkinsfile
Due: none

test(tool): add lwt cql-stress on write
  configurations/stress_images/cql-stress-strong-consistency-lwt.yaml
Due: none

perf: add SC read-from-disk performance test pipelines and configs
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_sc.yaml
  docs/plans/mini-plans/2026-04-07-sc-read-disk-only-performance-test.md
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-disk-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-disk-tablets-sc.jenkinsfile
Due: none

fix(yaml): add new debug consistenty yaml for run 1 round of write with large debug
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_1round_write.yaml
Due: none

ci(jenkins): new specified jobs for each mode
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-disk-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-disk-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-write-tablets-ec.jenkinsfile
Due: none

test-cases: update consistency level to 'global' in strong_consistency configs
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_sc.yaml
Due: none

fix(yaml): use connection per shart instead of connection per host
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
Due: none

test(yaml): add only throttle yaml perf round
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
Due: none

test(yaml): add cql-stress custom build with lwt simulation
  configurations/stress_images/cql-stress-eventual-consistency-lwt.yaml
Due: none

fix(yaml): increase disk size for logs
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency.yaml
Due: none

Fix conflict markers in node restart expected errors
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(auto-ssh): update autossh image and environment variables
  sdcm/utils/auto_ssh.py
Due: ruff-format, ruff

fix(yaml): new config for 1k connections per shard
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec_1kpershard.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc_1kpershard.yaml
Due: none

perf: add async coroutine profiler support for gradual throughput tests
  performance_regression_gradual_grow_throughput.py
  sdcm/logcollector.py
  sdcm/rest/storage_service_client.py
Due: ruff-format, ruff

fix(yaml): decrease number of thread
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec_1kpershard.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc_1kpershard.yaml
Due: none

fix(upgrade-test): exclude .tmp files from sstabledump verification
  upgrade_test.py
Due: ruff-format, ruff

fix(sct_config): skip image/repo lookup when unified_package is set
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

docs(audits): add 2025 codebase health audit reports
  docs/audits/2025-codebase-health-summary.md
  docs/audits/detailed/cluster.md
  docs/audits/detailed/config-rest-tester.md
  docs/audits/detailed/nemesis.md
  docs/audits/detailed/provisioning-utils.md
  docs/audits/detailed/remote-execution.md
  docs/audits/detailed/skills-directory.md
Due: none

refactor(tests): centralize expected error filters for node restarts
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Revert "feat(docker): enable simulated_racks support for Docker backend"
  sdcm/cluster_docker.py
  sdcm/sct_config.py
  unit_tests/integration/test_docker_simulated_racks.py
  unit_tests/lib/fake_docker_cluster.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_docker_rack_assignment.py
  unit_tests/unit/test_docker_reuse_cluster.py
Due: ruff-format, ruff, update-conf-docs

Revert "feat(docker): enable simulated_racks support for Docker backend"
  sdcm/cluster_docker.py
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(plan): add gce config parity plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/config/aws-gce-backend-parity.md
  docs/plans/progress.json
Due: none

chore(azure): improve azure disk performance to avoid c-s failures
  test-cases/longevity/longevity-10gb-3h.yaml
Due: none

refactor(xcloud): address PR review - rename classes and drop unnecessary underscores
  jenkins-pipelines/vector-search/vector-search-in-xcloud-scale-out-aws.jenkinsfile
  scylla_cloud_e2e_test.py
Due: ruff-format, ruff

feature(oci): support OCI multi-dc setups
  sct.py
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_peering.py
  sdcm/utils/oci_region.py
  unit_tests/unit/test_oci_peering.py
Due: ruff-format, ruff, update-conf-docs

ci(oci): support OCI multi-dc setups in groovy files
  vars/createSctRunner.groovy
  vars/getJenkinsLabels.groovy
  vars/getJobTimeouts.groovy
  vars/managerPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runCollectLogs.groovy
  vars/runSctTest.groovy
Due: none

feature(nemesis): introduce `protected_db_nodes`
  data_dir/nemesis.yml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/utils/node_allocator.py
  sdcm/sct_config.py
  sdcm/tester.py
  unit_tests/unit/nemesis/test_node_allocator.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

test(protected_db_nodes): on 50gb test-case
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
Due: none

fix(perf-regression): add no-warmup flag to perf thrpoughput stress commands
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

Revert "feat(ycsb): ycsb version reporting for argus"
  defaults/docker_images/ycsb/values_ycsb.yaml
  sdcm/reporting/tooling_reporter.py
  sdcm/ycsb_thread.py
  unit_tests/test_tooling_ycsb_reporter_parsing.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
