Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

chore(deps): bump the python-driver version to the newly released one
  pyproject.toml
  uv.lock
Due: uv-sort

ci(oel): add artifacts tests for OEL10 using OCI backend
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel10.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel10.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/oel10.yaml
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

fix(nemesis): stop overriding rpc_address in AddRemoveDcNemesis
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

ci(oel): add artifacts tests for OEL10 using OCI backend
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel10.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel10.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/oel10.yaml
  unit_tests/test_utils_distro.py
Due: ruff-format, ruff

ci(oci): add analog of the tier2 multidc test for the OCI backend
  jenkins-pipelines/oss/tier2/longevity-cdc-8h-multi-dc-topology-changes-streaming-oci.jenkinsfile
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
Due: none

fix(logcollector): pass params to monitoring entities in MonitorSetBase
  sdcm/cluster.py
Due: ruff-format, ruff

fix(nemesis): always add node after removal even if repair fails
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(gce): enable AZ fallback in GCE artifact test configs
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image-persistent-disk.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
Due: none

fix(nemesis): retry ModifyTable ALTER on CQL timeout
  sdcm/nemesis/monkey/modify_table.py
  unit_tests/unit/nemesis/monkey/test_modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): always add node after removal even if repair fails
  sdcm/nemesis.py
Due: ruff-format, ruff

improvement(azure-provision): add stuck-VM detection and redeploy
  defaults/azure_config.yaml
  defaults/severities.yaml
  docs/configuration_options.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_config.py
  sdcm/sct_events/system.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/conftest.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
  vars/longevityPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

Revert "feature(monkey): Update AddRemoveDcNemesis for RF 0->N->0"
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Revert "feat(monkey): Move AddRemoveDcNemesis into own module"
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Revert "feature(monkey): Refactor AddRemoveDcNemesis"
  sdcm/nemesis/monkey/add_remove_dc.py
  unit_tests/unit/nemesis/monkey/test_add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(ci): add missing auth configs to the custom-d2-w1 test scenarios
  jenkins-pipelines/oss/longevity/longevity-aws-custom-d2-workload1-3dcs.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-aws-custom-d2-workload1-5dcs.jenkinsfile
Due: none

fix(build-system): wire scylla-doctor into job generation and staging trigger
  sct.py
  utils/staging_trigger/job_generation.py
Due: ruff-format, ruff

fix(build-image): skip Docker build steps when image is already built
  .github/workflows/build-docker-image.yaml
Due: none

fix(build-system): place _symlinks.yaml at correct directory depth
  jenkins-pipelines/scylla-doctor/oss/_display_name
  jenkins-pipelines/scylla-doctor/oss/artifacts/_display_name
  jenkins-pipelines/scylla-doctor/oss/artifacts/_symlinks.yaml
  utils/staging_trigger/job_generation.py
Due: ruff-format, ruff

fix(nemesis): downgrade expected raft gate-closed errors
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
