Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(upgrade): resolve rollback retry backport conflict in yum update call
  upgrade_test.py
Due: ruff-format, ruff

fix(nemesis): resolve datacenter guard backport conflict in tablet import
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff

fix(upgrade): stop using 2025.2 as an upgrade base version
  unit_tests/integration/test_base_version.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

fix(nvme): define the diagnostics parsing contract and stop self-inflicted errors
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/teardown_validators/nvme.py
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

fix(upgrade): stop using 2025.2 as an upgrade base version
  unit_tests/test_base_version.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

fix(microbenchmark): give perf-cql-raw enough memory to start
  microbenchmarking_test.py
  test-cases/microbenchmarking/amazon_perf_cql_raw_ARM.yaml
  test-cases/microbenchmarking/amazon_perf_cql_raw_x86.yaml
Due: ruff-format, ruff

docs(performance): add performance testing reference docs and runbooks
  docs/performance/README.md
  docs/performance/anatomy.md
  docs/performance/pipelines-and-scheduling.md
  docs/performance/results-and-regression.md
  docs/performance/runbook-new-instance-type.md
  docs/performance/runbook-new-perf-test.md
  docs/performance/runbook-new-stress-tool.md
  docs/performance/runbook-recalibrate-steps.md
  docs/performance/test-catalog.md
Due: none

docs(plans): add SCT-310 mini-plan for GCE network config alignment
  docs/plans/mini-plans/2026-08-31-sct-310-gce-network-config-alignment.md
Due: none

test(network-config): pin scylla_network_config validation rules
  unit_tests/test_configs/network_config_use_dns_on_secondary_nic.yaml
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

refactor(sct-config): extract per-backend scylla_network_config rules
  sdcm/sct_config.py
  unit_tests/test_configs/network_config_param_missing_on_fourth_address.yaml
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(gce): reject scylla_network_config ipv6 until GCE provisions it
  sdcm/cluster_gce.py
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(plans): record the SCT-310 follow-up ticket keys
  docs/plans/mini-plans/2026-08-31-sct-310-gce-network-config-alignment.md
Due: none

fix(upgrade): add missing timeout to apt-get update and assert it in tests
  unit_tests/unit/test_upgrade_rollback_retries.py
  upgrade_test.py
Due: ruff-format, ruff

fix(unittests): stub rollback event filters in upgrade retry tests
  unit_tests/unit/test_upgrade_rollback_retries.py
Due: ruff-format, ruff

fix(upgrade): retry package manager commands in node upgrade and rollback
  unit_tests/unit/test_upgrade_rollback_retries.py
  upgrade_test.py
Due: ruff-format, ruff

fix(nemesis): guard against unresolved datacenter in DataCenterTopologyRfControl
  sdcm/exceptions.py
  sdcm/utils/replication_strategy_utils.py
  unit_tests/unit/test_replication_strategy_utils.py
Due: ruff-format, ruff

fix(nemesis): use existing retry/decorator machinery instead of a hand-rolled loop
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff

fix(nemesis): skip node_operations cleanups when the target node was destroyed
  sdcm/nemesis/utils/node_operations.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/monkey/conftest.py
  unit_tests/unit/nemesis/monkey/test_node_isolation.py
  unit_tests/unit/nemesis/test_node_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): handle Scylla 2026.2+ index name in snapshot validation
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/test_validate_snapshot.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(hydra): install google-cloud-cli, the sdk names are gone from the repo
  Dockerfile
Due: none

fix(hydra): install google-cloud-cli, the sdk names are gone from the repo
  docker/env/Dockerfile
Due: none

test(nemesis): add unit tests for manager monkey extraction
  sdcm/nemesis/monkey/manager.py
  unit_tests/unit/nemesis/monkey/test_manager.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(oci): list only the instances of the provisioner's availability domains
  sdcm/logcollector.py
  sdcm/provision/oci/virtual_machine_provider.py
  unit_tests/unit/test_log_collector.py
  unit_tests/unit/test_oci_virtual_machine_provider.py
Due: ruff-format, ruff

fix(perf trigger): make bi-weekly/3-weekly crons fire the intended number of times
  configurations/triggers/perf-regression.yaml
  docs/testing/trigger-matrix.md
  jenkins-pipelines/master-triggers/sct_triggers/perf-regression-trigger.jenkinsfile
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
