Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

docs(plans): add YAML frontmatter for plan management system
  docs/plans/amazon-emr-spark-migrator.md
Due: none

docs(plans): add YAML frontmatter for plan management system
  docs/plans/resilient-test-config-dependencies.md
Due: none

docs(plans): add YAML frontmatter for plan management system
  docs/plans/minicloud-local-testing.md
Due: none

docs(plans): add YAML frontmatter for plan management system
  docs/plans/keystore-improvements.md
Due: none

docs(plans): add YAML frontmatter for plan management system
  docs/plans/kernel-panic-detection.md
Due: none

fix(lint): optimize validator speed and fix remaining lint failures
  sdcm/utils/lint/env_builder.py
  sdcm/utils/lint/jenkins_parser.py
  sdcm/utils/lint/validator.py
  unit_tests/lint/conftest.py
Due: ruff-format, ruff

fix(docker): add SSL certificate creation and fix send_files for docker backend
  docs/plans/fix-docker-encryption.md
  sdcm/cluster_docker.py
  sdcm/provision/helpers/certificate.py
  sdcm/remote/docker_cmd_runner.py
  unit_tests/test_docker_tar_stream.py
Due: ruff-format, ruff

fix(jenkins): correct broken config paths in pipeline files
  jenkins-pipelines/oss/features/elasticity/scale-elasticity-many-small-tables.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-scylla-gradual-throughput-grow-gauss-lcs.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-scylla-gradual-throughput-grow-uniform.jenkinsfile
  jenkins-pipelines/scale-up-c3-standard-lssd.jenkinsfile
Due: none

fix(config): fix zero_nodes list parsing and Azure placement group validation
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(hooks): extract plans separately in SessionEnd backup hook
  .claude/hooks/save-session.sh
  .gitignore
  docs/claude-worktree-workflow.md
Due: none

docs(env): add per-version venv option via .venv-per-version marker
  docs/claude-worktree-workflow.md
  docs/setup-uv-direnv.md
Due: none

fix(hooks): improve Claude worktree developer experience
  .claude/hooks/run-unit-tests.sh
  .claude/hooks/setup-init.sh
  AGENTS.md
  docs/claude-worktree-workflow.md
  docs/setup-uv-direnv.md
Due: none

feature(hooks): add SessionEnd hook to back up session transcripts
  .claude/hooks/save-session.sh
  .claude/settings.json
  .gitignore
  docs/claude-worktree-workflow.md
Due: none

docs(hooks): add worktree branching discipline guide
  docs/claude-worktree-workflow.md
Due: none

feature(perf): add dict format support and enterprise configs for latte gradual throughput
  configurations/performance/latency-decorator-error-thresholds-steps-latte-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-latte-vnodes.yaml
  configurations/performance/latte_gradual_load_steps_enterprise.yaml
  data_dir/latte/latte_cs_alike.rn
  docs/configuration_options.md
  docs/plans/latte-concurrency-gradual-throughput.md
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-write-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-write-vnodes.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  sdcm/stress/latte_thread.py
  test-cases/performance/latte-perf-regression-predefined-throughput-steps.yaml
  unit_tests/test_perf_gradual_config.py
Due: ruff-format, ruff, update-conf-docs

fix(config): include parse errors in dict_or_str ValueError message
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(stress-tools): handle empty HDR histogram summary in split_line
  sdcm/loader.py
  sdcm/utils/hdrhistogram.py
Due: ruff-format, ruff

refactor(perf-regression): support multiple keyspace.table pairs in gradual throughput tests
  configurations/disable_speculative_retry.yaml
  configurations/performance/gocql-predefined-throughput-steps-stress.yaml
  configurations/performance/rust-predefined-throughput-steps-cql-stress.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
  unit_tests/test_gradual_grow_throughput.py
Due: ruff-format, ruff, update-conf-docs

fix(lint): add missing blank line in sdcm/mgmt/common.py
  sdcm/mgmt/common.py
Due: ruff-format, ruff

fix(jenkins): remove Jenkinsfiles referencing missing config files
  jenkins-pipelines/oss/longevity/longevity-custom-d1.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-mv-si-24h-gce.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-topology-changes-24h-gce.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-alternator-latency-30min.jenkinsfile
Due: none

feat(nemesis): add callback-based node configuration to eliminate restart overhead
  docs/plans/callback-based-node-configuration.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/mgmt/common.py
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(platform-migration): add platform migration test trigger
  jenkins-pipelines/master-triggers/sct_triggers/platform-migration-weekly-trigger.xml
  jenkins-pipelines/oss/platform-migration/platform-migration-50perc-batched.jenkinsfile
Due: none

fix(unit-tests): add session-scoped cloud service mocks to conftest
  unit_tests/conftest.py
Due: ruff-format, ruff

fix(unit-tests): mark cloud-dependent tests as integration and fix mocks
  unit_tests/test_aws_services.py
  unit_tests/test_base_version.py
  unit_tests/test_clean_cloud_resources_func.py
  unit_tests/test_config.py
  unit_tests/test_scan_operation_thread.py
  unit_tests/test_send_email.py
  unit_tests/test_utils_common.py
  utils/cloud_cleanup/__init__.py
Due: ruff-format, ruff

fix(jenkins-ci): disable AWS credentials in unittest stage
  Jenkinsfile
  sct.py
Due: ruff-format, ruff

fix(nemesis): extending ignore_raft_topology_cmd_failing context
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

feature(ycsb): enable native YCSB loadbalancer
  configurations/rolling-upgrade-alternator.yaml
  defaults/docker_images/ycsb/values_ycsb.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/ycsb_thread.py
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
  unit_tests/test_alternator_streams_kcl.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

feature(ycsb): enable alternator_loadbalacing by default on every workload
  configurations/rolling-upgrade-alternator.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/ycsb_thread.py
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
  test-cases/performance/perf-regression-alternator-basic.yaml
  test-cases/performance/perf-regression-alternator-full.yaml
  test-cases/performance/perf-regression-alternator.100threads.30M-keys.yaml
  test-cases/scylla-operator/longevity-scylla-operator-alternator-http-3h.yaml
  test-cases/scylla-operator/longevity-scylla-operator-alternator-https-3h.yaml
  unit_tests/test_alternator_streams_kcl.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

fix(test-cases): disable nemesis during prepare phase for tests with prepare_verify_cmd
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
Due: none

fix(ycsb): fix integration tests and race contidtion
  defaults/docker_images/ycsb/values_ycsb.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/utils/common.py
  sdcm/ycsb_thread.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

feat(monkey): Move ModifyTable* nemesis into own module
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Simplify random usage in NemesisRunner
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): Add unit tests for modify_table nemesis
  unit_tests/nemesis/__init__.py
  unit_tests/nemesis/test_modify_table.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
