Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(provision/gce): persist placement handoff on zone-only changes
  sdcm/sct_provision/instances_provider.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
Due: ruff-format, ruff

improvement(provision): replace AWS Spot Fleet with EC2 Fleet
  sdcm/provision/aws/constants.py
  sdcm/provision/aws/provisioner.py
  sdcm/provision/aws/utils.py
  unit_tests/unit/test_aws_ec2_fleet_provisioner.py
  unit_tests/unit/test_aws_spot_provisioning.py
Due: ruff-format, ruff

feature(config): allow a list of instance types for EC2 Fleet diversification
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/sct_provision/aws/instance_parameters_builder.py
  test-cases/scale/scale-cluster.yaml
Due: ruff-format, ruff, update-conf-docs

docs(plans): add mini-plan for EC2 Fleet multi-instance-type migration
  docs/plans/mini-plans/2026-08-03-ec2-fleet-multi-instance-type.md
Due: none

ci(scale): disable AZ and region failover in scale-cluster test
  test-cases/scale/scale-cluster.yaml
Due: none

fix(scylla_doctor): harden tarball download validation
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(config): validate each type in multi-instance-type EC2 Fleet list
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(syntax): parenthesize multi-exception except clauses
  sdcm/logcollector.py
  sdcm/nemesis/__init__.py
  sdcm/utils/version_utils.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(syntax): parenthesize multi-exception except clauses
  sdcm/logcollector.py
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

fix(az-resolver): treat multi-instance-type params as alternatives, not one type
  sdcm/provision/aws/az_resolver.py
  unit_tests/unit/provisioner/test_az_resolver.py
Due: ruff-format, ruff

fix(ec2-fleet): drop ValidUntil, unsupported for instant fleet type
  sdcm/provision/aws/provisioner.py
  sdcm/provision/aws/utils.py
Due: ruff-format, ruff

ci(scale): bump sct-runner size for 40-60 and 180-200 scale tests
  configurations/scale/scale-180-200.yaml
  configurations/scale/scale-40-60.yaml
Due: none

test(manager): set Scylla version used in Manager pipelines to 2026.2
  vars/managerPipeline.groovy
Due: none

fix(sct_config): export keystore settings before __init__ can build a KeyStore
  docs/keystore-secrets-manager.md
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(keystore): document GCP project secrets and their SUPPORTED_PROJECTS coupling
  docs/keystore-secrets-manager.md
Due: none

improvement(keystore): default keystore_backend to secretsmanager
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/keystore-secrets-manager.md
  sdcm/keystore.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

docs(keystore): complete the Secrets Manager credential list
  docs/keystore-secrets-manager.md
Due: none

fix(sct_config): stop self-exported keystore env vars outranking config files
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(keystore): treat Secrets Manager missing-secret as a soft miss
  sdcm/keystore.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(keystore): keep the S3-only issue caches off the Secrets Manager backend
  docs/keystore-secrets-manager.md
  sdcm/keystore.py
  sdcm/utils/issues.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_issues_cache_backend.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(sct): drop dead scylla-qa-ec2/scylla-test keys from keystore sync
  defaults/baremetal_config.yaml
  docker/env/hydra.sh
  sct.py
  vars/copyLogsFromSctRunner.groovy
Due: ruff-format, ruff, update-conf-docs

docs(keystore): record the completed mirror and pin the region in every snippet
  docs/keystore-secrets-manager.md
Due: none

fix(keystore): pin Secrets Manager region and fix env propagation
  AGENTS.md
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/keystore-secrets-manager.md
  sdcm/keystore.py
  sdcm/sct_config.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff, update-conf-docs

fix(sct_config): export keystore settings before __init__ can build a KeyStore
  docs/keystore-secrets-manager.md
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(unittests): sync only mirrored SSH keys in test_aws_services
  unit_tests/test_aws_services.py
Due: ruff-format, ruff

fix(keystore): keep the S3-only issue caches off the Secrets Manager backend
  docs/keystore-secrets-manager.md
  sdcm/keystore.py
  sdcm/utils/issues.py
  unit_tests/test_config.py
  unit_tests/unit/test_issues_cache_backend.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(sct_config): stop self-exported keystore env vars outranking config files
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
