Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

docs(plans): check the GCE pricing API instead of assuming, as with AWS
  docs/plans/mini-plans/2026-09-14-spot-aware-cost-estimates.md
Due: none

fix(minicloud): allow tests to reserve guest memory for the OS
  configurations/minicloud/rolling-upgrade.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/configuration_options/minicloud.md
  sdcm/cluster.py
  sdcm/remote/remote_libssh_cmd_runner.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/utils/minicloud/__init__.py
  sdcm/utils/minicloud/manager.py
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_preflight.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_remoter.py
Due: ruff-format, ruff, update-conf-docs

fix(loaders): use continuous event pattern for Harry stress events
  defaults/severities.yaml
  sdcm/cassandra_harry_thread.py
  sdcm/sct_events/loaders.py
  unit_tests/unit/test_sct_events_loaders.py
Due: ruff-format, ruff, update-conf-docs

refactor(sct_config): give the mixins somewhere to put their validation
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/validation.py
  unit_tests/unit/config/test_mixin_validators.py
Due: ruff-format, ruff

fix(argus_results): keep the cycle prefix in per-HDR-tag latency rows
  sdcm/argus_results.py
  unit_tests/unit/test_argus_results.py
Due: ruff-format, ruff

fix(nemesis): stop misreporting build_disruptions_by_name failures
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/monkey/test_sisyphus.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct-events): downgrade commitlog list_descriptors OVERSIZED_ALLOCATION to WARNING
  sdcm/sct_events/setup.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

fix(nemesis): handle Scylla 2026.2+ index name in snapshot validation
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/test_validate_snapshot.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): skip node_operations cleanups when the target node was destroyed
  sdcm/nemesis/utils/node_operations.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/monkey/conftest.py
  unit_tests/unit/nemesis/monkey/test_node_isolation.py
  unit_tests/unit/nemesis/test_node_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): exclude ModifyTable nemesis where the test pins table settings
  AGENTS.md
  configurations/operator/twcs-basic-48h.yaml
  docs/nemesis.md
  skills/writing-nemesis/SKILL.md
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/longevity/longevity-100gb-4h-stcs.yaml
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-twcs-3h.yaml
Due: none

feat(adaptive_timeouts): report hard_timeout to Argus results table
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff

fix(nemesis): don't re-decommission already terminated new-DC nodes
  sdcm/nemesis/monkey/add_remove_dc.py
  unit_tests/unit/nemesis/monkey/test_add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(health_checker): don't fail on peers schema lag if gossip agrees
  sdcm/utils/health_checker.py
  unit_tests/unit/test_utils_health_checker.py
Due: ruff-format, ruff

fix(nemesis): downgrade expected raft gate-closed errors
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(keystore): share the credential cache across instances
  sdcm/keystore.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(health_checker): don't fail on peers schema lag if gossip agrees
  sdcm/utils/health_checker.py
  unit_tests/test_utils_health_checker.py
Due: ruff-format, ruff

feat(adaptive_timeouts): report hard_timeout to Argus results table
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

feature(provision/gce): widen spot fallback to multi-node and on-demand
  sdcm/cluster_gce.py
  sdcm/provision/gce/region_fallback.py
  sdcm/sct_provision/instances_provider.py
  unit_tests/unit/provisioner/test_gce_spot_last_resort.py
Due: ruff-format, ruff

feature(provision): record spot outcome on the shared GCE/Azure/OCI path
  sct.py
  sdcm/cluster_aws.py
  sdcm/provision/common/provision_plan.py
  sdcm/provision/common/spot_outcome.py
  sdcm/sct_provision/instances_provider.py
  unit_tests/unit/test_legacy_provision_outcome.py
  unit_tests/unit/test_shared_provision_outcome.py
  unit_tests/unit/test_spot_provision_outcome.py
Due: ruff-format, ruff

feature(provision/gce): rank zones and regions by Capacity Advisor
  defaults/gce_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/configuration_options/aws-backend.md
  docs/configuration_options/gce-backend.md
  docs/configuration_options/general-and-provisioning.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/gce/capacity_advisor.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/gce.py
  unit_tests/unit/provisioner/test_gce_capacity_advisor.py
Due: ruff-format, ruff, update-conf-docs

docs(plans): measure the GCE Billing Catalog API now that it is enabled
  docs/plans/mini-plans/2026-09-14-spot-aware-cost-estimates.md
Due: none

SCYLLADB-4406/fix(configurations): narrow post_prepare_cql_cmds to the keyspace these jobs create
  configurations/strong_consistency/nemesis_650gb_cql_stress_base.yaml
  unit_tests/unit/test_sc_topology_operations_pipelines.py
Due: ruff-format, ruff

fix(grafana): fall back to the legacy dashboard API on 503, not just 404
  sdcm/utils/grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff

test(grafana): wait for the /apis surface, not just /api/health
  unit_tests/integration/test_grafana_api.py
Due: ruff-format, ruff

docs(skills): add downscaling-for-minicloud skill
  AGENTS.md
  CLAUDE.md
  docs/minicloud.md
  skills/downscaling-for-minicloud/SKILL.md
  skills/downscaling-for-minicloud/references/run-script-template.md
  skills/downscaling-for-minicloud/references/sizing-knobs.md
  skills/downscaling-for-minicloud/references/stress-models.md
  skills/downscaling-for-minicloud/references/test-type-params.md
  skills/downscaling-for-minicloud/references/triage-local-runs.md
  skills/downscaling-for-minicloud/references/worked-examples.md
  skills/downscaling-for-minicloud/workflows/downscale-a-test.md
Due: none

feat(nemesis): precheck abort decommission tablets support
  docs/nemesis.md
  docs/plans/nemesis/nemesis-precheck.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/abort_decommission.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_categorical_monkey.py
  unit_tests/unit/nemesis/test_abort_decommission.py
  unit_tests/unit/nemesis/test_specific_nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): add precheck() hook to NemesisBaseClass
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix broken test fixture API calls carried over from master
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_categorical_monkey.py
Due: ruff-format, ruff

feat(nemesis): prune infeasible nemesis via precheck_nemesis() before the run loop
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(nemesis): document precheck() contract and pruning behavior
  AGENTS.md
  docs/nemesis.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/nemesis-precheck.md
  docs/plans/progress.json
  skills/writing-nemesis/SKILL.md
Due: none

fix(trigger-matrix): stop triggering perf-cql-raw microbenchmarks on 2026.1
  configurations/triggers/perf-regression.yaml
Due: none

test(network-config): pin scylla_network_config validation rules
  unit_tests/test_configs/network_config_use_dns_on_secondary_nic.yaml
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
