Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(rolling-upgrade): pin base versions to 2024.1 and 2025.1
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-alternator.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ami-arm.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ami.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-azure-image.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-centos9.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-debian11.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-gce-image.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-multidc.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu22.04-ldap-authorization.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2204.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2404.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-with-enable-tablets.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-with-null-inserts.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-with-sla-no-shares.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-with-sla.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/upgrade_custom/rolling-sequential-upgrade-custom_d1.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/upgrade_custom/rolling-upgrade-custom-d1-w2-latency-regression.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/upgrade_custom/rolling-upgrade-custom_d1.jenkinsfile
Due: none

docs(config-refactor): correct the Phase 3 record, add lessons for Phase 4
  docs/plans/sct-config-followup-refactoring.md
Due: none

fix(jenkins-jobs): escape XML in generated job descriptions
  unit_tests/unit/test_job_xml_generation.py
  utils/build_system/create_test_release_jobs.py
Due: ruff-format, ruff

fix(jenkins-jobs): report the failing file and finish the tree walk
  sct.py
  unit_tests/unit/test_job_xml_generation.py
  utils/build_system/create_test_release_jobs.py
Due: ruff-format, ruff

fix(scylla-doctor): stop a stuck node from hanging tearDown
  sdcm/tester.py
  unit_tests/test_scylla_doctor.py
  unit_tests/unit/test_tester.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

feature(tester): run gemini through run_stress_thread in the provision test
  sdcm/gemini_thread.py
  sdcm/tester.py
  sdcm/ycsb_thread.py
  test-cases/PR-provision-test.yaml
  unit_tests/unit/test_gemini_thread_unit.py
Due: ruff-format, ruff

feature(sizing): default loaders to Arm and match the image to the instance
  data/instance_catalog/sizing_config.yaml
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
  sdcm/node_exporter_setup.py
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_utils.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_node_exporter_setup.py
  unit_tests/unit/test_oci_utils.py
Due: ruff-format, ruff, update-conf-docs

feature(gce): give n4a and z3 the boot disk and local disks they require
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  unit_tests/unit/provisioner/test_gce_root_disk_type.py
  unit_tests/unit/test_instance_matcher.py
Due: ruff-format, ruff

feature(catalog): add the Arm machine types the loaders need
  data/instance_catalog/aws.yaml
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/sizing_config.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
  unit_tests/unit/test_instance_catalog.py
Due: ruff-format, ruff

perf(lint): cache the instance catalog and cap the lint worker pool
  sct.py
  sdcm/utils/cloud_catalog/instance_catalog.py
Due: ruff-format, ruff

fix(TerminateAndRemoveNodeMonkey): add ignore raft failing
  sdcm/nemesis.py
Due: ruff-format, ruff

improvement(defaults): change default compaction_strategy to ICS
  configurations/cs-compaction-strategy-lcs.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: update-conf-docs

improvement(defaults): change default compaction_strategy to ICS
  configurations/cs-compaction-strategy-lcs.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
Due: update-conf-docs

fix(nemesis): remove table-existence check from _prepare_test_table
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(longevity-twcs-48h): reduce disk utilization
  test-cases/longevity/longevity-twcs-48h.yaml
Due: none

fix(docker-remoter): fail fast when mktemp returns an empty path
  sdcm/remote/docker_cmd_runner.py
  sdcm/remote/remote_file.py
  unit_tests/unit/test_docker_cmd_runner.py
  unit_tests/unit/test_remoter.py
Due: ruff-format, ruff

fix(docker): read upgraded exec streams through the buffered reader
  sdcm/utils/docker_utils.py
  unit_tests/unit/test_utils_docker.py
Due: ruff-format, ruff

fix(scylla-doctor): tolerate ScyllaLimitNOFILECollector failure (SCT-961)
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(scylla-doctor): reference DOCTOR-119 in ScyllaLimitNOFILECollector tolerance
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(cloud_catalog): break the pricing import cycle
  sdcm/utils/cloud_catalog/lifecycle.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/cloud_monitor/common.py
Due: ruff-format, ruff

feature(cost): estimate a run's instance-hour cost before provisioning
  sct.py
  sdcm/utils/cloud_catalog/cost.py
  unit_tests/unit/test_cost.py
Due: ruff-format, ruff

fix(scylla-doctor): tolerate ScyllaLimitNOFILECollector failure (SCT-961) (#15986)
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff
