Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(manager): bump default Manager version to 3.11 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/unit/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(monkey): Fix cleanup in AbortDecommissionMonkey
  sdcm/nemesis/monkey/abort_decommission.py
  unit_tests/unit/nemesis/test_abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

ci(oel): add artifacts tests for OEL10 using OCI backend
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel10.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel10.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/oel10.yaml
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

chore(deps): bump the python-driver version to the newly released one
  pyproject.toml
  uv.lock
Due: uv-sort

refactor(multidc-parallel-topology-schema-changes): reduce data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

docs(plans): address review feedback on pipeline-labeling plan
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
Due: none

improvement(plans): address review feedback on pipeline labeling plan
  docs/plans/assets/progress-roadmap.svg
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
Due: none

docs(plans): add pipeline labeling and documentation plan
  docs/plans/MASTER.md
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
  docs/plans/progress.json
Due: none

improvement(plans): rewrite pipeline labeling plan - embed metadata in YAML with pydantic
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
  docs/plans/progress.json
Due: none

improvement(sct-runner): add retries for checking SSH connectivity
  sct.py
Due: ruff-format, ruff

fix(nemesis): restore original kms_hosts config after encryption nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(ycsb): fix AWS SDK v2 credential loading for alternator
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

Reproducer for scale test issue
  test-cases/longevity/longevity-gce-custom-d1-workload1-hybrid-raid.yaml
Due: none

fix(aws): validate instance type availability in target region
  sdcm/sct_config.py
  sdcm/utils/aws_utils.py
  unit_tests/test_perf_gradual_config.py
  unit_tests/unit/conftest.py
Due: ruff-format, ruff, update-conf-docs

fix(detaults): Switch to scylla monitoring branch 4.15
  configurations/manager/debian12.yaml
  configurations/manager/rocky8.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/test_default.yaml
Due: update-conf-docs

fix(defaults): Use ScyllaDB monitoring image scylladb-monitor-4-15-0-rc-2026-04-29t11-20-11z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

fix(docs): Update montioring branch parameter documentation
  docs/configuration_options.md
Due: none

Assuming no-raid with SSDs
  test-cases/longevity/longevity-gce-custom-d1-workload1-hybrid-raid.yaml
Due: none

Trying with root disk of hyperdisk
  test-cases/longevity/longevity-gce-custom-d1-workload1-hybrid-raid.yaml
Due: none

docs(nemesis): add pre-execution skip check (precheck) plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/nemesis-precheck.md
  docs/plans/progress.json
Due: none

feature(build-system): add _symlinks.yaml support for Jenkins pipeline job reuse
  jenkins-pipelines/scylla-doctor/_symlinks.yaml
  unit_tests/unit/test_pipeline_symlinks.py
  utils/build_system/create_test_release_jobs.py
Due: ruff-format, ruff

fix(renovate): use S3 API for scylla-doctor version lookup
  renovate.json
Due: none

fix(renovate): add recreateWhen to prevent stale Edited/Blocked PRs
  renovate.json
Due: none

ci(oel): add artifacts tests for OEL10 using OCI backend
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel10.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel10.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/oel10.yaml
  unit_tests/test_utils_distro.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
