Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(test_decode_backtrace.py): Access test_config before test
  unit_tests/test_decode_backtrace.py
Due: autopep8, ruff

ix(test_docker_cmd_runner): Do not collect TestWatcher
  unit_tests/test_docker_cmd_runner.py
Due: autopep8, ruff

fix(test_coredump): Use events fixture
  unit_tests/test_coredump.py
Due: autopep8, ruff

fix(logdir import): Move create-logging and log-directory to a fixture
  sdcm/tester.py
Due: autopep8, ruff

chore(argus): updated client to 0.15.5
  argus/_version.py
  argus/client/base.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/sct/client.py
  argus/common/enums.py
  argus/version
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/provisioner.py
  sdcm/tester.py
  unit_tests/lib/fake_provisioner.py
Due: autopep8, ruff

test
  test-cases/performance/perf-regression-alternator-basic.yaml
Due: none

fix(nemesis): ignore error from status while gossip is disabled
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(artifact): change the logic of expected irq pinned cpus
  sdcm/utils/perftune_validator.py
Due: autopep8, ruff

feature(scylla-cloud): run stress load on Scylla cloud cluster
  defaults/cloud_config.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/longevity/longevity-scylla-cloud-10gb-3h.jenkinsfile
  sct.py
  sdcm/cloud_api_client.py
  sdcm/cluster_cloud.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/tester.py
  sdcm/utils/resources_cleanup.py
  vars/createSctRunner.groovy
  vars/getJenkinsLabels.groovy
  vars/longevityPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runSctTest.groovy
Due: autopep8, ruff, update-conf-docs

fix(rollingUpgradePipeline): add fallback steps
  vars/rollingUpgradePipeline.groovy
Due: none

fix(rollingUpgradePipeline): switch to use centerlized runSctTest
  vars/provisionResources.groovy
  vars/rollingUpgradePipeline.groovy
  vars/runSctTest.groovy
Due: none

fix(rollingUpgradePipeline): add missing provision stage
  vars/rollingUpgradePipeline.groovy
Due: none

test(Manager backup benchmark): Added test setups for 2TB and 850GB
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/6TB_dataset.yaml
  configurations/manager/850GB_backup_dataset.yaml
  performance_regression_manager_backup_test.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: autopep8, ruff

refactor(parallel object): move to it's own new file
  functional_tests/scylla_operator/test_functional.py
  ics_space_amplification_goal_test.py
  longevity_operator_multi_tenant_test.py
  longevity_tombstone_gc_test.py
  performance_regression_operator_multi_tenant_test.py
  performance_regression_test.py
  sdcm/logcollector.py
  sdcm/nemesis.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/teardown_validators/sstables.py
  sdcm/tester.py
  sdcm/utils/benchmarks.py
  sdcm/utils/bisect_test.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  sdcm/utils/operator/multitenant_common.py
  sdcm/utils/parallel_object.py
  sdcm/utils/raft/common.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  stop_compaction_test.py
  unit_tests/test_parallelobject.py
  upgrade_test.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis.py): add manager backup nemesis to COMPLEX_NEMESIS
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(mgmt_cli_test): resolve rebase issues after refactor
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/850GB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  jenkins-pipelines/manager/manager-backup-native-backup.jenkinsfile
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-1tb-1t-3nodes.jenkinsfile
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-1tb-2t-9nodes.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-backup-restore-custom-dataset.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-restore-data-outside-of-manager.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
  mgmt_cli_test.py
  performance_regression_manager_backup_test.py
  sdcm/mgmt/common.py
  sdcm/mgmt/operations.py
  sdcm/nemesis.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(doctor): define default timeouts in cqlshrc
  data_dir/ssl_conf/client/cqlshrc
Due: none

fix(tester,latte_thread): Fix SyntaxWarnings on regexes
  sdcm/stress/latte_thread.py
  sdcm/tester.py
  unit_tests/test_wait.py
Due: autopep8, ruff

fix(scylla_yaml): Fix pydantic incorrect type warnings
  sdcm/provision/scylla_yaml/cluster_builder.py
  unit_tests/test_scylla_yaml_builders.py
Due: autopep8, ruff

fix(test_config): Do not collect TestConfig
  sdcm/test_config.py
Due: autopep8, ruff

fix(test_longevity): Rewrite the test to not use pytester
  unit_tests/longevity/__init__.py
  unit_tests/longevity/conftest.py
  unit_tests/longevity/test_longevity.py
  unit_tests/test_longevity.py
Due: autopep8, ruff

fix(test_longevity): Rewrite the test to not use pytester
  unit_tests/conftest.py
  unit_tests/longevity/__init__.py
  unit_tests/longevity/conftest.py
  unit_tests/test_longevity.py
Due: autopep8, ruff

test
  sdcm/ycsb_thread.py
Due: autopep8, ruff

test(performance): add rust test
  configurations/performance/cql_stress_gradual_load_reduced_steps_number.yaml
  configurations/performance/rust-predefined-throughput-steps-cql-stress.yaml
  jenkins-pipelines/drivers/rust/perf-regression-predefined-throughput-steps-vnodes.jenkinsfile
Due: none

fix(test_tester): Use standardized Events system
  unit_tests/test_tester.py
Due: autopep8, ruff

improvement(conftest.py): Do not create inline subclass for EventsUtilsMixin
  unit_tests/conftest.py
Due: autopep8, ruff

feature(sct.py): Allow multiple tests to be specified
  sct.py
Due: autopep8, ruff
