Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(oci): resolve loader shapes through sizing so OCI loaders default to Arm
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
Due: none

improvement(oci): declare vCPUs per OCPU on fixed shapes, explain loader sizes
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

fix(sizing): count one vCPU per OCPU on OCI Ampere A1 shapes
  data/instance_catalog/oci.yaml
  docs/cross-cloud-sizing.md
  sdcm/utils/cloud_catalog/catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
Due: ruff-format, ruff

fix(nemesis): stop misreporting build_disruptions_by_name failures
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/test_sisyphus.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(jenkins): delete the local coredump archive after uploading it
  unit_tests/unit/test_upload_sct_coredump.py
  utils/upload_sct_coredump.sh
  utils/upload_sct_coredump_inside_hydra.sh
  vars/minicloudReclaim.groovy
Due: ruff-format, ruff

test: run integration docker fixtures without sudo on a local host
  unit_tests/integration/conftest.py
  unit_tests/integration/test_gemini_thread.py
  unit_tests/integration/test_ycsb_thread.py
  unit_tests/lib/docker_access.py
Due: ruff-format, ruff

test(config): skip azure master image lookups on branch-2026.1
  unit_tests/test_config.py
  unit_tests/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

test(config): skip azure master image lookups on branch-2026.2
  unit_tests/integration/test_config.py
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

feat(nemesis): precheck abort decommission tablets support
  docs/nemesis.md
  docs/plans/nemesis/nemesis-precheck.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/abort_decommission.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_categorical_monkey.py
  unit_tests/unit/nemesis/test_abort_decommission.py
  unit_tests/unit/nemesis/test_specific_nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix broken test fixture API calls carried over from master
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_categorical_monkey.py
Due: ruff-format, ruff

docs(nemesis): document precheck() contract and pruning behavior
  AGENTS.md
  docs/nemesis.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/nemesis-precheck.md
  docs/plans/progress.json
  skills/writing-nemesis/SKILL.md
Due: none

feat(nemesis): add precheck() hook to NemesisBaseClass
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): prune infeasible nemesis via precheck_nemesis() before the run loop
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(unit_tests): isolate GCE bind-race filter test in its own class
  unit_tests/test_events.py
Due: ruff-format, ruff

unit-test(stability): fix flakiness in test_execute_nemesis_success
  unit_tests/unit/nemesis/execute_nemesis/test_basic.py
Due: ruff-format, ruff

ci(provision): run the minicloud artifacts tests from PR labels
  .github/copilot-instructions.md
  Jenkinsfile
  docs/contribution-handbook.md
  skills/code-review/references/review-checklist.md
Due: none

chore(renovate): run the minicloud provision tests on image bumps
  renovate.json
Due: none

ci(minicloud): run master rolling upgrades weekly against minicloud
  configurations/minicloud/generic-rolling-upgrade.yaml
  configurations/minicloud/rolling-upgrade-alternator.yaml
  configurations/triggers/rolling-upgrade.yaml
  jenkins-pipelines/oss/sct_triggers/rolling-upgrade-trigger.jenkinsfile
  unit_tests/trigger_matrix/test_biweekly_split.py
  unit_tests/trigger_matrix/test_rolling_upgrade.py
  vars/rollingUpgradePipeline.groovy
Due: ruff-format, ruff

fix(gce): wait for a new instance to be RUNNING before handing it on
  sdcm/provision/gce/instance_provider.py
  unit_tests/unit/provisioner/test_gce_spot_fallback.py
  unit_tests/unit/provisioner/test_gce_wait_until_running.py
Due: ruff-format, ruff

docs(skill): warn against asserting on the text of non-Python code
  skills/writing-unit-tests/SKILL.md
  skills/writing-unit-tests/references/anti-patterns.md
  skills/writing-unit-tests/workflows/write-a-unit-test.md
Due: none

test(nemesis): assert rule counts before and after KillNemesis
  unit_tests/unit/nemesis/test_node_operations.py
Due: ruff-format, ruff
