Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(monitor): drop conflicting node exporter before manager backend install
  sdcm/cluster.py
  unit_tests/unit/test_manager_backend_node_exporter.py
Due: ruff-format, ruff

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff

fix(monitor): point to recreated 4.16.0 monitor image
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/__init__.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

improvement(monitor): Update to 4.16.x branch
  configurations/manager/debian12.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(sdcm/cluster): Update overview template to use 4.16 monitoring
  data_dir/monitoring-dash-template.json
  sdcm/cluster.py
Due: ruff-format, ruff

feature(xcloud): derive rack-aware topology from availability zones
  defaults/cloud_config.yaml
  docs/configuration_options.md
  sdcm/cloud_api_client.py
  sdcm/cluster_cloud.py
  sdcm/sct_config.py
  sdcm/teardown_validators/rackaware.py
  sdcm/utils/cloud_api_utils.py
  unit_tests/unit/test_cluster_cloud.py
  unit_tests/unit/test_teardown_validator.py
Due: ruff-format, ruff, update-conf-docs

test(perf): add logs that should start the process
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(cpu_bottleneck): collect perf data
  defaults/severities.yaml
  sdcm/sct_events/database.py
  sdcm/sct_events/event_handler.py
  sdcm/sct_events/handlers/cpu_bottleneck.py
  unit_tests/test_data/system_cpu_hog.log
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cpu_bottleneck_handler.py
  unit_tests/unit/test_sct_events_database.py
Due: ruff-format, ruff, update-conf-docs

Set monitoring image to scylladb-monitor-4-16-0-amd64-2026-08-31t09-45-49z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

feature(xcloud): check availability zones against the Cloud API
  docs/new-hydra-commands.md
  sct.py
  sdcm/cloud_api_client.py
  sdcm/sct_config.py
  sdcm/utils/cloud_api_utils.py
  unit_tests/unit/test_cluster_cloud.py
Due: ruff-format, ruff, update-conf-docs

Set monitoring image to scylladb-monitor-4-16-0-amd64-2026-08-31t09-45-49z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

chore(test-cases): drop stale artifacts, cloud and gce multi-dc configs
  docs/artifacts_test.md
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel76.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel76.jenkinsfile
  jenkins-pipelines/oss/features/features-google-cloud-snitch-mutli-dc.jenkinsfile
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/features/gce-multiple-dc-shutdown-30mins.yaml
  test-cases/features/google-cloud-snitch-multi-dc.yaml
  test-cases/longevity/longevity-100GB-48h-cloud-CloudLimitedChaosMonkey-tls.yaml
Due: none

chore(longevity): quarantine the unused YCSB, ndbench and nosqlbench configs
  docs/plans/mini-plans/2026-06-25-test-metadata-rollout.md
  jenkins-pipelines/oss/longevity/longevity-10gb-3h-nosqlbench.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-ndbench-12-nodes-multidc-4h.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-ndbench-192-nodes-multidc-4h.jenkinsfile
  test-cases/longevity/longevity-nosqlbench-3h.yaml
  test-cases/quarantined/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/quarantined/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/quarantined/longevity-nosqlbench-3h.yaml
  test-cases/quarantined/longevity-ycsb-a-100M.yaml
  test-cases/quarantined/longevity-ycsb-a-10M.yaml
  test-cases/quarantined/longevity-ycsb-a-1B.yaml
  test-cases/quarantined/longevity-ycsb-a-1M.yaml
  test-cases/quarantined/longevity-ycsb.txt
Due: none

chore(load): quarantine the admission-control overload config
  docs/plans/mini-plans/2026-06-25-test-metadata-rollout.md
  jenkins-pipelines/oss/load-test/_display_name
  jenkins-pipelines/oss/load-test/admission_control_overload.jenkinsfile
  test-cases/quarantined/admission_control_overload_test.yaml
Due: none

feature(lint): add cyclic import detection
  .pre-commit-config.yaml
  data/known_cyclic_imports.yml
  docs/cyclic-import-detection.md
  scripts/detect_cyclic_imports.py
  unit_tests/unit/test_detect_cyclic_imports.py
Due: ruff-format, ruff

fix(oci): properly set SCT runner root disk size
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/runner_configs/oci-sct-runner-cloud-config.yaml
  sdcm/sct_runner.py
  sdcm/utils/oci_utils.py
  unit_tests/unit/test_oci_virtual_machine_provider.py
  unit_tests/unit/test_sct_runner.py
Due: ruff-format, ruff

fix(health_checker): don't fail on peers schema lag if gossip agrees
  sdcm/utils/health_checker.py
  unit_tests/unit/test_utils_health_checker.py
Due: ruff-format, ruff

feature(perf): add optional c-s loader JVM safepoint logging
  configurations/arm_instance_types/i8g_4xlarge.yaml
  defaults/test_default.yaml
  docs/collected-logs.md
  docs/configuration_options.md
  docs/performance-tests.md
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/stress_thread.py
  test-cases/performance/perf-regression-latency-2.5tb-elasticity.yaml
  unit_tests/integration/test_cassandra_stress_thread.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

alternator: add tablets_initial_scale_factor=1 to a test
  test-cases/longevity/longevity-alternator-3h.yaml
Due: none

Revert "Set monitoring image to scylladb-monitor-4-16-0-amd64-2026-08-31t09-45-49z"
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

test(monitor-images): verify default monitor images exist in AWS and GCE
  .github/workflows/label-monitor-image-updates.yaml
  docs/monitoring-images.md
  unit_tests/integration/test_default_monitor_images.py
Due: ruff-format, ruff
