Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

SCYLLADB-4601/docs(sc): correct the commit hash in the coverage table
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(baremetal): refuse teardown while a simulation run is executing
  scripts/baremetal-simulation/99_teardown.py
  scripts/baremetal-simulation/README.md
Due: ruff-format, ruff

docs(plans): make spot lookups lazy, and plan a report tool to prove it
  docs/plans/mini-plans/2026-09-14-spot-aware-cost-estimates.md
Due: none

improvement(hydra): watch the builder <-> SCT runner transport
  docker/env/hydra.sh
Due: none

docs(plans): split fallback visibility out, and cover Azure and OCI spot
  docs/plans/mini-plans/2026-09-14-spot-aware-cost-estimates.md
  docs/plans/mini-plans/2026-09-23-on-demand-fallback-visibility.md
Due: none

docs(plans): rollout and test plan for cost estimation across pipelines
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/progress.json
  docs/plans/testing/cost-estimation-rollout.md
Due: none

docs(plans): mini-plan for automating the instance catalog refresh
  docs/plans/mini-plans/2026-09-23-catalog-refresh-automation.md
Due: none

docs(plan): plan for preserving coredumps during out-of-space nemesis
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/coredump-preservation-oos-nemesis.md
  docs/plans/progress.json
Due: none

fix(cluster): define the destroyed flag on BaseNode
  sdcm/cluster.py
  unit_tests/unit/nemesis/test_node_operations.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(gemini): cap the deleted-partitions heap by default
  sdcm/gemini_thread.py
Due: ruff-format, ruff

refactor(trigger_matrix): convert module to a package
  sdcm/utils/trigger_matrix/__init__.py
Due: ruff-format, ruff

refactor(trigger_matrix): extract constants, errors and version parsing
  sdcm/utils/trigger_matrix/__init__.py
  sdcm/utils/trigger_matrix/backends.py
  sdcm/utils/trigger_matrix/constants.py
  sdcm/utils/trigger_matrix/errors.py
  sdcm/utils/trigger_matrix/versions.py
Due: ruff-format, ruff

refactor(trigger_matrix): extract models, config, filters, parameters and resolution
  sdcm/utils/trigger_matrix/__init__.py
  sdcm/utils/trigger_matrix/config.py
  sdcm/utils/trigger_matrix/filters.py
  sdcm/utils/trigger_matrix/models.py
  sdcm/utils/trigger_matrix/parameters.py
  sdcm/utils/trigger_matrix/resolution.py
  unit_tests/trigger_matrix/test_layout_validation.py
  unit_tests/trigger_matrix/test_rolling_upgrade.py
  unit_tests/trigger_matrix/test_version_resolution.py
Due: ruff-format, ruff

refactor(version_utils): keep the Scylla version regexes in one place
  sdcm/utils/common.py
  sdcm/utils/trigger_matrix/versions.py
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

docs(trigger-matrix): document the package layout
  docs/testing/trigger-matrix.md
  vars/triggerMatrixPipeline.groovy
Due: none

refactor(trigger_matrix): address review feedback
  sdcm/utils/trigger_matrix/groovy.py
  sdcm/utils/trigger_matrix/jenkins_client.py
  sdcm/utils/trigger_matrix/models.py
Due: ruff-format, ruff

refactor(trigger_matrix): extract cloud image lookups into images.py
  sdcm/utils/trigger_matrix/__init__.py
  sdcm/utils/trigger_matrix/images.py
  unit_tests/trigger_matrix/conftest.py
  unit_tests/trigger_matrix/test_resolve_version.py
  unit_tests/trigger_matrix/test_version_resolution.py
Due: ruff-format, ruff

refactor(trigger_matrix): extract Jenkins calls into a JenkinsClient
  sdcm/utils/trigger_matrix/__init__.py
  sdcm/utils/trigger_matrix/groovy.py
  sdcm/utils/trigger_matrix/jenkins_client.py
  unit_tests/trigger_matrix/test_trigger.py
  unit_tests/trigger_matrix/test_wait_mode.py
Due: ruff-format, ruff

refactor(trigger_matrix): move the orchestrator and narrow the package surface
  sdcm/utils/trigger_matrix/__init__.py
  sdcm/utils/trigger_matrix/matrix.py
  sdcm/utils/trigger_matrix/reporting.py
  unit_tests/trigger_matrix/test_biweekly_split.py
  unit_tests/trigger_matrix/test_build_parameters.py
  unit_tests/trigger_matrix/test_filtering.py
  unit_tests/trigger_matrix/test_job_folder.py
  unit_tests/trigger_matrix/test_perf_regression.py
  unit_tests/trigger_matrix/test_rolling_upgrade.py
  unit_tests/trigger_matrix/test_version_resolution.py
Due: ruff-format, ruff

test(trigger_matrix): guard patch targets against silent no-ops
  unit_tests/trigger_matrix/test_patch_targets.py
Due: ruff-format, ruff

test(trigger_matrix): cover the Groovy builder and wait-mode machinery
  unit_tests/trigger_matrix/test_groovy.py
  unit_tests/trigger_matrix/test_image_availability.py
  unit_tests/trigger_matrix/test_trigger.py
  unit_tests/trigger_matrix/test_wait_for_builds.py
Due: ruff-format, ruff

fix(parallel-object): drop the atexit.unregister() call that never did anything
  sdcm/utils/parallel_object.py
Due: ruff-format, ruff

fix(remote-logger): shut down the log-follower pool so its worker can exit
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_remote_logger_executor_lifecycle.py
Due: ruff-format, ruff

docs(code-review): flag ThreadPoolExecutors that are never shut down
  skills/code-review/references/correctness-and-safety.md
  skills/code-review/references/review-checklist.md
Due: none

docs(plans): record the health check measurement and retarget two phases
  docs/plans/infrastructure/health-check-optimization.md
Due: none

feature(health-check): break validation down per validator
  sdcm/cluster.py
  sdcm/utils/health_checker.py
  unit_tests/unit/test_health_check_instrumentation.py
Due: ruff-format, ruff

fix(sct_config): reject AWS multi-DC tests with use_dns_names
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(provision/aws): correct why use_dns_names blocks region fallback
  sdcm/cluster.py
  sdcm/provision/aws/az_resolver.py
Due: ruff-format, ruff

fix(provision/aws): block region fallback when use_dns_names is set
  sdcm/cluster.py
  sdcm/provision/aws/az_resolver.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/test_cql_address_resolution.py
Due: ruff-format, ruff

fix(jenkins): read PR labels outside CPS to avoid NotSerializableException
  vars/pullRequestContainsLabels.groovy
Due: none

fix(monitorstack): stop parallel restores from sharing the Grafana port
  Jenkinsfile
  sct.py
  sdcm/monitorstack/restore.py
  unit_tests/unit/test_monitorstack_restore.py
Due: ruff-format, ruff

fix(jenkins): show the failed provision step as failed
  Jenkinsfile
  vars/markStepFailed.groovy
Due: none

feature(cost): estimate what a run costs before it provisions anything
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/oci.yaml
  docs/cost-estimation.md
  sct.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/cost.py
  sdcm/utils/cloud_catalog/instance_catalog.py
  sdcm/utils/cloud_catalog/lifecycle.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/cloud_monitor/common.py
  unit_tests/unit/test_cost.py
Due: ruff-format, ruff

feature(cost): run the estimate in every pipeline that provisions
  vars/artifactsPipeline.groovy
  vars/byoLongevityPipeline.groovy
  vars/estimateTestCost.groovy
  vars/jepsenPipeline.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
  vars/rollingOperatorUpgradePipeline.groovy
  vars/rollingUpgradePipeline.groovy
Due: none

chore(cost): mark where per-instance cost reporting to Argus belongs
  sdcm/cluster.py
  sdcm/utils/argus.py
Due: ruff-format, ruff

docs(plans): mini-plans for the remaining cost-estimation work
  docs/plans/mini-plans/2026-09-14-spot-aware-cost-estimates.md
  docs/plans/mini-plans/2026-09-23-cost-estimation-pipeline-rollout.md
  docs/plans/mini-plans/2026-09-23-on-demand-fallback-visibility.md
Due: none
