Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(sla-test): stress commands must be passed as list
  sla_per_user_system_test.py
Due: ruff-format, ruff

feat(nemesis): Remove duplicit metric handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Improve handling of target_pools
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Simplify log and even handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): Add tests for execute_nemesis and adjacent methods
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/conftest.py
  unit_tests/unit/nemesis/execute_nemesis/test_argus.py
  unit_tests/unit/nemesis/execute_nemesis/test_basic.py
  unit_tests/unit/nemesis/execute_nemesis/test_healthcheck.py
  unit_tests/unit/nemesis/fake_cluster.py
Due: ruff-format, ruff

feat: Add nemesis hooks to ClusterTester
  longevity_lwt_test.py
  sdcm/nemesis/__init__.py
  sdcm/tester.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Extract methods from disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(prometheus): Add context manager for event
  longevity_lwt_test.py
  sdcm/prometheus.py
Due: ruff-format, ruff

feat(nemesis): Submit doc string to Argus for Nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix AttributeError when run() handles UnsupportedNemesis after execute_nemesis clears current_disruption
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_consecutive_skips.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove explicit nemesis mechanism
  docs/shelved/MULTITENANTK8s.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(aws): tolerate elastic IP release failures on node destroy
  sdcm/cluster_aws.py
  unit_tests/unit/test_cluster_aws.py
Due: ruff-format, ruff

fix(fill_db_data): stop a slow TRUNCATE from silently voiding later verification
  sdcm/fill_db_data.py
  unit_tests/unit/test_fill_db_data_truncate.py
Due: ruff-format, ruff

fix(kernel-panic): suspend checker during BaseNode.restart(), not just reboot()
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/cluster_oci.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cluster_oci.py
Due: ruff-format, ruff

fix(integration-tests): run the integration suite in parallel
  Jenkinsfile
  requirements.in
  requirements.txt
  sct.py
  unit_tests/test_alternator_streams_kcl.py
  unit_tests/test_cassandra_harry.py
  unit_tests/test_cassandra_stress_thread.py
  unit_tests/test_cluster.py
  unit_tests/test_cql_stress_cassandra_stress_thread.py
  unit_tests/test_kafka.py
  unit_tests/test_latte_thread.py
  unit_tests/test_ndbench_thread.py
  unit_tests/test_python_driver.py
  unit_tests/test_run_cqlsh.py
  unit_tests/test_scylla_bench_thread.py
  unit_tests/test_utils_database_query_utils.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff

fix(unit_tests): drop unified_package tests for behaviour not on this branch
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

test(unit_tests): drop the Elasticsearch-era microbenchmarking test
  unit_tests/test_microbenchmarking.py
Due: ruff-format, ruff

fix(version_utils): arch-aware image tag, and enterprise-2024.1 lookup
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

fix(unit_tests): unpin the AMI branch, and use this branch's method name
  unit_tests/integration/test_sstable_load_utils.py
  unit_tests/test_config.py
Due: ruff-format, ruff

chore(hydra): pin the image that carries pytest-xdist
  docker/env/version
Due: none

refactor(longevity-large-partition-200k-pks): Retune GCE test to ~40% utilization and add LZ4
  jenkins-pipelines/oss/tier1/longevity-large-partition-200k-pks-4days-gce.jenkinsfile
  test-cases/longevity/longevity-large-partition-200k_pks-4days-gce.yaml
Due: none

feature(nemesis): add diagnostics collector and new test configs
  docs/diagnostic_collector.md
  sdcm/logcollector.py
  sdcm/nemesis/__init__.py
  sdcm/utils/diagnostic_collector/__init__.py
  sdcm/utils/diagnostic_collector/handlers.py
  sdcm/utils/diagnostic_collector/manager.py
  sdcm/utils/diagnostic_collector/views.py
  unit_tests/unit/diagnostic_collector/__init__.py
  unit_tests/unit/diagnostic_collector/conftest.py
  unit_tests/unit/diagnostic_collector/test_base.py
  unit_tests/unit/diagnostic_collector/test_handlers.py
  unit_tests/unit/diagnostic_collector/test_manager.py
  unit_tests/unit/diagnostic_collector/test_views.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(nvme): add NVMe diagnostics utility module
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff

docs(nvme): add NVMe diagnostics collection plan for DB nodes
  docs/plans/MASTER.md
  docs/plans/infrastructure/nvme-diagnostics-collection.md
  docs/plans/progress.json
Due: none

alternator: add tablets_initial_scale_factor=1 to a test and update instance
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
Due: none

improvement(performance): set error threshould for i8g predefined test
  configurations/performance/latency-decorator-error-thresholds-steps-ent-i8g-tablets.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-i8g-tablets.jenkinsfile
Due: none

feature(nvme): add NVMe diagnostics config parameters
  defaults/docker_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): add self-test orchestration and end-of-test log collection
  defaults/docker_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/assets/progress-roadmap.svg
  sdcm/logcollector.py
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/nvme.py
  sdcm/utils/nvme_diagnostics.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): integrate NVMe diagnostics into node setup and health checks
  defaults/severities.yaml
  sdcm/cluster.py
  sdcm/sct_events/health.py
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

fix(cluster_gce): stop eager reverse-DNS resolution when DNS names are off
  sdcm/cluster.py
  sdcm/cluster_gce.py
Due: ruff-format, ruff

feature(minicloud): add a local scale flavor, and size the gate for cluster growth
  configurations/minicloud/scale-cluster.yaml
  docs/minicloud.md
  scripts/run-minicloud-test.sh
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff

fix(aws_region): pass the association id to replace_route_table_association
  sdcm/utils/aws_region.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
