Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

docs(config-refactor): revise plan with accurate line refs, OCI/xcloud coverage, bug fixes
  docs/plans/sct-config-validation-and-lazy-images.md
Due: none

docs(config-refactor): add plan for extracting validation and lazy image resolution
  docs/plans/sct-config-validation-and-lazy-images.md
Due: none

test(mgmt-restore): introduce a multi-DC Native Restore test
  defaults/manager_restore_benchmark_snapshots.yaml
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-2tb-1t-6nodes-multidc.jenkinsfile
Due: update-conf-docs

feature(plans): add mini-plans system for lightweight single-PR planning
  AGENTS.md
  docs/plans/INSTRUCTIONS.md
  docs/plans/mini-plans/README.md
  skills/writing-plans/SKILL.md
  skills/writing-plans/references/mini-plan-template.md
  skills/writing-plans/workflows/create-a-mini-plan.md
  skills/writing-plans/workflows/create-a-plan.md
Due: none

feat(gemini): upgrade oracle to 2025.4
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/cdc/cdc-15m-replication-gemini.yaml
  test-cases/cdc/cdc-15m-replication-postimage.yaml
  test-cases/cdc/cdc-15m-replication-preimage.yaml
  test-cases/cdc/cdc-15m-replication.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  unit_tests/test_data/test_scylla_yaml_builders/multi_network_interfaces/cdc-replication-longevity.yaml
Due: update-conf-docs

docs(plans): add multi-cloud provisioning resilience plan
  docs/plans/MASTER.md
  docs/plans/infrastructure/multi-cloud-provisioning-resilience.md
  docs/plans/progress.json
Due: none

feat(gemini): add custom SCHEMA support flag
  docs/configuration_options.md
  sdcm/gemini_thread.py
  sdcm/sct_config.py
  test-cases/cdc/cdc-15m-replication-gemini.yaml
  test-cases/cdc/cdc-15m-replication-postimage.yaml
  test-cases/cdc/cdc-15m-replication-preimage.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-cdc-postimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-preimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-write.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-8h-large-num-columns.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  test-cases/upgrades/rolling-upgrade.yaml
  unit_tests/test_data/gemini_schemas/no_delete_statement_ratios.json
  unit_tests/test_data/gemini_schemas/simple_two_partition_keys_schema.json
  unit_tests/test_data/test_scylla_yaml_builders/multi_network_interfaces/cdc-replication-longevity.yaml
  unit_tests/test_data/test_scylla_yaml_builders/rolling-upgrade.yaml
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff, update-conf-docs

ci(perf-regression): pass job_throttle_category parameter to i8g jobs
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

chore(trigger-matrix): add TODO about scylla-pkg cross-check before merging deprecated jobs
  jenkins-pipelines/oss/sct_triggers/_deprecated_jobs.yaml
Due: none

docs(skills): add no-inline-classes and events fixture guidance to unit test skill
  skills/writing-unit-tests/SKILL.md
Due: none

docs(plans): add Cassandra cluster plan for SCT
  docs/plans/MASTER.md
  docs/plans/infrastructure/cassandra-cluster-support.md
  docs/plans/progress.json
Due: none

feature(review-analysis): add PR review taxonomy analysis pipeline
  scripts/review_analysis/.gitignore
  scripts/review_analysis/README.md
  scripts/review_analysis/analyze.py
  scripts/review_analysis/classify.py
  scripts/review_analysis/report.py
  scripts/review_analysis/run.sh
  scripts/review_analysis/taxonomy.yaml
Due: ruff-format, ruff

feat(gemini): add custom SCHEMA support flag
  sdcm/gemini_thread.py
  test-cases/cdc/cdc-15m-replication-gemini.yaml
  test-cases/cdc/cdc-15m-replication-postimage.yaml
  test-cases/cdc/cdc-15m-replication-preimage.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-cdc-postimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-preimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-write.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-8h-large-num-columns.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  test-cases/upgrades/rolling-upgrade.yaml
  unit_tests/test_data/gemini_schemas/no_delete_statement_ratios.json
  unit_tests/test_data/gemini_schemas/simple_two_partition_keys_schema.json
  unit_tests/test_data/test_scylla_yaml_builders/multi_network_interfaces/cdc-replication-longevity.yaml
  unit_tests/test_data/test_scylla_yaml_builders/rolling-upgrade.yaml
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff

feat(gemini): add custom SCHEMA support flag
  docs/configuration_options.md
  sdcm/gemini_thread.py
  test-cases/cdc/cdc-15m-replication-gemini.yaml
  test-cases/cdc/cdc-15m-replication-postimage.yaml
  test-cases/cdc/cdc-15m-replication-preimage.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-cdc-postimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-preimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-write.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-8h-large-num-columns.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  test-cases/upgrades/rolling-upgrade.yaml
  unit_tests/test_data/gemini_schemas/no_delete_statement_ratios.json
  unit_tests/test_data/gemini_schemas/simple_two_partition_keys_schema.json
  unit_tests/test_data/test_scylla_yaml_builders/multi_network_interfaces/cdc-replication-longevity.yaml
  unit_tests/test_data/test_scylla_yaml_builders/rolling-upgrade.yaml
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff

test(manager): add singleDC config and sanity test for GCE
  jenkins-pipelines/manager/ubuntu22-manager-sanity-gce.jenkinsfile
  test-cases/manager/manager-regression-singleDC-gce.yaml
Due: none

fix(config): update gce_datacenter type to StringOrList
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(gemini): use storage optimized instance types for Oracle
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
Due: none

fix(integration-tests): fix vector-store integration tests
  docker/scylla-sct/entry.sh
  sdcm/utils/vector_store_client.py
  unit_tests/conftest.py
  unit_tests/test_vector_store.py
Due: ruff-format, ruff

fix(integration-tests): gemini integration tests failed with docker image not found error
  unit_tests/test_gemini_thread.py
  unit_tests/test_gemini_thread_unit.py
Due: ruff-format, ruff

feature(nemesis): Use classes instead of disrupt methods
  .github/copilot-instructions.md
  README.md
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  sdcm/nemesis.py
  sdcm/nemesis_registry.py
  sdcm/utils/decorators.py
  sdcm/utils/nemesis_generation.py
  unit_tests/nemesis/test_sisyphus.py
Due: ruff-format, ruff

chore(nemesis): Update nemesis config template
  templates/test_config/template-nemesis-config.yaml.j2
Due: create-nemesis-pipelines

doc: Add plan for Nemesis rework
  docs/plans/nemesis-rework.md
Due: none

improvement(nemesis): Add typing to runner
  sdcm/nemesis.py
Due: ruff-format, ruff
