Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(version-utils): discover enterprise nightly branch at run time
  sdcm/utils/version_utils.py
  unit_tests/integration/test_version_utils.py
  unit_tests/unit/test_version_utils.py
Due: ruff-format, ruff

test(version-utils): drop tests that only exercised unsupported enterprise input per review
  unit_tests/unit/test_staging_trigger.py
  unit_tests/unit/test_version_utils.py
Due: ruff-format, ruff

test(version-utils): drop redundant enterprise-nightly-not-supported test per review
  unit_tests/unit/test_version_utils.py
Due: ruff-format, ruff

fix(sizing): pin longevity-alternator-3h sizing_db arch to x86_64
  test-cases/longevity/longevity-alternator-3h.yaml
Due: none

fix(minicloud): apply firewalld trusted zone from the host, not hydra
  docs/minicloud.md
  scripts/minicloud-firewalld-zone.sh
  scripts/run-minicloud-test.sh
  sdcm/utils/minicloud/networking.py
  unit_tests/unit/minicloud/test_firewalld_zone_script.py
  vars/startMinicloud.groovy
Due: ruff-format, ruff

fix(latte): clamp gauss sample at the last valid key index
  data_dir/latte/latte_cs_alike.rn
Due: none

docs(provision/gce): add region-fallback design, test plan and KMS note
  docs/plans/mini-plans/2026-07-14-gce-region-fallback.md
  docs/plans/mini-plans/2026-07-16-gce-region-fallback-testplan.md
  sdcm/provision/gce/kms_provider.py
Due: ruff-format, ruff

fix(provision/gce): persist placement handoff on zone-only changes
  sdcm/sct_provision/instances_provider.py
  unit_tests/provisioner/test_gce_region_fallback.py
Due: ruff-format, ruff

feature(provision/gce): add AZ + region + multi-DC capacity-exhaustion fallback
  defaults/test_default.yaml
  docs/configuration_options.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/common/region_fallback.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/region_fallback.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/instances_provider.py
  sdcm/test_config.py
  sdcm/tester.py
  unit_tests/lib/dot_dict.py
  unit_tests/provisioner/test_az_fallback.py
  unit_tests/provisioner/test_az_resolver.py
  unit_tests/provisioner/test_capacity_reservation.py
  unit_tests/provisioner/test_gce_region_fallback.py
  unit_tests/provisioner/test_gce_zone_resolver.py
  unit_tests/test_config.py
  unit_tests/test_dedicated_hosts.py
Due: ruff-format, ruff, update-conf-docs

feature(provision/gce): enable AZ and region fallback by default for GCE
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(nemesis): stop mgmt restore task before dropping the keyspace
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/monkey/test_mgmt_restore.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

chore(housekeeping): remove all scylla-housekeeping checks and code
  artifacts_test.py
  defaults/severities.yaml
  docker/scylla-sct/centos/Dockerfile
  docker/scylla-sct/ubuntu/Dockerfile
  docs/configuration_options.md
  docs/keystore-secrets-manager.md
  pyproject.toml
  sdcm/cluster.py
  sdcm/keystore.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/sct_events/database.py
  sdcm/utils/housekeeping.py
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_keystore.py
  uv.lock
Due: ruff-format, ruff, update-conf-docs, uv-sort

fix(longevity-twcs-48h): reduce disk utilization
  test-cases/longevity/longevity-twcs-48h.yaml
Due: none

fix(hydra): install google-cloud-cli, the sdk names are gone from the repo
  Dockerfile
Due: none

feature(perf-logstor): add experimental logstor performance testing pipelines using Latte
  configurations/performance/enable_logstor.yaml
  configurations/performance/latte-perf-regression-latency-650gb-upgrade.yaml
  configurations/performance/logstor_hotspot_queries.yaml
  configurations/performance/logstor_uniform_queries.yaml
  data_dir/latte/latte_cs_alike.rn
  data_dir/latte/latte_cs_alike_hotspot.rn
  data_dir/latte/schema_scale.rn
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  test-cases/cassandra/cassandra-preload-1tb-latte.yaml
  test-cases/cassandra/cassandra-preload-2tb-latte.yaml
  test-cases/cassandra/cassandra-preload-500gb-latte.yaml
  test-cases/cassandra/cassandra-preload-5tb-latte.yaml
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-latte.yaml
  test-cases/scale/longevity-5000-tables-with-mv-per-table-latte.yaml
  unit_tests/unit/test_gradual_grow_throughput.py
Due: ruff-format, ruff, update-conf-docs

fix(precommit): fix unparenthesized except
  sdcm/utils/nvme_diagnostics.py
Due: ruff-format, ruff

fix(hydra): install google-cloud-cli, the sdk names are gone from the repo
  docker/env/Dockerfile
Due: none

feature(provision/aws): pick spot AZ/region by spot placement scores
  defaults/aws_config.yaml
  defaults/severities.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/MASTER.md
  docs/plans/infrastructure/aws-capacity-az-fallback.md
  docs/plans/infrastructure/spot-placement-scores.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/constants.py
  sdcm/provision/aws/spot_placement_score.py
  sdcm/provision/aws/utils.py
  sdcm/provision/common/provision_plan.py
  sdcm/sct_config.py
  sdcm/sct_events/system.py
  sdcm/sct_provision/aws/layout.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_spot_placement_score.py
  unit_tests/unit/test_duration_provision_policy.py
  unit_tests/unit/test_spot_provision_outcome.py
  vars/getJenkinsLabels.groovy
Due: ruff-format, ruff, update-conf-docs

fix(provision/aws): silence unpublished-event warning without a device
  sdcm/provision/common/provision_plan.py
  unit_tests/unit/test_spot_provision_outcome.py
Due: ruff-format, ruff

fix(provision/aws): degrade on any error from GetSpotPlacementScores
  sdcm/provision/aws/spot_placement_score.py
  unit_tests/unit/provisioner/test_spot_placement_score.py
Due: ruff-format, ruff

fix(provision/aws): honour score minimum and normalize negative durations
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/spot_placement_score.py
  sdcm/sct_config.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_spot_placement_score.py
  unit_tests/unit/test_duration_provision_policy.py
Due: ruff-format, ruff, update-conf-docs

fix(provision/aws): correct fleet enum, duration policy and score caching
  defaults/severities.yaml
  docs/configuration_options.md
  docs/plans/infrastructure/spot-placement-scores.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/constants.py
  sdcm/provision/aws/spot_placement_score.py
  sdcm/provision/common/provision_plan.py
  sdcm/sct_config.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_spot_placement_score.py
  unit_tests/unit/test_duration_provision_policy.py
  unit_tests/unit/test_spot_provision_outcome.py
Due: ruff-format, ruff, update-conf-docs

docs(pipelines): document the 'auto' provision_type in job parameters
  vars/artifactsPipeline.groovy
  vars/byoLongevityPipeline.groovy
  vars/jepsenPipeline.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
  vars/rollingOperatorUpgradePipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/sdReleaseGatingPipeline.groovy
  vars/simpleTrigger.groovy
  vars/triggerMatrixPipeline.groovy
Due: none

fix(provision/aws): submit spot provisioning outcomes to Argus
  docs/plans/infrastructure/spot-placement-scores.md
  sct.py
  sdcm/provision/common/provision_plan.py
  sdcm/sct_events/system.py
  sdcm/test_config.py
  unit_tests/unit/test_spot_provision_outcome.py
Due: ruff-format, ruff

docs(spot): record verified IAM identities for GetSpotPlacementScores
  docs/plans/infrastructure/spot-placement-scores.md
Due: none

fix(upgrade): resolve rollback retry backport conflict in yum update call
  upgrade_test.py
Due: ruff-format, ruff

fix(unittests): stub rollback event filters in upgrade retry tests
  unit_tests/unit/test_upgrade_rollback_retries.py
Due: ruff-format, ruff
