Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

test(unit_tests): Phase 3 - move purely integration test files to unit_tests/integration/
  unit_tests/integration/test_alternator_streams_kcl.py
  unit_tests/integration/test_aws_services.py
  unit_tests/integration/test_base_version.py
  unit_tests/integration/test_cassandra_harry.py
  unit_tests/integration/test_cassandra_stress_thread.py
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/integration/test_cql_stress_cassandra_stress_thread.py
  unit_tests/integration/test_gemini_thread.py
  unit_tests/integration/test_kafka.py
  unit_tests/integration/test_ndbench_thread.py
  unit_tests/integration/test_oci_utils_integration.py
  unit_tests/integration/test_python_driver.py
  unit_tests/integration/test_run_cqlsh.py
  unit_tests/integration/test_s3_remote_uploader.py
  unit_tests/integration/test_ssh_none_auth.py
  unit_tests/integration/test_sync.py
  unit_tests/integration/test_utils_database_query_utils.py
  unit_tests/integration/test_utils_issues.py
  unit_tests/integration/test_vector_store.py
  unit_tests/integration/test_ycsb_thread.py
Due: ruff-format, ruff

test(unit_tests): Phase 4 - split conftest.py into unit/integration sub-conftest files
  unit_tests/conftest.py
  unit_tests/integration/conftest.py
  unit_tests/integration/test_gemini_thread.py
  unit_tests/unit/conftest.py
Due: ruff-format, ruff

test(unit_tests): Phase 5 - split 9 mixed files into unit/integration, update docs
  AGENTS.md
  docs/plans/testing/unit-integration-test-separation.md
  skills/writing-integration-tests/SKILL.md
  skills/writing-unit-tests/SKILL.md
  unit_tests/integration/test_azure_vm_provider_reboot.py
  unit_tests/integration/test_cluster.py
  unit_tests/integration/test_config.py
  unit_tests/integration/test_dedicated_hosts.py
  unit_tests/integration/test_events.py
  unit_tests/integration/test_find_ami_equivalent.py
  unit_tests/integration/test_gemini_thread.py
  unit_tests/integration/test_latte_thread.py
  unit_tests/integration/test_python_driver.py
  unit_tests/integration/test_scylla_bench_thread.py
  unit_tests/integration/test_utils_database_query_utils.py
  unit_tests/integration/test_version_utils.py
  unit_tests/test_azure_vm_provider_reboot.py
  unit_tests/unit/test_adaptive_timeouts.py
  unit_tests/unit/test_azure_vm_provider_reboot.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_dedicated_hosts.py
  unit_tests/unit/test_events.py
  unit_tests/unit/test_find_ami_equivalent.py
  unit_tests/unit/test_gce_log_monitor.py
  unit_tests/unit/test_latte_thread.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_scan_operation_thread.py
  unit_tests/unit/test_scylla_bench_thread.py
  unit_tests/unit/test_sla_utils.py
  unit_tests/unit/test_version_utils.py
Due: ruff-format, ruff

fix(stress-tools): handle empty HDR histogram summary in split_line
  sdcm/loader.py
  sdcm/utils/hdrhistogram.py
Due: ruff-format, ruff

plans(testing): mark unit-integration-test-separation plan as done
  docs/plans/testing/unit-integration-test-separation.md
Due: none

feature(tier1-longevity): replace Azure 1TB 5-day test with AWS i8ge alternative
  jenkins-pipelines/oss/tier1/longevity-1tb-5days-aws.jenkinsfile
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl-aws.yaml
Due: none

refactor(perf-jobs): remove perf_extra_jobs_to_compare from jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-i8g-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-i8g-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-elasticity.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-i8g-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-i8g-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-latency-650gb-during-rolling-upgrade-latte.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-latency-650gb-grow-shrink-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-latency-650gb-grow-shrink.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-throughput-shard-aware-gce-z3.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-master-perf-regression-latency-650gb-grow-shrink-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-master-perf-regression-latency-650gb-grow-shrink.jenkinsfile
Due: none

fix(config): handle IntOrList for n_db_nodes
  platform_migration_test.py
  sdcm/mgmt/operations.py
  sdcm/nemesis/__init__.py
  sdcm/sct_config.py
  sdcm/sct_provision/gce/gce_region_definition_builder.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(prometheus): Add context manager for event
  longevity_lwt_test.py
  sdcm/prometheus.py
Due: ruff-format, ruff

feat(nemesis): Remove duplicit metric handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Simplify log and even handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Improve handling of target_pools
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): Add tests for execute_nemesis and adjacent methods
  unit_tests/nemesis/execute_nemesis/__init__.py
  unit_tests/nemesis/execute_nemesis/conftest.py
  unit_tests/nemesis/execute_nemesis/test_argus.py
  unit_tests/nemesis/execute_nemesis/test_basic.py
  unit_tests/nemesis/execute_nemesis/test_healthcheck.py
  unit_tests/nemesis/fake_cluster.py
Due: ruff-format, ruff

feat(nemesis): Extract methods from disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Submit doc string to Argus for Nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove explicit nemesis mechanism
  docs/shelved/MULTITENANTK8s.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat: Add nemesis hooks to ClusterTester
  longevity_lwt_test.py
  sdcm/nemesis/__init__.py
  sdcm/tester.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(test-cases): disable nemesis during prepare phase for tests with prepare_verify_cmd
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
Due: none

fix(sdcm/tester): Handle all exceptions when submitting to Argus
  sdcm/tester.py
Due: ruff-format, ruff

improvement(utils/argus): Use the ts field
  sdcm/utils/argus.py
Due: ruff-format, ruff

improvement(argus): Update client to 0.15.13
  argus/_version.py
  argus/client/base.py
  argus/client/sct/client.py
  argus/common/utils.py
  argus/version
Due: none

fix(manager): backup method support for manager tests
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

test(manager): configure some Manager tests to run native backup
  jenkins-pipelines/manager/ubuntu22-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-backup.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity-ipv6.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-vnodes-tablets-enterprise.jenkinsfile
Due: none

fix(manager): ignore snapshot upload errors when stopping backup task
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff
