Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

SCYLLADB-4601/fix(test-cases): let the SC sanity job survive its own nemesis
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

SCYLLADB-4601/docs(sc): correct the commit hash in the coverage table
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/fix(test-cases): keep prepare quiet, and resume the sweep after run #14
  configurations/nemesis/sweep_resume_after_run7.yaml
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

SCYLLADB-4601/feature(nemesis): skip named nemesis so a broken sweep can be resumed
  configurations/nemesis/sweep_resume_after_run7.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/configuration_options/nemesis-chaos-testing.md
  sdcm/nemesis/monkey/runners.py
  sdcm/sct_config/mixins/nemesis.py
  unit_tests/unit/nemesis/monkey/test_category_sweep.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

SCYLLADB-4346/feature(nemesis): hold topology nemesis out of the sweep for now
  docs/nemesis.md
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/monkey/test_category_sweep.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

SCYLLADB-4601/feature(configurations): exclude the six nemesis run #10 covered
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/feature(nemesis): sweep every nemesis once, category by category
  docs/nemesis.md
  docs/plans/mini-plans/2026-09-17-nemesis-category-sweep-runner.md
  sdcm/exceptions.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/monkey/test_category_sweep.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

SCYLLADB-4346/refactor(test-cases): let cql-stress create the SC keyspace
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

SCYLLADB-4601/docs(sc): link the KMS nemesis exclusions to SCYLLADB-4727
  configurations/nemesis/sweep_resume_after_run7.yaml
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/docs(configuration): refresh the option count after the rebase
  docs/configuration_options.md
Due: none

SCYLLADB-4601/docs(sc): record nemesis sweep run #15
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/docs(sc): point the coverage table at this branch's commits
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(jenkins): read PR labels outside CPS to avoid NotSerializableException
  vars/pullRequestContainsLabels.groovy
Due: none

SCYLLADB-4601/feature(configurations): exclude the three nemesis run #16 covered
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record nemesis sweep run #16
  docs/sc-sanity-nemesis-coverage.md
Due: none

docs(plans): mini-plan for an availability_zone wildcard
  docs/plans/mini-plans/2026-09-23-availability-zone-wildcard.md
Due: none

fix(loader_utils): pass round_robin to prepare_verify_cmd
  sdcm/utils/loader_utils.py
Due: ruff-format, ruff

fix(latte): pad the keyspace index the same way in schema_scale.rn
  data_dir/latte/schema_scale.rn
Due: none

fix(vector): install the logging agent from a downloaded package
  docs/http-retry-conventions.md
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  sdcm/utils/curl.py
  unit_tests/integration/test_vector_install_script.py
  unit_tests/test_curl_utils.py
  unit_tests/unit/provisioner/test_vector_install_script.py
Due: ruff-format, ruff

improvement(hydra): keep watchdog samples in a collected file, not the console
  docker/env/hydra.sh
  sdcm/logcollector.py
  unit_tests/test_log_collector.py
Due: ruff-format, ruff

improvement(hydra): watch the builder <-> SCT runner transport
  docker/env/hydra.sh
Due: none

SCYLLADB-4601/feature(configurations): hold MultipleHardRebootNodeMonkey out of the sweep
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): mark MultipleHardRebootNodeMonkey blocked by SCYLLADB-4625
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(oci): resolve loader shapes through sizing so OCI loaders default to Arm
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
Due: none

improvement(multi-keyspaces): switch the scenario to latte
  jenkins-pipelines/oss/longevity/longevity-multi-keyspaces-60h-gce.jenkinsfile
  jenkins-pipelines/oss/raft/longevity-multi-keyspaces-60h.jenkinsfile
  jenkins-pipelines/oss/tier2/longevity-multi-keyspaces-60h.jenkinsfile
  jenkins-pipelines/oss/vnodes/tier2/longevity-multi-keyspaces-60h-vnodes.jenkinsfile
  test-cases/longevity/longevity-multi-keyspaces-latte.yaml
  test-cases/longevity/longevity-multi-keyspaces.yaml
Due: none
