Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(gce provisioning): spread nodes over availability zones by rack
  sdcm/cluster.py
  sdcm/cluster_gce.py
  sdcm/cluster_k8s/gke.py
  sdcm/provision/gce/provisioner.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_provisioner_az_distribution.py
  unit_tests/unit/test_cluster_gce.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

fix(manager): bump default Manager version to 3.12 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

refactor(cluster): move scylla_network_configuration to BaseNode
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_gce.py
  sdcm/provision/network_configuration.py
  sdcm/provision/provisioner.py
  sdcm/sct_provision/region_definition_builder.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

feature(gce): support multiple network interfaces for ScyllaDB nodes
  docs/configuration_options.md
  sdcm/cluster_gce.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/instance_provider.py
  sdcm/provision/gce/network_provider.py
  sdcm/sct_config.py
  sdcm/utils/gce_region.py
  sdcm/utils/gce_utils.py
  unit_tests/test_gce_use_dns_names.py
  unit_tests/unit/test_gce_network_interfaces.py
Due: ruff-format, ruff, update-conf-docs

fix(gce): route secondary-NIC replies through their own interface
  sdcm/cluster_gce.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_network_interfaces.py
Due: ruff-format, ruff

fix(nemesis): move traffic control helpers from AwsNode to BaseNode
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/nemesis/monkey/network.py
  unit_tests/unit/nemesis/monkey/test_network.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/restore.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/integration/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff

ci(tier1): run tier 1 jobs with ScyllaDB automatic repair every hour
  configurations/auto-repair-1h.yaml
  jenkins-pipelines/oss/tier1/elasticity-90-percent-with-nemesis.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-150gb-asymmetric-cluster-12h.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-2tb-5days.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-large-partition-200k-pks-4days-gce.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-multidc-schema-topology-changes-12h.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-schema-topology-changes-12h.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-twcs-48h.jenkinsfile
  jenkins-pipelines/oss/tier1/scale-schema-5000-tables-latte.jenkinsfile
Due: none

fix(nemesis): ignore benign SSTable-load gate-closed error during NoCorruptRepairMonkey
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
  unit_tests/unit/test_sct_events_database.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct_events): guard ContinuousEventsRegistry with a lock to prevent dict-mutation races
  sdcm/sct_events/continuous_event.py
Due: ruff-format, ruff

test(nemesis): add unit tests for manager monkey extraction
  sdcm/nemesis/monkey/manager.py
  unit_tests/unit/nemesis/monkey/test_manager.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(s3_boject_storage): add latte range-query workload for S3 keyspace
  configurations/object_storage_s3.yaml
  configurations/object_storage_s3_precreate_keyspace.yaml
  data_dir/latte/s3_range_query.rn
  test-cases/longevity/longevity-100gb-4h-s3-range-query-latte.yaml
Due: none

feature(s3_test): add sequential S3 range-query latte perf test
  configurations/object_storage_s3.yaml
  configurations/object_storage_s3_precreate_keyspace.yaml
  data_dir/latte/s3_range_query.rn
  jenkins-pipelines/oss/features/features-s3-object-storage-range-query.jenkinsfile
  performance_regression_sequential_latency_test.py
  test-cases/longevity/longevity-100gb-4h-s3-range-query-latte.yaml
Due: ruff-format, ruff

improvement(test-cases): remove streaming override from longevity-mv-si-4days
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming-oci.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
Due: none

improvement(test-cases): retune longevity-mv-si-4days
  test-cases/longevity/longevity-mv-si-4days.yaml
Due: none

ci(jenkins): resolve a pinned Jenkins agent label for any pipeline
  docs/sct-pipelines.md
  vars/getJenkinsLabels.groovy
Due: none

fix(provision/aws): request a public IP in the modern provisioner
  sdcm/provision/aws/instance_parameters.py
  sdcm/sct_provision/aws/instance_parameters_builder.py
Due: ruff-format, ruff

ci(minicloud): run minicloud on a local KVM agent
  docs/minicloud.md
  sdcm/utils/lint/env_builder.py
  vars/artifactsPipeline.groovy
  vars/longevityPipeline.groovy
  vars/minicloudPreflight.groovy
  vars/minicloudReclaim.groovy
  vars/rollingUpgradePipeline.groovy
  vars/stopMinicloud.groovy
Due: ruff-format, ruff

ci(minicloud): add an OS rolling-upgrade job
  configurations/minicloud/generic-rolling-upgrade.yaml
  jenkins-pipelines/oss/minicloud/minicloud-rolling-upgrade.jenkinsfile
Due: none

fix(jenkins): survive Jenkins agents without cloud metadata
  vars/longevityPipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/tagBuilder.groovy
Due: none

fix(nemesis): don't report an invalid instance configuration as a capacity issue
  sdcm/utils/decorators.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

fix(gce provision): misleading error on GCE incompatible disk type
  sdcm/provision/gce/capacity_errors.py
  sdcm/provision/gce/instance_provider.py
  sdcm/provision/provisioner.py
  unit_tests/unit/provisioner/test_gce_capacity_errors.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
  unit_tests/unit/provisioner/test_provision_retry.py
Due: ruff-format, ruff

docs(docker): document Docker backend SSL certs and tar-stream transfer
  docs/docker-backend-overview.md
  docs/docker-backend-ssl.md
  docs/plans/mini-plans/2026-03-19-fix-docker-encryption.md
Due: none

docs(monitoring): document kernel panic detection architecture and troubleshooting
  README.md
  docs/kernel-panic-detection.md
  docs/plans/mini-plans/2026-01-26-kernel-panic-detection.md
Due: none

refactor(nemesis): extract Scylla Manager nemesis into monkey/manager.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/manager.py
  sdcm/nemesis/monkey/runners.py
  sdcm/nemesis/utils/common_ops.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

docs(plan): plan for preserving coredumps during out-of-space nemesis
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/coredump-preservation-oos-nemesis.md
  docs/plans/progress.json
Due: none

fix(kms): configure KMS for tested cluster in mixed_scylla, exclude Oracle
  sdcm/cluster.py
  sdcm/tester.py
  unit_tests/unit/test_kms.py
Due: ruff-format, ruff

feature(nvme): add NVMe diagnostics utility module
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff

docs(nvme): add NVMe diagnostics collection plan for DB nodes
  docs/plans/MASTER.md
  docs/plans/infrastructure/nvme-diagnostics-collection.md
  docs/plans/progress.json
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
