Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(nemesis): drop stale audit ignore backport
  sdcm/nemesis/monkey/network.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): precheck abort decommission tablets support
  docs/nemesis.md
  docs/plans/nemesis/nemesis-precheck.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/abort_decommission.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_abort_decommission.py
  unit_tests/unit/nemesis/monkey/test_categorical_monkey.py
  unit_tests/unit/nemesis/monkey/test_specific_nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove duplicit metric handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Remove explicit nemesis mechanism
  docs/shelved/MULTITENANTK8s.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Extract methods from disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Simplify log and even handling in disrupt_method_wrapper
  sdcm/nemesis/__init__.py
  sdcm/sct_events/nemesis.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat: Add nemesis hooks to ClusterTester
  longevity_lwt_test.py
  sdcm/nemesis/__init__.py
  sdcm/tester.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Improve handling of target_pools
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(prometheus): Add context manager for event
  longevity_lwt_test.py
  sdcm/prometheus.py
Due: ruff-format, ruff

feat(nemesis): Remove disrupt_method_wrapper
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Submit doc string to Argus for Nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): Add tests for execute_nemesis and adjacent methods
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/conftest.py
  unit_tests/unit/nemesis/execute_nemesis/test_argus.py
  unit_tests/unit/nemesis/execute_nemesis/test_basic.py
  unit_tests/unit/nemesis/execute_nemesis/test_healthcheck.py
  unit_tests/unit/nemesis/fake_cluster.py
Due: ruff-format, ruff

docs(nemesis): document precheck() contract and pruning behavior
  AGENTS.md
  docs/nemesis.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/nemesis-precheck.md
  docs/plans/progress.json
  skills/writing-nemesis/SKILL.md
Due: none

feat(nemesis): add precheck() hook to NemesisBaseClass
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): prune infeasible nemesis via precheck_nemesis() before the run loop
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(nemesis): extract 6 network disruption monkeys into network.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/network.py
  unit_tests/unit/nemesis/test_network.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix iptables matching rule bug and standardize random usage
  unit_tests/unit/nemesis/monkey/test_network.py
Due: ruff-format, ruff

fix(nemesis): remove dead connbytes test, fix docstring port, fix double-unit bug
  unit_tests/unit/nemesis/monkey/test_network.py
Due: ruff-format, ruff

fix(provisioning): tag spot fleet requests so leaked ones are cleaned up (SCT-779)
  docs/plans/mini-plans/2026-08-03-scale-test-spot-fleet-orphan-cleanup.md
  sdcm/ec2_client.py
  sdcm/provision/aws/utils.py
  sdcm/utils/resources_cleanup.py
  unit_tests/unit/test_clean_cloud_resources_func.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

config(scale-tests): pin scale-cluster tests to a fixed AWS region
  test-cases/scale/scale-cluster.yaml
Due: none

fix(provision): fail loudly on definition/instance count mismatch
  sdcm/sct_provision/instances_provider.py
Due: ruff-format, ruff

fix(ec2-fleet): address PR review - aws_ list param, instant-fleet cleanup, multi-batch rollback
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/mini-plans/2026-08-03-ec2-fleet-multi-instance-type.md
  sdcm/provision/aws/provisioner.py
  sdcm/provision/aws/utils.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  test-cases/scale/scale-cluster.yaml
  unit_tests/unit/test_aws_ec2_fleet_provisioner.py
  unit_tests/unit/test_aws_spot_provisioning.py
Due: ruff-format, ruff, update-conf-docs

refactor(monkey): Move SLA nemesis into own module
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaDecreaseSharesDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaDecreaseSharesDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaDecreaseSharesDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaDecreaseSharesDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaDecreaseSharesDuringLoad-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesByAttachAnotherSlDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesByAttachAnotherSlDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesByAttachAnotherSlDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesByAttachAnotherSlDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesByAttachAnotherSlDuringLoad-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaIncreaseSharesDuringLoad-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaMaximumAllowedSlsWithMaxSharesDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaMaximumAllowedSlsWithMaxSharesDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaMaximumAllowedSlsWithMaxSharesDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaMaximumAllowedSlsWithMaxSharesDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaMaximumAllowedSlsWithMaxSharesDuringLoad-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDetachDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDetachDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDetachDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDetachDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDetachDuringLoad-oci.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDropDuringLoad-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDropDuringLoad-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDropDuringLoad-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDropDuringLoad-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SlaReplaceUsingDropDuringLoad-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/sla.py
  unit_tests/unit/nemesis/monkey/test_sla.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(kernel-panic): suspend checker during BaseNode.restart(), not just reboot()
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/cluster_oci.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cluster_oci.py
Due: ruff-format, ruff

fix(nemesis): bound reliable RF by rack count under rf_rack_valid_keyspaces (SCT-717)
  sdcm/nemesis/__init__.py
  sdcm/tester.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

alternator: add tablets_initial_scale_factor=1 to a test and update instance
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
Due: none

fix(manager): ignore listing oversized allocation for Scylla<=2026.3
  mgmt_cli_test.py
Due: ruff-format, ruff

fix(nemesis): fix AttributeError when run() handles UnsupportedNemesis after execute_nemesis clears current_disruption
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_consecutive_skips.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
