Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

test(PerformanceRegressionManagerBackupTest): Added stress steady state step
  performance_regression_manager_backup_test.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: autopep8, ruff

fix(performance): run all tests with 'on_demand'
  vars/perfRegressionParallelPipeline.groovy
Due: none

test(out-of-space-prevention): no rate limiting for writes
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-reject-writes.yaml
Due: none

fix(nemesis): ignore error from status while gossip is disabled
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(rollingUpgradePipeline): add fallback steps
  vars/rollingUpgradePipeline.groovy
Due: none

fix(artifacts): use `scylla_io_setup` and not iotune directly
  sdcm/utils/validators/iotune.py
Due: autopep8, ruff

test(size-based-load-balancing) add test with different partition sizes
  jenkins-pipelines/oss/features/size-based-load-balancing/size-based-load-balancing-.jenkinsfile
  longevity_balancer_test.py
  test-cases/features/size-based-load-balancing/size-based-load-balancing-partitions.yaml
Due: autopep8, ruff

fix(provision): wait for pending instances
  sdcm/cluster_aws.py
  sdcm/utils/common.py
Due: autopep8, ruff

fix(nemesis): skip CreateIndexNemesis on unsupported Scylla versions
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

chore(argus): updated client to 0.15.5
  argus/_version.py
  argus/client/base.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/sct/client.py
  argus/common/enums.py
  argus/version
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/provisioner.py
  sdcm/tester.py
  unit_tests/lib/fake_provisioner.py
Due: autopep8, ruff

fix(gemini): metrics not beining read properly after 2.0
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: autopep8, ruff

fix(test_coredump): Use events fixture
  unit_tests/test_coredump.py
Due: autopep8, ruff
