Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(deps): update dependency scylla-driver to v3.29.12
  pyproject.toml
  uv.lock
Due: uv-sort

fix(fill_db_data): open sessions bound to the keyspace
  sdcm/fill_db_data.py
  unit_tests/unit/test_fill_db_data_keyspace.py
Due: ruff-format, ruff

fix(cql): set the session keyspace at connect time
  sdcm/cluster.py
  unit_tests/integration/test_python_driver.py
Due: ruff-format, ruff

docs(nemesis): replace removed 'Class:N' nemesis_class_name syntax with YAML lists
  docs/nemesis.md
Due: none

feat(nemesis): add FixedOrderMonkey runner for reproducible disruption sequences
  docs/configuration_options/nemesis-chaos-testing.md
  docs/nemesis.md
  sdcm/nemesis/monkey/runners.py
  sdcm/sct_config/mixins/nemesis.py
  unit_tests/unit/nemesis/monkey/test_fixed_order.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(CODEOWNERS): update codeowners for manager related files
  .github/CODEOWNERS
Due: none

feat(sct_event): never raise ERROR events from INFO-level scylla log lines
  defaults/severities.yaml
  sdcm/sct_events/database.py
  sdcm/sct_events/group_common_events.py
  unit_tests/unit/test_sct_events_database.py
Due: ruff-format, ruff, update-conf-docs

feature(vector-store): add service level support via ScyllaDB authentication
  defaults/test_default.yaml
  docker/scylla-sct/entry.sh
  docs/configuration_options.md
  docs/configuration_options/vector-store.md
  sdcm/cluster_aws.py
  sdcm/cluster_docker.py
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/utils/vector_store_utils.py
  unit_tests/integration/conftest.py
  unit_tests/integration/test_vector_store.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_vector_store_utils.py
Due: ruff-format, ruff, update-conf-docs

fix(integration): wait for latte to finish in test_03_latte_run
  unit_tests/integration/test_latte_thread.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
