Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(skill-review): allow checkout of fork PR code in pull_request_target
  .github/workflows/skill-review.yml
Due: none

feature(perf-logstor): add experimental logstor performance testing pipelines using Latte
  configurations/performance/enable_logstor.yaml
  configurations/performance/logstor_hotspot_queries.yaml
  configurations/performance/logstor_uniform_queries.yaml
  data_dir/latte/latte_cs_alike.rn
  data_dir/latte/latte_cs_alike_hotspot.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_hotspot.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_uniform.jenkinsfile
Due: none

Revert "ci(byo): allow to use ARM arch for BYO ScyllaDB stage"
  sct.py
  vars/byoScylladb.groovy
  vars/longevityPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/rollingUpgradePipeline.groovy
Due: ruff-format, ruff

refactor(longevity): scale 150GB asymmetric cluster test to 12 nodes
  configurations/triggers/tier1.yaml
  docs/plans/jenkins/centralized-trigger-matrix.md
  jenkins-pipelines/oss/sct_triggers/tier1-aws-custom-time-trigger.xml
  jenkins-pipelines/oss/sct_triggers/tier1-gce-custom-time-trigger.xml
  jenkins-pipelines/oss/tier1/longevity-asymmetric-cluster-12h.jenkinsfile
  jenkins-pipelines/oss/vnodes/tier1/longevity-asymmetric-cluster-12h.jenkinsfile
  test-cases/longevity/longevity-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
Due: none

ci(loaders): use Ubuntu26 on AWS, GCE and Azure for loaders
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

SCYLLADB-1115/test(performance): performance test for strong consistency
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency.yaml
  configurations/strong_consistency/enable_experimental_sc.yaml
  configurations/strong_consistency/prepare_cs_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-write-tablets-sc.jenkinsfile
  performance_regression_gradual_grow_throughput.py
Due: ruff-format, ruff

feat: add P95 latency percentile to Argus result tabs
  sdcm/argus_results.py
  sdcm/utils/latency.py
  unit_tests/unit/test_argus_results.py
Due: ruff-format, ruff

feature(stress-tools): add custom cql-stress image for strong consistency testing
  configurations/stress_images/cql-stress-strong-consistency.yaml
  docs/building-custom-cql-stress-image.md
  docs/plans/mini-plans/build-cql-stress-custom-branch-for-sc.md
Due: none

perf: add async coroutine profiler support for gradual throughput tests
  performance_regression_gradual_grow_throughput.py
  sdcm/logcollector.py
  sdcm/rest/storage_service_client.py
Due: ruff-format, ruff

test-cases: update consistency level to 'global' in strong_consistency configs
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_sc.yaml
Due: none

ci(jenkins): new specified jobs for each mode
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-disk-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-disk-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-read-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-tablets-sc.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-write-tablets-ec.jenkinsfile
Due: none

use another custom build
  configurations/stress_images/cql-stress-strong-consistency.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

fix: use step_params dict in run_step call instead of stale keyword args
  performance_regression_gradual_grow_throughput.py
Due: ruff-format, ruff

fix(test): use commit batch and unthrottle only
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
  configurations/strong_consistency/enable_experimental_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-unthrottle-tablets-sc.jenkinsfile
Due: none

fix(yaml): new test for 50k and unthrottle
  configurations/performance/cassandra_stress_gradual_load_steps_sc_50k_unthrottled_only_write.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-unthrottle-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-cql-stress-write-unthrottle-tablets-sc.jenkinsfile
Due: none

fix(yaml): increase disk size for logs
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency.yaml
Due: none

feature(strong-consistency): add read performance test for strong consistency
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-tablets-sc.jenkinsfile
  performance_regression_gradual_grow_throughput.py
Due: ruff-format, ruff

fix(yaml): new config for 1k connections per shard
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec_1kpershard.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc_1kpershard.yaml
Due: none

fix(yaml): decrease number of thread
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec_1kpershard.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc_1kpershard.yaml
Due: none

fix(yaml): add new debug consistenty yaml for run 1 round of write with large debug
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_1round_write.yaml
Due: none

test(yaml): add cql-stress custom build with lwt simulation
  configurations/stress_images/cql-stress-eventual-consistency-lwt.yaml
Due: none

fix(yaml): use connection per shart instead of connection per host
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
Due: none

feature(strong-consistency): add cql-stress config for SC keyspace preparation
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
Due: none

docs: add mini-plan for SC read performance test
  docs/plans/mini-plans/2026-04-02-sc-read-performance-test.md
Due: none

test(tool): add lwt cql-stress on write
  configurations/stress_images/cql-stress-strong-consistency-lwt.yaml
Due: none

test(yaml): add only throttle yaml perf round
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency_unthrottled_only_write.yaml
Due: none

fix(yaml): split commitlog_sync_batch
  configurations/strong_consistency/enable_commitlog_sync_batch.yaml
  configurations/strong_consistency/enable_experimental_sc.yaml
Due: none

perf: add SC read-from-disk performance test pipelines and configs
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_read_disk_ks_with_sc.yaml
  docs/plans/mini-plans/2026-04-07-sc-read-disk-only-performance-test.md
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-disk-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-disk-tablets-sc.jenkinsfile
Due: none

rest: migrate async profiler API to /system/task_profiler endpoints
  performance_regression_gradual_grow_throughput.py
  sdcm/rest/storage_service_client.py
  sdcm/rest/task_profiler_client.py
Due: ruff-format, ruff

refactor(strong-consistency): move api_address setting to SC-specific config
  configurations/strong_consistency/enable_experimental_sc.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

feature(longevity): add 4h utilization config and nemesis exclusions for vnode-to-tablet migration
  configurations/nemesis/exclude-vnode-to-tablet-migration-limitations.yaml
  jenkins-pipelines/oss/longevity/longevity-vnode-to-tablet-migration.jenkinsfile
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff

fix(kms): properly filter DB nodes in the '_rotate_kms_key'
  sdcm/cluster.py
Due: ruff-format, ruff

chore(argus): vendor client 0.15.20 and fix update script
  argus/_version.py
  argus/client/base.py
  argus/client/driver_matrix_tests/cli.py
  argus/client/driver_matrix_tests/client.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/replay_log.py
  argus/client/sct/client.py
  argus/client/session.py
  argus/client/sirenada/client.py
  argus/client/tunnel.py
  argus/client/tunnel/__init__.py
  argus/client/tunnel/api.py
  argus/client/tunnel/models.py
  argus/client/tunnel/ssh.py
  argus/client/tunnel/state.py
  argus/common/utils.py
  argus/version
  utils/update_argus_client.py
Due: ruff-format, ruff

feature(longevity): add 4h utilization config and nemesis exclusions for vnode-to-tablet migration
  configurations/nemesis/exclude-vnode-to-tablet-migration-limitations.yaml
  jenkins-pipelines/oss/longevity/longevity-vnode-to-tablet-migration.jenkinsfile
  pyproject.toml
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff, uv-sort

feature(longevity): refactor vnode-to-tablet migration test with rollback scenarios
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff

feature(argus): always-on request replay log (SCT integration)
  sct.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/argus.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  unit_tests/unit/test_argus_replay_log.py
  unit_tests/unit/test_investigate_download_logs.py
Due: ruff-format, ruff, update-conf-docs

feature(migrator): switch EMR provisioning to native Spark 4.x
  defaults/aws_emr_config.yaml
  docs/configuration_options.md
  docs/cs-to-scylla-migration.md
  sdcm/sct_config.py
  sdcm/spark_migrator.py
  sdcm/tester.py
  spark_migrator_test.py
  test-cases/spark-migrator/cs-to-scylla-500gb.yaml
  test-cases/spark-migrator/cs-to-scylla-small.yaml
  test-cases/spark-migrator/spark-migrator-basic.yaml
  unit_tests/unit/test_config.py
  unit_tests/unit/test_spark_migrator.py
Due: ruff-format, ruff, update-conf-docs
