Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(skill): add safe git permissions and handle diverged branch checkout
  .claude/scripts/fix-backport.sh
  .claude/settings.json
Due: none

fix(skill): always dispatch fix-backport to isolated worktree subagent
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(skill): prevent unrelated files leaking into recommitted backports
  .claude/scripts/fix-backport.sh
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(skill): add permissions and fix recommit logic for worktree safety
  .claude/settings.json
  skills/fix-backport-conflicts/SKILL.md
Due: none

feature(sct-runner): decouple SSH keys from baked images via boot-time sync service
  sdcm/sct_runner.py
Due: ruff-format, ruff

docs(ssh-key-decoupling): add implementation plan for decoupling SSH keys from baked images
  docs/plans/MASTER.md
  docs/plans/infrastructure/ssh-key-decoupling.md
  docs/plans/progress.json
Due: none

docs(ssh-key-decoupling): document jenkins plugin SSH connection and OCI special case
  docs/plans/infrastructure/ssh-key-decoupling.md
Due: none

fix(sct-runner): use base64 | tee instead of heredocs for file writes
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(sct-runner): replace echo with printf %s to avoid breaking outer shell quoting
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(sct-runner): remove shell comments with single quotes from bash -cxe body
  sdcm/sct_runner.py
Due: ruff-format, ruff

feature(sct-runner): decouple SSH keys from baked images via boot-time sync
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(oci-provision): install OCI CLI during image bake with graceful shutdown
  sdcm/runner_configs/oci-sct-runner-cloud-config.yaml
  sdcm/sct_runner.py
Due: ruff-format, ruff

feature(staging-trigger): add package lookup, PR checklist, and docs
  docs/contrib.md
  utils/staging_trigger/__init__.py
  utils/staging_trigger/cache.py
  utils/staging_trigger/cli.py
  utils/staging_trigger/interactive.py
  utils/staging_trigger/package_lookup.py
  utils/staging_trigger/trigger.py
Due: ruff-format, ruff

feature(staging-trigger): add search filter to interactive prompts
  utils/staging_trigger/cli.py
  utils/staging_trigger/interactive.py
Due: ruff-format, ruff

feature(staging-trigger): add smart parameter handling with tests
  unit_tests/test_staging_trigger.py
  utils/staging_trigger/constants.py
  utils/staging_trigger/interactive.py
  utils/staging_trigger/jenkins_client.py
  utils/staging_trigger/trigger.py
Due: ruff-format, ruff

feature(tooling): add staging trigger CLI for Jenkins job management
  staging_trigger.py
  utils/staging_trigger/__init__.py
  utils/staging_trigger/cache.py
  utils/staging_trigger/cli.py
  utils/staging_trigger/constants.py
  utils/staging_trigger/interactive.py
  utils/staging_trigger/jenkins_client.py
  utils/staging_trigger/job_generation.py
  utils/staging_trigger/trigger.py
Due: ruff-format, ruff

feature(staging-trigger): add shell tab completion setup
  staging_trigger.py
  utils/staging_trigger/cli.py
Due: ruff-format, ruff

feature(staging-trigger): add per-job description support to run_multi and YAML config
  unit_tests/test_staging_trigger.py
  utils/staging_trigger/interactive.py
  utils/staging_trigger/trigger.py
Due: ruff-format, ruff

docs(keystore): align plan with Hub-and-Spoke secrets architecture
  docs/plans/keystore-improvements.md
Due: none

fix(docker): defer DockerClient.from_env() to avoid import-time crash
  sdcm/utils/docker_utils.py
  unit_tests/test_utils_docker.py
Due: ruff-format, ruff

fix(pipelines): use correct region parameter per backend for GCE and Azure
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-gce.jenkinsfile
Due: none

fix(migrator): add Spark 4.x workaround for EMR spark-migrator
  sdcm/spark_migrator.py
  sdcm/tester.py
  unit_tests/test_spark_migrator.py
Due: ruff-format, ruff

feature(emr): add Amazon EMR integration for spark-migrator testing
  argus_report_templates/email_report_spark_migrator.yaml
  defaults/aws_emr_config.yaml
  defaults/test_default.yaml
  docs/aws-emr-permissions.md
  docs/configuration_options.md
  sdcm/provision/aws/emr_provisioner.py
  sdcm/sct_config.py
  sdcm/spark_migrator.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/common.py
  sdcm/utils/resources_cleanup.py
  spark_migrator_test.py
  test-cases/spark-migrator/spark-migrator-basic.yaml
  unit_tests/test_clean_cloud_resources_func.py
  unit_tests/test_config.py
  unit_tests/test_emr_provisioner.py
  unit_tests/test_spark_migrator.py
  unit_tests/test_tester.py
Due: ruff-format, ruff, update-conf-docs

fix(monitoring): consolidate prerequisite installation with retry
  sdcm/cluster.py
Due: ruff-format, ruff

refactor(config): remove perf_extra_jobs_to_compare parameter from all module
  docs/configuration_options.md
  docs/plans/jenkins/jenkins-pipeline-config-linter.md
  sdcm/sct_config.py
  vars/longevityPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/runSctTest.groovy
Due: ruff-format, ruff, update-conf-docs

docs(skills): update writing-unit-tests pitfalls and anti-patterns
  skills/writing-unit-tests/SKILL.md
  skills/writing-unit-tests/references/anti-patterns.md
  skills/writing-unit-tests/references/common-pitfalls.md
Due: none

feature(oci): add support of DNS names for OCI VMs to support encryption
  sdcm/cluster_oci.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_runner.py
  sdcm/utils/oci_region.py
  sdcm/utils/oci_utils.py
  unit_tests/test_cluster_oci.py
  unit_tests/test_oci_region.py
  unit_tests/test_oci_utils.py
  unit_tests/test_oci_virtual_machine_provider.py
Due: ruff-format, ruff
