Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

autopep8:
  name: autopep8
  entry: autopep8 -i -j 2
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

fix(events): keep the event structure, keep spaces
  sdcm/sct_events/file_logger.py
Due: autopep8, ruff

fix(nemesis): disrupt_load_and_stream timeout change
  sdcm/utils/sstable/load_utils.py
Due: autopep8, ruff

test(rackaware): add support rackaware for python driver
  sdcm/cluster.py
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(performance): add rust test
  configurations/performance/cql_stress_gradual_load_reduced_steps_number.yaml
  configurations/performance/rust-predefined-throughput-steps-cql-stress.yaml
  jenkins-pipelines/drivers/rust/perf-regression-predefined-throughput-steps-vnodes.jenkinsfile
Due: none

fix(nemesis_unique_sequence): unset running nemesis between steps
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct_runner): disable all automatic upgrades
  sdcm/sct_runner.py
  sdcm/utils/gce_builder.py
  vars/getJenkinsLabels.groovy
Due: autopep8, ruff

test
  sdcm/argus_results.py
Due: autopep8, ruff

fix(github-actions): repalce `github.actor` with `github.event.pull_request.user.login`
  .github/workflows/build-docker-image.yaml
  .github/workflows/check-generated-code-updates.yaml
Due: none

refactor(restart_scylla): remove storing metrics in argus
  sdcm/cluster.py
Due: autopep8, ruff

improvement(test_tester): Rewrite the test to use pytester
  unit_tests/conftest.py
  unit_tests/test_tester.py
Due: autopep8, ruff

Path conditions:
  autopep8: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)
  create-nemesis-pipelines: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)
