Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(azure): delay vm creation after nic creation
  sdcm/provision/azure/network_interface_provider.py
Due: ruff-format, ruff

feature(vector-store): add service level support via ScyllaDB authentication
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_aws.py
  sdcm/cluster_docker.py
  sdcm/sct_config.py
  sdcm/utils/vector_store_utils.py
  unit_tests/integration/conftest.py
Due: ruff-format, ruff, update-conf-docs

test(manager): add WORM backup test for GCE
  mgmt_cli_test.py
  sdcm/mgmt/operations.py
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

refactor(manager): detect keyspaces in run_verification_read_stress
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

refactor(manager): remove verify_backup_success and extract helpers
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

test(manager): extend test_backup_and_restore with schema restoration
  mgmt_cli_test.py
Due: ruff-format, ruff

refactor(manager): rename restore methods and extract backup_with_manager_task
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

fix(latte_thread): add latte_schema_parameters to stress commands
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

improvement(latte_thread): add a call for post latte schema cmd hook
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

feature(events): add tablet split/merge events
  defaults/severities.yaml
  sdcm/sct_events/database.py
Due: ruff-format, ruff, update-conf-docs

fix(stress_thread): handle custom user-profile ops in set_hdr_tags
  sdcm/stress_thread.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

feature(test): LWT/MV/CDC longevity test with tablet split/merge
  data_dir/latte/lwt_load.rn
  data_dir/latte/tablet_split_merge_load.rn
  jenkins-pipelines/oss/features/Tablets/longevity-cdc-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-mv-24h.jenkinsfile
  sdcm/logcollector.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff

fix(test): copy cdc-replicator.log to runner for collecting
  sdcm/logcollector.py
  tablet_split_merge_test.py
Due: ruff-format, ruff

feature(nemesis): Alter table config to trigger split/merge
  configurations/nemesis/SplitMergeTabletsWithAlter.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(yaml): add new test config for all tables
  data_dir/latte/tablet_split_merge_load.rn
  data_dir/nemesis.yml
  defaults/severities.yaml
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-24h.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/sct_events/database.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(ldap): move are_ldap_users_on_scylla runtime state to TestConfig singleton
  sdcm/cluster.py
  sdcm/test_config.py
  sdcm/tester.py
Due: ruff-format, ruff

feature(manager): add lock-mode and retention-days to backup CLI
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
Due: ruff-format, ruff

refactor(mgmt/common.py): reorganize file structure for clarity
  sdcm/mgmt/common.py
Due: ruff-format, ruff

fix(azure-provision): add 15-minute timeout to VM provisioning poller
  sdcm/provision/azure/virtual_machine_provider.py
  unit_tests/provisioner/fake_azure_service.py
Due: ruff-format, ruff

fix(tier1-triggers): Remove longevity-harry-2h from weekly runs
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

fix(nemesis): add raft topology error filtering to node-disrupting nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix: extend global filter to cover exec_global_command(barrier_and_drain)
  sdcm/sct_events/setup.py
Due: ruff-format, ruff

fix(longevity-50b): Disable simulated_racks dues to multi-az
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
Due: none

refactor(unit_tests): move nemesis tests to unit_tests/unit/nemesis/
  sct.py
  unit_tests/unit/__init__.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/fake_cluster.py
  unit_tests/unit/nemesis/test_abort_decommission.py
  unit_tests/unit/nemesis/test_modify_table.py
  unit_tests/unit/nemesis/test_node_allocator.py
  unit_tests/unit/nemesis/test_registry.py
  unit_tests/unit/nemesis/test_sisyphus.py
  unit_tests/unit/nemesis/test_specific_nemesis.py
Due: ruff-format, ruff

fix(provision/gce): prevent live migration from disrupting tests
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_scheduling_policy.py
Due: ruff-format, ruff

fix(provision/aws): poll cloud-config.service in user-script
  sdcm/provision/aws/configuration_script.py
Due: ruff-format, ruff

fix(gce provisioning): handle comma-separated availability_zone
  sdcm/provision/gce/provisioner.py
  unit_tests/unit/provisioner/test_gce_provisioner_az_distribution.py
Due: ruff-format, ruff
