Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

docs(keystore): add implementation plan for KeyStore improvements
  docs/plans/keystore-improvements.md
Due: none

feature(utils): add get-official-supported-versions utility
  sct.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

fix(integration-tests): update test_images params to use supported scylla versions
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

feature(hydra): Add get-official-supported-versions command
  sct.py
  unit_tests/unit/test_get_official_supported_versions.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

feature(stress-tools): add cs_extra_jvm_opts config for cassandra-stress JVM tuning
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/stress_thread.py
Due: ruff-format, ruff, update-conf-docs

test(stress-tools): add integration test for cs_extra_jvm_opts
  unit_tests/integration/test_cassandra_stress_thread.py
Due: ruff-format, ruff

refactor(jenkins-pipelines): move simple query offline installer triggers to master-triggers
  jenkins-pipelines/master-triggers/performance/perf-simple-query-offline-installer-trigger-arm.jenkinsfile
  jenkins-pipelines/master-triggers/performance/perf-simple-query-offline-installer-trigger-x86.jenkinsfile
Due: none

fix(oci): properly propagate the rack index
  sdcm/cluster_oci.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/provision/provisioner.py
Due: ruff-format, ruff

Revert "chore(hydra): create image 1.135-PR14571-8041fd5"
  docker/env/version
Due: none

Revert "fix(deps): update dependency paramiko to v5 [security]"
  pyproject.toml
  uv.lock
Due: uv-sort

refactor(jenkins-pipelines): move performance triggers folder to sct_triggers
  jenkins-pipelines/master-triggers/sct_triggers/performance/perf-simple-query-offline-installer-trigger-arm.jenkinsfile
  jenkins-pipelines/master-triggers/sct_triggers/performance/perf-simple-query-offline-installer-trigger-x86.jenkinsfile
Due: none

defaults: Set Scylla Monitoring branch 4.14.3 scylladb-monitor-4-14-3-2026-04-13t06-26-19z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

detaults: Switch to scylla monitoring branch 4.15
  configurations/manager/debian12.yaml
  configurations/manager/rocky8.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/test_default.yaml
Due: update-conf-docs

defaults: Use ScyllaDB monitoring image scylladb-monitor-4-15-0-rc-2026-04-29t11-20-11z for 4.15.0.rc
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

fix(docs): Update montioring branch parameter documentation
  docs/configuration_options.md
Due: none

feature(tier1-longevity): replace Azure 1TB 5-day test with AWS 2TB alternative
  configurations/2TB_high_disk_used_capacity.yaml
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
  jenkins-pipelines/oss/sct_triggers/tier1-azure-custom-time-trigger.xml
  jenkins-pipelines/oss/tier1/longevity-1tb-5days-azure.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-2tb-5days.jenkinsfile
Due: none

fix(perf): handle stress_cmd as list in alternator perf tests
  jenkins-pipelines/master-triggers/sct_triggers/performance/perf-simple-query-offline-installer-trigger-arm.jenkinsfile
  jenkins-pipelines/master-triggers/sct_triggers/performance/perf-simple-query-offline-installer-trigger-x86.jenkinsfile
  performance_regression_alternator_test.py
  performance_regression_test.py
Due: ruff-format, ruff

fix(perf): handle stress_cmd as list in alternator perf tests
  performance_regression_alternator_test.py
  performance_regression_test.py
Due: ruff-format, ruff

improvement(defaults): change default compaction_strategy to ICS
  configurations/cs-compaction-strategy-lcs.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: update-conf-docs
