Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

improvement(hydra): watch the builder <-> SCT runner transport
  docker/env/hydra.sh
Due: none

improvement(hydra): keep watchdog samples in a collected file, not the console
  docker/env/hydra.sh
  sdcm/logcollector.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff

improvement(hydra): keep watchdog samples in a collected file, not the console
  docker/env/hydra.sh
  sdcm/logcollector.py
  unit_tests/test_log_collector.py
Due: ruff-format, ruff

fix(fix-backport): detect conflict markers in .md files and diff3 base markers
  .claude/scripts/fix-backport.sh
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(upgrade_test): filter oversized allocation on versions without the fix
  upgrade_test.py
Due: ruff-format, ruff

fix(provision/aws): poll cloud-config.service in user-script
  sdcm/provision/aws/configuration_script.py
Due: ruff-format, ruff

fix(oci): keep the guest firewall disabled across reboots
  sdcm/cluster.py
  sdcm/exceptions.py
  sdcm/logcollector.py
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  sdcm/sct_provision/aws/user_data.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/sct_provision/user_data_objects/firewall.py
  sdcm/test_config.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cluster_cloud.py
  unit_tests/unit/test_firewall_boot_script.py
Due: ruff-format, ruff

SCYLLADB-4601/feature(configurations): exclude the seven nemesis run #15 covered
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record nemesis sweep run #15
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/docs(sc): link the KMS nemesis exclusions to SCYLLADB-4727
  configurations/nemesis/sweep_resume_after_run7.yaml
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(nemesis): remove ResetLocalSchemaMonkey
  configurations/nemesis/ResetLocalSchemaMonkey.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  docs/docker-backend-nemesis.md
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-gce.jenkinsfile
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(distro): recognize current Fedora releases and skip EPEL on them
  sdcm/cluster.py
  sdcm/utils/distro.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

fix(loader): install Docker on Fedora loaders that lack it
  sdcm/cluster.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(coredump): check for pigz with `rpm -q` on Fedora
  sdcm/coredump.py
  unit_tests/unit/test_coredump.py
Due: ruff-format, ruff

fix(baremetal): require a version source for non-preinstalled runs
  sdcm/sct_config/config.py
  unit_tests/integration/test_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

fix(yaml): fix c-s command for new leader awareness driver
  configurations/strong_consistency/prepare_cql_stress_read_disk_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_sc.yaml
Due: none

feature(cql-stress): new custom cql-stress docker image with new driver
  configurations/stress_images/cql-stress-strong-consistency-leader-awarness.yaml
Due: none

feat: add P95 latency percentile to Argus result tabs
  sdcm/argus_results.py
  sdcm/utils/latency.py
  unit_tests/unit/test_argus_results.py
Due: ruff-format, ruff

SCYLLADB-4346/feature(jenkins): SC sanity longevity with leader-aware cql-stress
  jenkins-pipelines/oss/longevity/rust/longevity-100gb-4h-cql-stress-sc.jenkinsfile
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

SCYLLADB-4601/feature(configurations): exclude the six nemesis run #9 covered
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/fix(configurations): give the KMS rotation nemesis a fair attempt
  configurations/nemesis/sweep_resume_after_run7.yaml
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/fix(unit-tests): give the new HDR row-name test a P95 value
  unit_tests/unit/test_argus_results.py
Due: ruff-format, ruff

SCYLLADB-4601/docs(sc): keep the nemesis sweep statistics next to the config
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/fix(configurations): restore AbortDecommissionMonkey's Argus status
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/feature(test-cases): sweep the categories by default on the SC sanity job
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/nemesis/monkey/test_sisyphus.py
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

SCYLLADB-4346/fix(stress): skip valueless section headers in the c-s summary
  sdcm/stress_thread.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

SCYLLADB-4601/fix(nemesis): actually apply nemesis_exclude_list to the SC sanity job
  jenkins-pipelines/oss/longevity/rust/longevity-100gb-4h-cql-stress-sc.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/monkey/test_sisyphus.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
