Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

docs(install): prefer uv run over `source .../activate`
  docs/install-local-env.md
Due: none

fix(upgrade-versions): fix UnboundLocalError in get_version for non-unstable repos
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

fix(azure): treat stuck-VM recovery giveup as capacity issue in nemeses
  docs/plans/mini-plans/2026-07-16-sct632-azure-stuck-vm-recovery-hardening.md
  sdcm/utils/decorators.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

fix(azure): harden stuck-VM recovery
  defaults/azure_config.yaml
  docs/configuration_options.md
  docs/plans/mini-plans/2026-07-16-sct632-azure-stuck-vm-recovery-hardening.md
  docs/superpowers/specs/2026-07-16-sct632-azure-stuck-vm-recovery-design.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff, update-conf-docs

ci(oci): add OCI eu-frankfurt-1 region support to the pipelines
  vars/getJenkinsLabels.groovy
Due: none

refactor(email): remove dead email_data collection code
  artifacts_test.py
  cdc_replication_test.py
  cluster_configuration_tests.py
  functional_tests/scylla_operator/libs/auxiliary.py
  gemini_test.py
  jepsen_test.py
  longevity_test.py
  mgmt_upgrade_test.py
  performance_regression_test.py
  performance_scale_up_test.py
  sdcm/mgmt/operations.py
  sdcm/tester.py
  sla_per_user_system_test.py
  snitch_test.py
  uda_udf_test.py
  unit_tests/test_longevity.py
  unit_tests/test_tester.py
  upgrade_test.py
Due: ruff-format, ruff

fix(docker): address review comments on manager Docker support
  sdcm/cluster_docker.py
  sdcm/mgmt/__init__.py
Due: ruff-format, ruff

feature(docker): add Scylla Manager support for Docker backend
  sdcm/cluster_docker.py
  sdcm/mgmt/__init__.py
  sdcm/mgmt/cli.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(azure): treat stuck-VM recovery giveup as capacity issue in nemeses
  sdcm/utils/decorators.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

fix(azure): harden stuck-VM recovery
  defaults/azure_config.yaml
  docs/configuration_options.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff, update-conf-docs

fix(azure): treat stuck-VM recovery giveup as capacity issue in nemeses
  sdcm/utils/decorators.py
  unit_tests/test_utils_decorators.py
Due: ruff-format, ruff

fix(azure): harden stuck-VM recovery
  defaults/azure_config.yaml
  docs/configuration_options.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/provisioner/fake_azure_service.py
  unit_tests/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff, update-conf-docs

chore(jenkins): disable weekly sct-agent longevity trigger
  jenkins-pipelines/master-triggers/sct_triggers/_deprecated_jobs.yaml
  jenkins-pipelines/master-triggers/sct_triggers/sct-agent-weekly-trigger.xml
Due: none

improvement(log-archive): stream 1 chunk at a time
  sdcm/log_archive.sh
  unit_tests/unit/test_log_archive.py
Due: ruff-format, ruff

fix(triggers): switch tier1 jobs from include_versions to exclude_versions
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

feature(vnote_tablet_migration): Add test for terminate and replace node
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff

fix(nemesis): don't mask add-node capacity failures
  sdcm/nemesis/__init__.py
  sdcm/utils/decorators.py
  unit_tests/unit/nemesis/execute_nemesis/test_basic.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

chore(sizing): migrate gemini non-CDC/ICS test configs to constraint-based sizing
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-8h-large-num-columns.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  test-cases/gemini/gemini-cassandra-oracle-aws.yaml
Due: none

fix(triggers): fix availability_zone param
  configurations/triggers/tier1.yaml
Due: none

improvement(longevity-multi-dc-rack-aware): Change from i4i to i8g
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
Due: none

fix(version-utils): tolerate archived deb/rpm Packages files in base version detection
  sdcm/utils/version_utils.py
  unit_tests/unit/test_get_supported_scylla_base_versions.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

improvement(SPOT_FLEET_LIMIT): Increase spot fleet old limits
  sdcm/cluster_aws.py
  sdcm/provision/aws/constants.py
Due: ruff-format, ruff

fix(version-utils): guard filter_rc_only_version against an empty base_version_list
  unit_tests/unit/test_get_supported_scylla_base_versions.py
  utils/get_supported_scylla_base_versions.py
Due: ruff-format, ruff

ci(artifacts): add Ubuntu 26.04 artifact tests on GCE (x86 + ARM)
  configurations/arm/gce-ubuntu2604.yaml
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-nonroot.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/ubuntu2604.yaml
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
