Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(provision/gce): upfront AZ filtering and runtime zone fallback for GCE
  docs/configuration_options.md
  sct.py
  sdcm/provision/gce/capacity_errors.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/gce_builder.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_capacity_errors.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
Due: ruff-format, ruff, update-conf-docs

fix: remove JsonOutput.toJson() from gce_datacenter and use single-quoted shell exports
  vars/artifactsPipeline.groovy
  vars/getJobTimeouts.groovy
  vars/managerPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runCollectLogs.groovy
  vars/runSctTest.groovy
Due: none

fix(provision/gce): prevent live migration from disrupting tests
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_scheduling_policy.py
Due: ruff-format, ruff

feature(provision/aws): AZ fallback on capacity errors in modern path
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_aws.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_errors.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/sct_provision/aws/layout.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_layout_az_fallback.py
Due: ruff-format, ruff, update-conf-docs

fix(git): Only delete with sudo if necessary
  sdcm/utils/git.py
Due: ruff-format, ruff

Revert "fix(upgrade): fix enterprise detection, node-exporter transition, and yum downgrade in rolling upgrades"
  upgrade_test.py
Due: ruff-format, ruff

fix(manager): update multiDC GCE test config
  test-cases/manager/manager-regression-multiDC-gce.yaml
Due: none

fix(config): update gce_datacenter type to StringOrList
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

test(manager): add singleDC config and sanity test for GCE
  jenkins-pipelines/manager/centos-manager-backup-gce.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-sanity-gce.jenkinsfile
  test-cases/manager/manager-regression-singleDC-gce.yaml
Due: none

upgrade_test: verify scylla-node-exporter version after upgrade
  upgrade_test.py
Due: ruff-format, ruff

fix(ycsb): resolve merge conflicts keeping 1.3.2 image and DNS readiness check
  defaults/docker_images/ycsb/values_ycsb.yaml
  sdcm/ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

fix(alternator-dns): use json.loads to parse /localnodes response
  defaults/docker_images/ycsb/values_ycsb.yaml
  docker/alternator-dns/dns_server.py
Due: ruff-format, ruff, update-conf-docs

fix(alternator-dns): add NET_BIND_SERVICE cap and readiness check to DNS container
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

fix(cql): enable control-connection fallback for zero nodes
  sdcm/cluster.py
Due: ruff-format, ruff

fix(aws-peering): rewrite VPC peering with proper accept, tagging, cleanup, and dry-run
  sdcm/utils/aws_peering.py
Due: ruff-format, ruff

fix(libssh2_client): use incremental UTF-8 decoder for SSH output
  sdcm/remote/libssh2_client/__init__.py
Due: ruff-format, ruff

fix: remove extra blank line in test_config.py (precommit fix for branch-2025.4)
  unit_tests/test_config.py
Due: ruff-format, ruff

fix(nemesis): add raft topology error filtering to node-disrupting nemesis
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix: extend global filter to cover exec_global_command(barrier_and_drain)
  sdcm/sct_events/setup.py
Due: ruff-format, ruff

fix(ycsb): remove incorrectly merged dynamodb properties block from copy_template
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

fix(ycsb): remove incorrectly merged dynamodb properties block and suppress PLR0914
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

feature(sct_event): decrease severity of runtime_error when it is ignored
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

fix(alternator-dns): use json.loads to parse /localnodes response
  defaults/docker_images/ycsb/values_ycsb.yaml
  docker/alternator-dns/dns_server.py
  sdcm/ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
