Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

improvement(provision/aws): mid-test capacity guard for dynamically-added nodes
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  unit_tests/provisioner/test_az_resolver.py
  unit_tests/provisioner/test_capacity_reservation.py
Due: ruff-format, ruff, update-conf-docs

remove skip_tests.yaml and it's using
  configurations/scylla-doctor/skip_tests.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-centos9-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-rocky9.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-amazon2023-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-amazon2023.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ami-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ami.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-centos9-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-centos9.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-debian12.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-docker.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel9.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-rhel10.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2204-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2204.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2404-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2404.jenkinsfile
  sdcm/sct_config.py
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
  vars/sdReleaseGatingPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

feature(oci): add resolve:platform: mechanism for OCI platform images
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel8.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel8.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel9.jenkinsfile
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_utils.py
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  unit_tests/unit/test_oci_utils.py
  utils/lint_test_cases.sh
Due: ruff-format, ruff, update-conf-docs

fix(minicloud): default GCP project to sct-project-1
  scripts/run-minicloud-gce-provision-test.sh
  sdcm/utils/minicloud.py
Due: ruff-format, ruff

fix(minicloud): reduce GCE provision test to 1 db node
  scripts/run-minicloud-gce-provision-test.sh
Due: none

feature(oci): add resolve:platform: mechanism for OCI platform images
  defaults/oci_config.yaml
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-oel8.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel8.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oel9.jenkinsfile
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_utils.py
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  unit_tests/test_oci_utils.py
  utils/lint_test_cases.sh
Due: ruff-format, ruff, update-conf-docs

chore(jenkins): disable xcloud weekly perf trigger
  jenkins-pipelines/master-triggers/sct_triggers/xcloud-weekly-perf-trigger.xml
Due: none

fix(minicloud): setup host networking before container start and fix cleanup
  sdcm/logcollector.py
  sdcm/utils/minicloud.py
  unit_tests/unit/test_minicloud.py
Due: ruff-format, ruff

improvement(events): raise GCE host migration to critical in upgrade
  sdcm/sct_events/gce_events.py
  sdcm/sct_events/group_common_events.py
  unit_tests/unit/test_sct_events_filters.py
  upgrade_test.py
Due: ruff-format, ruff

fix(events/gce): publish *OnHostMaintenance as CRITICAL by default
  sdcm/cluster_gce.py
  sdcm/sct_events/gce_events.py
  unit_tests/test_gce_log_monitor.py
Due: ruff-format, ruff

fix(monitoring): consolidate prerequisite installation with retry
  sdcm/cluster.py
Due: ruff-format, ruff

feature(lint): enable ruff f-string rules (UP032, FLY002, RUF010)
  pyproject.toml
Due: uv-sort

feature(baremetal): enhance cluster management and configuration
  defaults/baremetal_config.yaml
  sdcm/cluster_baremetal.py
  sdcm/keystore.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/tester.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff, update-conf-docs

fix(argus): prevent Argus errors when enable_argus is false
  sdcm/cluster.py
  unit_tests/unit/test_argus_disabled.py
Due: ruff-format, ruff

fix(upgrade): use java cassandra-stress for azure complex workload
  configurations/azure/azure_rolling_upgrade.yaml
Due: none

docs(baremetal): mark backend as experimental
  README.md
  sdcm/cluster_baremetal.py
Due: ruff-format, ruff

fix(platform-migration): move weekend test run to us-east-2
  jenkins-pipelines/oss/platform-migration/platform-migration-50perc-batched.jenkinsfile
Due: none

fix(logcollector): skip monitoring log collection when no monitor nodes configured
  sdcm/logcollector.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff

chore(azure): improve azure disk performance to avoid c-s failures
  test-cases/longevity/longevity-10gb-3h.yaml
Due: none

fix(nemesis): remove ResetLocalSchemaMonkey
  configurations/nemesis/ResetLocalSchemaMonkey.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  docs/docker-backend-nemesis.md
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): skip disrupt_refuse_connection nemesis when target is alone in rack
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
