Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

ci(artifacts): add Ubuntu 26.04 artifact tests on GCE (x86 + ARM)
  configurations/arm/gce-ubuntu2604.yaml
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-nonroot.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/ubuntu2604.yaml
  unit_tests/test_utils_distro.py
Due: ruff-format, ruff

ci(rolling-upgrade): add Ubuntu 26.04 rolling upgrade job
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2604.jenkinsfile
Due: none

ci(rolling-upgrade): deprecate Ubuntu 22.04 rolling upgrade job
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2204.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2604.jenkinsfile
Due: none

feature(oci): add oracle DB cluster support for gemini tests on OCI
  configurations/oci/gemini-basic-3h.yaml
  defaults/oci_config.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/gemini/gemini-3h-oci.jenkinsfile
  sdcm/cluster_oci.py
  sdcm/sct_config.py
  sdcm/sct_provision/common/types.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/sct_provision/user_data_objects/scylla.py
  sdcm/tester.py
Due: ruff-format, ruff, update-conf-docs

fix(triggers): fix availability_zone param
  configurations/triggers/tier1.yaml
Due: none

ci(artifacts): add Ubuntu 26.04 artifact tests on GCE (x86 + ARM)
  configurations/arm/gce-ubuntu2604.yaml
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604-nonroot.jenkinsfile
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-ubuntu2604.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604-arm.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-ubuntu2604.jenkinsfile
  sdcm/utils/distro.py
  test-cases/artifacts/ubuntu2604.yaml
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

Revert "ci(rolling-upgrade): add Ubuntu 26.04 rolling upgrade job"
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2604.jenkinsfile
Due: none

Revert "ci(rolling-upgrade): deprecate Ubuntu 22.04 rolling upgrade job"
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2204.jenkinsfile
Due: none

feat(nemesis): add an event that signals whether prepare is in progress
  sdcm/nemesis/monkey/add_remove_dc.py
  sdcm/tester.py
  sdcm/utils/loader_utils.py
  unit_tests/unit/nemesis/monkey/test_add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(keystore): migrate SSH callers to unified get_ssh_key_pair() API
  docker/env/hydra.sh
  sct.py
  sdcm/sct_runner.py
  sdcm/utils/aws_region.py
  unit_tests/unit/conftest.py
  unit_tests/unit/provisioner/test_azure_region_definition_builder.py
  unit_tests/unit/provisioner/test_provisioner.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_scan_operation_thread.py
  unit_tests/unit/test_scylla_yaml_builders.py
  unit_tests/unit/test_seed_selector.py
  unit_tests/unit/test_sla_utils.py
  unit_tests/unit/test_utils_common.py
  vars/copyLogsFromSctRunner.groovy
Due: ruff-format, ruff

feature(keystore): add caching, retry, logging, and Secrets Manager backend
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/keystore.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

test(keystore): add comprehensive unit tests for KeyStore
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

docs(keystore): credential management guide and plan update
  AGENTS.md
  docs/keystore-secrets-manager.md
  docs/plans/keystore-improvements.md
Due: none

fix(codeql): break clear-text taint flow in logging sites
  sdcm/cloud_api_client.py
  sdcm/cluster.py
  sdcm/remote/kubernetes_cmd_runner.py
  sdcm/utils/aws_builder.py
  sdcm/utils/common.py
  sdcm/utils/gce_builder.py
  sdcm/utils/gcp_kms.py
  sdcm/utils/s3_remote_uploader.py
  sdcm/utils/trigger_matrix.py
  unit_tests/unit/test_cassandra_docker_cluster.py
  utils/cloud_cleanup/xcloud/clean_xcloud.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

feature(minicloud): add minicloud integration core support
  .gitignore
  defaults/test_default.yaml
  docker/env/hydra.sh
  docs/configuration_options.md
  scripts/minicloud-package.sh
  scripts/minicloud-runner-setup.sh
  scripts/run-minicloud-artifact-install-test.sh
  scripts/run-minicloud-artifact-test-hydra.sh
  scripts/run-minicloud-artifact-test.sh
  scripts/run-minicloud-gce-provision-test.sh
  scripts/run-minicloud-prepare-region.sh
  scripts/run-minicloud-provision-resources.sh
  scripts/run-minicloud-provision-test.sh
  scripts/run-minicloud-tests.sh
  scripts/start-minicloud.sh
  scripts/test-minicloud-local-pipeline.sh
  scripts/test-minicloud-sct-ci-flow.sh
  scripts/test-minicloud-tags-direct.sh
  sct.py
  sdcm/cluster.py
  sdcm/cluster_gce.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/sct_runner.py
  sdcm/tester.py
  sdcm/utils/aws_okta.py
  sdcm/utils/aws_region.py
  sdcm/utils/common.py
  sdcm/utils/gce_region.py
  sdcm/utils/gce_utils.py
  sdcm/utils/gcp_kms.py
  sdcm/utils/minicloud.py
  test-cases/minicloud-provision-test.yaml
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff, update-conf-docs

ci(minicloud): add Jenkins pipeline and unit tests
  jenkins-pipelines/oss/artifacts/artifacts-minicloud.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-artifact-test.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-provision-test.jenkinsfile
  unit_tests/unit/test_minicloud.py
  vars/getJenkinsLabels.groovy
  vars/minicloudPipeline.groovy
Due: ruff-format, ruff

chore(minicloud): clean up image and plan annotations
  docs/configuration_options.md
  docs/plans/mini-plans/2026-06-01-minicloud-manager-full-lifecycle.md
  docs/plans/mini-plans/2026-06-02-minicloud-gce-support.md
  docs/plans/mini-plans/2026-06-02-minicloud-provision-test-speedup.md
  docs/plans/mini-plans/2026-06-04-minicloud-ci-pipeline.md
  docs/plans/mini-plans/2026-06-07-minicloud-container-architecture.md
  docs/plans/mini-plans/2026-06-08-kvm-nested-virtualization-sct-runner.md
  docs/plans/mini-plans/hang-proof-shutdown.md
Due: none

fix(minicloud): remove binary requirement from artifact test scripts, use Docker container
  scripts/run-minicloud-artifact-test-hydra.sh
  scripts/run-minicloud-artifact-test.sh
Due: none
