Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

improvement(provision/aws): mid-test capacity guard for dynamically-added nodes
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_reservation.py
Due: ruff-format, ruff, update-conf-docs

test
  sdcm/utils/hdrhistogram.py
Due: ruff-format, ruff

fix(azure): prolong provision stage for Azure
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: none

fix(docker): add explicit timeout param to loader node_setup for override compatibility
  sdcm/cluster_docker.py
Due: ruff-format, ruff

feature(events): add tablet split/merge events
  defaults/severities.yaml
  sdcm/sct_events/database.py
Due: ruff-format, ruff, update-conf-docs

sdcm: add filter for hints_manager segment data corruption errors
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

fix(latte_thread): add latte_schema_parameters to stress commands
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

improvement(latte_thread): add a call for post latte schema cmd hook
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

fix(ycsb): fix integration tests and race contidtion
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/utils/common.py
  sdcm/ycsb_thread.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

fix(sct_config): remove duplicate alternator_trust_all_certificates entry
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(ycsb): fix AWS SDK v2 credential loading for alternator
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

feat(ycsb): ycsb version reporting for argus
  sdcm/reporting/tooling_reporter.py
  sdcm/ycsb_thread.py
  unit_tests/test_tooling_ycsb_reporter_parsing.py
Due: ruff-format, ruff

fix(node_exporter): fail on HTTP errors when downloading tarball
  sdcm/node_exporter_setup.py
Due: ruff-format, ruff

fix(provision/gce): add zone fallback on GCE resource pool exhaustion
  sdcm/cluster_gce.py
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
Due: ruff-format, ruff

feature(artifacts): add fallback_to_next_availability_zone to artifact test cases
  defaults/aws_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
Due: update-conf-docs

feature(provision/aws): upfront AZ filtering for capacity awareness
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_errors.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  sdcm/utils/aws_region.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_errors.py
  unit_tests/unit/test_aws_region.py
Due: ruff-format, ruff, update-conf-docs

feature(provision/aws): upfront AZ filtering for capacity awareness
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_errors.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  sdcm/utils/aws_region.py
  unit_tests/provisioner/test_az_resolver.py
  unit_tests/provisioner/test_capacity_errors.py
  unit_tests/unit/test_aws_region.py
Due: ruff-format, ruff, update-conf-docs

fix(docker): use local runner for Docker backend loaders instead of containers
  sdcm/cluster_docker.py
  sdcm/tester.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(test): prevent TestConfig singleton contamination in GCE region builder tests
  unit_tests/unit/provisioner/test_gce_region_definition_builder.py
Due: ruff-format, ruff

fix(nemesis): wrap kill_mv_building_coordinator with context
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(provision/aws): upfront AZ filtering for capacity awareness
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_errors.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  sdcm/utils/aws_region.py
  unit_tests/provisioner/test_az_resolver.py
  unit_tests/provisioner/test_capacity_errors.py
  unit_tests/test_aws_region.py
Due: ruff-format, ruff, update-conf-docs

fix(docker): address review comments on manager Docker support
  sdcm/cluster_docker.py
  sdcm/mgmt/__init__.py
Due: ruff-format, ruff

feature(test): LWT/MV/CDC longevity test with tablet split/merge
  data_dir/latte/lwt_load.rn
  data_dir/latte/tablet_split_merge_load.rn
  jenkins-pipelines/oss/features/Tablets/longevity-cdc-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-mv-24h.jenkinsfile
  sdcm/logcollector.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff

feature(nemesis): Alter table config to trigger split/merge
  configurations/nemesis/SplitMergeTabletsWithAlter.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(test): copy cdc-replicator.log to runner for collecting
  sdcm/logcollector.py
  tablet_split_merge_test.py
Due: ruff-format, ruff

test(yaml): add new test config for all tables
  data_dir/latte/tablet_split_merge_load.rn
  defaults/severities.yaml
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-24h.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/sct_events/database.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(oci): fix regex for the rack name parsing
  sdcm/cluster.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff
