Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(provision/gce): filter fallback zones by machine type availability
  sdcm/cluster_gce.py
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

chore(argus): vendor client 0.15.20 and fix update script
  argus/_version.py
  argus/client/base.py
  argus/client/driver_matrix_tests/cli.py
  argus/client/driver_matrix_tests/client.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/replay_log.py
  argus/client/sct/client.py
  argus/client/session.py
  argus/client/sirenada/client.py
  argus/client/tunnel.py
  argus/client/tunnel/__init__.py
  argus/client/tunnel/api.py
  argus/client/tunnel/models.py
  argus/client/tunnel/ssh.py
  argus/client/tunnel/state.py
  argus/common/utils.py
  argus/version
  utils/update_argus_client.py
Due: ruff-format, ruff

fix(gce): enable AZ fallback in GCE artifact test configs
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image-persistent-disk.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
Due: none

fix(provision): unpin availability_zone for large-partition GCE test
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

refactor(gce): extract build_gce_image_filter and test production code
  sdcm/utils/common.py
  unit_tests/unit/test_gce_image_filter.py
Due: ruff-format, ruff

test(docker): import production _create_tar_stream instead of inline copy
  unit_tests/unit/test_docker_tar_stream.py
Due: ruff-format, ruff

test(perf): import production is_latte_command and get_test_table_name
  unit_tests/unit/test_gradual_grow_throughput.py
Due: ruff-format, ruff

fix(azure-sizing): support Dpdsv6/v5 local NVMe storage for DB node candidacy
  data/instance_catalog/azure.yaml
  data/instance_catalog/sizing_config.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

fix(ycsb): fix AWS SDK v2 credential loading for alternator
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

feature(provision/gce): upfront AZ filtering and runtime zone fallback for GCE
  docs/configuration_options.md
  sct.py
  sdcm/provision/gce/__init__.py
  sdcm/provision/gce/capacity_errors.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/gce_builder.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_capacity_errors.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
Due: ruff-format, ruff, update-conf-docs

fix(kernel-panic): suppress false KernelPanicEvent during intentional reboots
  sdcm/cluster.py
  sdcm/kernel_panic_checker.py
  unit_tests/unit/test_kernel_panic_checker.py
Due: ruff-format, ruff

feature(azure): add ARM (aarch64) artifact and longevity test cases
  configurations/azure/azure-arm.yaml
  jenkins-pipelines/oss/artifacts/artifacts-azure-image-arm.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-100gb-4h-azure-arm.jenkinsfile
  test-cases/artifacts/azure-image-arm.yaml
Due: none

fix(2TB_high_disk_used_capacity.yaml): Added a supports_high_disk_utilization nemesis selector
  configurations/2TB_high_disk_used_capacity.yaml
Due: none

fix(nemesis): handle ALTER KEYSPACE timeout in AddRemoveDC
  sdcm/nemesis/monkey/add_remove_dc.py
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(nemesis): extract 6 network disruption monkeys into network.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/network.py
  unit_tests/unit/nemesis/test_network.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): remove dead connbytes test, fix docstring port, fix double-unit bug
  unit_tests/unit/nemesis/monkey/test_network.py
Due: ruff-format, ruff

fix(nemesis): fix iptables matching rule bug and standardize random usage
  unit_tests/unit/nemesis/monkey/test_network.py
Due: ruff-format, ruff

feature(counter): Add counter field
  data_dir/latte/tablet_split_merge_load.rn
  jenkins-pipelines/oss/features/Tablets/longevity-counter-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-counter-24h.jenkinsfile
  test-cases/longevity/longevity-counter-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-counter-basic-24h.yaml
Due: none

fix(deps): stabilize uv-sort ordering
  pyproject.toml
  uv.lock
Due: uv-sort

test(nemesis): add shared monkey runner fixture for 2026.1
  unit_tests/unit/nemesis/monkey/conftest.py
Due: ruff-format, ruff

fix(nemesis): remove committed merge markers from backport
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(argus): enable Argus SSH Tunneling by default
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

refactor(pipelines): move customer case pipelines to dedicated folder
  jenkins-pipelines/oss/customer-cases/_display_name
  jenkins-pipelines/oss/customer-cases/longevity-aws-custom-d2-workload1-3dcs.jenkinsfile
  jenkins-pipelines/oss/customer-cases/longevity-aws-custom-d2-workload1-5dcs.jenkinsfile
  jenkins-pipelines/oss/customer-cases/longevity-gce-custom-d1-worklod1-hybrid-raid.jenkinsfile
  jenkins-pipelines/oss/customer-cases/longevity-gce-custom-d1-worklod2-hybrid-raid-repair.jenkinsfile
  jenkins-pipelines/oss/customer-cases/longevity-gce-custom-d1-worklod2-hybrid-raid.jenkinsfile
  jenkins-pipelines/oss/customer-cases/rolling-upgrade-custom-d1-w2-latency-regression.jenkinsfile
  jenkins-pipelines/oss/customer-cases/rolling-upgrade-custom-d2-w1-latency-regression-expensive.jenkinsfile
  jenkins-pipelines/oss/customer-cases/rolling-upgrade-custom-d2-w1-latency-regression.jenkinsfile
  jenkins-pipelines/oss/customer-cases/scylla-enterprise-perf-regression-predefined-throughput-steps-tablets-custom-d3-w1.jenkinsfile
Due: none

chore(pipelines): remove longevity-user-profile-d test case
  jenkins-pipelines/oss/longevity/longevity-user-profile-d.jenkinsfile
  jenkins-pipelines/oss/vnodes/longevity/longevity-user-profile-d.jenkinsfile
  test-cases/longevity/longevity-user-profile-d.yaml
Due: none

fix(nemesis): increase CREATE_MV and CREATE_INDEX soft timeouts to 5 hours
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(seeds): change default seeds_selector from 'all' to 'first'
  defaults/test_default.yaml
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(nemesis): preserve seed before decommissioning last seed
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(seeds): default to three random seed nodes
  defaults/test_default.yaml
  sdcm/cluster.py
  sdcm/nemesis/__init__.py
  sdcm/sct_config.py
  unit_tests/unit/test_seed_selector.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(azure): raise SpotTerminationEvent when spot VM evicted during provisioning
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff
