Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(latte): update latte_cs_alike.rn key size to match cassandra-stress
  configurations/performance/latte-perf-regression-latency-650gb-upgrade.yaml
  data_dir/latte/latte_cs_alike.rn
Due: none

feature(cluster): use control-connection query fallback for public address connections
  pyproject.toml
  sdcm/cluster.py
  uv.lock
Due: ruff-format, ruff, uv-sort

fix(sct-config): strip whitespace from environment variable values at ingestion
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(backtrace-decoding): add mini-plan for external backtrace decoding via backtraces.scylladb.com
  docs/plans/mini-plans/2026-04-28-sct-275-external-backtrace-decoding.md
Due: none

fix(cluster): use external backtrace service to decode backtraces
  sdcm/cluster.py
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

fix(backtrace-decoding): use actual _decode_via_external_service in integration test
  unit_tests/test_external_backtrace_service.py
Due: ruff-format, ruff

perf(backtrace-decoding): cache decoded backtraces to avoid redundant work
  sdcm/cluster.py
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

test(backtrace-decoding): add integration test for external backtrace service
  unit_tests/test_external_backtrace_service.py
Due: ruff-format, ruff

refactor(backtrace-decoding): rename decode_raw_backtrace to decode_backtrace_local
  sdcm/cluster.py
Due: ruff-format, ruff

ci(gce-trigger): drop hardcoded availability_zone=a from tier1-gce-custom-time-trigger
  jenkins-pipelines/oss/sct_triggers/tier1-gce-custom-time-trigger.xml
Due: none

fix(sct-config): strip whitespace from environment variable values at ingestion
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(test-config): remove enterprise-prefixed version tests
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

fix(test-config): remove enterprise-prefixed version tests
  unit_tests/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

docs(copilot): fix provision test label names to match actual GitHub labels
  .github/copilot-instructions.md
Due: none

ci(aws): add us-east-2 to AWS_SUPPORTED_REGIONS
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

ci(aws): add us-east-2 to Jenkins builder labels and supported regions
  vars/getJenkinsLabels.groovy
Due: none

ci(pipelines): update AWS region descriptions to show all supported regions
  vars/byoLongevityPipeline.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/rollingOperatorUpgradePipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/simpleTrigger.groovy
Due: none

fix(aws-peering): replace stale routes instead of silently skipping
  sdcm/utils/aws_peering.py
  vars/perfRegressionParallelPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
Due: ruff-format, ruff

test(gemini): fix flaky mixed-mode oracle test
  unit_tests/integration/test_gemini_thread.py
Due: ruff-format, ruff

test(unit-tests): add missing test helper modules for backtrace tests
  unit_tests/lib/dummy_remote.py
  unit_tests/lib/fake_cluster.py
Due: ruff-format, ruff

resolve conflicts
  .claude/scripts/fix-backport.sh
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

chore: remove accidentally added script
  .claude/scripts/fix-backport.sh
Due: none

unit_tests: add missing test_data_dir fixture to conftest.py
  unit_tests/conftest.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
