Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(nonroot-install): use add_install_prefix in get_scylla_build_id
  sdcm/cluster.py
  sdcm/tester.py
Due: ruff-format, ruff

ci(5000-tables): remove nemesis_seed from longevity-5000-tables-latte
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

fix(artifacts): use proper parameter name for the provision type
  jenkins-pipelines/oss/artifacts/artifacts-azure-image.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image-persistent-disk.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image.jenkinsfile
Due: none

fix(manager): update multiDC GCE test config
  test-cases/manager/manager-regression-multiDC-gce.yaml
Due: none

test(manager): add singleDC config and sanity test for GCE
  jenkins-pipelines/manager/ubuntu22-manager-sanity-gce.jenkinsfile
  test-cases/manager/manager-regression-singleDC-gce.yaml
Due: none

fix(config): update gce_datacenter type to StringOrList
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

improvement(100gb-4h): use both loaders for data population
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
Due: none

ci(oci): add 100gb-4h longevity for OracleCloud backend
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  jenkins-pipelines/oss/longevity/longevity-100gb-4h-oci.jenkinsfile
Due: none

fix(nemesis): increase timeout for waiting for streaming to start
  sdcm/nemesis/monkey/abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): add supports_high_disk_utilization=False to nemeses that call removenode
  data_dir/nemesis.yml
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(nemesis): Add nemesis documentation
  AGENTS.md
  README.md
  docs/contrib.md
  docs/nemesis.md
  docs/plans/nemesis-rework.md
Due: none

test(parallelobject): reduce sleep values from seconds to sub-second
  unit_tests/test_parallelobject.py
Due: ruff-format, ruff

test(adaptive-timeouts): add port-9100 node exporter mapping to fake remoter
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

test(wait): reduce timeout and step values to eliminate unnecessary sleeping
  unit_tests/test_wait.py
Due: ruff-format, ruff

test(events): reduce last_event_processing_delay default from 1.0s to 0.5s
  unit_tests/lib/events_utils.py
Due: ruff-format, ruff

test(tester): reduce busy-wait from 2s to 0.2s in CriticalErrorNotCaughtTest
  unit_tests/test_tester.py
Due: ruff-format, ruff

test(gce-log-monitor): switch from RealEventsTest to FakeEventsMixin
  unit_tests/test_gce_log_monitor.py
Due: ruff-format, ruff

fix(docker): defer DockerClient.from_env() to avoid import-time crash
  sdcm/utils/docker_utils.py
  unit_tests/test_utils_docker.py
Due: ruff-format, ruff

feat(tags): add JenkinsJob tag for billing aggregation
  sdcm/test_config.py
  unit_tests/test_config.py
  vars/tagBuilder.groovy
Due: ruff-format, ruff

fix: use correct config path for billing_project tests on perf-v17 branch
  unit_tests/test_config.py
Due: ruff-format, ruff

fix(monitoring): avoid port conflicts on concurrent restores
  sdcm/monitorstack/__init__.py
Due: ruff-format, ruff

Add vector-store performance test
  configurations/vector_store_provision_test.yaml
  data_dir/latte/vector_search/vector_search_perf_preload.rn
  data_dir/latte/vector_search/vector_search_perf_run.rn
  data_dir/latte/vector_search/vector_search_recall.rn
  jenkins-pipelines/performance_staging/vector-store-test.jenkinsfile
  run.sh
  sdcm/argus_results.py
  sdcm/remote/agent_cmd_runner.py
  sdcm/remote/docker_cmd_runner.py
  sdcm/remote/remote_base.py
  sdcm/stress/base.py
  sdcm/stress/latte_thread.py
  sdcm/utils/common.py
  sdcm/utils/docker_utils.py
  sdcm/utils/hdrhistogram.py
  sdcm/utils/log.py
  test-cases/vector-search/vector-search-test.yaml
  vector_store_test.py
Due: ruff-format, ruff

test
  test-cases/vector-search/vector-search-test.yaml
Due: none

feature(monitoring): add Gemini Grafana dashboard and screenshot upload to Argus
  data_dir/gemini-grafana-dashboard.json
  sdcm/cluster.py
  sdcm/monitorstack/ui.py
Due: ruff-format, ruff

feature: Decrypt sstable before uploading
  docs/plans/mini-plans/2026-03-26-decrypt-sstables-before-collecting.md
  sdcm/logcollector.py
  sdcm/teardown_validators/sstables.py
  sdcm/utils/sstable/s3_uploader.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/test_sstable_decrypt.py
  unit_tests/test_sstable_decrypt_integration.py
Due: ruff-format, ruff
