Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(network): restore use_dns_names for listen/rpc/broadcast_rpc addresses
  defaults/gce_config.yaml
  sdcm/cluster_gce.py
  sdcm/provision/network_configuration.py
  unit_tests/test_gce_use_dns_names.py
Due: ruff-format, ruff, update-conf-docs

fix(log-collector): include system_tablets.log in schema-logs artifact upload
  sdcm/logcollector.py
Due: ruff-format, ruff

fix(multidc-parallel-topology-schema-changes): select only nemesis with supports_high_disk_utilization
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

sdcm: add filter for hints_manager segment data corruption errors
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

fix(manager): remove restart logic after schema restore
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

test(manager): extend test_backup_and_restore with schema restoration
  mgmt_cli_test.py
Due: ruff-format, ruff

refactor(manager): rename restore methods and extract backup_with_manager_task
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

refactor(manager): detect keyspaces in run_verification_read_stress
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

refactor(manager): remove verify_backup_success and extract helpers
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

docs(plans): add pipeline labeling and documentation plan
  docs/plans/MASTER.md
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
  docs/plans/progress.json
Due: none

fix(alternator): switch default to DNS routing instead of native load balancing
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

improvement(provision/aws): AZ capacity fallback improvements
  sdcm/tester.py
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
  unit_tests/unit/provisioner/test_az_fallback.py
Due: ruff-format, ruff

cluster: filter out paxos tables from non-system table list by default
  sdcm/cluster.py
Due: ruff-format, ruff

improvement(plans): address review feedback on pipeline labeling plan
  docs/plans/assets/progress-roadmap.svg
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
Due: none

improvement(plans): rewrite pipeline labeling plan - embed metadata in YAML with pydantic
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
  docs/plans/progress.json
Due: none

fix(log-collection): adaptive timeout and optimized log splitting
  docs/plans/mini-plans/2026-05-24-log-collection-timeout-and-splitting.md
  sdcm/log_archive.sh
  sdcm/logcollector.py
  test-cases/PR-test-log-collection.yaml
  unit_tests/unit/test_log_archive.py
  vars/getJobTimeouts.groovy
Due: ruff-format, ruff

Collect system.compaction_history to S3 with Argus reporting
  sdcm/tester.py
  sdcm/utils/common.py
  sdcm/utils/sstable/s3_uploader.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff

chore(test-cases): drop unused PR-test-log-collection.yaml
  docs/plans/mini-plans/2026-05-24-log-collection-timeout-and-splitting.md
  sdcm/log_archive.sh
  sdcm/logcollector.py
  unit_tests/unit/test_log_archive.py
  vars/getJobTimeouts.groovy
Due: ruff-format, ruff

chore(test-cases): drop unused PR-test-log-collection.yaml
  test-cases/PR-test-log-collection.yaml
Due: none

jenkins: schedule audit rules coverage
  jenkins-pipelines/oss/features/audit/longevity-100gb-4h-audit-rules-nemesis.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ToggleAuditRulesNemesisSyslog-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ToggleAuditRulesNemesisSyslog-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ToggleAuditRulesNemesisSyslog-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ToggleAuditRulesNemesisSyslog-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ToggleAuditRulesNemesisSyslog-oci.jenkinsfile
Due: none

audit: support rule-based configuration
  sdcm/audit.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  unit_tests/unit/test_audit.py
  unit_tests/unit/test_scylla_yaml.py
Due: ruff-format, ruff

docs: remove outdated enterprise-only comments
  docs/docker-backend-nemesis.md
Due: none

nemesis: require audit rules config for validation
  configurations/nemesis/ToggleAuditRulesNemesisSyslog.yaml
  configurations/toggle-audit-rules-nemesis.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  docs/docker-backend-nemesis.md
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(logcollector): break circular import between sdcm.logcollector and sdcm.monitorstack
  sct.py
  sdcm/logcollector.py
  sdcm/monitorstack/__init__.py
  sdcm/monitorstack/constants.py
  sdcm/monitorstack/restore.py
  sdcm/monitorstack/verify.py
  sdcm/utils/common.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff
