Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

temp: add unthrottle
  configurations/performance/cassandra_stress_gradual_load_steps_enterprise.yaml
Due: none

fix(gemini): metrics not beining read properly after 2.0
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: autopep8, ruff

improvement(latte): use host network and disable secure computing mode
  sdcm/stress/latte_thread.py
Due: autopep8, ruff

fix(trigger): not pass unnesessary params
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

fix(integration-test): stop using `sudo` under podman
  sct.py
  sdcm/utils/docker_remote.py
  sdcm/utils/docker_utils.py
Due: autopep8, ruff

fix(podman): make sure refs to dockerhub are full
  docker/env/hydra.sh
  unit_tests/conftest.py
Due: autopep8, ruff

fix(gemini-integration): extend the timeout waiting for threads
  unit_tests/conftest.py
  unit_tests/test_gemini_thread.py
Due: autopep8, ruff

fix(docker_remote.py): login to Dockerhub and pull image under the same context
  sdcm/utils/docker_remote.py
  sdcm/utils/docker_utils.py
Due: autopep8, ruff

test(trigger): run scylla-bench with rackaware validation in tier1
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

fix(podman): make sure refs to dockerhub are full
  docker/env/hydra.sh
Due: none

fix(gemini-integration): extend the timeout waiting for threads
  unit_tests/test_gemini_thread.py
Due: autopep8, ruff

test(rackaware): add support rackaware for python driver
  sdcm/cluster.py
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(longevity): new test configuration for LWT with tablets testing
  data_dir/latte/lwt_load.rn
  test-cases/longevity/longevity-lwt-basic-24h.yaml
Due: none

test
  sdcm/tester.py
  sdcm/ycsb_thread.py
Due: autopep8, ruff

chore: bump operator version to 1.18.0-beta.3 for upgrade tests
  jenkins-pipelines/operator/upgrade/upgrade-major-scylla-k8s-eks.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-major-scylla-k8s-gke.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-major-scylla-podips-k8s-eks.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-major-scylla-podips-k8s-gke.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-operator-k8s-eks.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-operator-k8s-gke.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-platform-k8s-eks.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-platform-k8s-gke.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-scylla-k8s-eks.jenkinsfile
  jenkins-pipelines/operator/upgrade/upgrade-scylla-k8s-gke.jenkinsfile
Due: none

try to publish to workload type correctly
  performance_regression_gradual_grow_throughput.py
Due: autopep8, ruff

temp: set steps for i7i on all workloads
  configurations/performance/cassandra_stress_gradual_load_steps_enterprise.yaml
Due: none

test
  sdcm/ycsb_thread.py
Due: autopep8, ruff

feature(nemesis): introduce `protected_db_nodes`
  data_dir/nemesis.yml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/nemesis.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/nemesis_utils/node_allocator.py
  unit_tests/nemesis/test_node_allocator.py
  unit_tests/test_config.py
Due: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

test(protected_db_nodes): on 50gb test-case
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
Due: none

improvement(coredump): add logging if coredumpctl fails
  sdcm/coredump.py
Due: autopep8, ruff

test
  sdcm/utils/hdrhistogram.py
Due: autopep8, ruff

test
  performance_regression_alternator_test.py
  sdcm/utils/hdrhistogram.py
Due: autopep8, ruff

fix(manager): up monitor version used in Manager tests to latest 4.11
  configurations/manager/debian11.yaml
  configurations/manager/rocky8.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu20.yaml
  configurations/manager/ubuntu24.yaml
Due: none

improvement(argus): add more logging when finilizing run
  sct.py
Due: autopep8, ruff

fix(manager): switch to Debian12 distro in Manager debian tests
  configurations/manager/debian12.yaml
  jenkins-pipelines/manager/debian12-manager-install.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-upgrade.jenkinsfile
  sdcm/cluster.py
Due: autopep8, ruff
