Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

improvement(argus): Update client to 0.15.13
  argus/_version.py
  argus/client/base.py
  argus/client/sct/client.py
  argus/common/utils.py
  argus/version
Due: none

improvement(utils/argus): Use the ts field
  sdcm/utils/argus.py
Due: ruff-format, ruff

fix(sdcm/tester): Handle all exceptions when submitting to Argus
  sdcm/tester.py
Due: ruff-format, ruff

fix(config): handle IntOrList for n_db_nodes
  platform_migration_test.py
  sdcm/mgmt/operations.py
  sdcm/nemesis/__init__.py
  sdcm/sct_config.py
  sdcm/sct_provision/gce/gce_region_definition_builder.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

refactor(perf-jobs): remove perf_extra_jobs_to_compare from jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-i8g-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-i8g-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-elasticity.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-i8g-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-i8g-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_arm64.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-simple-query-weekly-microbenchmark_x86_64.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-latency-650gb-during-rolling-upgrade-latte.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-latency-650gb-grow-shrink-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-latency-650gb-grow-shrink.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-throughput-shard-aware-gce-z3.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-master-perf-regression-latency-650gb-grow-shrink-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-master-perf-regression-latency-650gb-grow-shrink.jenkinsfile
Due: none

ci(perf-regression): pass job_throttle_category parameter to i8g jobs
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

feature(cluster): add callback-based node configuration mechanism
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(cluster): propagate after_config to all backend add_nodes overrides
  sdcm/cluster_azure.py
  sdcm/cluster_baremetal.py
  sdcm/cluster_cloud.py
  sdcm/cluster_docker.py
  sdcm/cluster_gce.py
  sdcm/cluster_k8s/__init__.py
  sdcm/cluster_k8s/eks.py
  sdcm/cluster_k8s/gke.py
  sdcm/cluster_oci.py
  sdcm/kafka/kafka_cluster.py
Due: ruff-format, ruff

docs(plans): add mini-plan for callback-based node configuration
  docs/plans/mini-plans/2026-03-22-callback-based-node-configuration.md
Due: none

feature(trigger-matrix): implement centralized YAML-driven trigger matrix for Jenkins jobs
  configurations/triggers/perf-regression.yaml
  configurations/triggers/sanity.yaml
  configurations/triggers/tier1.yaml
  docs/testing/trigger-matrix.md
  jenkins-pipelines/master-triggers/sct_triggers/_deprecated_jobs.yaml
  jenkins-pipelines/master-triggers/sct_triggers/perf-regression-matrix-trigger.jenkinsfile
  jenkins-pipelines/oss/sct_triggers/_deprecated_jobs.yaml
  jenkins-pipelines/oss/sct_triggers/sanity-trigger.jenkinsfile
  jenkins-pipelines/oss/sct_triggers/tier1-trigger.jenkinsfile
  sct.py
  sdcm/utils/trigger_matrix.py
  unit_tests/test_trigger_matrix.py
  utils/build_system/create_test_release_jobs.py
  vars/triggerMatrixPipeline.groovy
Due: ruff-format, ruff

fix(pipelines): add try/finally cleanup and fix CPS scoping in perfRegressionParallelPipeline
  vars/perfRegressionParallelPipeline.groovy
Due: none

fix(skill): make fix-backport-conflicts worktree-safe and add bulk mode
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(skill): add permissions and fix recommit logic for worktree safety
  .claude/settings.json
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(nemesis): fix AttributeError when run() handles UnsupportedNemesis after execute_nemesis clears current_disruption
  sdcm/nemesis/__init__.py
  unit_tests/nemesis/execute_nemesis/test_consecutive_skips.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(skill): always dispatch fix-backport to isolated worktree subagent
  skills/fix-backport-conflicts/SKILL.md
Due: none

test: Extract common classes
  unit_tests/lib/fake_cluster.py
  unit_tests/lib/fake_tester.py
  unit_tests/lib/real_events.py
  unit_tests/nemesis/__init__.py
  unit_tests/nemesis/test_sisyphus.py
  unit_tests/nemesis/test_specific_nemesis.py
  unit_tests/test_adaptive_timeouts.py
  unit_tests/test_cluster.py
  unit_tests/test_decode_backtrace.py
  unit_tests/test_events.py
  unit_tests/test_gce_log_monitor.py
  unit_tests/test_gemini_thread.py
  unit_tests/test_longevity.py
  unit_tests/test_python_driver.py
  unit_tests/test_scan_operation_thread.py
  unit_tests/test_sla_utils.py
  unit_tests/test_tester.py
  unit_tests/test_utils_common.py
  unit_tests/test_utils_database_query_utils.py
Due: ruff-format, ruff

test: Merge test_sla_utils DummyNode into canonical lib/fake_cluster DummyNode
  unit_tests/lib/fake_cluster.py
  unit_tests/test_sla_utils.py
Due: ruff-format, ruff

fix(skill): wrap dangerous ops in script, scope permissions to script only
  .claude/scripts/fix-backport.sh
  .claude/settings.json
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(elasticity with nemesis): increase prepare duration
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
Due: none

fix(stress-tools): handle empty HDR histogram summary in split_line
  sdcm/loader.py
  sdcm/utils/hdrhistogram.py
Due: ruff-format, ruff

fix(skill): prevent unrelated files leaking into recommitted backports
  .claude/scripts/fix-backport.sh
  skills/fix-backport-conflicts/SKILL.md
Due: none

fix(nemesis): clear current_disruption in run() finally, not execute_nemesis()
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
