Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix: syntax typo #2
  sdcm/utils/k8s/__init__.py
Due: autopep8, ruff

test(elastic-cloud): add test that check reclaiming space at 90%
  jenkins-pipelines/oss/features/elasticity/elasticity-90-percent-drop.jenkinsfile
  jenkins-pipelines/oss/features/elasticity/elasticity-90-percent-truncate.jenkinsfile
  jenkins-pipelines/oss/features/elasticity/elasticity-90-percent-ttl.jenkinsfile
  test-cases/features/elasticity/elasticity-90-percent-i4i-2xlarge-drop.yaml
  test-cases/features/elasticity/elasticity-90-percent-i4i-2xlarge-truncate.yaml
  test-cases/features/elasticity/elasticity-90-percent-i4i-2xlarge-ttl.yaml
Due: none

feature(mgmt_cli_test.py): adds test of Scylla Manager Alternator restore
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu24-manager-backup-alternator.jenkinsfile
  mgmt_cli_test.py
  sdcm/mgmt/cli.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/alternator/api.py
  test-cases/manager/manager-regression-alternator-singleDC-set-distro.yaml
Due: autopep8, ruff, update-conf-docs

improvement(performance): move upgrade with tablets to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-tablets.jenkinsfile
Due: none

improvement(performance): move nemesis test to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis.jenkinsfile
Due: none

improvement(performance): move nemesis with tablets test to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-tablets.jenkinsfile
Due: none

improvement(performance): move RBNO disabled test to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-rbno-disabled.jenkinsfile
Due: none

feature(gce): Enable GCP Cloud KMS encryption with key rotation
  docs/configuration_options.md
  pyproject.toml
  sdcm/cluster.py
  sdcm/keystore.py
  sdcm/provision/gce/__init__.py
  sdcm/provision/gce/kms_provider.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/gcp_kms.py
  test-cases/longevity/longevity-gcp-kms-10gb-3h.yaml
  uv.lock
Due: autopep8, ruff, update-conf-docs

fix(trigger): scylla version for nemesis test
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

build(deps): add dependency for gcp kms keyvault to pyproject.toml
  pyproject.toml
  uv.lock
Due: none

improvement(treewide): Move internal_test_data into unit_tests
  docs/new-hydra-commands.md
  unit_tests/test_config.py
  unit_tests/test_config_get_version_based_on_conf.py
  unit_tests/test_configs/complex_test_case_with_version.yaml
  unit_tests/test_configs/cs_user_profile.yaml
  unit_tests/test_configs/minimal_test_case.yaml
  unit_tests/test_configs/multi_region_dc_test_case.yaml
  unit_tests/test_configs/negative_fullscan_param.yaml
  unit_tests/test_configs/nemesis_selector_list.yaml
  unit_tests/test_configs/nemesis_selector_list_of_list.yaml
  unit_tests/test_configs/network_config_interface_not_defined.yaml
  unit_tests/test_configs/network_config_interface_param_not_defined.yaml
  unit_tests/test_configs/network_config_interface_param_public_not_primary.yaml
  unit_tests/test_configs/positive_fullscan_param.yaml
  unit_tests/test_configs/simple_test_case.yaml
  unit_tests/test_configs/stress_cmd_with_bad_profile.yaml
  unit_tests/test_configs/unknown_param_in_config.yaml
  unit_tests/test_utils__operator__multitenant_common.py
Due: autopep8, ruff

fix: standardize namespace creation logic for Scylla deployments
  sdcm/cluster_k8s/__init__.py
Due: autopep8, ruff

fix(treewide): Move unittests to correct folder
  unit_tests/test_sync.py
  unit_tests/test_user_data_builders.py
Due: autopep8, ruff

feature(libssh2): support connection to ssh server with none auth
  sdcm/remote/libssh2_client/__init__.py
  sdcm/remote/remote_libssh_cmd_runner.py
  unit_tests/test_data/auth_none_ssh_docker/Dockerfile
  unit_tests/test_ssh_server.py
Due: autopep8, ruff

fix(health checker): collect DC from gossip info
  sdcm/cluster.py
Due: autopep8, ruff

fix(manager): make 3.6.0 a default version of Manager
  defaults/manager_versions.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  unit_tests/test_sdcm_mgmt_common.py
  vars/managerPipeline.groovy
Due: autopep8, ruff, update-conf-docs

ci(manager): support upgrade scenario from Manager 3.6
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
Due: none

ci(manager): support upgrade scenario from Manager 3.6
  jenkins-pipelines/manager/debian11-manager-upgrade.jenkinsfile
Due: none

fix(cluster): cql_connection for exclusive node
  sdcm/cluster.py
Due: autopep8, ruff

debug: make logging less much noisy
  sdcm/utils/log.py
Due: autopep8, ruff

fix(pipelines): read backends directly from params
  vars/artifactsPipeline.groovy
  vars/jepsenPipeline.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
  vars/rollingUpgradePipeline.groovy
Due: none

debug: fix formatting not being applied for timestamps
  sdcm/utils/log.py
Due: autopep8, ruff

Revert "fix(azure): set stable dns servers"
  sdcm/provision/azure/virtual_network_provider.py
Due: autopep8, ruff
