Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(azure): prolong provision stage for Azure
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: none

ci(artifacts): remove CentOS 7 artifact tests and pipeline references
  docs/artifacts_test.md
  docs/sct_pipelines.plantuml
  jenkins-pipelines/oss/artifacts-offline-install/artifacts-centos7.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-centos7.jenkinsfile
  test-cases/artifacts/centos7.yaml
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/test_configs/complex_test_case_with_version.yaml
  unit_tests/test_data/test_scylla_yaml_builders/PR-provision-test.yaml
  unit_tests/unit/test_config.py
  vars/artifactsPipeline.groovy
Due: ruff-format, ruff

ci(rolling-upgrade): add Ubuntu 26.04 rolling upgrade job
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2604.jenkinsfile
Due: none

fix(nemesis): handle list-type stress_cmd in _double_cluster_load
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(perf-tests): reduce cassandra-stress JVM heap size for elasticity test
  test-cases/performance/perf-regression-latency-650gb-elasticity.yaml
Due: none

ci(rolling-upgrade): deprecate Ubuntu 22.04 rolling upgrade job
  jenkins-pipelines/master-triggers/sct_triggers/weekly-master-images-rolling-upgrades-trigger.xml
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2204.jenkinsfile
  jenkins-pipelines/oss/rolling-upgrade/rolling-upgrade-ubuntu2604.jenkinsfile
Due: none

docs(gcp-setup): comprehensive GCP project setup guide and automation script
  docs/gcp_create_new_project.md
  docs/setup_gcp_project.sh
Due: none

fix(nemesis): handle list-type stress_cmd in _double_cluster_load
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(gcp-setup): address review feedback on setup script and docs
  docs/gcp_create_new_project.md
  docs/setup_gcp_project.sh
Due: none

feature(gce): enable use_dns_names support for GCE backend
  sdcm/cluster_gce.py
  sdcm/sct_config.py
  unit_tests/test_gce_use_dns_names.py
Due: ruff-format, ruff, update-conf-docs

fix(network): restore use_dns_names for listen/rpc/broadcast_rpc addresses
  defaults/gce_config.yaml
  sdcm/cluster_gce.py
  sdcm/provision/network_configuration.py
  unit_tests/test_gce_use_dns_names.py
Due: ruff-format, ruff, update-conf-docs

fix(upgrade): use scylla-enterprise-server for enterprise detection in rolling upgrades
  upgrade_test.py
Due: ruff-format, ruff

feature(keystore): add Secrets Manager backend with caching, retry, and logging
  AGENTS.md
  Jenkinsfile
  defaults/baremetal_config.yaml
  defaults/test_default.yaml
  docker/env/hydra.sh
  docs/configuration_options.md
  docs/plans/keystore-improvements.md
  sct.py
  sdcm/keystore.py
  sdcm/remote/kubernetes_cmd_runner.py
  sdcm/sct_config.py
  sdcm/sct_runner.py
  sdcm/utils/aws_builder.py
  sdcm/utils/aws_region.py
  sdcm/utils/common.py
  sdcm/utils/gce_builder.py
  sdcm/utils/gcp_kms.py
  sdcm/utils/s3_remote_uploader.py
  vars/copyLogsFromSctRunner.groovy
Due: ruff-format, ruff, update-conf-docs

test(keystore): add comprehensive unit tests for KeyStore
  unit_tests/test_keystore.py
Due: ruff-format, ruff

docs(keystore): add S3-to-Secrets-Manager migration guide and tooling
  docs/keystore-secrets-manager.md
  scripts/validate-keystore-sm.sh
Due: none

feature(docker): add Scylla Manager support for Docker backend
  sdcm/cluster_docker.py
  sdcm/mgmt/__init__.py
  sdcm/mgmt/cli.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(keystore): migrate remaining callers to unified API and fix SM fallback
  sdcm/keystore.py
  unit_tests/unit/provisioner/test_azure_region_definition_builder.py
  unit_tests/unit/provisioner/test_provisioner.py
Due: ruff-format, ruff

fix(scylla-doctor): download vitals/logs with sudo on root installs
  sdcm/tester.py
Due: ruff-format, ruff

fix(docker): use local runner for Docker backend loaders instead of containers
  sdcm/cluster_docker.py
  sdcm/tester.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(azure): prolong provision stage for Azure
  vars/longevityPipeline.groovy
Due: none

fix(test): prevent TestConfig singleton contamination in GCE region builder tests
  unit_tests/unit/provisioner/test_gce_region_definition_builder.py
Due: ruff-format, ruff

fix(manager): bump default Manager version to 3.11 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/unit/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(node_exporter): fail on HTTP errors when downloading tarball
  sdcm/node_exporter_setup.py
  unit_tests/test_curl_utils.py
Due: ruff-format, ruff

fix(tester): guard DECODING_QUEUE.close() with hasattr check
  sdcm/tester.py
Due: ruff-format, ruff

fix(cluster): accept after_config in _create_node
  sdcm/cluster_aws.py
  sdcm/cluster_docker.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(vector-store): retrieve VS version via HTTP API request
  sdcm/cluster_aws.py
  sdcm/cluster_cloud.py
  sdcm/cluster_docker.py
  sdcm/reporting/tooling_reporter.py
  sdcm/utils/vector_store_utils.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
