Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

ci(pipelines): run the provision step for the gce backend
  Jenkinsfile
Due: none

fix(gce-provision): fail fast on ZONE_RESOURCE_POOL_EXHAUSTED
  sdcm/provision/gce/instance_provider.py
Due: ruff-format, ruff

fix(gce): fix PD SSD disks attachment
  sdcm/sct_provision/gce/gce_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
Due: ruff-format, ruff

ci(jenkins): add GCE backend support to provision resources stage
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/provisionResources.groovy
  vars/rollingUpgradePipeline.groovy
Due: none

fix(provision/gce): add zone fallback on GCE resource pool exhaustion
  sdcm/cluster_gce.py
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/gce_utils.py
  unit_tests/provisioner/test_gce_zone_resolver.py
Due: ruff-format, ruff

provision/gce: remove unused constants from constants.py
  sdcm/provision/gce/constants.py
Due: ruff-format, ruff

fix(gce-provision): respect gce_root_disk_type_* config for all node types
  sdcm/provision/gce/instance_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_provision/gce/gce_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
  unit_tests/provisioner/test_gce_region_definition_builder.py
Due: ruff-format, ruff

fix(gce): properly configure PD disks if specified
  sdcm/sct_provision/gce/gce_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
Due: ruff-format, ruff

fix(integration-tests): seed moto Secrets Manager, drop retired keys
  test_sync.py
  unit_tests/test_aws_services.py
Due: ruff-format, ruff

fix(keystore): chmod the Secrets Manager version sidecar
  sdcm/keystore.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(integration-tests): drop retired keys from the sync test
  test_sync.py
Due: ruff-format, ruff

fix(version_utils): read the arch-specific docker image tag
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

chore(hydra): pin the image that carries pytest-xdist
  docker/env/version
Due: none

fix(unit_tests): unpin the AMI branch, and use this branch's method name
  unit_tests/integration/test_sstable_load_utils.py
  unit_tests/test_config.py
Due: ruff-format, ruff

fix(nemesis): ignore benign SSTable-load gate-closed error during NoCorruptRepairMonkey
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
  unit_tests/unit/test_sct_events_database.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(http): document curl and requests retry conventions
  .coderabbit.yaml
  AGENTS.md
  README.md
  docs/http-retry-conventions.md
  docs/plans/mini-plans/2026-04-05-curl-requests-retry-enforcement.md
  skills/code-review/SKILL.md
  skills/code-review/references/common-issues.md
Due: none

fix(sct_events): don't abort test on benign GCE live-migration event for loader nodes
  sdcm/sct_events/events_analyzer.py
  unit_tests/unit/test_sct_events_events_analyzer.py
Due: ruff-format, ruff

style(sct_events): replace ticket reference with timeless rationale in GCE live-migration comment
  sdcm/sct_events/events_analyzer.py
  unit_tests/unit/test_sct_events_events_analyzer.py
Due: ruff-format, ruff

feature(perf): sample loader CPU and threads during perf runs
  data_dir/loader_cpu_sampler.sh
  defaults/test_default.yaml
  docs/collected-logs.md
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/loader_cpu_diagnostics_setup.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_loader_cpu_diagnostics.py
Due: ruff-format, ruff, update-conf-docs

feature(monitoring): enable the node_exporter processes collector
  sdcm/node_exporter_setup.py
Due: ruff-format, ruff

feature(perf): report per-step loader load next to the latencies
  docs/performance-tests.md
  docs/plans/mini-plans/2026-08-27-sct601-loader-cpu-diagnostics.md
  sdcm/argus_results.py
  sdcm/utils/decorators.py
  sdcm/utils/latency.py
  unit_tests/unit/test_loader_load_metrics.py
Due: ruff-format, ruff

test(unit_tests): drop the Elasticsearch-era microbenchmarking test
  unit_tests/test_microbenchmarking.py
Due: ruff-format, ruff

fix(integration-tests): run the integration suite in parallel
  Jenkinsfile
  requirements.in
  requirements.txt
  sct.py
  unit_tests/test_alternator_streams_kcl.py
  unit_tests/test_cassandra_harry.py
  unit_tests/test_cassandra_stress_thread.py
  unit_tests/test_cluster.py
  unit_tests/test_cql_stress_cassandra_stress_thread.py
  unit_tests/test_kafka.py
  unit_tests/test_latte_thread.py
  unit_tests/test_ndbench_thread.py
  unit_tests/test_python_driver.py
  unit_tests/test_run_cqlsh.py
  unit_tests/test_scylla_bench_thread.py
  unit_tests/test_utils_database_query_utils.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

feature(sizing): migrate alternator test-case configs to constraint-based sizing
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
Due: none

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/test_events.py
  unit_tests/test_sct_events_filters.py
Due: ruff-format, ruff

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/restore.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

fix(monitor): point to recreated 4.16.0 monitor image
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(monitor): drop conflicting node exporter before manager backend install
  sdcm/cluster.py
  unit_tests/unit/test_manager_backend_node_exporter.py
Due: ruff-format, ruff

fix(sdcm/cluster): Update overview template to use 4.16 monitoring
  data_dir/monitoring-dash-template.json
  sdcm/cluster.py
Due: ruff-format, ruff

improvement(monitor): Update to 4.16.x branch
  configurations/manager/debian12.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/integration/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff
