Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(tls): include broadcast_rpc_address in client-facing cert SANs for split-network topology
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/provision/network_configuration.py
Due: ruff-format, ruff

feature(sizing): add constraint-based cross-cloud instance sizing
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  defaults/oci_config.yaml
  defaults/test_default.yaml
  sct.py
  sct_sizing.py
  sdcm/sct_config.py
  sdcm/utils/cloud_catalog/__init__.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/instance_catalog.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/cloud_monitor/resources/instances.py
  unit_tests/integration/test_catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
  unit_tests/unit/test_instance_catalog.py
  unit_tests/unit/test_instance_matcher.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff, update-conf-docs

config(sizing): add generated instance catalog YAML files
  data/instance_catalog/aws.yaml
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/oci.yaml
  data/instance_catalog/sizing_config.yaml
Due: none

config(sizing): migrate test configs to constraint-based sizing syntax
  configurations/2TB_high_disk_used_capacity.yaml
  test-cases/PR-provision-test.yaml
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-mv-si-4days.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
  test-cases/longevity/longevity-twcs-48h.yaml
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

fix(sizing): address coderabbitai review comments
  data/instance_catalog/aws.yaml
  data/instance_catalog/sizing_config.yaml
  defaults/test_default.yaml
  docs/cross-cloud-sizing.md
  sct_sizing.py
  sdcm/sct_config.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  sdcm/utils/cloud_catalog/pricing.py
  skills/migrate-to-sizing/SKILL.md
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
  unit_tests/integration/test_catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
  unit_tests/unit/test_instance_matcher.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff, update-conf-docs

docs(sizing): add cross-cloud sizing documentation and migration skill
  README.md
  data/instance_catalog/sizing_config.yaml
  docs/configuration_options.md
  docs/cross-cloud-sizing.md
  skills/migrate-to-sizing/SKILL.md
  skills/migrate-to-sizing/workflows/migrate-config.md
Due: none

fix(config): disable simulated_racks for multi-dc-rackaware-validation test
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
Due: none

fix(tls): include broadcast_rpc_address in client-facing cert SANs for split-network topology
  sdcm/cluster.py
  sdcm/provision/network_configuration.py
Due: ruff-format, ruff

fix(nemesis): downgrade expected raft gate-closed errors
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(azure): add ARM (aarch64) artifact and longevity test cases
  configurations/azure/azure-arm.yaml
  jenkins-pipelines/oss/artifacts/artifacts-azure-image-arm.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-100gb-4h-azure-arm.jenkinsfile
  test-cases/artifacts/azure-image-arm.yaml
Due: none

refactor(scale): consolidate stress workload and optimize cluster operations
  configurations/scale/scale-180-200.yaml
  configurations/scale/scale-40-60.yaml
  configurations/scale/scale-450-500.yaml
  test-cases/scale/scale-cluster.yaml
Due: none

fix(azure): raise SpotTerminationEvent when spot VM evicted during provisioning
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff

fix(migrator): mirror Spark 4.x to S3
  sdcm/provision/aws/emr_provisioner.py
  sdcm/spark_migrator.py
  unit_tests/unit/test_emr_provisioner.py
  unit_tests/unit/test_spark_migrator.py
Due: ruff-format, ruff

improvement(argus): enable Argus SSH Tunneling by default
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(renovate): fix scylla-doctor JSONata extracting only first version
  renovate.json
  scripts/test-renovate-local.sh
Due: none

fix(build-system): wire scylla-doctor into job generation and staging trigger
  sct.py
  utils/staging_trigger/job_generation.py
Due: ruff-format, ruff

fix(build-system): place _symlinks.yaml at correct directory depth
  jenkins-pipelines/scylla-doctor/oss/_display_name
  jenkins-pipelines/scylla-doctor/oss/artifacts/_display_name
  jenkins-pipelines/scylla-doctor/oss/artifacts/_symlinks.yaml
  utils/staging_trigger/job_generation.py
Due: ruff-format, ruff

feature(build-system): add _symlinks.yaml support for Jenkins pipeline job reuse
  jenkins-pipelines/scylla-doctor/_symlinks.yaml
  unit_tests/unit/test_pipeline_symlinks.py
  utils/build_system/create_test_release_jobs.py
Due: ruff-format, ruff

fix(azure-provision): wrap storageProfile under properties for SDK v38
  sdcm/provision/azure/virtual_machine_provider.py
Due: ruff-format, ruff

fix(azure): align azure_region.py with SDK v38 properties nesting
  sdcm/utils/azure_region.py
Due: ruff-format, ruff

feat(nemesis): add precheck() hook to NemesisBaseClass
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): prune infeasible nemesis via precheck_nemesis() before the run loop
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/__init__.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
