Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

docs(plans): curl & requests retry enforcement mini-plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/mini-plans/2026-04-05-curl-requests-retry-enforcement.md
  docs/plans/progress.json
Due: none

feature(http): enforce retry/timeout on all curl and requests calls
  sdcm/cloud_api_client.py
  sdcm/cluster.py
  sdcm/db_stats.py
  sdcm/gemini_thread.py
  sdcm/kafka/kafka_cluster.py
  sdcm/logcollector.py
  sdcm/prometheus.py
  sdcm/rest/remote_curl_client.py
  sdcm/rest/rest_client.py
  sdcm/sct_config.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  sdcm/utils/common.py
  sdcm/utils/curl.py
  sdcm/utils/scylla_metrics_ctrl.py
  sdcm/utils/session.py
  unit_tests/test_curl_utils.py
  unit_tests/unit/rest/test_compaction_manager_client.py
  unit_tests/unit/rest/test_error_injection_client.py
  unit_tests/unit/rest/test_rest_client.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff, update-conf-docs

docs(conventions): add HTTP resilience conventions and review guidance
  AGENTS.md
  skills/code-review/SKILL.md
  skills/code-review/references/common-issues.md
Due: none

Update investigating-perf-regression skill with Phase 7 deep dive and new metrics
  skills/investigating-perf-regression/SKILL.md
  skills/investigating-perf-regression/references/prometheus-queries.md
  skills/investigating-perf-regression/workflows/investigate-perf-regression.md
Due: none

fix(install): explicitly install scylla-node-exporter package
  sdcm/cluster.py
Due: ruff-format, ruff

fix(gce-provision): align cloud-init SSH timeout to 300s
  sdcm/cluster_aws.py
  sdcm/cluster_gce.py
Due: ruff-format, ruff

fix(jenkins-pipeline): stop pullRequestSetResult from poisoning overall build result
  vars/pullRequestSetResult.groovy
Due: none

docs(plans): add AWS capacity validation and AZ fallback plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/aws-capacity-az-fallback.md
  docs/plans/progress.json
Due: none

fix(aws-provision): fix AwsFipsCiBuilder image creation and package install
  sct.py
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(jenkins): prioritize requested_by_user param in getRunningUserId
  vars/tagBuilder.groovy
Due: none

docs(plan): add cross-cloud instance sizing abstraction plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/config/cross-cloud-sizing.md
  docs/plans/progress.json
Due: none

feature(sizing): add cross-cloud instance size mapping module and unit tests
  sdcm/utils/cloud_sizes.py
  unit_tests/unit/test_cloud_sizes.py
Due: ruff-format, ruff

feature(sizing): add abstract instance size params and resolution logic in sct_config
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

feature(sizing): add show-sizes and translate-size CLI commands to sct.py
  sct.py
  unit_tests/test_data/test_abstract_sizing.yaml
Due: ruff-format, ruff

feature(sizing): migrate longevity test configs to use abstract instance sizes
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-100gb-4h.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
  test-cases/longevity/longevity-cdc-100gb-4h.yaml
  test-cases/longevity/longevity-counters-3h.yaml
  test-cases/longevity/longevity-harry-2h.yaml
  test-cases/longevity/longevity-large-partition-3h.yaml
  test-cases/longevity/longevity-lwt-basic-3h.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h.yaml
  test-cases/longevity/longevity-twcs-3h.yaml
Due: none

docs(sizing): add cross-cloud sizing documentation and update AGENTS.md
  AGENTS.md
  docs/cross-cloud-sizing.md
Due: none

fix(sizing): add loader 2xlarge, strict validation, and identify_size error handling
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/utils/cloud_sizes.py
  unit_tests/unit/test_cloud_sizes.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

improvement(sizing): add --keep-abstract flag to translate-size and link docs
  docs/sct-configuration.md
  sct.py
Due: ruff-format, ruff

refactor(sizing): move loader/monitor defaults from cloud configs to abstract sizes
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  defaults/oci_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(install): add restorecon for node_exporter binary on RHEL systems
  sdcm/node_exporter_setup.py
Due: ruff-format, ruff

fix(unit_tests): adapt cherry-picked tests for branch differences
  unit_tests/integration/conftest.py
  unit_tests/integration/test_config.py
  unit_tests/lib/fake_tester.py
  unit_tests/test_microbenchmarking.py
  unit_tests/test_send_email.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_scan_operation_thread.py
Due: ruff-format, ruff

Revert "test(backup): add test for native backup on google cloud"
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/object_storage.yaml
  configurations/object_storage_gcs.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
  performance_regression_manager_backup_test.py
  sdcm/cluster.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: ruff-format, ruff

Revert "fix(pipelines): update object_storage.yaml references to object_storage_s3.yaml"
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-1tb-1t-3nodes.jenkinsfile
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-1tb-2t-9nodes-rclone.jenkinsfile
  jenkins-pipelines/manager/restore_benchmark/ubuntu22-manager-1tb-2t-9nodes.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-backup-restore-custom-dataset.jenkinsfile
  jenkins-pipelines/oss/vnodes/backup/ubuntu22-manager-1tb-2t-9nodes-vnodes.jenkinsfile
Due: none

feature(longevity): add test for vnode to tablet migration
  jenkins-pipelines/oss/longevity/longevity-vnode-to-tablet-migration.jenkinsfile
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff

feat(loaders): detect dead loader nodes and fail test early
  defaults/severities.yaml
  sdcm/cluster.py
  sdcm/sct_events/loaders.py
  sdcm/tester.py
  unit_tests/unit/test_loader_health_check.py
Due: ruff-format, ruff, update-conf-docs

ci(workflows): replace ISSUE_ASSIGNMENT_TO_PROJECT_TOKEN with AUTO_BACKPORT_TOKEN
  .github/workflows/cache-issues.yaml
Due: none

refactor(manager): unify backup/restore and auto-discover ks tables
  mgmt_cli_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

feature(manager): add multi-keyspace data validation workload with latte
  data_dir/latte/mgmt_data_validation.rn
Due: none

test(manager): add latte config for multi-DC sanity and wire pipeline
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  test-cases/manager/manager-sanity-multidc-latte.yaml
Due: none

ci(workflows): fix cache-issues 504 timeout by paginating and retrying
  .github/workflows/cache-issues.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
