Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(tier1-trigger): Fix longevity-harry name
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

feature(ycsb): update offical scylla dockerhub build
  defaults/docker_images/ycsb/values_ycsb.yaml
  sdcm/ycsb_thread.py
Due: autopep8, ruff, update-conf-docs

fix(renovate): fix labeling
  renovate.json
Due: none

feature(gce): Enable GCP Cloud KMS encryption with key rotation
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/keystore.py
  sdcm/provision/gce/__init__.py
  sdcm/provision/gce/kms_provider.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/gcp_kms.py
  test-cases/longevity/longevity-gcp-kms-10gb-3h.yaml
Due: autopep8, ruff, update-conf-docs

improvement(treewide): Move internal_test_data into unit_tests
  docs/new-hydra-commands.md
  unit_tests/test_config.py
  unit_tests/test_config_get_version_based_on_conf.py
  unit_tests/test_configs/complex_test_case_with_version.yaml
  unit_tests/test_configs/cs_user_profile.yaml
  unit_tests/test_configs/minimal_test_case.yaml
  unit_tests/test_configs/multi_region_dc_test_case.yaml
  unit_tests/test_configs/negative_fullscan_param.yaml
  unit_tests/test_configs/nemesis_selector_list.yaml
  unit_tests/test_configs/nemesis_selector_list_of_list.yaml
  unit_tests/test_configs/network_config_interface_not_defined.yaml
  unit_tests/test_configs/network_config_interface_param_not_defined.yaml
  unit_tests/test_configs/network_config_interface_param_public_not_primary.yaml
  unit_tests/test_configs/positive_fullscan_param.yaml
  unit_tests/test_configs/simple_test_case.yaml
  unit_tests/test_configs/stress_cmd_with_bad_profile.yaml
  unit_tests/test_configs/unknown_param_in_config.yaml
  unit_tests/test_utils__operator__multitenant_common.py
Due: autopep8, ruff

improvement(CMakeLists): Remove CMakeLists.txt
  CMakeLists.txt
Due: none

improvement(queries-limits): Remove queries-limits
  payload/queries-limits.cc
  queries-limits
Due: none

improvement(treewide): Remove unused tests
  admission_control_overload_test.py
  big_cluster_test.py
  cql_test.py
  custom_cs_test.py
  hinted_handoff_test.py
  maintenance_test.py
  multiple_dc_test.py
  query_limits_test.py
Due: autopep8, ruff

improvement(tox): Remove tox.ini
  tox.ini
Due: none

apply ycsv:0.1.0 patch from fruch
  defaults/docker_images/ycsb/values_ycsb.yaml
  sdcm/ycsb_thread.py
  test-cases/performance/perf-regression-alternator-basic.yaml
  test-cases/performance/perf-regression-alternator-full.yaml
Due: autopep8, ruff, update-conf-docs

refactor(parallel object): move to it's own new file
  functional_tests/scylla_operator/test_functional.py
  ics_space_amplification_goal_test.py
  longevity_operator_multi_tenant_test.py
  longevity_tombstone_gc_test.py
  performance_regression_operator_multi_tenant_test.py
  performance_regression_test.py
  sdcm/logcollector.py
  sdcm/nemesis.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/teardown_validators/sstables.py
  sdcm/tester.py
  sdcm/utils/benchmarks.py
  sdcm/utils/bisect_test.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  sdcm/utils/operator/multitenant_common.py
  sdcm/utils/parallel_object.py
  sdcm/utils/raft/common.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  stop_compaction_test.py
  unit_tests/test_parallelobject.py
  upgrade_test.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(performance): move nemesis with tablets test to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-tablets.jenkinsfile
Due: none

improvement(performance): move nemesis test to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis.jenkinsfile
Due: none

test(backup): add native/rclone backup benchmarking under read/write stress
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/850GB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/performance/latency-decorator-error-thresholds-nemesis-ent-tablets.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/manager/manager-backup-native-backup.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  performance_regression_manager_backup_test.py
  performance_regression_test.py
  sdcm/argus_results.py
  sdcm/mgmt/argus_report.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
  sdcm/mgmt/operations.py
  sdcm/nemesis.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
  unit_tests/test_scylla_yaml.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(ReplicationStrategy): waits for schema agreement
  sdcm/utils/replication_strategy_utils.py
  unit_tests/test_replication_strategy_utils.py
Due: autopep8, ruff

fix(health checker): warn if node is missed in peers table
  sdcm/utils/health_checker.py
Due: autopep8, ruff

build(deps): add dependency for gcp kms keyvault to pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(skip issue): get issue from scylla-drivers repo
  .github/workflows/cache-issues.yaml
Due: none

feature(mgmt_cli_test.py): adds test of Scylla Manager Alternator restore
  jenkins-pipelines/manager/ubuntu22-manager-backup-alternator.jenkinsfile
  mgmt_cli_test.py
  sdcm/mgmt/cli.py
  sdcm/tester.py
  sdcm/utils/alternator/api.py
  sdcm/utils/alternator/consts.py
  test-cases/manager/manager-regression-alternator-singleDC-set-distro.yaml
Due: autopep8, ruff

fix: Create Docker authentication secret in namespaces
  sdcm/cluster_k8s/__init__.py
Due: autopep8, ruff

fix: Inject Docker authentication secret on helm install
  sdcm/utils/k8s/__init__.py
Due: autopep8, ruff

fix(performance): disable simulated racks
  vars/perfRegressionParallelPipeline.groovy
Due: none

improvement(performance): move upgrade with tablets to v17 branch
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-during-rolling-upgrade-tablets.jenkinsfile
Due: none

fix(health checker): collect DC from gossip info
  sdcm/cluster.py
Due: autopep8, ruff

fix(test_config): Adjust for Simulated racks
  unit_tests/test_config.py
Due: autopep8, ruff

feature(treewide): Do not use simulated racks in multidc scenarios
  test-cases/features/google-cloud-snitch-multi-dc.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-large-cluster.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
  test-cases/longevity/longevity-counters-multidc.yaml
  test-cases/longevity/longevity-encryption-at-rest-20GB-6h-multidc.yaml
  test-cases/longevity/longevity-lwt-24h-multidc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multidc-parallel-network-schema-changes-12h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/manager/manager-regression-multiDC-gce.yaml
  test-cases/manager/manager-regression-multiDC-set-distro.yaml
Due: none

feature(scylla-cloud): VPC peering for Scylla cloud clusters
  defaults/cloud_config.yaml
  docs/configuration_options.md
  sdcm/cluster_cloud.py
  sdcm/sct_config.py
  sdcm/utils/resources_cleanup.py
Due: autopep8, ruff, update-conf-docs

fix(trigger): scylla version for nemesis test
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

fix: add missing namespace on Docker Secret creation
  sdcm/cluster_k8s/__init__.py
Due: autopep8, ruff

fix: move k8s namespace to a standard param
  sdcm/cluster_k8s/__init__.py
Due: autopep8, ruff

fix: syntax typo
  sdcm/utils/k8s/__init__.py
Due: autopep8, ruff
