Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

autopep8:
  name: autopep8
  entry: autopep8 -i -j 2
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

test
  test-cases/performance/perf-regression-alternator-basic.yaml
Due: none

test(longevity): new test configuration for LWT with tablets testing
  data_dir/latte/lwt_load.rn
  test-cases/longevity/longevity-lwt-basic-24h.yaml
Due: none

test
  performance_regression_alternator_test.py
Due: autopep8, ruff

feature(vectore-store): add support of VS for docker backend
  defaults/test_default.yaml
  docker/scylla-sct/entry.sh
  docs/configuration_options.md
  sdcm/cluster_docker.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/vector_store_client.py
  unit_tests/conftest.py
  unit_tests/test_scylla_yaml.py
  unit_tests/test_vector_store.py
Due: autopep8, ruff, update-conf-docs

test
  docs/configuration_options.md
  performance_regression_alternator_test.py
  sdcm/sct_config.py
  test-cases/performance/perf-regression-alternator-basic.yaml
  test-cases/performance/perf-regression-alternator-full.yaml
Due: autopep8, ruff, update-conf-docs

fix(artifact): change the logic of expected irq pinned cpus
  sdcm/utils/perftune_validator.py
Due: autopep8, ruff

fix(artifacts): use `scylla_io_setup` and not iotune directly
  sdcm/utils/validators/iotune.py
Due: autopep8, ruff

test(protected_db_nodes): on 50gb test-case
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
Due: none

feature(nemesis): introduce `protected_db_nodes`
  data_dir/nemesis.yml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/nemesis.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/nemesis_utils/node_allocator.py
  unit_tests/nemesis/test_node_allocator.py
  unit_tests/test_config.py
Due: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(trigger): correct job parameters for rolling upgrade and microbenchmark tests
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

test(backup): add native/rclone backup benchmarking under read/write stress
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/850GB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/performance/latency-decorator-error-thresholds-nemesis-ent-tablets.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/manager/manager-backup-native-backup.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  performance_regression_manager_backup_test.py
  performance_regression_test.py
  sdcm/argus_results.py
  sdcm/mgmt/argus_report.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
  sdcm/mgmt/operations.py
  sdcm/nemesis.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
  unit_tests/test_scylla_yaml.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(parallel object): move to it's own new file
  functional_tests/scylla_operator/test_functional.py
  ics_space_amplification_goal_test.py
  longevity_operator_multi_tenant_test.py
  longevity_tombstone_gc_test.py
  performance_regression_operator_multi_tenant_test.py
  performance_regression_test.py
  sdcm/logcollector.py
  sdcm/nemesis.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/teardown_validators/sstables.py
  sdcm/tester.py
  sdcm/utils/benchmarks.py
  sdcm/utils/bisect_test.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  sdcm/utils/operator/multitenant_common.py
  sdcm/utils/parallel_object.py
  sdcm/utils/raft/common.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  stop_compaction_test.py
  unit_tests/test_parallelobject.py
  upgrade_test.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(github-actions): repalce `github.actor` with `github.event.pull_request.user.login`
  .github/workflows/build-docker-image.yaml
  .github/workflows/check-generated-code-updates.yaml
Due: none

feature(tear_validator): introduce validation for memory of `protected_db_nodes`
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/protected_db_nodes_memory.py
  sdcm/tester.py
  sdcm/utils/decorators.py
  sdcm/utils/validators/anomalies_detection.py
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
  unit_tests/test_anomalies_detection.py
Due: autopep8, ruff, update-conf-docs

feature(protected_db_nodes): take memory screenshot on teardown
  sdcm/logcollector.py
  sdcm/monitorstack/ui.py
  sdcm/teardown_validators/protected_db_nodes_memory.py
Due: autopep8, ruff

feature(cpu_bottleneck): collect perf data
  defaults/severities.yaml
  sdcm/sct_events/database.py
  sdcm/sct_events/event_handler.py
  sdcm/sct_events/handlers/cpu_bottleneck.py
  unit_tests/test_cluster.py
  unit_tests/test_cpu_bottleneck_handler.py
  unit_tests/test_data/system_cpu_hog.log
  unit_tests/test_sct_events_database.py
Due: autopep8, ruff, update-conf-docs

test(perf): add logs that should start the process
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(protected_db_nodes): add logic to add nemesis information
  sdcm/teardown_validators/protected_db_nodes_memory.py
  unit_tests/test_protected_db_nodes_memory.py
Due: autopep8, ruff

fix(nemesis): disrupt_load_and_stream timeout change
  sdcm/utils/sstable/load_utils.py
Due: autopep8, ruff

Add performance regression tests for Alternator
  configurations/alternator/enforce-authorization.yaml
  defaults/docker_images/ycsb/values_ycsb.yaml
  docs/configuration_options.md
  jenkins-pipelines/performance/branch-perf-v16/scylla-master/perf-regression/scylla-release-perf-regression-alternator.jenkinsfile
  mgmt_cli_test.py
  performance_regression_alternator_test.py
  performance_regression_gradual_grow_throughput.py
  performance_regression_test.py
  sdcm/argus_results.py
  sdcm/nemesis.py
  sdcm/sct_config.py
  sdcm/send_email.py
  sdcm/stress/base.py
  sdcm/teardown_validators/rackaware.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/decorators.py
  sdcm/utils/hdrhistogram.py
  sdcm/utils/remote_logger.py
  sdcm/utils/version_utils.py
  sdcm/ycsb_thread.py
  test-cases/performance/perf-regression-alternator-basic.yaml
  test-cases/performance/perf-regression-alternator-full.yaml
  test-cases/performance/perf-regression-alternator-latency-500gb-30min.yaml
  unit_tests/test_config.py
  utils/cloud_cleanup/aws/clean_aws.py
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

feature(sct.py): Allow multiple tests to be specified
  sct.py
Due: autopep8, ruff

fix(events): keep the event structure, keep spaces
  sdcm/sct_events/file_logger.py
Due: autopep8, ruff

Path conditions:
  autopep8: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)
  create-nemesis-pipelines: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)
