Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

test(nemesis-refresh): add integration test for refresh monkey flow
  sdcm/nemesis/__init__.py
  sdcm/remote/local_cmd_runner.py
  sdcm/utils/sstable/load_utils.py
  unit_tests/integration/test_sstable_load_utils.py
  unit_tests/lib/fake_cluster.py
  unit_tests/test_data/load_and_stream.log
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix: detect partial provisioning and escalate to CRITICAL severity (SCT-501)
  sdcm/cluster_aws.py
  sdcm/cluster_gce.py
  sdcm/tester.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

fix(okta): update the link to the OKTA setup instuctions
  README.md
Due: none

feat(nemesis): precheck abort decommission tablets support
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/abort_decommission.py
  unit_tests/unit/nemesis/execute_nemesis/test_precheck.py
  unit_tests/unit/nemesis/monkey/test_abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(plans): mark completed full plans
  docs/plans/MASTER.md
  docs/plans/ai-skills-framework.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/config/config-type-normalization.md
  docs/plans/constraint-based-sizing.md
  docs/plans/jenkins/perf-simple-query-offline-installer-trigger.md
  docs/plans/progress.json
  docs/plans/testing/unit-integration-test-separation.md
Due: none

docs(plans): remove merged multitenancy mini-plan
  docs/plans/mini-plans/2026-04-20-remove-multitenantvalue.md
Due: none

docs(plans): move plans into domain folders
  docs/plans/MASTER.md
  docs/plans/ai-tooling/ai-skills-framework.md
  docs/plans/config/constraint-based-sizing.md
  docs/plans/progress.json
  skills/writing-plans/references/plan-templates.md
Due: none

docs(plans): add feature-aware adaptive topology timeouts plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/feature-aware-adaptive-topology-timeouts.md
  docs/plans/progress.json
Due: none

fix(skill): fix max throughput logic and add conclusion review
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/argus-data-format.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(gemini): custom command inherits --duration from configured gemini_cmd
  sdcm/tester.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

improvement(test-cases): retune longevity-change-cluster-size-by-2-times
  data_dir/cs_mv_si_keyspace1.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
Due: none

fix(monitor): show non-DB node metrics on xcloud dashboards
  sdcm/cluster.py
Due: ruff-format, ruff

fix: resolve import errors for backport/15248/to-2025.4 branch
  sdcm/provision/provisioner.py
  sdcm/sct_runner.py
  sdcm/tester.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

refactor(config): enforce strict types for StringOrList
  sdcm/sct_config.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff, update-conf-docs

refactor(config): enforce strict types for BooleanOrList
  docs/sct-configuration.md
  sdcm/sct_config.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff, update-conf-docs

refactor(scale): consolidate stress workload and optimize cluster operations
  configurations/scale/scale-180-200.yaml
  configurations/scale/scale-40-60.yaml
  configurations/scale/scale-450-500.yaml
  test-cases/scale/scale-cluster.yaml
Due: none

feature(argus): always-on request replay log (SCT integration)
  sct.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/argus.py
  sdcm/utils/k8s/__init__.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  unit_tests/integration/conftest.py
  unit_tests/integration/test_kafka.py
  unit_tests/unit/test_argus_replay_log.py
  unit_tests/unit/test_investigate_download_logs.py
Due: ruff-format, ruff, update-conf-docs

ci(backport): bump github-automation pin to disable AI conflict resolver
  .github/workflows/call_backport_with_jira.yaml
Due: none

fix(mgmt): use regex to extract date from client version string
  sdcm/mgmt/cli.py
Due: ruff-format, ruff

feature(adaptive_timeouts): add adaptive timeout for MAJOR_COMPACTION
  sdcm/utils/adaptive_timeouts/__init__.py
Due: ruff-format, ruff

fix(nemesis): handle ALTER KEYSPACE timeout in AddRemoveDC
  sdcm/nemesis/monkey/add_remove_dc.py
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
