Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(monitoring): use --label-file to handle spaces in Docker label values
  sdcm/cluster.py
Due: ruff-format, ruff

fix(upgrade): reset loaders round robin state in upgrades using latte
  upgrade_test.py
Due: ruff-format, ruff

feat(adaptive_timeouts): add node_disk_size_mb property to NodeLoadInfoService
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

feat(adaptive_timeouts): calculate tablets decommission timeout from data size and throughput
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

feat(adaptive_timeouts): add expected_throughput property to NodeLoadInfoService
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

feat(nemesis): when adding nodes, wait for tablet migration on entire cluster
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(adaptive_timeouts): add estimated timeout for TABLET_MIGRATION operation
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/tablets/common.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

refactor(nemesis): remove Class:N count syntax, enforce explicit list format
  docs/configuration_options.md
  sdcm/nemesis/__init__.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/operations_thread.py
  test-cases/enterprise-features/workload-prioritization/longevity/longevity-sla-system-24h.yaml
  test-cases/features/elasticity/elasticity-90-percent-i4i-2xlarge-ttl.yaml
  test-cases/longevity/longevity-2TB-48h-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
  test-cases/longevity/longevity-lwt-basic-24h-1dis-2nondis.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-parallel-24h.yaml
  test-cases/longevity/longevity-multidc-parallel-network-schema-changes-12h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h.yaml
  test-cases/quarantined/longevity-large-partitions-deletions-and-reversed-queries.yaml
  unit_tests/nemesis/test_sisyphus.py
  unit_tests/test_config.py
  unit_tests/test_configs/nemesis_selector_list_of_list.yaml
  unit_tests/test_data/test_config/multitenant/shared_option_values.yaml
  unit_tests/test_utils__operator__multitenant_common.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(nonroot-install): use add_install_prefix in get_scylla_build_id
  sdcm/cluster.py
  sdcm/tester.py
Due: ruff-format, ruff

docs(plans): curl & requests retry enforcement mini-plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/mini-plans/2026-04-05-curl-requests-retry-enforcement.md
  docs/plans/progress.json
Due: none

ci(oci): add a tier1 CI job analog for the OCI backend
  configurations/oci/longevity-mv-si-4days.yaml
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming-oci.jenkinsfile
Due: none

docs(keystore): add implementation plan for KeyStore improvements
  docs/plans/assets/progress-roadmap.svg
  docs/plans/keystore-improvements.md
Due: none

feature(cassandra): add Prometheus exporter and Grafana dashboard
  data_dir/cassandra-monitoring-dashboard.json
  docs/plans/infrastructure/cassandra-monitoring.md
  sdcm/cassandra_exporter_setup.py
Due: ruff-format, ruff

feature(cassandra): add BaseCassandraCluster mixin and integrate with Docker/AWS
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_cassandra.py
  sdcm/cluster_docker.py
  sdcm/gemini_thread.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/sct_provision/aws/instance_parameters_builder.py
  sdcm/tester.py
Due: ruff-format, ruff, update-conf-docs

test(cassandra): add unit tests for Cassandra mixin and Docker cluster
  unit_tests/test_cassandra_docker_cluster.py
  unit_tests/test_cluster_cassandra.py
Due: ruff-format, ruff

feature(cassandra): add CassandraLogCollector for log collection
  sdcm/logcollector.py
Due: ruff-format, ruff

feature(cassandra): add test configs, scripts, and Jenkins pipelines
  jenkins-pipelines/oss/longevity/cassandra-preload-1tb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-2tb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-500gb-latte.jenkinsfile
  jenkins-pipelines/oss/longevity/cassandra-preload-5tb-latte.jenkinsfile
  run-aws-cassandra-provision-reuse.sh
  run-aws-cassandra-test.sh
  run-docker-cassandra-test.sh
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/cassandra-docker-provision-test.yaml
  test-cases/cassandra/cassandra-preload-1tb-latte.yaml
  test-cases/cassandra/cassandra-preload-2tb-latte.yaml
  test-cases/cassandra/cassandra-preload-500gb-latte.yaml
  test-cases/cassandra/cassandra-preload-5tb-latte.yaml
  test-cases/gemini/gemini-cassandra-oracle-aws.yaml
  test-cases/gemini/gemini-cassandra-oracle-docker.yaml
Due: none

docs(cassandra): update implementation plans and progress tracking
  docs/plans/MASTER.md
  docs/plans/infrastructure/cassandra-cluster-support.md
  docs/plans/mini-plans/2026-03-24-parallel-cloud-init.md
  docs/plans/progress.json
Due: none

fix(cassandra): address PR review comments
  docs/configuration_options.md
  sdcm/cluster_aws.py
  sdcm/cluster_cassandra.py
  sdcm/cluster_docker.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(config): restore ami_id_vector_store in ami_id_params list
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

chore(plans): regenerate progress-roadmap.svg
  docs/plans/assets/progress-roadmap.svg
Due: none

docs: add performance testing strategy and implementation plan
  docs/performance-testing-strategy.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/performance-testing-strategy.md
  docs/plans/progress.json
Due: none

fix(manager-pipelines): use single-line test_config to prevent JSON escaping bug
  jenkins-pipelines/manager/ubuntu22-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-backup.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity-ipv6.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-vnodes-tablets-enterprise.jenkinsfile
Due: none

fix(nemesis): add supports_high_disk_utilization=False to KillMVBuildingCoordinator nemesis
  data_dir/nemesis.yml
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(manager): add singleDC config and sanity test for GCE
  jenkins-pipelines/manager/ubuntu22-manager-sanity-gce.jenkinsfile
  test-cases/manager/manager-regression-singleDC-gce.yaml
Due: none

fix(config): update gce_datacenter type to StringOrList
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
