Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(gce): give n4a and z3 the boot disk and local disks they require
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  unit_tests/unit/provisioner/test_gce_root_disk_type.py
  unit_tests/unit/test_instance_matcher.py
Due: ruff-format, ruff

feature(catalog): add the Arm machine types the loaders need
  data/instance_catalog/aws.yaml
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/sizing_config.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
  unit_tests/unit/test_instance_catalog.py
Due: ruff-format, ruff

fix(sizing): remove leftover conflict markers from the 2026.2 backport
  data/instance_catalog/azure.yaml
  data/instance_catalog/sizing_config.yaml
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
  docs/plans/MASTER.md
  sct.py
  sdcm/node_exporter_setup.py
  sdcm/sct_config.py
  test-cases/PR-provision-test.yaml
Due: ruff-format, ruff, update-conf-docs

perf(lint): cache the instance catalog and cap the lint worker pool
  sct.py
  sdcm/utils/cloud_catalog/instance_catalog.py
Due: ruff-format, ruff

feature(tester): run gemini through run_stress_thread in the provision test
  sdcm/gemini_thread.py
  sdcm/tester.py
  sdcm/ycsb_thread.py
  test-cases/PR-provision-test.yaml
  unit_tests/unit/test_gemini_thread_unit.py
Due: ruff-format, ruff

improvement(perf-weekly-report): keep the failed-investigation table conditional
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(cluster): address PR review feedback on hard-exit arming and version comment [SCT-803]
  sdcm/cluster.py
  sdcm/nemesis/__init__.py
  sdcm/utils/parallel_object.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(adaptive_timeouts): report hard_timeout to Argus results table
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

improvement(perf-weekly-report): fold unlinked failures into the Issues column
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/references/perf-weekly-status-report-master-example.html
  skills/perf-weekly-status-report/references/perf-weekly-status-report-release-example.html
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

improvement(perf-weekly-report): resolve contradictions found in review
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(sct_config): make the generated doc links resolve, drop the distutils import
  docs/configuration_options/alternator-dynamodb-api.md
  docs/configuration_options/amazon-emr-spark-migrator.md
  docs/configuration_options/auxiliary-db-cluster-oracle-cassandra.md
  docs/configuration_options/aws-backend.md
  docs/configuration_options/azure-backend.md
  docs/configuration_options/baremetal-backend.md
  docs/configuration_options/docker-backend.md
  docs/configuration_options/gce-backend.md
  docs/configuration_options/general-and-provisioning.md
  docs/configuration_options/grow-cluster-tests.md
  docs/configuration_options/jepsen-tests.md
  docs/configuration_options/kafka-cdc-connectors.md
  docs/configuration_options/kubernetes-backends-eks-gke-kind.md
  docs/configuration_options/logs-diagnostics-and-teardown.md
  docs/configuration_options/longevity-tests.md
  docs/configuration_options/minicloud.md
  docs/configuration_options/monitoring-events-and-reporting.md
  docs/configuration_options/nemesis-chaos-testing.md
  docs/configuration_options/oci-backend.md
  docs/configuration_options/performance-regression-tests.md
  docs/configuration_options/refresh-sstable-loading-tests.md
  docs/configuration_options/scylla-cloud-xcloud-backend.md
  docs/configuration_options/scylla-doctor.md
  docs/configuration_options/scylla-installation-and-configuration.md
  docs/configuration_options/scylla-manager.md
  docs/configuration_options/spark-migrator-cassandra-to-scylla.md
  docs/configuration_options/stress-commands-and-load-generation.md
  docs/configuration_options/upgrade-tests.md
  docs/configuration_options/vector-store.md
  docs/sct-configuration.md
  sdcm/sct_config/config.py
  sdcm/sct_config/types.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff

fix(minicloud): two gates that rejected runs the emulator could have served
  configurations/minicloud.yaml
  sdcm/utils/minicloud/activation.py
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_activation.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff

improvement(perf-weekly-report): rework the release report format
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/references/perf-weekly-status-report-release-example.html
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(utils): filter out SM AMIs when looking for scylla one
  sdcm/utils/common.py
  unit_tests/unit/test_skip_manager_amis.py
Due: ruff-format, ruff

improvement(test-cases): retune longevity-change-cluster-size-by-2-times
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
Due: none

refactor(longevity): move asymmetric cluster test to GCE
  configurations/triggers/tier1.yaml
  docs/plans/jenkins/centralized-trigger-matrix.md
  jenkins-pipelines/oss/sct_triggers/tier1-aws-custom-time-trigger.xml
  jenkins-pipelines/oss/sct_triggers/tier1-gce-custom-time-trigger.xml
  jenkins-pipelines/oss/tier1/longevity-asymmetric-cluster-12h.jenkinsfile
  jenkins-pipelines/oss/vnodes/tier1/longevity-asymmetric-cluster-12h.jenkinsfile
  test-cases/longevity/longevity-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
Due: none

feat(adaptive_timeouts): report hard_timeout to Argus results table
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff

fix(docker): read upgraded exec streams through the buffered reader
  sdcm/utils/docker_utils.py
  unit_tests/unit/test_utils_docker.py
Due: ruff-format, ruff

fix(docker-remoter): fail fast when mktemp returns an empty path
  sdcm/remote/docker_cmd_runner.py
  sdcm/remote/remote_file.py
  unit_tests/unit/test_docker_cmd_runner.py
  unit_tests/unit/test_remoter.py
Due: ruff-format, ruff

feature(skills): add capacity-failure-analysis skill
  AGENTS.md
  CLAUDE.md
  skills/capacity-failure-analysis/SKILL.md
  skills/capacity-failure-analysis/capacity_failure_stats.py
  skills/capacity-failure-analysis/references/error-signatures.md
  skills/capacity-failure-analysis/references/region-resolution.md
  skills/capacity-failure-analysis/references/report-format.md
  skills/capacity-failure-analysis/workflows/analyze-capacity-failures.md
Due: ruff-format, ruff

improvement(skills): ask which period the capacity report covers
  skills/capacity-failure-analysis/SKILL.md
  skills/capacity-failure-analysis/capacity_failure_stats.py
  skills/capacity-failure-analysis/references/region-resolution.md
  skills/capacity-failure-analysis/workflows/analyze-capacity-failures.md
Due: ruff-format, ruff

fix(gce provisioning): spread nodes over availability zones by rack
  sdcm/cluster.py
  sdcm/cluster_gce.py
  sdcm/cluster_k8s/gke.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_provisioner_az_distribution.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
  unit_tests/unit/test_cluster_gce.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

fix(gce provisioning): sort reused instances by numeric node index
  sdcm/cluster_gce.py
  sdcm/cluster_k8s/gke.py
  unit_tests/unit/test_cluster_gce.py
Due: ruff-format, ruff

fix(gce): reject scylla_network_config ipv6 until GCE provisions it
  sdcm/cluster_gce.py
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

refactor(sct-config): extract per-backend scylla_network_config rules
  sdcm/sct_config.py
  unit_tests/test_configs/network_config_param_missing_on_fourth_address.yaml
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(plans): record the SCT-310 follow-up ticket keys
  docs/plans/mini-plans/2026-08-31-sct-310-gce-network-config-alignment.md
Due: none

docs(plans): add SCT-310 mini-plan for GCE network config alignment
  docs/plans/mini-plans/2026-08-31-sct-310-gce-network-config-alignment.md
Due: none

test(network-config): pin scylla_network_config validation rules
  unit_tests/test_configs/network_config_use_dns_on_secondary_nic.yaml
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

improvement(skills): always save the capacity report to ~/Downloads
  skills/capacity-failure-analysis/SKILL.md
  skills/capacity-failure-analysis/references/report-format.md
  skills/capacity-failure-analysis/workflows/analyze-capacity-failures.md
Due: none

refactor(nemesis): extract Scylla Manager nemesis into monkey/manager.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/manager.py
  sdcm/nemesis/monkey/runners.py
  sdcm/nemesis/utils/common_ops.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): add unit tests for manager monkey extraction
  sdcm/nemesis/monkey/manager.py
  unit_tests/unit/nemesis/monkey/test_manager.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(perf trigger): drop 2024.x and 2025.x from perf regression
  configurations/triggers/perf-regression.yaml
  docs/perf-tests-region-scheduling.md
  docs/plans/i8g-performance-jobs-migration.md
  unit_tests/trigger_matrix/test_perf_regression.py
Due: ruff-format, ruff

refactor(sct_config): split field definitions into 25 domain mixins
  docs/configuration_options.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/__init__.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/baremetal.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/docker.py
  sdcm/sct_config/mixins/emr.py
  sdcm/sct_config/mixins/gce.py
  sdcm/sct_config/mixins/grow_cluster.py
  sdcm/sct_config/mixins/jepsen.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/longevity.py
  sdcm/sct_config/mixins/manager.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/mixins/nemesis.py
  sdcm/sct_config/mixins/oci.py
  sdcm/sct_config/mixins/performance.py
  sdcm/sct_config/mixins/refresh.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/mixins/security.py
  sdcm/sct_config/mixins/spark_migrator.py
  sdcm/sct_config/mixins/stress.py
  sdcm/sct_config/mixins/upgrade.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/sct_config/mixins/xcloud.py
  sdcm/sct_config/types.py
Due: ruff-format, ruff

refactor(sct_config): regroup options by what they configure, and document all 523
  docs/configuration_options.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/mixins/__init__.py
  sdcm/sct_config/mixins/alternator.py
  sdcm/sct_config/mixins/aux_db.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/baremetal.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/docker.py
  sdcm/sct_config/mixins/emr.py
  sdcm/sct_config/mixins/gce.py
  sdcm/sct_config/mixins/jepsen.py
  sdcm/sct_config/mixins/kafka.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/logs.py
  sdcm/sct_config/mixins/longevity.py
  sdcm/sct_config/mixins/manager.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/mixins/nemesis.py
  sdcm/sct_config/mixins/oci.py
  sdcm/sct_config/mixins/performance.py
  sdcm/sct_config/mixins/refresh.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/mixins/security.py
  sdcm/sct_config/mixins/spark_migrator.py
  sdcm/sct_config/mixins/stress.py
  sdcm/sct_config/mixins/upgrade.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/sct_config/mixins/xcloud.py
  unit_tests/unit/config/test_option_groups.py
Due: ruff-format, ruff

test(lint): guard the linter's patch targets against silent no-ops
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/__init__.py
  skills/writing-unit-tests/references/common-pitfalls.md
  unit_tests/unit/test_lint_patch_targets.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
