Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(nemesis): add diagnostics collector and new test configs
  docs/diagnostic_collector.md
  sdcm/logcollector.py
  sdcm/nemesis/__init__.py
  sdcm/utils/diagnostic_collector/__init__.py
  sdcm/utils/diagnostic_collector/handlers.py
  sdcm/utils/diagnostic_collector/manager.py
  sdcm/utils/diagnostic_collector/views.py
  unit_tests/unit/diagnostic_collector/__init__.py
  unit_tests/unit/diagnostic_collector/conftest.py
  unit_tests/unit/diagnostic_collector/test_base.py
  unit_tests/unit/diagnostic_collector/test_handlers.py
  unit_tests/unit/diagnostic_collector/test_manager.py
  unit_tests/unit/diagnostic_collector/test_views.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(out-of-space-prevention): ignore expected errors
  longevity_oos_test.py
Due: ruff-format, ruff

fix(nemesis): use existing retry/decorator machinery instead of a hand-rolled loop
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff

fix(nemesis): guard against unresolved datacenter in DataCenterTopologyRfControl
  sdcm/exceptions.py
  sdcm/utils/replication_strategy_utils.py
  unit_tests/unit/test_replication_strategy_utils.py
Due: ruff-format, ruff

fix(kernel-panic): suspend checker during BaseNode.restart(), not just reboot()
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/cluster_oci.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cluster_oci.py
Due: ruff-format, ruff

fix(hard-exit): address SCT-803 PR review follow-up on hard-exit escalation
  sdcm/cluster.py
  sdcm/utils/hard_exit.py
  sdcm/utils/parallel_object.py
  unit_tests/unit/conftest.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_hard_exit.py
  unit_tests/unit/test_parallelobject.py
  unit_tests/unit/test_sct_exit_process_routing.py
Due: ruff-format, ruff

fix(docker_remote): bound RemoteDocker.kill() teardown with a timeout
  sdcm/utils/docker_remote.py
  unit_tests/unit/test_utils_docker_remote.py
Due: ruff-format, ruff

ci(minicloud): artifacts tests against minicloud on an sct-runner
  configurations/minicloud/aws.yaml
  configurations/minicloud/gce.yaml
  jenkins-pipelines/oss/minicloud/minicloud-artifact-ami.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-artifact-deb-aws.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-artifact-gce-image.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-artifact-rpm-gce.jenkinsfile
  test-cases/artifacts/ubuntu2404-aws.yaml
  vars/artifactsPipeline.groovy
Due: none

fix(minicloud): stop asking the emulator questions it cannot answer
  sdcm/sct_runner.py
  sdcm/utils/common.py
  unit_tests/unit/minicloud/test_region_enumeration.py
Due: ruff-format, ruff

fix(minicloud): keep emulated guest networks off the real cloud's ranges
  sct.py
  sdcm/tester.py
  sdcm/utils/aws_region.py
  sdcm/utils/minicloud/bootstrap.py
  sdcm/utils/minicloud/config.py
  sdcm/utils/minicloud/gcp.py
  sdcm/utils/minicloud/manager.py
  sdcm/utils/minicloud/networking.py
  unit_tests/unit/minicloud/test_networking.py
Due: ruff-format, ruff

ci(minicloud): longevity and rolling-upgrade against minicloud
  jenkins-pipelines/oss/minicloud/longevity-minicloud-10gb-1h.jenkinsfile
  jenkins-pipelines/oss/minicloud/minicloud-provision-test.jenkinsfile
  test-cases/longevity/longevity-minicloud-10gb-1h.yaml
  vars/longevityPipeline.groovy
  vars/rollingUpgradePipeline.groovy
Due: none

ci(minicloud): let a pipeline override the guest and container sizing
  docs/minicloud.md
  vars/artifactsPipeline.groovy
  vars/longevityPipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/startMinicloud.groovy
Due: none

fix(jenkins): omit --test-name when the pipeline has no test_name
  vars/createSctRunner.groovy
Due: none

ci(minicloud): start the emulator from the pipeline, image override included
  sdcm/utils/lint/env_builder.py
  vars/startMinicloud.groovy
Due: ruff-format, ruff

docs(minicloud): document the Jenkins integration, retire the pipeline plan
  docs/minicloud.md
  docs/plans/MASTER.md
  docs/plans/archive/minicloud-local-testing.md
  docs/plans/progress.json
Due: none

feature(sizing): migrate alternator test-case configs to constraint-based sizing
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
Due: none

fix(perf-regression-alternator): disable scylla manager on t3.small monitor
  test-cases/performance/perf-regression-alternator-full.yaml
Due: none

feature(provision/gce): enable AZ and region fallback by default for GCE
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

docs(provision/gce): add region-fallback design, test plan and KMS note
  docs/plans/mini-plans/2026-07-14-gce-region-fallback.md
  docs/plans/mini-plans/2026-07-16-gce-region-fallback-testplan.md
  sdcm/provision/gce/kms_provider.py
Due: ruff-format, ruff

feature(provision/gce): add AZ + region + multi-DC capacity-exhaustion fallback
  docs/configuration_options.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/common/region_fallback.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/region_fallback.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/instances_provider.py
  sdcm/tester.py
  unit_tests/lib/dot_dict.py
  unit_tests/unit/provisioner/test_az_fallback.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_reservation.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_dedicated_hosts.py
Due: ruff-format, ruff, update-conf-docs

ci(pipelines): run the provision step for the gce backend
  Jenkinsfile
Due: none

fix(provision/gce): persist placement handoff on zone-only changes
  sdcm/sct_provision/instances_provider.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
Due: ruff-format, ruff

fix(integration-tests): resolve the unified package URL at run time
  unit_tests/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

fix(version_utils): resolve enterprise-nightly tags from enterprise-2024.1
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

fix(log-collection): adaptive timeout and optimized log splitting
  docs/plans/mini-plans/2026-05-24-log-collection-timeout-and-splitting.md
  sdcm/log_archive.sh
  sdcm/logcollector.py
  test-cases/PR-test-log-collection.yaml
  unit_tests/unit/test_log_archive.py
  vars/getJobTimeouts.groovy
Due: ruff-format, ruff

chore(test-cases): drop unused PR-test-log-collection.yaml
  test-cases/PR-test-log-collection.yaml
Due: none

feature(provision/gce): add AZ + region + multi-DC capacity-exhaustion fallback
  defaults/test_default.yaml
  docs/configuration_options.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/common/region_fallback.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/region_fallback.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/instances_provider.py
  sdcm/test_config.py
  sdcm/tester.py
  unit_tests/lib/dot_dict.py
  unit_tests/unit/provisioner/test_az_fallback.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_reservation.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_dedicated_hosts.py
Due: ruff-format, ruff, update-conf-docs

feature(provision/gce): enable AZ and region fallback by default for GCE
  defaults/gce_config.yaml
Due: update-conf-docs

test(unit_tests): drop the stale duplicate get_version_based_on_conf test
  unit_tests/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

fix(upgrade): wait for dpkg lock on retried apt-get update/dist-upgrade/install
  unit_tests/unit/test_upgrade_dpkg_lock_wait.py
  upgrade_test.py
Due: ruff-format, ruff

test(unit_tests): drop unified_package tests for behaviour not on this branch
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
