Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(docs): Update montioring branch parameter documentation
  docs/configuration_options.md
Due: none

defaults: Set Scylla Monitoring branch 4.14.3 scylladb-monitor-4-14-3-2026-04-13t06-26-19z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

fix(perf): handle stress_cmd as list in alternator perf tests
  performance_regression_alternator_test.py
  performance_regression_test.py
Due: ruff-format, ruff

improvement(defaults): change default compaction_strategy to ICS
  configurations/cs-compaction-strategy-lcs.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: update-conf-docs

feature(tier1-longevity): replace Azure 1TB 5-day test with AWS 2TB alternative
  configurations/2TB_high_disk_used_capacity.yaml
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
  jenkins-pipelines/oss/sct_triggers/tier1-azure-custom-time-trigger.xml
  jenkins-pipelines/oss/tier1/longevity-1tb-5days-azure.jenkinsfile
  jenkins-pipelines/oss/tier1/longevity-2tb-5days.jenkinsfile
Due: none

fix(oci): use recent ScyllaDB image built with automation
  Jenkinsfile
Due: none

restore configurations/cs-compaction-strategy-lcs.yaml and ics-longevity-large-partition-4days.yaml
  configurations/cs-compaction-strategy-lcs.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
Due: none

Partial backport of the provisioner multi-dc code from master
  sdcm/cluster_azure.py
  sdcm/cluster_oci.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/tester.py
  vars/longevityPipeline.groovy
Due: ruff-format, ruff

feature(oci): support OCI multi-dc setups
  sct.py
  sdcm/cluster.py
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_peering.py
  sdcm/utils/oci_region.py
  unit_tests/test_oci_peering.py
Due: ruff-format, ruff, update-conf-docs

ci(oci): support OCI multi-dc setups in groovy files
  vars/createSctRunner.groovy
  vars/getJenkinsLabels.groovy
  vars/getJobTimeouts.groovy
  vars/managerPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runCollectLogs.groovy
  vars/runSctTest.groovy
Due: none

fix(stress-tools): switch cs_extra_jvm_opts recommendation from G1GC to ZGC
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/integration/test_cassandra_stress_thread.py
Due: ruff-format, ruff, update-conf-docs

ci(aws): add us-east-2 to AWS_SUPPORTED_REGIONS
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

ci(pipelines): update AWS region descriptions to show all supported regions
  vars/byoLongevityPipeline.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/rollingOperatorUpgradePipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/simpleTrigger.groovy
Due: none

ci(aws): add us-east-2 to Jenkins builder labels and supported regions
  vars/getJenkinsLabels.groovy
Due: none

fix(sct-config): strip whitespace from environment variable values at ingestion
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(test-config): remove enterprise-prefixed version tests
  unit_tests/integration/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

fix(test-config): remove enterprise-prefixed version tests
  unit_tests/test_config_get_version_based_on_conf.py
Due: ruff-format, ruff

feature(cluster): use control-connection query fallback for public address connections
  pyproject.toml
  sdcm/cluster.py
  uv.lock
Due: ruff-format, ruff, uv-sort

docs(sizing): rewrite user guide for constraint-based instance selection
  docs/cross-cloud-sizing.md
Due: none

docs(sizing): add constraint-based instance sizing implementation plan
  .sisyphus/plans/constraint-based-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

docs(sizing): address review feedback on constraint-based sizing plan
  .gitignore
  .sisyphus/plans/constraint-based-sizing.md
  docs/cross-cloud-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

fix(cicd): fix billing_project in performance tests
  vars/perfRegressionParallelPipeline.groovy
Due: none

docs(sizing): update plan and user manual with implementation findings
  docs/cross-cloud-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

docs(plans): add GCE capacity zone fallback implementation plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/gce-capacity-zone-fallback.md
  docs/plans/progress.json
Due: none

fix(sct-config): strip whitespace from environment variable values at ingestion
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
