Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(azure): add the multi-DC schema/topology changes 12h pipeline
  configurations/azure/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  jenkins-pipelines/oss/tier1/longevity-multidc-schema-topology-changes-12h-azure.jenkinsfile
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

fix(scylla-yaml): bind prometheus_address to the wildcard on IPv6 runs
  sdcm/provision/scylla_yaml/node_builder.py
  unit_tests/test_data/test_scylla_yaml_builders/longevity-10gb-3h.result.json
Due: ruff-format, ruff

docs(plan): mark the Azure multi-VNIC plan as complete
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/plans/progress.json
Due: none

fix(nemesis): skip tombstone sstables in destroy-then-repair
  sdcm/nemesis/__init__.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/unit/test_sstable_tombstone_filter.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(performance): add performance testing reference docs and runbooks
  docs/performance/README.md
  docs/performance/anatomy.md
  docs/performance/pipelines-and-scheduling.md
  docs/performance/results-and-regression.md
  docs/performance/runbook-new-instance-type.md
  docs/performance/runbook-new-perf-test.md
  docs/performance/runbook-new-stress-tool.md
  docs/performance/runbook-recalibrate-steps.md
  docs/performance/test-catalog.md
Due: none

fix(manager): bump default Manager version to 3.12 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/unit/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(manager): bump default Manager version to 3.12 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

SCYLLADB-4346/feature(jenkins): SC sanity longevity with leader-aware cql-stress
  docs/strong-consistency-performance-tests-guide.md
  jenkins-pipelines/oss/longevity/rust/longevity-100gb-4h-cql-stress-sc.jenkinsfile
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

fix(minicloud): reject placement groups and capacity reservations up front
  configurations/minicloud.yaml
  docs/minicloud.md
  sdcm/utils/minicloud/activation.py
  sdcm/utils/minicloud/bootstrap.py
  unit_tests/unit/minicloud/test_activation.py
  unit_tests/unit/minicloud/test_bootstrap.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff

fix(collect-logs): make a local run end cleanly instead of with a traceback
  sct.py
  unit_tests/unit/test_sct_collect_logs_command.py
Due: ruff-format, ruff

fix(cluster): reap gpg helper daemons after fetching apt keys
  sdcm/cluster.py
  skills/package-installation/SKILL.md
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff

test(logstor): add 60% logstor / 40% LSM dual-engine load distribution
  configurations/performance/logstor_lsm_dual_60_40.yaml
  data_dir/latte/latte_cs_alike_dual_engine.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_lsm_dual_60_40.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  unit_tests/unit/test_dual_engine_workload.py
Due: ruff-format, ruff

docs(skills): add downscaling-for-minicloud skill
  AGENTS.md
  CLAUDE.md
  docs/minicloud.md
  skills/downscaling-for-minicloud/SKILL.md
  skills/downscaling-for-minicloud/references/run-script-template.md
  skills/downscaling-for-minicloud/references/sizing-knobs.md
  skills/downscaling-for-minicloud/references/stress-models.md
  skills/downscaling-for-minicloud/references/test-type-params.md
  skills/downscaling-for-minicloud/references/triage-local-runs.md
  skills/downscaling-for-minicloud/references/worked-examples.md
  skills/downscaling-for-minicloud/workflows/downscale-a-test.md
Due: none

SCYLLADB-4346/refactor(test-cases): let cql-stress create the SC keyspace
  docs/strong-consistency-performance-tests-guide.md
  test-cases/longevity/longevity-100gb-4h-cql-stress-sc.yaml
  unit_tests/unit/test_sc_sanity_longevity_pipeline.py
Due: ruff-format, ruff

SCYLLADB-4346/fix(stress): skip valueless section headers in the c-s summary
  sdcm/stress_thread.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

improvement(skills): drop i4i tests from perf weekly status report
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

test(monitor-images): verify default monitor images exist in AWS and GCE
  .github/workflows/label-monitor-image-updates.yaml
  docs/monitoring-images.md
  unit_tests/integration/test_default_monitor_images.py
Due: ruff-format, ruff

fix(nemesis): always resume scylla when a node-isolation nemesis is killed
  sdcm/nemesis/utils/node_operations.py
  unit_tests/unit/nemesis/test_node_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(sct_config): move sct_config.py into a package as config.py
  sdcm/sct_config/config.py
Due: ruff-format, ruff

refactor(sct_config): extract types, helpers and defaults into modules
  sdcm/sct_config/__init__.py
  sdcm/sct_config/config.py
  sdcm/sct_config/defaults.py
  sdcm/sct_config/helpers.py
  sdcm/sct_config/types.py
Due: ruff-format, ruff

refactor(sct_config): repoint patch targets and docs at the package
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  docs/sct-configuration.md
  sdcm/utils/lint/validator.py
  skills/writing-unit-tests/references/common-pitfalls.md
  unit_tests/integration/test_config.py
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/integration/test_provisioning.py
  unit_tests/test_gce_use_dns_names.py
  unit_tests/test_perf_gradual_config.py
  unit_tests/unit/conftest.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_scylla_yaml_builders.py
Due: ruff-format, ruff

test(lint): guard the linter's patch targets against silent no-ops
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/__init__.py
  skills/writing-unit-tests/references/common-pitfalls.md
  unit_tests/unit/test_lint_patch_targets.py
Due: ruff-format, ruff

refactor(sct_config): address review feedback on the package split
  sdcm/cluster_cassandra.py
  sdcm/sct_config/__init__.py
  sdcm/sct_config/helpers.py
  unit_tests/unit/test_lint_patch_targets.py
Due: ruff-format, ruff

refactor(sct_config): split field definitions into 25 domain mixins
  docs/configuration_options.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/__init__.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/baremetal.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/docker.py
  sdcm/sct_config/mixins/emr.py
  sdcm/sct_config/mixins/gce.py
  sdcm/sct_config/mixins/grow_cluster.py
  sdcm/sct_config/mixins/jepsen.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/longevity.py
  sdcm/sct_config/mixins/manager.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/mixins/nemesis.py
  sdcm/sct_config/mixins/oci.py
  sdcm/sct_config/mixins/performance.py
  sdcm/sct_config/mixins/refresh.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/mixins/security.py
  sdcm/sct_config/mixins/spark_migrator.py
  sdcm/sct_config/mixins/stress.py
  sdcm/sct_config/mixins/upgrade.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/sct_config/mixins/xcloud.py
  sdcm/sct_config/types.py
Due: ruff-format, ruff

refactor(sct_config): repoint patch targets and docs at the package
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  docs/sct-configuration.md
  skills/writing-unit-tests/references/common-pitfalls.md
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/test_gce_use_dns_names.py
  unit_tests/unit/conftest.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_scylla_yaml_builders.py
Due: ruff-format, ruff

test(lint): guard the linter's patch targets against silent no-ops
  sdcm/sct_config/__init__.py
  skills/writing-unit-tests/references/common-pitfalls.md
Due: ruff-format, ruff

refactor(sct_config): address review feedback on the package split
  sdcm/sct_config/helpers.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
