Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(upgrade): add large_partition_stress_during_upgrade parameter
  configurations/azure/azure_rolling_upgrade.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: ruff-format, ruff, update-conf-docs

fix(dns-resilience): simplify dns retry flow and strengthen tests
  sdcm/cluster.py
  unit_tests/test_dns_readiness.py
Due: ruff-format, ruff

docs(config-refactor): revise plan with accurate line refs, OCI/xcloud coverage, bug fixes
  docs/plans/sct-config-validation-and-lazy-images.md
Due: none

feat(tags): add JenkinsJob tag for billing aggregation
  sdcm/provision/oci/constants.py
  sdcm/test_config.py
  unit_tests/test_config.py
  vars/tagBuilder.groovy
Due: ruff-format, ruff

docs(plans): add pipeline labeling and documentation plan
  docs/plans/MASTER.md
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
  docs/plans/progress.json
Due: none

docs(plans): convert to mini-plan format
  docs/plans/fix-docker-encryption.md
  docs/plans/mini-plans/2026-03-19-fix-docker-encryption.md
Due: none

refactor(config): extract __init__ validation into Pydantic validators (Phase 1)
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/conftest.py
  unit_tests/test_config_validators.py
  unit_tests/test_configs/validators_fullscan_invalid_json.yaml
  unit_tests/test_configs/validators_multi_nic_multi_region.yaml
  unit_tests/test_configs/validators_multi_nic_single_region.yaml
  unit_tests/test_configs/validators_network_missing_nic.yaml
  unit_tests/test_configs/validators_simulated_regions_gossip.yaml
  unit_tests/test_configs/validators_simulated_regions_wrong_snitch.yaml
  unit_tests/test_configs/validators_valid_network_config.yaml
Due: ruff-format, ruff, update-conf-docs

feature(sct-agent): add TLS support for sct-agent communication
  configurations/enable_agent.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/provision/helpers/certificate.py
  sdcm/remote/agent_cmd_runner.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/agent_client.py
  sdcm/utils/sct_agent_installer.py
  unit_tests/test_agent_client_tls.py
  unit_tests/test_sct_agent_installer.py
Due: ruff-format, ruff, update-conf-docs

improvement(scdm/utils): add methods to parse tasks list and wait for a specific task
  sdcm/utils/tasks.py
Due: ruff-format, ruff

feature(nemesis): add disrupt_abort_decommission nemesis
  configurations/nemesis/AbortDecommissionMonkey.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-gce.jenkinsfile
  sdcm/nemesis/monkey/abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): add unit test for abort_decommission nemesis
  unit_tests/nemesis/test_abort_decommission.py
Due: ruff-format, ruff

fix(nemesis): stop thread and fail test when nemesis are repeatedly skipped
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): stop thread and fail test when nemesis are repeatedly skipped
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(manager): update multiDC GCE test config
  test-cases/manager/manager-regression-multiDC-gce.yaml
Due: none

improvement(oci): add cleanup of PD disks for non-dense shapes
  Jenkinsfile
  defaults/oci_config.yaml
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
  sct.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/utils/oci_utils.py
  sdcm/utils/resources_cleanup.py
  unit_tests/test_clean_cloud_resources_func.py
  utils/cloud_cleanup/oci/__init__.py
  utils/cloud_cleanup/oci/clean_oci.py
  vars/provisionResources.groovy
Due: ruff-format, ruff, update-conf-docs

feature(gemini): add support for --summary-file flag introduced in v2.3.3
  defaults/docker_images/gemini/values_gemini.yaml
  sdcm/gemini_thread.py
  sdcm/logcollector.py
Due: ruff-format, ruff, update-conf-docs

feat(gemini): add custom SCHEMA support flag
  docs/configuration_options.md
  sdcm/gemini_thread.py
  sdcm/sct_config.py
  test-cases/cdc/cdc-15m-replication-gemini.yaml
  test-cases/cdc/cdc-15m-replication-postimage.yaml
  test-cases/cdc/cdc-15m-replication-preimage.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/gemini/gemini-1tb-10h.yaml
  test-cases/gemini/gemini-3h-cdc-postimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-preimage-write.yaml
  test-cases/gemini/gemini-3h-cdc-write.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/gemini/gemini-3h-ics-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nemesis.yaml
  test-cases/gemini/gemini-3h-with-nondisruptive-nemesis.yaml
  test-cases/gemini/gemini-8h-large-num-columns.yaml
  test-cases/gemini/gemini-basic-3h-ics.yaml
  test-cases/gemini/gemini-basic-3h.yaml
  test-cases/upgrades/rolling-upgrade.yaml
  unit_tests/test_data/gemini_schemas/no_delete_statement_ratios.json
  unit_tests/test_data/gemini_schemas/simple_two_partition_keys_schema.json
  unit_tests/test_data/test_scylla_yaml_builders/multi_network_interfaces/cdc-replication-longevity.yaml
  unit_tests/test_data/test_scylla_yaml_builders/rolling-upgrade.yaml
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff, update-conf-docs

feature(code-review): add code review skill with override safety checks
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/plans/ai-skills-framework.md
  skills/code-review/SKILL.md
  skills/code-review/references/common-issues.md
  skills/code-review/references/review-checklist.md
  skills/code-review/workflows/review-a-pr.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
