Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(scylla_yaml): add 'rack' as valid internode_compression value
  sdcm/nemesis/__init__.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(xcloud): fix longevity test failure for AWS and GCE cloud providers
  sct.py
  sdcm/cluster_cloud.py
  sdcm/cluster_gce.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/tester.py
Due: ruff-format, ruff

fix(cassandra): fix NVMe mount and redirect logs to NVMe
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

fix(nemesis): prevent "No partitions for deletion found" error in DeleteByRowsRange
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(cassandra): fix sudo redirect for fstab write
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

fix(cassandra): fix NVMe setup order — move data after install
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

fix(cassandra): use CassandraLogCollector in collect-logs CLI
  sdcm/logcollector.py
Due: ruff-format, ruff

docs(skills): add no-inline-classes and events fixture guidance to unit test skill
  skills/writing-unit-tests/SKILL.md
Due: none

fix(cassandra): add post-start verification and logging
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

docs(plans): add SSH key rotation mini-plan
  docs/plans/mini-plans/2026-03-25-ssh-key-rotation.md
Due: none

feature(lint): add Jenkins pipeline config linter
  Jenkinsfile
  jenkins-pipelines/manager/longevities/longevity-mv-si-ManagerOperationsMonkey-24h-gce.jenkinsfile
  jenkins-pipelines/oss/alternator/longevity-alternator-streams-4h-nemesis.jenkinsfile
  jenkins-pipelines/oss/features/elasticity/scale-elasticity-many-small-tables.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-scylla-gradual-throughput-grow-gauss-lcs.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-scylla-gradual-throughput-grow-uniform.jenkinsfile
  jenkins-pipelines/scale-up-c3-standard-lssd.jenkinsfile
  sct.py
  sdcm/sct_config.py
  sdcm/utils/lint/__init__.py
  sdcm/utils/lint/env_builder.py
  sdcm/utils/lint/jenkins_parser.py
  sdcm/utils/lint/validator.py
  unit_tests/lint/__init__.py
  unit_tests/lint/conftest.py
  unit_tests/lint/test_env_builder.py
  unit_tests/lint/test_jenkins_parser.py
  utils/lint_test_cases.sh
Due: ruff-format, ruff, update-conf-docs

fix(jenkins): correct broken config paths and rename pipeline files
  jenkins-pipelines/manager/longevities/longevity-mv-si-ManagerOperationsMonkey-4days-gce.jenkinsfile
  jenkins-pipelines/oss/alternator/longevity-alternator-streams-12h-nemesis.jenkinsfile
Due: none

fix(cassandra): always dump system.log when nodetool fails
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

fix(nemesis): prevent "No partitions for deletion found" error in DeleteByRowsRange
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test: Remove relative file references
  unit_tests/conftest.py
  unit_tests/provisioner/conftest.py
  unit_tests/provisioner/test_azure_get_scylla_images.py
  unit_tests/provisioner/test_azure_region_definition_builder.py
  unit_tests/provisioner/test_gce_region_definition_builder.py
  unit_tests/test_argus_results.py
  unit_tests/test_audit.py
  unit_tests/test_cluster.py
  unit_tests/test_coredump.py
  unit_tests/test_decode_backtrace.py
  unit_tests/test_gemini_thread.py
  unit_tests/test_prometheus.py
  unit_tests/test_sct_events_continuous_events_registry.py
  unit_tests/test_sct_events_database.py
  unit_tests/test_sct_events_system.py
  unit_tests/test_scylla_yaml.py
  unit_tests/test_scylla_yaml_builders.py
  unit_tests/test_seed_selector.py
  unit_tests/test_ssh_none_auth.py
  unit_tests/test_utils_common.py
Due: ruff-format, ruff

fix(lint): add OCI backend support and remove broken pipelines
  jenkins-pipelines/oss/longevity/longevity-custom-d1.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-mv-si-24h-gce.jenkinsfile
  jenkins-pipelines/oss/longevity/longevity-topology-changes-24h-gce.jenkinsfile
  jenkins-pipelines/performance_staging/perf-regression-alternator-latency-30min.jenkinsfile
  sdcm/sct_config.py
  sdcm/utils/lint/env_builder.py
  sdcm/utils/lint/validator.py
Due: ruff-format, ruff, update-conf-docs

feature(perf): add dict format support for latte gradual throughput steps
  docs/configuration_options.md
  docs/plans/latte-concurrency-gradual-throughput.md
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  sdcm/stress/latte_thread.py
  unit_tests/test_perf_gradual_config.py
Due: ruff-format, ruff, update-conf-docs

feature(latte): update latte_cs_alike.rn key size to match cassandra-stress
  configurations/performance/latte-perf-regression-latency-650gb-upgrade.yaml
  data_dir/latte/latte_cs_alike.rn
Due: none

feature(perf): add latte enterprise test configs for tablets and vnodes
  configurations/performance/latency-decorator-error-thresholds-steps-latte-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-latte-vnodes.yaml
  configurations/performance/latte_gradual_load_steps_enterprise.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-vnodes.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-write-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-write-vnodes.jenkinsfile
  test-cases/performance/latte-perf-regression-predefined-throughput-steps-tablets.yaml
  test-cases/performance/latte-perf-regression-predefined-throughput-steps-vnodes.yaml
Due: none

fix(cassandra): increase nodetool wait to 1200s and improve diagnostics
  sdcm/cluster_aws.py
Due: ruff-format, ruff

fix(cassandra): add CQL readiness check after nodetool UN
  sdcm/cluster_cassandra.py
Due: ruff-format, ruff

fix(sct_events/argus): Expand throttling key by event_id
  sdcm/sct_events/argus.py
Due: ruff-format, ruff

improvement(scdm/utils): add methods to parse tasks list and wait for a specific task
  sdcm/utils/tasks.py
Due: ruff-format, ruff

feature(nemesis): add disrupt_abort_decommission nemesis
  configurations/nemesis/AbortDecommissionMonkey.yaml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-AbortDecommissionMonkey-gce.jenkinsfile
  sdcm/nemesis/monkey/abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis): add unit test for abort_decommission nemesis
  data_dir/nemesis.yml
  unit_tests/nemesis/test_abort_decommission.py
Due: ruff-format, ruff

fix(pipelines): add try/finally cleanup and fix CPS scoping in perfRegressionParallelPipeline
  vars/perfRegressionParallelPipeline.groovy
Due: none

fix(performance-regression-test): migrate stress commands from single-string to list handling
  performance_regression_test.py
Due: ruff-format, ruff

defaults: Set Scylla Monitoring branch 4.14.1 scylladb-monitor-4-14-0-2026-02-05t11-58-50z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

refactor(config): remove perf_extra_jobs_to_compare parameter from all module
  docs/configuration_options.md
  docs/plans/jenkins/jenkins-pipeline-config-linter.md
  sdcm/sct_config.py
  vars/longevityPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/runSctTest.groovy
Due: ruff-format, ruff, update-conf-docs

fix(aws_builder): pass only LaunchTemplateData when updating template version
  sdcm/utils/aws_builder.py
Due: ruff-format, ruff

feature(aws_region): add fingerprint-based EC2 key pair update with rotation docs
  docs/ssh-key-rotation.md
  sdcm/utils/aws_region.py
Due: ruff-format, ruff

docs(ssh-key-rotation): add SCT runner rebuild phase
  docs/ssh-key-rotation.md
Due: none

chore(sct-runner): bump runner image version to 1.16
  docs/sct-runners.md
  sdcm/sct_runner.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
