Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(hydra): keep the SCT runner SSH transport alive, prefer private IP
  docker/env/hydra.sh
Due: none

fix(nemesis): remove ResetLocalSchemaMonkey
  configurations/nemesis/ResetLocalSchemaMonkey.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  docs/docker-backend-nemesis.md
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-ResetLocalSchemaMonkey-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(plans): align the Argus cost-reporting plan with the merged API
  docs/plans/mini-plans/2026-09-06-sct-852-argus-cost-reporting.md
Due: none

fix(jenkins): read PR labels outside CPS to avoid NotSerializableException
  vars/pullRequestContainsLabels.groovy
Due: none

fix(oci): keep the guest firewall disabled across reboots
  sdcm/cluster.py
  sdcm/exceptions.py
  sdcm/logcollector.py
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  sdcm/sct_provision/aws/user_data.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/sct_provision/user_data_objects/firewall.py
  sdcm/test_config.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_cluster_cloud.py
  unit_tests/unit/test_firewall_boot_script.py
Due: ruff-format, ruff

refactor(sct-config): import Operations at module level
  sdcm/sct_config/types.py
Due: ruff-format, ruff

SCYLLADB-4601/feature(configurations): exclude the six nemesis run #20 covered
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record nemesis sweep runs #18 and #20
  docs/sc-sanity-nemesis-coverage.md
Due: none

test(logstor): add 60% logstor / 40% LSM dual-engine load distribution
  configurations/performance/logstor_lsm_dual_60_40.yaml
  data_dir/latte/latte_cs_alike_dual_engine.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_lsm_dual_60_40.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  unit_tests/unit/test_dual_engine_workload.py
Due: ruff-format, ruff

fix(scylla_doctor): harden tarball download validation
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(upgrade_test): filter oversized allocation on versions without the fix
  upgrade_test.py
Due: ruff-format, ruff

fix(sct-config): parse YAML in dict-or-model environment variables
  sdcm/sct_config/types.py
  unit_tests/unit/test_adaptive_timeouts.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff

fix(repo-cache): tolerate a busy package manager and fail loudly
  sdcm/cluster.py
  sdcm/provision/common/utils.py
  sdcm/utils/apt.py
  sdcm/utils/rpm.py
  unit_tests/unit/test_configuration_script_quoting.py
  unit_tests/unit/test_update_repo_cache.py
Due: ruff-format, ruff

SCYLLADB-4601/feature(configurations): exclude RestartThenRepairNodeMonkey after run #21
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record nemesis sweep run #21
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(cluster_aws): fall back to manual hostname set when hostnamectl fails
  sdcm/cluster_aws.py
Due: ruff-format, ruff

fix(baremetal): leave SELinux enforcing in the simulation
  docs/plans/sct901-baremetal-aws-simulation-runbook.md
  scripts/baremetal-simulation/01_launch_hosts.py
  scripts/baremetal-simulation/02_write_baremetal_config.py
  scripts/baremetal-simulation/README.md
Due: ruff-format, ruff

fix(jenkins): delete the local coredump archive after uploading it
  unit_tests/unit/test_upload_sct_coredump.py
  utils/upload_sct_coredump.sh
  utils/upload_sct_coredump_inside_hydra.sh
  vars/minicloudReclaim.groovy
Due: ruff-format, ruff

SCYLLADB-4601/feature(configurations): hold out eleven nemesis this job cannot run
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record the eleven precondition skips held out of the sweep
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/feature(configurations): hold out RollingRestartConfigChangeInternodeCompression
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
