Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(mgmt): use regex to extract date from client version string
  sdcm/mgmt/cli.py
Due: ruff-format, ruff

fix(provision): unpin availability_zone for large-partition GCE test
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

improvement(test-cases): retune longevity-mv-si-4days
  test-cases/longevity/longevity-mv-si-4days.yaml
Due: none

refactor(multidc-parallel-topology-schema-changes): reduce data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

fix(longevity_oos_test): check mean usage after prepare
  longevity_oos_test.py
Due: ruff-format, ruff

ci(provision-test): append Argus test runs to Jenkins job description
  Jenkinsfile
Due: none

feature(mgmt): report actual restore method to Argus benchmark results
  mgmt_cli_test.py
  sdcm/argus_results.py
Due: ruff-format, ruff

refactor(xcloud): address PR review - rename classes and drop unnecessary underscores
  jenkins-pipelines/vector-search/vector-search-in-xcloud-scale-out-aws.jenkinsfile
  scylla_cloud_e2e_test.py
Due: ruff-format, ruff

feature(monkey): Update AddRemoveDcNemesis for RF 0->N->0
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): stop overriding rpc_address in AddRemoveDcNemesis
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): configure new dc outside of add_nodes
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(monkey): Refactor AddRemoveDcNemesis
  sdcm/nemesis/monkey/add_remove_dc.py
  unit_tests/unit/nemesis/monkey/test_add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): handle ALTER KEYSPACE timeout in AddRemoveDC
  sdcm/nemesis/monkey/add_remove_dc.py
  sdcm/utils/replication_strategy_utils.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(monkey): Move AddRemoveDcNemesis into own module
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

ci(sct-runner): bump base Ubuntu image to 26.04
  sdcm/sct_runner.py
  sdcm/utils/aws_builder.py
  sdcm/utils/azure_region.py
  sdcm/utils/gce_builder.py
  sdcm/utils/oci_builder.py
Due: ruff-format, ruff

ci(sct-runner): update sct runners versions in jenkins labels
  vars/getJenkinsLabels.groovy
Due: none

refactor(monkey): Move SLA nemesis into own module
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/sla.py
  unit_tests/unit/nemesis/monkey/test_sla.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(nvme): add self-test orchestration and end-of-test log collection
  sdcm/logcollector.py
  sdcm/sct_events/event_handler.py
  sdcm/sct_events/handlers/nvme_self_test.py
  sdcm/tester.py
  sdcm/utils/nvme.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff

ci(backport): bump github-automation pin to disable AI conflict resolver
  .github/workflows/call_backport_with_jira.yaml
Due: none
