Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(remote-logger): shut down the log-follower pool so its worker can exit
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_remote_logger_executor_lifecycle.py
Due: ruff-format, ruff

fix(kernel-panic): fail test when a loader or monitor node becomes unreachable
  defaults/severities.yaml
  docs/kernel-panic-detection.md
  sdcm/cluster.py
  sdcm/kernel_panic_checker.py
  sdcm/sct_events/system.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_kernel_panic_checker.py
  unit_tests/unit/test_sct_events_system.py
Due: ruff-format, ruff, update-conf-docs

docs(skill): add unit-test anti-patterns from PR #16093/#16142 reviews
  skills/writing-unit-tests/SKILL.md
  skills/writing-unit-tests/references/anti-patterns.md
  skills/writing-unit-tests/references/common-pitfalls.md
  skills/writing-unit-tests/workflows/write-a-unit-test.md
Due: none

improvement(provision-test): run latte in the PR provision test
  test-cases/PR-provision-test.yaml
Due: none

refactor(nemesis): extract grow/shrink nemesis into monkey/grow_shrink.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/grow_shrink.py
  sdcm/nemesis/utils/topology_ops.py
  unit_tests/unit/nemesis/monkey/grow_shrink/__init__.py
  unit_tests/unit/nemesis/monkey/grow_shrink/conftest.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_add_remove_rack.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_grow_shrink_cluster.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_terminate_and_remove_node.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_topology_ops.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_zero_token_node.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(logcollector): collect scylla-manager-agent.log
  sdcm/logcollector.py
Due: ruff-format, ruff

fix(nemesis): skip tombstone sstables in destroy-then-repair
  sdcm/nemesis/__init__.py
  sdcm/utils/sstable/sstable_utils.py
  unit_tests/unit/test_sstable_tombstone_filter.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

ci(jenkins): add a test-artifacts label, set on scylla-doctor bumps
  Jenkinsfile
  docs/contribution-handbook.md
  renovate.json
  skills/code-review/references/review-checklist.md
Due: none

fix(nemesis): exclude ModifyTable nemesis where the test pins table settings
  AGENTS.md
  configurations/operator/twcs-basic-48h.yaml
  docs/nemesis.md
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/gemini/gemini-3h-ics-cdc-with-nemesis.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-twcs-3h.yaml
  test-cases/longevity/longevity-twcs-48h.yaml
Due: none

feature(manager): report snapshot size on bucket
  mgmt_cli_test.py
  sdcm/argus_results.py
  sdcm/mgmt/operations.py
  unit_tests/unit/test_mgmt_bucket_size.py
Due: ruff-format, ruff

feature(minicloud): start minicloud with --cross-arch=fail
  sdcm/utils/minicloud/manager.py
  unit_tests/unit/minicloud/test_manager.py
Due: ruff-format, ruff

fix(test-cases): make provision test keyspace pre-creation idempotent
  test-cases/PR-provision-test.yaml
Due: none

fix(minicloud): stop SCT_TEST_CASE from failing local runs
  scripts/run-minicloud-test.sh
Due: none

fix(trigger-matrix): reject `region` on gce jobs
  sdcm/utils/trigger_matrix.py
  unit_tests/trigger_matrix/conftest.py
  unit_tests/trigger_matrix/test_layout_validation.py
  unit_tests/trigger_matrix/test_version_resolution.py
Due: ruff-format, ruff

fix(triggers): pass the GCE region as gce_datacenter, not region
  configurations/triggers/perf-regression.yaml
  configurations/triggers/rolling-upgrade.yaml
  configurations/triggers/sanity.yaml
Due: none

fix(sct-config): resolve AMI params only for AWS backends
  sdcm/sct_config/config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

fix(remote): abort stress commands on a loader that is gone
  sdcm/cluster.py
  sdcm/remote/base.py
  sdcm/remote/libssh2_client/__init__.py
  sdcm/remote/libssh2_client/exceptions.py
  sdcm/remote/remote_base.py
  unit_tests/unit/test_kill_docker_loaders.py
  unit_tests/unit/test_remoter_abort.py
Due: ruff-format, ruff

refactor(adaptive_timeouts): pass node to timeout functions instead of NodeLoadInfoService
  sdcm/utils/adaptive_timeouts/__init__.py
Due: ruff-format, ruff

feature(adaptive_timeouts): expose the node's tablet replica count in load info
  sdcm/utils/adaptive_timeouts/load_info_store.py
Due: ruff-format, ruff

feature(adaptive_timeouts): load-aware decommission timeout for tablets
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff

fix(nemesis): enforce repair adaptive timeout to prevent indefinite hang
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(remoter): enforce run_long_running_cmd timeout as a real deadline
  sdcm/remote/remote_long_running.py
  unit_tests/test_remote_long_running.py
Due: ruff-format, ruff

chore(argus): update vendored argus client to 0.16.5
  argus/_version.py
  argus/client/base.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/replay_log.py
  argus/client/sct/client.py
  argus/client/session.py
  argus/client/sirenada/client.py
  argus/client/tunnel/__init__.py
  argus/client/tunnel/api.py
  argus/client/tunnel/models.py
  argus/client/tunnel/ssh.py
  argus/client/tunnel/state.py
  argus/client/types.py
  argus/version
Due: none
