Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

docs(conventions): add HTTP resilience conventions to code-review skill and AGENTS.md
  AGENTS.md
  skills/code-review/SKILL.md
Due: none

refactor(curl): migrate all curl call sites to curl_with_retry()
  sdcm/cluster.py
  sdcm/db_stats.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  sdcm/utils/scylla_metrics_ctrl.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff

feature(manager): add multi-keyspace data validation workload with latte
  data_dir/latte/mgmt_data_validation.rn
Due: none

fix(vector): avoid single quotes in Rocky 8 detection to fix bash quoting
  sdcm/provision/common/utils.py
Due: ruff-format, ruff

refactor(manager): unify backup/restore and auto-discover ks tables
  mgmt_cli_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

test(manager): add latte config for multi-DC sanity and wire pipeline
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  test-cases/manager/manager-sanity-multidc-latte.yaml
Due: none

test(backup): add test for native backup on google cloud
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/object_storage_gcs.yaml
  configurations/object_storage_s3.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-s3.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-s3.jenkinsfile
  performance_regression_manager_backup_test.py
  sdcm/cluster.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: ruff-format, ruff

fix(vector): use --nobest on Rocky 8 to work around GLIBC_2.29/2.30 dependency
  sdcm/provision/common/utils.py
Due: ruff-format, ruff

fix(pipelines): fix falback value for sub_tests
  vars/perfRegressionParallelPipeline.groovy
Due: none

fix(cluster-tools): increase major compaction timeout to prevent timeouts
  sdcm/utils/cluster_tools.py
Due: ruff-format, ruff

fix(nemesis): suppress raft topology errors in network block nemesis
  sdcm/nemesis.py
Due: ruff-format, ruff

feature(oci): support OCI multi-dc setups
  sct.py
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_peering.py
  sdcm/utils/oci_region.py
  unit_tests/unit/test_oci_peering.py
Due: ruff-format, ruff, update-conf-docs

ci(oci): support OCI multi-dc setups in groovy files
  vars/createSctRunner.groovy
  vars/getJenkinsLabels.groovy
  vars/getJobTimeouts.groovy
  vars/managerPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runCollectLogs.groovy
  vars/runSctTest.groovy
Due: none

refactor(tests): centralize expected error filters for node restarts
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(multidc-parallel-topology-schema-changes): increase data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

refactor(treewide): change n_loaders in configs from space separated to list
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-large-cluster.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
  test-cases/longevity/longevity-counters-multidc.yaml
  test-cases/longevity/longevity-encryption-at-rest-20GB-6h-multidc.yaml
  test-cases/longevity/longevity-gce-custom-d1-workload2-hybrid-raid.yaml
  test-cases/longevity/longevity-lwt-24h-multidc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multidc-parallel-network-schema-changes-12h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/platform-migration/x86-to-arm-multi-dc.yaml
  test-cases/scale/longevity-scale-5dcs-cluster-xl.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
Due: none

refactor(treewide): change n_db_nodes in configs from space separated to list
  configurations/tablets_multidc_multirack.yaml
  test-cases/features/google-cloud-snitch-multi-dc.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-large-cluster.yaml
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
  test-cases/longevity/longevity-counters-multidc.yaml
  test-cases/longevity/longevity-encryption-at-rest-20GB-6h-multidc.yaml
  test-cases/longevity/longevity-gce-custom-d1-workload2-hybrid-raid.yaml
  test-cases/longevity/longevity-lwt-24h-multidc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multidc-parallel-network-schema-changes-12h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/manager/manager-regression-multiDC-gce.yaml
  test-cases/manager/manager-regression-multiDC-set-distro.yaml
  test-cases/platform-migration/x86-to-arm-multi-dc.yaml
  test-cases/scale/longevity-scale-5dcs-cluster-xl.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
  unit_tests/test_configs/multi_region_dc_test_case.yaml
Due: none

refactor(treewide): change cluster_target_size in configs from space separated to list
  test-cases/scale/longevity-scale-5dcs-cluster-xl.yaml
Due: none

refactor(treewide): change n_db_zero_token_nodes in configs from space separated to list
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
Due: none

refactor(config): enforce strict types for IntOrList and BooleanOrList fields
  docs/artifacts_test.md
  docs/configuration_options.md
  docs/sct-configuration.md
  sdcm/mgmt/operations.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/tester.py
  sdcm/utils/operations_thread.py
  unit_tests/unit/provisioner/conftest.py
  unit_tests/unit/provisioner/test_azure_region_definition_builder.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

use another custom build
  configurations/stress_images/cql-stress-strong-consistency.yaml
  configurations/strong_consistency/prepare_cql_stress_ks_with_ec.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

refactor(strong-consistency): move api_address setting to SC-specific config
  configurations/strong_consistency/enable_experimental_sc.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

docs: add mini-plan for SC read performance test
  docs/plans/mini-plans/2026-04-02-sc-read-performance-test.md
Due: none

SCYLLADB-1115/test(performance): performance test for strong consistency
  configurations/performance/cassandra_stress_gradual_load_steps_strong_consistency.yaml
  configurations/strong_consistency/enable_experimental_sc.yaml
  configurations/strong_consistency/prepare_cs_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-write-tablets-sc.jenkinsfile
  performance_regression_gradual_grow_throughput.py
Due: ruff-format, ruff

feature(strong-consistency): add read performance test for strong consistency
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cql_stress_read_ks_with_sc.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_ec.yaml
  configurations/strong_consistency/prepare_cs_read_ks_with_sc.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-tablets-ec.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-read-tablets-sc.jenkinsfile
  performance_regression_gradual_grow_throughput.py
Due: ruff-format, ruff

feature(strong-consistency): add cql-stress config for SC keyspace preparation
  configurations/strong_consistency/prepare_cql_stress_ks_with_sc.yaml
Due: none

feature(stress-tools): add custom cql-stress image for strong consistency testing
  configurations/stress_images/cql-stress-strong-consistency.yaml
  docs/building-custom-cql-stress-image.md
  docs/plans/mini-plans/build-cql-stress-custom-branch-for-sc.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
