Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(cloud_catalog): correct z3 local SSD capacity in the GCE catalog
  data/instance_catalog/gce.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

style(sct_events): replace ticket reference with timeless rationale in GCE live-migration comment
  sdcm/sct_events/events_analyzer.py
  unit_tests/unit/test_sct_events_events_analyzer.py
Due: ruff-format, ruff

fix(sct_events): don't abort test on benign GCE live-migration event for loader nodes
  sdcm/sct_events/events_analyzer.py
  unit_tests/unit/test_sct_events_events_analyzer.py
Due: ruff-format, ruff

test(microbenchmark): add perf-cql-raw weekly microbenchmark tests
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_arm64.yaml
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_x86_64.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64.jenkinsfile
  microbenchmarking_test.py
  sdcm/argus_results.py
  test-cases/microbenchmarking/amazon_perf_cql_raw_ARM.yaml
  test-cases/microbenchmarking/amazon_perf_cql_raw_x86.yaml
Due: ruff-format, ruff

refactor(longevity-large-partition-200k-pks): Retune to ~40% utilization and add LZ4
  jenkins-pipelines/oss/tier1/longevity-large-partition-200k-pks-4days-gce.jenkinsfile
  test-cases/longevity/longevity-large-partition-200k_pks-4days-high-disk-capacity.yaml
Due: none

feature(pgo-trigger): add cql_raw microbenchmark jobs to PGO offline installer trigger
  configurations/triggers/pgo-offline-installer.yaml
Due: none

feature(sizing): migrate alternator test-case configs to constraint-based sizing
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
Due: none

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/test_events.py
  unit_tests/test_sct_events_filters.py
Due: ruff-format, ruff

fix(monitor): point to recreated 4.16.0 monitor image
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/restore.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/integration/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff

fix(monitor): drop conflicting node exporter before manager backend install
  sdcm/cluster.py
  unit_tests/unit/test_manager_backend_node_exporter.py
Due: ruff-format, ruff

fix(sdcm/cluster): Update overview template to use 4.16 monitoring
  data_dir/monitoring-dash-template.json
  sdcm/cluster.py
Due: ruff-format, ruff

improvement(monitor): Update to 4.16.x branch
  configurations/manager/debian12.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(nemesis): ignore benign SSTable-load gate-closed error during NoCorruptRepairMonkey
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
  unit_tests/unit/test_sct_events_database.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct_events): don't abort test on benign GCE live-migration event for loader nodes
  sdcm/sct_events/events_analyzer.py
  unit_tests/test_sct_events_events_analyzer.py
Due: ruff-format, ruff

style(sct_events): replace ticket reference with timeless rationale in GCE live-migration comment
  sdcm/sct_events/events_analyzer.py
Due: ruff-format, ruff

fix(jenkins): bound journal and coredump collection to the current build
  utils/upload_sct_coredump.sh
  vars/collectBuilderLogs.groovy
  vars/collectTestCoredumps.groovy
Due: none

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/__init__.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

fix(monitor): point to recreated 4.16.0 monitor image
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff
