Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

unit-test(stability): fix flakiness in test_execute_nemesis_success
  unit_tests/unit/nemesis/execute_nemesis/test_basic.py
Due: ruff-format, ruff

fix(unit_tests): isolate GCE bind-race filter test in its own class
  unit_tests/test_events.py
Due: ruff-format, ruff

fix(oci): resolve loader shapes through sizing so OCI loaders default to Arm
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
Due: none

fix(sizing): count one vCPU per OCPU on OCI Ampere A1 shapes
  data/instance_catalog/oci.yaml
  docs/cross-cloud-sizing.md
  sdcm/utils/cloud_catalog/catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
Due: ruff-format, ruff

improvement(oci): declare vCPUs per OCPU on fixed shapes, explain loader sizes
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

fix(lint-pipelines): keep pipeline linting off the real cloud APIs
  sdcm/utils/lint/validator.py
  unit_tests/lint/conftest.py
  unit_tests/lint/test_validator.py
  unit_tests/test_data/lint/azure-branched-image.jenkinsfile
  unit_tests/test_data/lint/azure-released-image.jenkinsfile
  unit_tests/test_data/lint/base.yaml
  unit_tests/test_data/lint/mixed-scylla.yaml
  unit_tests/test_data/lint/oci-branched-image.jenkinsfile
  unit_tests/test_data/lint/oci-released-image.jenkinsfile
Due: ruff-format, ruff

fix(lint-pipelines): stub the AWS capacity-reservation lookups too
  sdcm/utils/lint/validator.py
  unit_tests/lint/test_validator.py
  unit_tests/test_data/lint/aws-capacity-reservation.jenkinsfile
  unit_tests/test_data/lint/aws-dedicated-host.jenkinsfile
  unit_tests/test_data/lint/base.yaml
  unit_tests/test_data/lint/capacity-reservation.yaml
  unit_tests/test_data/lint/dedicated-host.yaml
  unit_tests/unit/test_lint_patch_targets.py
Due: ruff-format, ruff

feature(upload-coredump): allow-list coredumps by comm before upload
  docs/faq.md
  unit_tests/unit/test_upload_sct_coredump.py
  unit_tests/unit/test_upload_sct_coredump_sh.py
  utils/upload_sct_coredump.sh
  utils/upload_sct_coredump_inside_hydra.sh
  vars/collectTestCoredumps.groovy
Due: ruff-format, ruff

fix(upload-coredump): validate and escape COREDUMPS_INCLUDE_COMM entries
  docs/faq.md
  unit_tests/unit/test_upload_sct_coredump_sh.py
  utils/upload_sct_coredump.sh
Due: ruff-format, ruff

fix(upload-coredump): match systemd's escaped comm, confine '*' to it
  docs/faq.md
  unit_tests/unit/test_upload_sct_coredump.py
  unit_tests/unit/test_upload_sct_coredump_sh.py
  utils/upload_sct_coredump.sh
Due: ruff-format, ruff

fix(upload-coredump): quote shell vars and stop treating a path as regex
  unit_tests/unit/test_upload_sct_coredump_sh.py
  utils/upload_sct_coredump.sh
Due: ruff-format, ruff

docs(skill): warn against asserting on the text of non-Python code
  skills/writing-unit-tests/SKILL.md
  skills/writing-unit-tests/references/anti-patterns.md
  skills/writing-unit-tests/workflows/write-a-unit-test.md
Due: none

fix(nemesis): stop misreporting build_disruptions_by_name failures
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/runners.py
  unit_tests/unit/nemesis/test_sisyphus.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(cluster): reap gpg helper daemons after fetching apt keys
  sdcm/cluster.py
  skills/package-installation/SKILL.md
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff

fix(test-cases): remove explicit STCS override from Tier1/Sanity longevity tests
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

chore(test-cases): remove enterprise-features/ics longevity overlays
  jenkins-pipelines/oss/features/ICS/ics-longevity-100gb-4h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-10gb-3h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-1tb-7days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-200gb-48h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-50gb-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-large-partition-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-mv-si-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-toggle-strategy-large-partitions-24h.jenkinsfile
  jenkins-pipelines/oss/vnodes/enterprise_features/ics-longevity-200gb-48h-vnodes.jenkinsfile
  test-cases/enterprise-features/ics/longevity/ics-longevity-100gb-4h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-10gb-3h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-1TB-7days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-50GB-4days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-mv-si-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: none

fix(events): match new Scylla exception format in raft closed_error filter
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
Due: ruff-format, ruff

fix(test-cases): drop STCS override from operator multitenant longevity tests
  test-cases/scylla-operator/longevity-scylla-operator-12h-multitenant-14-clients.yaml
  test-cases/scylla-operator/longevity-scylla-operator-3h-multitenant.yaml
Due: none

fix(nemesis): make @scylla_versions decorator support NemesisBaseClass subclasses
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

test(events): parametrize event object tests
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_continuous_events_registry.py
  unit_tests/unit/events/test_database.py
  unit_tests/unit/events/test_health.py
  unit_tests/unit/events/test_monitors.py
  unit_tests/unit/events/test_operator.py
  unit_tests/unit/events/test_real_events.py
  unit_tests/unit/events/test_system.py
  unit_tests/unit/test_sct_events_health.py
  unit_tests/unit/test_sct_events_operator.py
  unit_tests/unit/test_sct_events_system.py
Due: ruff-format, ruff

test(events): group event unit tests
  unit_tests/unit/events/__init__.py
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_base.py
  unit_tests/unit/events/test_continuous_events_registry.py
  unit_tests/unit/events/test_events_analyzer.py
  unit_tests/unit/events/test_events_device.py
  unit_tests/unit/events/test_events_handler.py
  unit_tests/unit/events/test_events_processes.py
  unit_tests/unit/events/test_file_logger.py
  unit_tests/unit/events/test_filters.py
  unit_tests/unit/events/test_grafana.py
  unit_tests/unit/events/test_loaders.py
  unit_tests/unit/events/test_nodetool.py
  unit_tests/unit/events/test_provision_error_event.py
  unit_tests/unit/events/test_real_events.py
  unit_tests/unit/test_events.py
  unit_tests/unit/test_sct_events_continuous_events_registry.py
  unit_tests/unit/test_sct_events_events_analyzer.py
  unit_tests/unit/test_sct_events_events_handler.py
  unit_tests/unit/test_sct_events_file_logger.py
  unit_tests/unit/test_sct_events_grafana.py
  unit_tests/unit/test_sct_events_loaders.py
Due: ruff-format, ruff

docs(nemesis): document delete nemesis requirements and intent
  sdcm/nemesis/monkey/data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(data-validation): always define partition-range attributes
  sdcm/nemesis/monkey/data_operations.py
  sdcm/utils/database_query_utils.py
  unit_tests/unit/test_partitions_validation_attributes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(nemesis): move static feasibility checks to precheck()
  sdcm/nemesis/monkey/data_operations.py
  unit_tests/unit/nemesis/monkey/test_data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(nemesis): extract data operations into monkey/data_operations.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/data_operations.py
  sdcm/nemesis/utils/common.py
  sdcm/utils/version_utils.py
  unit_tests/unit/nemesis/monkey/conftest.py
  unit_tests/unit/nemesis/monkey/test_data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(events): address review comments
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_events_handler.py
  unit_tests/unit/events/test_file_logger.py
  unit_tests/unit/events/test_loaders.py
  unit_tests/unit/events/test_provision_error_event.py
Due: ruff-format, ruff

test(events): make test_filter independent of test order
  unit_tests/unit/events/test_real_events.py
Due: ruff-format, ruff

refactor(manager): update Jenkins pipeline names
  jenkins-pipelines/manager/ubuntu24-manager-sanity-older-scylla.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity-vnodes-tablets.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade-older-scylla.jenkinsfile
Due: none

fix(kernel-panic): fail test when a loader or monitor node becomes unreachable
  defaults/severities.yaml
  docs/kernel-panic-detection.md
  sdcm/cluster.py
  sdcm/kernel_panic_checker.py
  sdcm/sct_events/system.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_kernel_panic_checker.py
  unit_tests/unit/test_sct_events_system.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
