Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(jenkins): resolve merge conflicts in JUnit XML reporting
  Jenkinsfile
Due: none

chore(renovate): restore Docker Hub datasource schedule rule
  renovate.json
Due: none

chore(renovate): remove dockerfile manager
  renovate.json
Due: none

fix(nemesis): unset running nemesis after _grow_cluster
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(nemesis): unset running nemesis after _grow_cluster
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(plans): add composition analysis for complex multi-config pipelines
  docs/plans/resilient-test-config-dependencies.md
Due: none

fix(jenkins-ci): disable AWS credentials in unittest stage
  Jenkinsfile
  sct.py
Due: ruff-format, ruff

fix(unit-tests): add session-scoped cloud service mocks to conftest
  unit_tests/conftest.py
Due: ruff-format, ruff

fix(unit-tests): mark cloud-dependent tests as integration and fix mocks
  unit_tests/test_aws_services.py
  unit_tests/test_base_version.py
  unit_tests/test_clean_cloud_resources_func.py
  unit_tests/test_config.py
  unit_tests/test_scan_operation_thread.py
  unit_tests/test_send_email.py
  unit_tests/test_utils_common.py
  utils/cloud_cleanup/__init__.py
Due: ruff-format, ruff

feature(upgrade): add large_partition_stress_during_upgrade parameter
  configurations/azure/azure_rolling_upgrade.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  test-cases/upgrades/rolling-upgrade.yaml
  upgrade_test.py
Due: ruff-format, ruff, update-conf-docs

feature(gemini): upgrade gemini to 2.3.2
  defaults/docker_images/gemini/values_gemini.yaml
Due: update-conf-docs

fix(scylla-doctor): skip SystemTopologyCollector failures while DOCTOR-31 is open
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(test): change 90% with nemesis test to have 2 nodes per rack
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
Due: none

test(manager): enable Argus email reporting across test cases
  test-cases/manager/manager-backup-1TB-gce.yaml
  test-cases/manager/manager-backup-and-restore-4TB-single-node.yaml
  test-cases/manager/manager-backup-restore-set-dataset.yaml
  test-cases/manager/manager-installation-set-distro.yaml
  test-cases/manager/manager-multiple-restores-schema-and-data.yaml
  test-cases/manager/manager-no-delta-backup-set-dataset.yaml
  test-cases/manager/manager-regression-alternator-singleDC-set-distro.yaml
  test-cases/manager/manager-regression-azure.yaml
  test-cases/manager/manager-regression-ipv6.yaml
  test-cases/manager/manager-regression-multiDC-gce.yaml
  test-cases/manager/manager-regression-multiDC-set-distro.yaml
  test-cases/manager/manager-regression-singleDC-set-distro.yaml
  test-cases/manager/manager-repair-control.yaml
  test-cases/manager/manager-repair-intensity-multiple-repaired-nodes.yaml
  test-cases/manager/manager-repair-intensity-single-repaired-nodes.yaml
  test-cases/manager/manager-restore-outside.yaml
  test-cases/manager/prepare_snapshot/100GB_dataset.yaml
  test-cases/manager/prepare_snapshot/10GB_dataset.yaml
  test-cases/manager/prepare_snapshot/2TB_dataset.yaml
  test-cases/manager/prepare_snapshot/5GB_dataset.yaml
Due: none

refactor(tests): centralize expected error filters for node restarts
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(scylla-doctor): also skip GossipInfoCollector failure for DOCTOR-31
  utils/scylla_doctor.py
Due: ruff-format, ruff

test(gemini): add schema based discprepancy coverage
  sdcm/gemini_thread.py
  unit_tests/test_data/gemini_schemas/no_delete_statement_ratios.json
  unit_tests/test_data/gemini_schemas/simple_two_partition_keys_schema.json
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff

test(manager): run debian12 tests with disabled client encryption
  jenkins-pipelines/manager/debian12-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
Due: none

fix(ManagerEncryptionTests): return default encrypt state in tearDown
  mgmt_cli_test.py
  sdcm/cluster.py
Due: ruff-format, ruff

feature(tooling): add staging trigger CLI for Jenkins job management
  staging_trigger.py
  utils/staging_trigger/__init__.py
  utils/staging_trigger/cache.py
  utils/staging_trigger/cli.py
  utils/staging_trigger/constants.py
  utils/staging_trigger/interactive.py
  utils/staging_trigger/jenkins_client.py
  utils/staging_trigger/job_generation.py
  utils/staging_trigger/trigger.py
Due: ruff-format, ruff

refactor(perf-regression): support multiple keyspace.table pairs in gradual throughput tests
  configurations/performance/gocql-predefined-throughput-steps-stress.yaml
  configurations/performance/rust-predefined-throughput-steps-cql-stress.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
  unit_tests/test_gradual_grow_throughput.py
Due: ruff-format, ruff, update-conf-docs

improvement(platform-migration): add platform migration test trigger
  jenkins-pipelines/master-triggers/sct_triggers/platform-migration-weekly-trigger.xml
  jenkins-pipelines/oss/platform-migration/platform-migration-50perc-batched.jenkinsfile
Due: none

fix(events): match Docker WARN log level in WARNING suppress regex
  sdcm/sct_events/database.py
Due: ruff-format, ruff

fix(events): match WARN log level in Docker backend suppression regex
  sdcm/sct_events/database.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
