Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(nemesis): collect logs and terminate nodes that fail during provisioning
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(cloud-cleanup): disable TerminationProtection before deleting orphaned CloudFormation stacks
  utils/cloud_cleanup/k8s_eks/clean_eks.py
Due: ruff-format, ruff

fix(cloud-cleanup): add email notification on cleanup pipeline failure
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
Due: none

fix(cloud-cleanup): fix circular import, add boto3 timeouts, and per-region error handling
  sdcm/utils/gce_utils.py
  utils/cloud_cleanup/aws/clean_aws.py
  utils/cloud_cleanup/k8s_eks/clean_eks.py
Due: ruff-format, ruff

fix(cloud-cleanup): fix aws_supported_regions AttributeError on class-level access
  sct.py
  sdcm/sct_config.py
  sdcm/utils/aws_peering.py
  utils/copy_ami_to_all_regions.py
Due: ruff-format, ruff, update-conf-docs

fix(cloud-cleanup): simplify email notification to avoid rawBuild API
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
Due: none

defaults: Set Scylla Monitoring branch 4.14.1 scylladb-monitor-4-14-0-2026-02-05t11-58-50z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

fix(nemesis): collect logs and terminate nodes that fail during provisioning
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct_config): skip image/repo lookup when unified_package is set
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

chore(defaults): Set Scylla Monitoring branch 4.14.1 scylladb-monitor-4-14-0-2026-02-05t11-58-50z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

defaults: Set Scylla Monitoring branch 4.14.3 scylladb-monitor-4-14-3-2026-04-13t06-26-19z
  defaults/aws_config.yaml
  defaults/gce_config.yaml
Due: update-conf-docs

feature(scylla-doctor): support full edition download from private S3 bucket
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/keystore.py
  sdcm/sct_config.py
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff, update-conf-docs

test(upgrade): comment out backup validation sub-tests for debugging
  mgmt_upgrade_test.py
Due: ruff-format, ruff

fix(sct-runner): bump GCE builder template version to v8
  sdcm/utils/gce_builder.py
  vars/getJenkinsLabels.groovy
Due: ruff-format, ruff

feature(sct-runner): decouple SSH keys from baked images via boot-time sync service
  sdcm/sct_runner.py
Due: ruff-format, ruff

docs(scylla-doctor): add SD release gating suite implementation plan
  docs/plans/mini-plans/scylla-doctor-release-gating-suite.md
Due: none

refactor(keystore): migrate SSH callers to get_ssh_key_pair()
  sdcm/sct_runner.py
  sdcm/utils/aws_region.py
  unit_tests/provisioner/test_azure_region_definition_builder.py
  unit_tests/provisioner/test_provisioner.py
Due: ruff-format, ruff

feature(keystore): add caching, retry, logging, and Secrets Manager backend
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/keystore.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

test(keystore): add comprehensive unit tests
  unit_tests/test_keystore.py
Due: ruff-format, ruff

docs(keystore): add S3-to-Secrets-Manager migration guide
  AGENTS.md
  docs/keystore-secrets-manager.md
Due: none

feature(scylla-doctor): add SD-only test mode flag for release gating
  artifacts_test.py
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(docker-backend): drop explicit 'rm -rf' of monitoring data
  sdcm/cluster_docker.py
Due: ruff-format, ruff

fix(docker-backend): prevent provision test from hanging at teardown
  sdcm/prometheus.py
  sdcm/sct_events/grafana.py
Due: ruff-format, ruff

feature(scylla-doctor): add SD release gating pipeline shared library
  jenkins-pipelines/scylla-doctor/_display_name
  jenkins-pipelines/scylla-doctor/sd-release-gating.jenkinsfile
  vars/sdReleaseGatingPipeline.groovy
Due: none

feature(scylla-doctor): add custom tarball URL parameter for SD release gating
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  utils/scylla_doctor.py
  vars/artifactsPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(events): add missing yield to ignore_aborted_snapshot_upload_storage_io_errors
  mgmt_upgrade_test.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

fix(events): add missing yield to ignore_aborted_snapshot_upload_storage_io_errors (#14341)
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

test(yaml): add new test config for all tables
  data_dir/latte/tablet_split_merge_load.rn
  data_dir/nemesis.yml
  defaults/severities.yaml
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-24h.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/sct_events/database.py
  sdcm/stress/latte_thread.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

test
  vars/sdReleaseGatingPipeline.groovy
Due: none

feature(perf): add dict format support for latte gradual throughput steps
  docs/configuration_options.md
  docs/plans/latte-concurrency-gradual-throughput.md
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  sdcm/stress/latte_thread.py
  unit_tests/test_perf_gradual_config.py
Due: ruff-format, ruff, update-conf-docs

feature(latte): update latte_cs_alike.rn key size to match cassandra-stress
  configurations/performance/latte-perf-regression-latency-650gb-upgrade.yaml
  data_dir/latte/latte_cs_alike.rn
Due: none

feature(perf): add latte enterprise test configs for tablets and vnodes
  configurations/performance/latency-decorator-error-thresholds-steps-latte-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-latte-vnodes.yaml
  configurations/performance/latte_gradual_load_steps_enterprise.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/latte-perf-regression-predefined-throughput-steps-vnodes.jenkinsfile
  test-cases/performance/latte-perf-regression-predefined-throughput-steps-tablets.yaml
  test-cases/performance/latte-perf-regression-predefined-throughput-steps-vnodes.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
