Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(nvme): add NVMe diagnostics config parameters
  defaults/docker_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): integrate NVMe diagnostics into node setup and health checks
  defaults/severities.yaml
  sdcm/cluster.py
  sdcm/sct_events/health.py
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): add self-test orchestration and end-of-test log collection
  defaults/docker_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/assets/progress-roadmap.svg
  sdcm/logcollector.py
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/nvme.py
  sdcm/utils/nvme_diagnostics.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

docs(plans): add strict jinja stress templating mini-plan
  docs/plans/mini-plans/2026-07-09-strict-jinja-stress-templating.md
Due: none

feat(longevity): Add option to template stress commands based on disk size
  defaults/test_default.yaml
  docs/configuration_options.md
  longevity_test.py
  sdcm/sct_config.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff, update-conf-docs

feat: Add option to use Jinja templated stress commands
  sdcm/utils/loader_utils.py
  unit_tests/unit/test_mixin_lazy_context.py
  unit_tests/unit/test_render_stress_cmd.py
Due: ruff-format, ruff

feat: Add ability to define shared variables
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/loader_usage.md
  docs/plans/mini-plans/2026-07-09-strict-jinja-stress-templating.md
  longevity_test.py
  sdcm/sct_config.py
  sdcm/utils/loader_utils.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_render_stress_cmd.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff, update-conf-docs

test: Change elasticity-90-percent to use templates stress
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
Due: none

feature(nvme): add NVMe diagnostics utility module
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff

docs(nvme): add NVMe diagnostics collection plan for DB nodes
  docs/plans/MASTER.md
  docs/plans/infrastructure/nvme-diagnostics-collection.md
  docs/plans/progress.json
Due: none

feature(nvme): integrate NVMe diagnostics into node setup and health checks
  defaults/severities.yaml
  sdcm/cluster.py
  sdcm/sct_events/health.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): add self-test orchestration and end-of-test log collection
  docs/plans/assets/progress-roadmap.svg
  sdcm/logcollector.py
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/nvme.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: ruff-format, ruff

docs(nvme): add NVMe diagnostics collection plan for DB nodes
  docs/plans/MASTER.md
  docs/plans/nvme-diagnostics-collection.md
  docs/plans/progress.json
Due: none

feature(nvme): add NVMe diagnostics config parameters
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

PM-337: point call_jira_sync.yml at github-automation main
  .github/workflows/call_jira_sync.yml
Due: none

fix(jenkins): survive Jenkins agents without cloud metadata
  vars/longevityPipeline.groovy
  vars/rollingUpgradePipeline.groovy
  vars/tagBuilder.groovy
Due: none

ci(jenkins): resolve a pinned Jenkins agent label for any pipeline
  docs/sct-pipelines.md
  vars/getJenkinsLabels.groovy
Due: none

ci(minicloud): add an OS rolling-upgrade job
  configurations/minicloud/generic-rolling-upgrade.yaml
  jenkins-pipelines/oss/minicloud/minicloud-rolling-upgrade.jenkinsfile
Due: none

fix(provision/aws): request a public IP in the modern provisioner
  sdcm/provision/aws/instance_parameters.py
  sdcm/sct_provision/aws/instance_parameters_builder.py
Due: ruff-format, ruff

ci(minicloud): run minicloud on a local KVM agent
  docs/minicloud.md
  sdcm/utils/lint/env_builder.py
  vars/artifactsPipeline.groovy
  vars/longevityPipeline.groovy
  vars/minicloudPreflight.groovy
  vars/minicloudReclaim.groovy
  vars/rollingUpgradePipeline.groovy
  vars/stopMinicloud.groovy
Due: ruff-format, ruff

fix(minicloud): put minicloud0 into firewalld trusted zone
  docs/minicloud.md
  sdcm/utils/minicloud/networking.py
  unit_tests/unit/minicloud/test_networking.py
  vars/minicloudPreflight.groovy
Due: ruff-format, ruff

feat(adaptive_timeouts): report hard_timeout to Argus results table
  sdcm/utils/adaptive_timeouts/__init__.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff

test(unit): move Cassandra Docker cluster tests
  unit_tests/test_cassandra_docker_cluster.py
Due: ruff-format, ruff

test(unit): merge Cassandra cluster tests into unit tree
  unit_tests/test_cluster_cassandra.py
  unit_tests/unit/test_cluster_cassandra.py
Due: ruff-format, ruff

test(unit): move curl utility tests
  unit_tests/unit/test_curl_utils.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
