Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feature(artifacts): add fallback_to_next_availability_zone to artifact test cases
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/centos7.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2004.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404.yaml
Due: none

fix(manager): bump default Manager version to 3.11 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  unit_tests/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

refactor(multidc-parallel-topology-schema-changes): reduce data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

fix(sct_config): add missing config option definitions for AZ fallback parameters
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(Jenkinsfile): clear availability_zone for GCE provision test
  Jenkinsfile
Due: none

fix(aws-provision): use 'instance' resource type in spot fleet tag specifications
  sdcm/provision/aws/provisioner.py
Due: ruff-format, ruff

fix(aws-provision): remove deprecated price parameter from spot fleet request
  sdcm/provision/aws/utils.py
Due: ruff-format, ruff

fix(azure): udpate usage to match latest azure-compute version
  sdcm/provision/azure/utils.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/utils/azure_region.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_get_scylla_images.py
  unit_tests/unit/provisioner/test_provisioner.py
  uv.lock
Due: ruff-format, ruff

fix(integration-test): skip by default azure reboot test
  unit_tests/integration/test_azure_vm_provider_reboot.py
Due: ruff-format, ruff

fix(provision): unpin availability_zone for large-partition GCE test
  jenkins-pipelines/master-triggers/sct_triggers/tier1-custom-time-trigger.xml
Due: none

fix(tester): replace scalar comparisons broken by IntOrList normalization
  sdcm/tester.py
  unit_tests/integration/test_provisioning.py
Due: ruff-format, ruff

fix(sct-config,logcollector): fix remaining IntOrList scalar assumptions
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/tester.py
  unit_tests/integration/test_config.py
  unit_tests/integration/test_provisioning.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff, update-conf-docs

fix(sct-config): clean up stale IntOrList scalar assumptions
  sdcm/sct_config.py
  sdcm/tester.py
Due: ruff-format, ruff, update-conf-docs

fix(k8s): fix n_loaders truthiness check in EKS/GKE deploy functions
  sdcm/cluster_k8s/eks.py
  sdcm/cluster_k8s/gke.py
  unit_tests/unit/k8s/test_k8s_deploy.py
Due: ruff-format, ruff

improvement(scale-cluster): Change instance type to i7i instead of i4i
  test-cases/scale/scale-cluster.yaml
Due: none

fix(provision/gce): add zone fallback on GCE resource pool exhaustion
  defaults/aws_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_gce.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
Due: ruff-format, ruff, update-conf-docs
