Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

refactor(backtrace-decoding): rename decode_raw_backtrace to decode_backtrace_local
  sdcm/cluster.py
Due: ruff-format, ruff

test(backtrace-decoding): add integration test for external backtrace service
  unit_tests/integration/test_external_backtrace_service.py
Due: ruff-format, ruff

fix(cluster): use external backtrace service to decode backtraces
  sdcm/cluster.py
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

feature(manager): add multi-keyspace data validation workload with latte
  data_dir/latte/mgmt_data_validation.rn
Due: none

test(manager): add latte config for multi-DC sanity and wire pipeline
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  test-cases/manager/manager-sanity-multidc-latte.yaml
Due: none

refactor(manager): unify backup/restore and auto-discover ks tables
  mgmt_cli_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

fix(gce): normalize version tag with '~' instead of '.' for Argus consistency
  sdcm/sct_config.py
  unit_tests/unit/test_version_consistency_across_backends.py
Due: ruff-format, ruff, update-conf-docs

fix(unit-test): reset TestConfig state in test_decode_backtrace fixture teardown
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

fix(apt-keys): add fallback keyservers and HTTPS fallback to fetch_apt_keys
  sdcm/cluster.py
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff

fix(gce): use gce_datacenter instead of region in artifacts pipeline
  jenkins-pipelines/oss/artifacts/artifacts-gce-image.jenkinsfile
Due: none

perf(backtrace-decoding): cache decoded backtraces to avoid redundant work
  sdcm/cluster.py
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

fix(backtrace-decoding): use actual _decode_via_external_service in integration test
  unit_tests/integration/test_external_backtrace_service.py
Due: ruff-format, ruff

docs(backtrace-decoding): add mini-plan for external backtrace decoding via backtraces.scylladb.com
  docs/plans/mini-plans/2026-04-28-sct-275-external-backtrace-decoding.md
Due: none

feature(scylla-migrator): add CS-to-Scylla migration tests
  defaults/aws_emr_config.yaml
  sdcm/provision/aws/emr_provisioner.py
  sdcm/spark_migrator.py
  spark_migrator_test.py
  test-cases/spark-migrator/cs-to-scylla-500gb.yaml
  test-cases/spark-migrator/cs-to-scylla-small.yaml
  unit_tests/unit/test_emr_provisioner.py
  unit_tests/unit/test_spark_migrator.py
Due: ruff-format, ruff, update-conf-docs

docs(scylla-migrator): add CS-to-Scylla migration user docs
  README.md
  docs/cs-to-scylla-migration.md
  docs/plans/infrastructure/cassandra-cluster-support.md
Due: none

feature(scylla-migrator): add Cassandra source cluster support
  configurations/network_config/test_communication_public.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster_cassandra.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/cluster.py
  sdcm/tester.py
  sdcm/utils/common.py
  test-cases/gemini/gemini-cassandra-oracle-aws.yaml
  unit_tests/unit/test_cluster_cassandra.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(apt-install): add Acquire::http::Timeout and Acquire::Retries to apt-get calls
  AGENTS.md
  sdcm/cluster.py
  sdcm/utils/apt.py
  skills/package-installation/SKILL.md
  unit_tests/unit/test_dns_readiness.py
Due: ruff-format, ruff

fix(cql): use AsyncioConnection to prevent [Errno 9] Bad file descriptor
  sdcm/cluster.py
Due: ruff-format, ruff

feat(nemesis): Add type hint to the tester object
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(nemesis): Add type hint to the tester object
  sdcm/nemesis.py
Due: ruff-format, ruff

docs(skills): add running-staging-jobs skill for PR validation workflow
  AGENTS.md
  skills/running-staging-jobs/SKILL.md
  skills/running-staging-jobs/workflows/run-and-track.md
Due: none
