Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

SCYLLADB-4601/docs(sc): mark RollingRestartConfigChangeInternodeCompression blocked by SCYLLADB-4625
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/docs(sc): record the first four nemesis of run #22
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/feature(configurations): exclude the five restart nemesis run #22 passed
  configurations/nemesis/sweep_resume_after_run7.yaml
Due: none

SCYLLADB-4601/docs(sc): record run #22 through StopWaitStartMonkey
  docs/sc-sanity-nemesis-coverage.md
Due: none

fix(scylla-doctor): add missing import of urlparse
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(repo-cache): tolerate a busy package manager and fail loudly
  sdcm/cluster.py
  sdcm/provision/common/utils.py
  sdcm/utils/apt.py
  sdcm/utils/rpm.py
  unit_tests/unit/test_configuration_script_quoting.py
  unit_tests/unit/test_update_repo_cache.py
Due: ruff-format, ruff

fix(nemesis): wait for raft topology to settle after a decommission reboot
  sdcm/nemesis/__init__.py
  sdcm/utils/topology_ops.py
  unit_tests/unit/nemesis/monkey/test_decommission_streaming_err.py
  unit_tests/unit/test_topology_ops.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(vector): install the logging agent from a downloaded package
  docs/http-retry-conventions.md
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  sdcm/utils/curl.py
  unit_tests/integration/test_vector_install_script.py
  unit_tests/test_curl_utils.py
  unit_tests/unit/provisioner/test_vector_install_script.py
Due: ruff-format, ruff

fix(cost): address review — config reuse, a wrong job param, simpler cache
  sdcm/sct_config/config.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/cost.py
  sdcm/utils/cloud_catalog/lifecycle.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/cloud_monitor/common.py
  sdcm/utils/cloud_monitor/resources/__init__.py
  sdcm/utils/cloud_monitor/resources/instances.py
  sdcm/utils/cloud_monitor/resources/static_ips.py
  unit_tests/unit/test_cost.py
  vars/estimateTestCost.groovy
Due: ruff-format, ruff

docs(plan): add Azure multi-vnic support
  docs/plans/MASTER.md
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/plans/progress.json
Due: none

feature(azure): derive the Azure NIC layout from scylla_network_config
  docs/configuration_options/scylla-installation-and-configuration.md
  sdcm/provision/network_configuration.py
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/scylla.py
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

feature(azure): provision multiple network interfaces per VM
  sdcm/provision/azure/ip_provider.py
  sdcm/provision/azure/network_interface_provider.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/subnet_provider.py
  sdcm/provision/azure/utils.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
Due: ruff-format, ruff

feature(azure): validate the NIC count against the VM size
  sdcm/provision/azure/provisioner.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
Due: ruff-format, ruff

feature(azure): configure addresses and policy routing for secondary NICs
  sdcm/cluster_azure.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/test_azure_secondary_nics_script.py
Due: ruff-format, ruff

feature(azure): implement AzureNode network interface introspection
  sdcm/cluster_azure.py
  sdcm/provision/azure/provisioner.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

feature(azure): give the SCT runner IPv6 when the test config enables it
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/sct-runners.md
  sdcm/sct_runner.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

docs(plan): mark the Azure multi-VNIC plan as complete
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/plans/progress.json
Due: none

feature(azure): support IPv6 on DB nodes, gated on the config
  sdcm/cluster_azure.py
  sdcm/provision/azure/network_interface_provider.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/subnet_provider.py
  sdcm/provision/azure/virtual_network_provider.py
  sdcm/provision/network_configuration.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
  unit_tests/unit/test_azure_secondary_nics_script.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

feature(azure): add the multi-DC schema/topology changes 12h pipeline
  configurations/azure/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  jenkins-pipelines/oss/tier1/longevity-multidc-schema-topology-changes-12h-azure.jenkinsfile
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

feature(azure): build the Scylla network configuration on the node
  sdcm/cluster_azure.py
Due: ruff-format, ruff

docs(azure): add the routable-IPv6 network config layout and guide
  configurations/azure/network_config/all_addresses_ipv6_public.yaml
  docs/azure_configuration.md
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

fix(unit_tests): stop GCE bind-race filter leaking into the next events test
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
Due: ruff-format, ruff

fix(vector): let vector finish its graceful shutdown on Fedora
  sdcm/provision/common/utils.py
  unit_tests/unit/provisioner/test_vector_target_script.py
Due: ruff-format, ruff

fix(distro): recognize current Fedora releases and skip EPEL on them
  sdcm/cluster.py
  sdcm/utils/distro.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

fix(coredump): check for pigz with `rpm -q` on Fedora
  sdcm/coredump.py
  unit_tests/unit/test_coredump.py
Due: ruff-format, ruff

fix(loader): install Docker on Fedora loaders that lack it
  sdcm/cluster.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

test(artifacts): add a manually-run Fedora 44 artifacts test on GCE
  docs/artifacts_test.md
  jenkins-pipelines/oss/artifacts/artifacts-fedora44.jenkinsfile
  test-cases/artifacts/fedora44.yaml
Due: none

fix(scylla-doctor): install ethtool before collecting vitals
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(remote-logger): shut down the log-follower pool so its worker can exit
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_remote_logger_executor_lifecycle.py
Due: ruff-format, ruff

refactor(sct-config): import Operations at module level
  sdcm/sct_config/types.py
Due: ruff-format, ruff

fix(sct_config): include upgrade-test stress params in STRESS_CMD_PARAMS
  sdcm/sct_config/defaults.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff
