Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(skills): repair perf-weekly-status-report from real report run
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(argus): pass use_tunnel to get_argus_client in provision error fallback path
  sct.py
  unit_tests/unit/test_provision_error_event.py
Due: ruff-format, ruff

feature(longevity): add 4h utilization config and nemesis exclusions for vnode-to-tablet migration
  configurations/exclude-vnode-to-tablet-migration-limitations.yaml
  jenkins-pipelines/oss/longevity/longevity-vnode-to-tablet-migration.jenkinsfile
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  vnode_to_tablet_migration_test.py
Due: ruff-format, ruff

fix(docker_remote): remove the staging temp file after a file transfer
  sdcm/utils/docker_remote.py
  unit_tests/integration/test_utils_docker_remote.py
  unit_tests/unit/test_utils_docker_remote.py
Due: ruff-format, ruff

fix(upgrade): add missing timeout to apt-get update and assert it in tests
  unit_tests/unit/test_upgrade_rollback_retries.py
  upgrade_test.py
Due: ruff-format, ruff

fix(cluster): kill only the stress containers when cleaning up loaders
  sdcm/cluster.py
  unit_tests/unit/test_kill_docker_loaders.py
Due: ruff-format, ruff

fix(latency): make the monitoring set optional in latency_calculator_decorator
  sdcm/utils/decorators.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

fix(provision): clarify cloud-init wait timeout comment and TODO casing
  sdcm/sct_provision/instances_provider.py
Due: ruff-format, ruff

improvement(provision): parallelize update_seed_provider across nodes
  sdcm/cluster.py
  unit_tests/test_update_seed_provider_parallel.py
Due: ruff-format, ruff

improvement(provision): parallelize CassandraAWSCluster.wait_for_init
  sdcm/cluster_aws.py
  unit_tests/test_cassandra_wait_for_init_parallel.py
Due: ruff-format, ruff

improvement(provision): parallelize Vector Store nodes reconfiguration
  sdcm/cluster_aws.py
  unit_tests/test_reconfigure_vector_store_parallel.py
Due: ruff-format, ruff

docs(code-review): detect serial per-node blocking-I/O loops
  skills/code-review/SKILL.md
Due: none

test(manager): set Scylla version used in Manager pipelines to 2026.2
  vars/managerPipeline.groovy
Due: none

feature(tester): allow running without monitoring on the docker backend
  sdcm/tester.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff

refactor(monkey): Move SLA nemesis into own module
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-RemoveServiceLevelMonkey-oci.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/sla.py
  unit_tests/unit/nemesis/monkey/test_sla.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(provision): parallelize Vector Store nodes reconfiguration on Docker
  sdcm/cluster_docker.py
  unit_tests/test_reconfigure_vector_store_docker_parallel.py
Due: ruff-format, ruff

test(provision): strengthen SCT-720 parallelization unit tests
  unit_tests/test_cassandra_wait_for_init_parallel.py
  unit_tests/test_reconfigure_vector_store_parallel.py
  unit_tests/test_update_seed_provider_parallel.py
Due: ruff-format, ruff

Improve decommision timeout calculation for longevity test
  test-cases/longevity/longevity-alternator-3h.yaml
Due: none

fix(provision/gce): persist placement handoff on zone-only changes
  sdcm/sct_provision/instances_provider.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
Due: ruff-format, ruff

improvement(provision): parallelize node.init() in AWSCluster.add_nodes
  sdcm/cluster_aws.py
  unit_tests/test_aws_add_nodes_parallel.py
Due: ruff-format, ruff

docs(provision/gce): add region-fallback design, test plan and KMS note
  docs/plans/mini-plans/2026-07-14-gce-region-fallback.md
  docs/plans/mini-plans/2026-07-16-gce-region-fallback-testplan.md
  sdcm/provision/gce/kms_provider.py
Due: ruff-format, ruff

feature(provision/gce): add AZ + region + multi-DC capacity-exhaustion fallback
  docs/configuration_options.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/common/region_fallback.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/region_fallback.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/instances_provider.py
  sdcm/tester.py
  unit_tests/lib/dot_dict.py
  unit_tests/unit/provisioner/test_az_fallback.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_reservation.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_dedicated_hosts.py
Due: ruff-format, ruff, update-conf-docs

ci(pipelines): run the provision step for the gce backend
  Jenkinsfile
Due: none

feature(provision/gce): enable AZ and region fallback by default for GCE
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

feature(provision/gce): add AZ + region + multi-DC capacity-exhaustion fallback
  docs/configuration_options.md
  sct.py
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/common/fallback.py
  sdcm/provision/common/region_fallback.py
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/provisioner.py
  sdcm/provision/gce/region_fallback.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/instances_provider.py
  sdcm/tester.py
  unit_tests/lib/dot_dict.py
  unit_tests/provisioner/test_az_resolver.py
  unit_tests/provisioner/test_capacity_reservation.py
  unit_tests/provisioner/test_gce_zone_resolver.py
  unit_tests/test_config.py
  unit_tests/test_dedicated_hosts.py
  unit_tests/unit/provisioner/test_az_fallback.py
  unit_tests/unit/provisioner/test_gce_region_fallback.py
Due: ruff-format, ruff, update-conf-docs

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
