Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(moneky): improve AddRemoveMvNemesis to ensure node restart
  sdcm/nemesis/monkey/views_indexes.py
  unit_tests/unit/nemesis/monkey/test_views_indexes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(moneky): Add missing schema_changes flag to KillMVBuildingCoordinator
  data_dir/nemesis.yml
  sdcm/nemesis/monkey/views_indexes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(moneky): add precheck to MV/SI nemeses
  sdcm/nemesis/monkey/views_indexes.py
  unit_tests/unit/nemesis/monkey/test_views_indexes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(stress_thread): pass literal cassandra-stress user-profile op names as HDR tags
  sdcm/stress_thread.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

test(lwt-perf): add LWT heavy/light predefined-throughput tests for tablets/vnodes
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-heavy-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-heavy-vnodes.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-light-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-light-vnodes.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-heavy-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-heavy-vnodes.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-light-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-light-vnodes.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  test-cases/performance/perf-regression-predefined-throughput-steps-lwt-heavy.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps-lwt-light.yaml
Due: ruff-format, ruff, update-conf-docs

fix(tester): normalize tablets' NULL resize_type in wait_for_no_tablets_splits()
  sdcm/tester.py
Due: ruff-format, ruff

feat(monkey): Move SI and MV nemesis into their own module
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/views_indexes.py
  unit_tests/unit/nemesis/monkey/test_views_indexes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(monkey): extract encryption nemeses into own module
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/encryption.py
  unit_tests/unit/nemesis/monkey/test_encryption.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feat(monkey): Extract node isolation nemesis into own module
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/node_isolation.py
  unit_tests/unit/nemesis/monkey/test_node_isolation.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(nemesis): migrate network nemesis static guards to precheck()
  sdcm/nemesis/monkey/network.py
  unit_tests/unit/nemesis/monkey/test_network.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(nemesis): migrate SLA nemesis static guards to precheck()
  sdcm/nemesis/monkey/sla.py
  unit_tests/unit/nemesis/monkey/test_sla.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(nemesis): restructure precheck phases around the extraction boundary
  docs/plans/nemesis/nemesis-precheck.md
  docs/plans/progress.json
Due: none

feature(nemesis): migrate add_remove_dc multi-dc guard to precheck()
  sdcm/nemesis/monkey/add_remove_dc.py
  unit_tests/unit/nemesis/monkey/test_add_remove_dc.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
