Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

ci(artifacts): add artifacts pipeline for the Oracle Cloud (OCI) backend
  jenkins-pipelines/oss/artifacts/artifacts-oci-image.jenkinsfile
  test-cases/artifacts/oci-image.yaml
Due: none

feat(events): Add format_events method to SCTEvent
  sdcm/sct_events/base.py
  sdcm/sct_events/file_logger.py
Due: ruff-format, ruff

feat(unit_tests): Introduce fake_events.py module
  unit_tests/lib/events_utils.py
  unit_tests/lib/fake_events.py
Due: ruff-format, ruff

feat(unit_tests): Adjust to use fake_events system
  unit_tests/conftest.py
  unit_tests/test_cluster.py
  unit_tests/test_decode_backtrace.py
  unit_tests/test_longevity.py
  unit_tests/test_scan_operation_thread.py
  unit_tests/test_tester.py
  unit_tests/test_utils_issues.py
Due: ruff-format, ruff

test(test_longevity): mock sleeps
  unit_tests/test_longevity.py
Due: ruff-format, ruff

test(test_azure_vm_provider_reboot): mock sleeps
  unit_tests/test_azure_vm_provider_reboot.py
Due: ruff-format, ruff

test(test_azure_kms_provider): mock sleeps
  unit_tests/test_azure_kms_provider.py
Due: ruff-format, ruff

fix(stress): include shutdown_timeout in get_results() wait
  sdcm/stress/base.py
  unit_tests/test_ndbench_thread.py
Due: ruff-format, ruff

feature(new-backend): support cluster creation in Oracle cloud (OCI)
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/provision/__init__.py
  sdcm/provision/oci/__init__.py
  sdcm/provision/oci/provisioner.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/provision/scylla_yaml/auxiliaries.py
  sdcm/provision/user_data.py
  sdcm/sct_provision/__init__.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/tester.py
  utils/lint_test_cases.sh
Due: ruff-format, ruff

ci(backend): add full support of Oracle Cloud (OCI) in groovy files
  Jenkinsfile
  vars/artifactsPipeline.groovy
  vars/cleanSctRunners.groovy
  vars/createSctRunner.groovy
  vars/getCloudProviderFromBackend.groovy
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/perfSearchBestConfigParallelPipeline.groovy
  vars/provisionResources.groovy
  vars/rollingUpgradePipeline.groovy
  vars/runSctTest.groovy
Due: none

fix(manager): bump default Manager version to 3.9 across framework
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  unit_tests/test_sdcm_mgmt_common.py
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(eks): forward ami_id in MonitorSetEKS._create_instances
  sdcm/cluster_k8s/eks.py
Due: ruff-format, ruff

improvement(utils): increase major compaction timeout
  performance_regression_manager_backup_test.py
  sdcm/mgmt/operations.py
  sdcm/utils/cluster_tools.py
Due: ruff-format, ruff

improvement(pipelines) : allow performance pipelines to run with custom gce scylla image or manager
  vars/perfRegressionParallelPipeline.groovy
Due: none

fix(pipelines): fix falback value for sub_tests
  vars/perfRegressionParallelPipeline.groovy
Due: none

test(backup): add test for native backup on google cloud
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/object_storage_gcs.yaml
  configurations/object_storage_s3.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis-s3.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-gcs.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis-s3.jenkinsfile
  performance_regression_manager_backup_test.py
  sdcm/cluster.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
Due: ruff-format, ruff

revert(groovy):switch scylla-qa-internal to custom branch
  vars/checkoutQaInternal.groovy
Due: none

feature(nemesis): Simple nemesis to create and drop new MV
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(common_events): remove broader raft cmd filter
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

feature(emr): add Amazon EMR integration for spark-migrator testing
  argus_report_templates/email_report_spark_migrator.yaml
  defaults/aws_emr_config.yaml
  defaults/test_default.yaml
  docs/aws-emr-permissions.md
  docs/configuration_options.md
  sdcm/provision/aws/emr_provisioner.py
  sdcm/sct_config.py
  sdcm/spark_migrator.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/aws_region.py
  sdcm/utils/common.py
  sdcm/utils/resources_cleanup.py
  spark_migrator_test.py
  test-cases/spark-migrator/spark-migrator-basic.yaml
  unit_tests/test_config.py
  unit_tests/test_emr_provisioner.py
  unit_tests/test_spark_migrator.py
  unit_tests/test_tester.py
Due: ruff-format, ruff, update-conf-docs

improvement(oci): add cleanup of PD disks for non-dense shapes
  Jenkinsfile
  defaults/oci_config.yaml
  jenkins-pipelines/qa/hydra-cleanup-cloud.jenkinsfile
  sct.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/utils/oci_utils.py
  sdcm/utils/resources_cleanup.py
  unit_tests/test_clean_cloud_resources_func.py
  utils/cloud_cleanup/README.md
  utils/cloud_cleanup/oci/__init__.py
  utils/cloud_cleanup/oci/clean_oci.py
  vars/provisionResources.groovy
Due: ruff-format, ruff, update-conf-docs

feature(sct-agent): add TLS support for sct-agent communication
  configurations/enable_agent.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/provision/helpers/certificate.py
  sdcm/remote/agent_cmd_runner.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/agent_client.py
  sdcm/utils/sct_agent_installer.py
  unit_tests/test_agent_client_tls.py
  unit_tests/test_sct_agent_installer.py
Due: ruff-format, ruff, update-conf-docs

feat(tags): add JenkinsJob tag for billing aggregation
  sdcm/provision/oci/constants.py
  sdcm/test_config.py
  unit_tests/test_config.py
  vars/tagBuilder.groovy
Due: ruff-format, ruff

docs(config-refactor): add plan for extracting validation and lazy image resolution
  docs/plans/sct-config-validation-and-lazy-images.md
Due: none

fix(nemesis): stop thread and fail test when nemesis are repeatedly skipped
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
