Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

test(unit): move GCE DNS name tests
  unit_tests/unit/test_gce_use_dns_names.py
Due: ruff-format, ruff

test(unit): move Scylla Doctor tests
  unit_tests/unit/test_scylla_doctor.py
Due: ruff-format, ruff

test(unit): move lint tests into unit tree
  unit_tests/lint/__init__.py
  unit_tests/lint/conftest.py
  unit_tests/unit/lint/test_env_builder.py
  unit_tests/unit/lint/test_jenkins_parser.py
Due: ruff-format, ruff

test(unit): move perf gradual config tests
  unit_tests/unit/test_perf_gradual_config.py
Due: ruff-format, ruff

test(unit): move trigger matrix tests into unit tree
  unit_tests/trigger_matrix/__init__.py
  unit_tests/unit/trigger_matrix/conftest.py
  unit_tests/unit/trigger_matrix/test_biweekly_split.py
  unit_tests/unit/trigger_matrix/test_build_parameters.py
  unit_tests/unit/trigger_matrix/test_filtering.py
  unit_tests/unit/trigger_matrix/test_job_folder.py
  unit_tests/unit/trigger_matrix/test_layout_validation.py
  unit_tests/unit/trigger_matrix/test_load_config.py
  unit_tests/unit/trigger_matrix/test_perf_regression.py
  unit_tests/unit/trigger_matrix/test_resolve_version.py
  unit_tests/unit/trigger_matrix/test_rolling_upgrade.py
  unit_tests/unit/trigger_matrix/test_trigger.py
  unit_tests/unit/trigger_matrix/test_version_resolution.py
  unit_tests/unit/trigger_matrix/test_wait_mode.py
  unit_tests/unit/trigger_matrix/test_yaml_files.py
Due: ruff-format, ruff

test(events): group event unit tests
  unit_tests/unit/events/__init__.py
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_base.py
  unit_tests/unit/events/test_continuous_events_registry.py
  unit_tests/unit/events/test_events_analyzer.py
  unit_tests/unit/events/test_events_device.py
  unit_tests/unit/events/test_events_handler.py
  unit_tests/unit/events/test_events_processes.py
  unit_tests/unit/events/test_file_logger.py
  unit_tests/unit/events/test_filters.py
  unit_tests/unit/events/test_grafana.py
  unit_tests/unit/events/test_loaders.py
  unit_tests/unit/events/test_nodetool.py
  unit_tests/unit/events/test_provision_error_event.py
  unit_tests/unit/events/test_real_events.py
  unit_tests/unit/test_events.py
  unit_tests/unit/test_sct_events_continuous_events_registry.py
  unit_tests/unit/test_sct_events_events_analyzer.py
  unit_tests/unit/test_sct_events_events_handler.py
  unit_tests/unit/test_sct_events_file_logger.py
  unit_tests/unit/test_sct_events_grafana.py
  unit_tests/unit/test_sct_events_loaders.py
Due: ruff-format, ruff

test(events): parametrize event object tests
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_continuous_events_registry.py
  unit_tests/unit/events/test_database.py
  unit_tests/unit/events/test_health.py
  unit_tests/unit/events/test_monitors.py
  unit_tests/unit/events/test_operator.py
  unit_tests/unit/events/test_real_events.py
  unit_tests/unit/events/test_system.py
  unit_tests/unit/test_sct_events_health.py
  unit_tests/unit/test_sct_events_operator.py
  unit_tests/unit/test_sct_events_system.py
Due: ruff-format, ruff

test(events): address review comments
  unit_tests/unit/events/conftest.py
  unit_tests/unit/events/test_events_handler.py
  unit_tests/unit/events/test_file_logger.py
  unit_tests/unit/events/test_loaders.py
  unit_tests/unit/events/test_provision_error_event.py
Due: ruff-format, ruff

improvement(ipv6): move 'get_all_ip_addresses' method to common place
  sdcm/cluster.py
  sdcm/cluster_aws.py
Due: ruff-format, ruff

fix(test-cases): remove explicit STCS override from Tier1/Sanity longevity tests
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/longevity/longevity-minicloud-10gb-1h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/minicloud-provision-test.yaml
Due: none

chore(test-cases): remove enterprise-features/ics longevity overlays
  jenkins-pipelines/oss/features/ICS/ics-longevity-100gb-4h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-10gb-3h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-1tb-7days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-200gb-48h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-50gb-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-large-partition-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-mv-si-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-toggle-strategy-large-partitions-24h.jenkinsfile
  jenkins-pipelines/oss/vnodes/enterprise_features/ics-longevity-200gb-48h-vnodes.jenkinsfile
  test-cases/enterprise-features/ics/longevity/ics-longevity-100gb-4h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-10gb-3h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-1TB-7days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-50GB-4days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-mv-si-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: none

test(unit): address claude review on trigger-matrix/lint move
  unit_tests/unit/lint/__init__.py
  unit_tests/unit/test_cluster_cassandra.py
  unit_tests/unit/test_gce_use_dns_names.py
  unit_tests/unit/trigger_matrix/__init__.py
  unit_tests/unit/trigger_matrix/test_perf_regression.py
Due: ruff-format, ruff

test(events): make test_filter independent of test order
  unit_tests/unit/events/test_real_events.py
Due: ruff-format, ruff

fix(kms): configure KMS for tested cluster in mixed_scylla, exclude Oracle
  sdcm/cluster.py
  sdcm/tester.py
  unit_tests/unit/test_kms.py
Due: ruff-format, ruff

test(microbenchmark): add perf-cql-raw weekly microbenchmark tests
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_arm64.yaml
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_x86_64.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64.jenkinsfile
  microbenchmarking_test.py
  sdcm/argus_results.py
  test-cases/microbenchmarking/amazon_perf_cql_raw_ARM.yaml
  test-cases/microbenchmarking/amazon_perf_cql_raw_x86.yaml
Due: ruff-format, ruff

chore(sizing): tidy up sizing comments per review feedback
  test-cases/agent-test-aws.yaml
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/azure-image-arm.yaml
  test-cases/artifacts/azure-image.yaml
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/rhel10.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404-aws.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/kafka/longevity-kafka-cdc.yaml
  test-cases/kafka/longevity-kafka-sink.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
Due: none

chore(sizing): align cql-stress sizing with reference config, use i8ge for 2TB case
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-2TB-48h-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml
Due: none

chore(sizing): migrate scale and upgrade test configs to constraint-based sizing
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-with-mv-per-table-latte.yaml
  test-cases/scale/longevity-5000-tables.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/scale/longevity-scale-5dcs-cluster-xl.yaml
  test-cases/scale/scale-cluster.yaml
  test-cases/upgrades/manager-upgrade.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
  test-cases/upgrades/rolling-upgrade.yaml
Due: none

chore(sizing): migrate kafka and standalone test configs to constraint-based sizing
  test-cases/agent-test-aws.yaml
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/kafka/longevity-kafka-cdc.yaml
  test-cases/kafka/longevity-kafka-sink.yaml
  test-cases/simple-data-validation-latte.yaml
Due: none

chore(sizing): migrate artifacts test configs to constraint-based sizing
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/azure-image-arm.yaml
  test-cases/artifacts/azure-image.yaml
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/oci-image.yaml
  test-cases/artifacts/oel10.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/rhel10.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404-aws.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
Due: none

chore(sizing): revert sizing changes for custom/manually-tuned test cases
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
  test-cases/longevity/longevity-large-collections-12h.yaml
  test-cases/longevity/longevity-large-partition-4days.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
Due: none

chore(sizing): migrate longevity test configs to constraint-based sizing
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-100GB-48h-cloud-CloudLimitedChaosMonkey-tls.yaml
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-100gb-4h.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  test-cases/longevity/longevity-1TB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-200GB-48h-network-monkey.yaml
  test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/longevity/longevity-2TB-48h-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  test-cases/longevity/longevity-5TB-1day.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
  test-cases/longevity/longevity-large-collections-12h.yaml
  test-cases/longevity/longevity-large-partition-3h.yaml
  test-cases/longevity/longevity-large-partition-4days.yaml
  test-cases/longevity/longevity-large-partition-8h.yaml
  test-cases/longevity/longevity-large-partitions-with-network-nemesis-1h.yaml
  test-cases/longevity/longevity-mini-test-1h.yaml
  test-cases/longevity/longevity-minicloud-10gb-1h.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multi-keyspaces.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-nosqlbench-3h.yaml
  test-cases/longevity/longevity-scylla-cloud-5gb-1h.yaml
  test-cases/longevity/longevity-ycsb-a-100M.yaml
  test-cases/longevity/longevity-ycsb-a-10M.yaml
  test-cases/longevity/longevity-ycsb-a-1B.yaml
  test-cases/longevity/longevity-ycsb-a-1M.yaml
Due: none

fix(sizing): remove over-applied arch pins per review feedback
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-100GB-48h-cloud-CloudLimitedChaosMonkey-tls.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  test-cases/longevity/longevity-1TB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-200GB-48h-network-monkey.yaml
  test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/longevity/longevity-5TB-1day.yaml
  test-cases/longevity/longevity-large-partition-3h.yaml
  test-cases/longevity/longevity-large-partitions-with-network-nemesis-1h.yaml
  test-cases/longevity/longevity-mini-test-1h.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multi-keyspaces.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-nosqlbench-3h.yaml
  test-cases/longevity/longevity-scylla-cloud-5gb-1h.yaml
  test-cases/longevity/longevity-ycsb-a-100M.yaml
  test-cases/longevity/longevity-ycsb-a-10M.yaml
  test-cases/longevity/longevity-ycsb-a-1B.yaml
  test-cases/longevity/longevity-ycsb-a-1M.yaml
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-with-mv-per-table-latte.yaml
  test-cases/scale/longevity-5000-tables.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/simple-data-validation-latte.yaml
  test-cases/upgrades/manager-upgrade.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade.yaml
Due: none

fix(skill-review): stop executing PR code in privileged workflow
  .github/workflows/skill-review.yml
Due: none

fix(cloud_catalog): correct z3 local SSD capacity in the GCE catalog
  data/instance_catalog/gce.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

gpg: add the 2026 pub key
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

feature(oracle): support the oracle cluster on GCE and Azure
  configurations/azure/gemini-basic-3h.yaml
  configurations/gce/gemini-basic-3h.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
  docs/plans/infrastructure/cassandra-cluster-support.md
  jenkins-pipelines/oss/gemini/gemini-3h-azure.jenkinsfile
  jenkins-pipelines/oss/gemini/gemini-3h-gce.jenkinsfile
  sct_sizing.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/logcollector.py
  sdcm/provision/common/oracle.py
  sdcm/provision/gce/zone_resolver.py
  sdcm/sct_config.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/sct_provision/gce/gce_region_definition_builder.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/sct_provision/user_data_objects/walinuxagent.py
  sdcm/tester.py
  test-cases/gemini/gemini-basic-3h.yaml
  unit_tests/unit/provisioner/test_azure_region_definition_builder.py
  unit_tests/unit/provisioner/test_gce_region_definition_builder.py
  unit_tests/unit/provisioner/test_gce_zone_resolver.py
  unit_tests/unit/provisioner/test_user_data_builder.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(test-cases): remove explicit STCS override from Tier1/Sanity longevity tests
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

chore(test-cases): remove enterprise-features/ics longevity overlays
  jenkins-pipelines/oss/features/ICS/ics-longevity-100gb-4h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-10gb-3h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-1tb-7days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-200gb-48h.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-50gb-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-large-partition-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-mv-si-4days.jenkinsfile
  jenkins-pipelines/oss/features/ICS/ics-longevity-toggle-strategy-large-partitions-24h.jenkinsfile
  jenkins-pipelines/oss/vnodes/enterprise_features/ics-longevity-200gb-48h-vnodes.jenkinsfile
  test-cases/enterprise-features/ics/longevity/ics-longevity-100gb-4h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-10gb-3h.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-1TB-7days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-50GB-4days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-mv-si-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
