Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(oci): wait for NVMe disks spawning DB VMs
  sdcm/sct_provision/user_data_objects/scylla.py
  unit_tests/provisioner/test_scylla_machine_image_payload.py
Due: ruff-format, ruff

fix(driver-connection): shutdown broken driver on connect failure to prevent fd leaks
  sdcm/cluster.py
Due: ruff-format, ruff

fix(nemesis): lower audit error severity during NetworkStartStopInterface nemesis
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(oci): collect NVMe diagnostics on machine image setup failure
  sdcm/cluster_oci.py
Due: ruff-format, ruff

ci(perf-regression): add billing_project to parameterizedCron schedules
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

feature(adaptive-timeouts): per-operation timeout multipliers
  configurations/adaptive_timeout_multipliers.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/unit/test_adaptive_timeouts.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff, update-conf-docs

improvement(jenkins): add Argus link and stage tracking to byoLongevityPipeline
  vars/byoLongevityPipeline.groovy
Due: none

fix(azure-provision): collect VM diagnostics on SSH connect failure
  sdcm/cluster_azure.py
  sdcm/provision/azure/network_interface_provider.py
Due: ruff-format, ruff

fix(azure-provision): collect Activity Log on provisioning failure
  sdcm/cluster_azure.py
Due: ruff-format, ruff

fix(azure-provision): collect effective NSG rules on provisioning failure
  sdcm/cluster_azure.py
Due: ruff-format, ruff

fix(azure-provision): query Resource Health API on provisioning failure
  sdcm/cluster_azure.py
Due: ruff-format, ruff

fix(azure-provision): save boot diagnostics screenshot on failure
  sdcm/cluster_azure.py
Due: ruff-format, ruff

fix(azure-provision): extend SSH timeout for Azure VMs
  sdcm/cluster_azure.py
Due: ruff-format, ruff

fix(azure-provision): verify NIC provisioning state before VM creation
  sdcm/provision/azure/network_interface_provider.py
Due: ruff-format, ruff

Revert "fix(ycsb): fix integration tests and race contidtion"
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/utils/common.py
  sdcm/ycsb_thread.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

Revert "feat(ycsb): ycsb version reporting for argus"
  sdcm/reporting/tooling_reporter.py
  sdcm/ycsb_thread.py
  unit_tests/test_tooling_ycsb_reporter_parsing.py
Due: ruff-format, ruff

Revert "fix(ycsb): fix AWS SDK v2 credential loading for alternator"
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/utils/common.py
  sdcm/ycsb_thread.py
Due: ruff-format, ruff, update-conf-docs

fix(gemini): respect stress_duration override in run_gemini()
  sdcm/stress_thread.py
  sdcm/tester.py
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff

fix(gemini): use --version-json for version probe
  sdcm/cluster.py
  sdcm/utils/version_utils.py
  unit_tests/unit/test_version_utils.py
Due: ruff-format, ruff

fix(oci): properly set rack info
  sdcm/cluster.py
Due: ruff-format, ruff

fix(gce-provision): enable AZ fallback for GCE to handle zone exhaustion
  defaults/gce_config.yaml
Due: update-conf-docs

improvement(config): remove obsolete comments in 5k tables test config
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
