Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
    -   id: detect-aws-credentials
    -   id: detect-private-key
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: autopep8
        name: autopep8
        entry: autopep8 -i -j 2
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feature(tear_validator): introduce validation for memory of `protected_db_nodes`
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/protected_db_nodes_memory.py
  sdcm/tester.py
  sdcm/utils/decorators.py
  sdcm/utils/validators/anomalies_detection.py
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
  unit_tests/test_anomalies_detection.py
Due: autopep8, ruff

feature(protected_db_nodes): take memory screenshot on teardown
  sdcm/logcollector.py
  sdcm/monitorstack/ui.py
  sdcm/teardown_validators/protected_db_nodes_memory.py
Due: autopep8, ruff

ci(latte): bump latte version to 0.32.0-scylladb
  defaults/docker_images/latte/values_latte.yaml
Due: update-conf-docs

fix(logdir import): use lazy import of sdcm.mgmt.operations
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(trigger): send ami name instead of scylla_version for master
  sct.py
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: autopep8, ruff

fix(rollingUpgradePipeline): add missing provision stage
  vars/rollingUpgradePipeline.groovy
Due: none

fix(cleanup): fix cleanup of AWS KMS key aliases
  sdcm/provision/aws/dedicated_host.py
Due: autopep8, ruff

fix(rollingUpgradePipeline): add fallback steps
  vars/rollingUpgradePipeline.groovy
Due: none

fix(rollingUpgradePipeline): switch to use centerlized runSctTest
  vars/provisionResources.groovy
  vars/rollingUpgradePipeline.groovy
  vars/runSctTest.groovy
Due: none

fix(db_stats): fix docstring
  sdcm/db_stats.py
Due: autopep8, ruff

fix(events): Send events to Argus to the end
  sdcm/tester.py
  unit_tests/test_longevity.py
  unit_tests/test_tester.py
Due: autopep8, ruff

feature(scylla-cloud): run stress load on Scylla cloud cluster
  defaults/cloud_config.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/longevity/longevity-scylla-cloud-10gb-3h.jenkinsfile
  sct.py
  sdcm/cloud_api_client.py
  sdcm/cluster_cloud.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/tester.py
  sdcm/utils/resources_cleanup.py
  vars/createSctRunner.groovy
  vars/getJenkinsLabels.groovy
  vars/longevityPipeline.groovy
  vars/provisionResources.groovy
  vars/runCleanupResource.groovy
  vars/runSctTest.groovy
Due: autopep8, ruff, update-conf-docs

fix(nemesis): disrupt_load_and_stream timeout change
  sdcm/utils/sstable/load_utils.py
Due: autopep8, ruff

improvement(argus): add more logging when finilizing run
  sct.py
Due: autopep8, ruff

chore(argus): updated client to 0.15.5
  argus/_version.py
  argus/client/base.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/sct/client.py
  argus/common/enums.py
  argus/version
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/provisioner.py
  sdcm/tester.py
  unit_tests/lib/fake_provisioner.py
Due: autopep8, ruff

feature(triggers): Add triggers from scylla-pkg
  jenkins-pipelines/oss/sct_triggers/additional-aws-trigger.jenkinsfile
  jenkins-pipelines/oss/sct_triggers/sanity-aws-trigger.jenkinsfile
  jenkins-pipelines/oss/sct_triggers/sanity-azure-trigger.jenkinsfile
  jenkins-pipelines/oss/sct_triggers/sanity-gcp-trigger.jenkinsfile
  vars/simpleTrigger.groovy
Due: none

test(size-based-load-balancing) add test with different partition sizes
  jenkins-pipelines/oss/features/size-based-load-balancing/size-based-load-balancing-.jenkinsfile
  longevity_balancer_test.py
  test-cases/features/size-based-load-balancing/size-based-load-balancing-partitions.yaml
Due: autopep8, ruff

test(size-based-load-balancing): add periodic disc usage reporting to argus
  longevity_balancer_test.py
Due: autopep8, ruff

test(out-of-space-prevention): add new tests for out of space prevention
  configurations/views-with-tablets.yaml
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-compaction.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-decommission.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-reject-writes.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-repair.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-restart.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-rf-change.jenkinsfile
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-secondary-index.jenkinsfile
  longevity_oos_test.py
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-compaction.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-decommission.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-reject-writes.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-repair.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-restart.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-rf-change.yaml
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-secondary-index.yaml
Due: autopep8, ruff

test(size-based-load-balancing): ignore soft timeout for decommission
  longevity_balancer_test.py
Due: autopep8, ruff

test(size-based-load-balancing): actually wait for writes
  longevity_balancer_test.py
Due: autopep8, ruff
