Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(cluster): reap gpg helper daemons after fetching apt keys
  sdcm/cluster.py
  skills/package-installation/SKILL.md
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff

docs(skill): keep commit-summary reports short and change-focused
  skills/commit-summary/SKILL.md
  skills/commit-summary/references/writing-style.md
  skills/commit-summary/workflows/generate-summary.md
Due: none

refactor(manager): update Jenkins pipeline names
  jenkins-pipelines/manager/ubuntu24-manager-sanity-older-scylla.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity-vnodes-tablets.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade-older-scylla.jenkinsfile
Due: none

fix(remoter): enforce run_long_running_cmd timeout as a real deadline
  sdcm/remote/remote_long_running.py
  unit_tests/unit/test_remote_long_running.py
Due: ruff-format, ruff

fix(nemesis): enforce repair adaptive timeout to prevent indefinite hang
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(oci): add configuration for object storage with oci backend
  configurations/object_storage_oci.yaml
  defaults/oci_config.yaml
  docs/configuration_options/scylla-manager.md
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/keystore.py
  sdcm/logcollector.py
  sdcm/test_config.py
  sdcm/tester.py
  unit_tests/unit/test_cluster_oci.py
Due: ruff-format, ruff, update-conf-docs

feature(minicloud): back up to the minicloud local S3 store
  defaults/test_default.yaml
  docs/configuration_options/minicloud.md
  docs/minicloud.md
  sdcm/cluster.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/tester.py
  sdcm/utils/minicloud/config.py
  sdcm/utils/minicloud/endpoint.py
  sdcm/utils/minicloud/manager.py
  unit_tests/unit/minicloud/test_config.py
  unit_tests/unit/minicloud/test_manager.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff, update-conf-docs

fix(provision/gce): free the name of a GCE insert that timed out
  sdcm/provision/gce/instance_provider.py
  unit_tests/unit/provisioner/test_gce_insert_timeout.py
  unit_tests/unit/provisioner/test_gce_spot_fallback.py
Due: ruff-format, ruff

improvement(longevity): retune parallel schema+topology 12h test
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
Due: none

refactor(nemesis): extract grow/shrink nemesis into monkey/grow_shrink.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/grow_shrink.py
  sdcm/nemesis/utils/topology_ops.py
  unit_tests/unit/nemesis/monkey/grow_shrink/__init__.py
  unit_tests/unit/nemesis/monkey/grow_shrink/conftest.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_add_remove_rack.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_grow_shrink_cluster.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_terminate_and_remove_node.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_topology_ops.py
  unit_tests/unit/nemesis/monkey/grow_shrink/test_zero_token_node.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(upgrade-events): show oversized allocation filter misses symbolized backtrace
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

test(artifacts): add a manually-run Fedora 44 artifacts test on GCE
  docs/artifacts_test.md
  jenkins-pipelines/oss/artifacts/artifacts-fedora44.jenkinsfile
  test-cases/artifacts/fedora44.yaml
Due: none

fix(distro): recognize current Fedora releases and skip EPEL on them
  sdcm/cluster.py
  sdcm/utils/distro.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_utils_distro.py
Due: ruff-format, ruff

fix(loader): install Docker on Fedora loaders that lack it
  sdcm/cluster.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

fix(vector): let vector finish its graceful shutdown on Fedora
  sdcm/provision/common/utils.py
Due: ruff-format, ruff

fix(scylla-doctor): install ethtool before collecting vitals
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
Due: ruff-format, ruff

fix(coredump): check for pigz with `rpm -q` on Fedora
  sdcm/coredump.py
  unit_tests/unit/test_coredump.py
Due: ruff-format, ruff

fix(cluster): wait longer for pending instances on minicloud
  sdcm/cluster_aws.py
  sdcm/cluster_gce.py
  sdcm/utils/common.py
  unit_tests/unit/test_pending_instances_timeout.py
Due: ruff-format, ruff

fix(upgrade-test): match oversized allocation filter on decoded backtrace
  unit_tests/unit/test_sct_events_filters.py
  upgrade_test.py
Due: ruff-format, ruff

fix(minicloud): keep per-branch logs and only this run's serial consoles
  vars/rollingUpgradePipeline.groovy
  vars/stopMinicloud.groovy
Due: none

fix(minicloud): reclaim root-owned minicloud state through docker
  vars/minicloudReclaim.groovy
Due: none

fix(minicloud): trim gcp- prefix from gce_project to get the GCP project
  sdcm/utils/minicloud/config.py
  sdcm/utils/minicloud/gcp.py
  unit_tests/unit/minicloud/test_config.py
Due: ruff-format, ruff

fix(vector): move the vector SSH tunnel off the LDAP tunnel port
  sdcm/test_config.py
  unit_tests/unit/test_ssh_tunnel_ports.py
Due: ruff-format, ruff

ci(renovate): bump the scylla-doctor config docs with the version
  renovate.json
Due: none

fix(minicloud): age image cache by last use and cap it at 10 GiB
  vars/minicloudReclaim.groovy
Due: none

fix(cluster): reap gpg helper daemons after fetching apt keys
  sdcm/cluster.py
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff

fix(test-cases): make provision test keyspace pre-creation idempotent
  test-cases/PR-provision-test.yaml
Due: none

fix(provision): shrink the boot script below the EC2 user data limit
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  sdcm/provision/user_data.py
  sdcm/sct_provision/aws/user_data.py
  unit_tests/unit/provisioner/test_minify_shell_script.py
  unit_tests/unit/provisioner/test_user_data_builder.py
  unit_tests/unit/provisioner/test_vector_install_script.py
  unit_tests/unit/test_firewall_boot_script.py
Due: ruff-format, ruff
