Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

test(unit-tests): add missing test helper modules for backtrace tests
  unit_tests/lib/dummy_remote.py
  unit_tests/lib/fake_cluster.py
Due: ruff-format, ruff

unit_tests: add missing test_data_dir fixture to conftest.py
  unit_tests/conftest.py
Due: ruff-format, ruff

perf(backtrace-decoding): cache decoded backtraces to avoid redundant work
  sdcm/cluster.py
  unit_tests/unit/test_decode_backtrace.py
Due: ruff-format, ruff

refactor(backtrace-decoding): rename decode_raw_backtrace to decode_backtrace_local
  sdcm/cluster.py
Due: ruff-format, ruff

chore: remove accidentally added script
  .claude/scripts/fix-backport.sh
Due: none

resolve conflicts
  .claude/scripts/fix-backport.sh
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

fix(sct-config): strip whitespace from environment variable values at ingestion
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

docs(sizing): rewrite user guide for constraint-based instance selection
  docs/cross-cloud-sizing.md
Due: none

docs(sizing): address review feedback on constraint-based sizing plan
  .gitignore
  .sisyphus/plans/constraint-based-sizing.md
  docs/cross-cloud-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

docs(sizing): add constraint-based instance sizing implementation plan
  .sisyphus/plans/constraint-based-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

docs(sizing): update plan and user manual with implementation findings
  docs/cross-cloud-sizing.md
  docs/plans/constraint-based-sizing.md
Due: none

docs(plans): add kernel panic detection implementation plan
  docs/plans/mini-plans/2026-01-26-kernel-panic-detection.md
Due: none

feature(monitoring): add kernel panic detection for AWS, GCE, Azure, and OCI
  defaults/severities.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/cluster_aws.py
  sdcm/cluster_azure.py
  sdcm/cluster_gce.py
  sdcm/cluster_oci.py
  sdcm/kernel_panic_checker.py
  sdcm/logcollector.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/sct_events/system.py
Due: ruff-format, ruff, update-conf-docs

docs(monitoring): add kernel panic detection and collected logs documentation
  docs/collected-logs.md
  docs/kernel-panic-detection.md
Due: none

test(monitoring): add unit and integration tests for kernel panic checker
  unit_tests/integration/test_kernel_panic.py
  unit_tests/unit/test_kernel_panic_checker.py
Due: ruff-format, ruff

improvement(defaults): change default compaction_strategy to ICS
  configurations/cs-compaction-strategy-lcs.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/enterprise-features/ics/longevity/ics-longevity-large-partition-4days.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-toggle-strategy-large-partitions-24h.yaml
Due: update-conf-docs

test(gemini): fix flaky mixed-mode oracle test
  unit_tests/integration/test_gemini_thread.py
Due: ruff-format, ruff

feature(oci): add tag-based OCI image lookup by branch and version
  Jenkinsfile
  sct.py
  sdcm/sct_config.py
  sdcm/utils/oci_utils.py
Due: ruff-format, ruff, update-conf-docs

ci(manager): bump scylla_version in manager Jenkins pipelines
  jenkins-pipelines/manager/debian12-manager-install.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-install.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-older-enterprise-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-older-enterprise-upgrade.jenkinsfile
Due: none

test(workflows): add pagination validation script for cache-issues
  .github/workflows/test_cache_issues.sh
Due: none

fix(workflows): use paginated GitHub REST API for cache-issues
  .github/workflows/cache-issues.yaml
Due: none

fix(gce-provision): add all availability zones for us-central1 region
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

refactor(multidc-parallel-topology-schema-changes): increase data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
