Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

autopep8:
  name: autopep8
  entry: autopep8 -i -j 2
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

fix(nemesis): cluster repair added to nemeis to make it more safe
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

improvement(test_utils_common): Use temporary system_log
  unit_tests/test_utils_common.py
Due: autopep8, ruff

test
  test-cases/performance/perf-regression-alternator-basic.yaml
Due: none

Fix skipping part of remote log output
  sdcm/utils/remote_logger.py
Due: autopep8, ruff

feature(libssh2): support connection to ssh server with none auth
  sdcm/remote/libssh2_client/__init__.py
  unit_tests/test_ssh_server.py
Due: autopep8, ruff

fix(scylla-cloud): support running with local cred file
  sdcm/sct_config.py
Due: autopep8, ruff, update-conf-docs

feature(scylla-cloud): add support to connect with machines
  sdcm/cluster_cloud.py
  sdcm/localhost.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/internal_modules.py
Due: autopep8, ruff

fix(github-actions): repalce `github.actor` with `github.event.pull_request.user.login`
  .github/workflows/build-docker-image.yaml
  .github/workflows/check-generated-code-updates.yaml
Due: none

improvement(test_tester): Rewrite the test to use pytester
  unit_tests/conftest.py
  unit_tests/test_tester.py
Due: autopep8, ruff

fix(renovate): fix labeling
  renovate.json
Due: none

fix(nemesis): ignore error from status while gossip is disabled
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(ycsb): update offical scylla dockerhub build
  defaults/docker_images/ycsb/values_ycsb.yaml
  sdcm/ycsb_thread.py
Due: autopep8, ruff, update-conf-docs

fix(logging): suppress errors on attempts to log to offline nodes
  sdcm/cluster.py
  sdcm/remote/kubernetes_cmd_runner.py
  sdcm/remote/remote_base.py
  sdcm/remote/remote_cmd_runner.py
  sdcm/remote/remote_libssh_cmd_runner.py
  unit_tests/lib/fake_remoter.py
Due: autopep8, ruff

fix(events): adjust severity for database startup errors
  sdcm/sct_events/setup.py
Due: autopep8, ruff

fix(1-1-restore): report 1-1 restore results to Argus
  docs/configuration_options.md
  mgmt_cli_test.py
  sdcm/argus_results.py
  sdcm/sct_config.py
Due: autopep8, ruff, update-conf-docs

fix(test_one_to_one_restore): 1-1-restore test enhancements
  defaults/manager_restore_benchmark_snapshots.yaml
  mgmt_cli_test.py
Due: autopep8, ruff, update-conf-docs

feature(sct.py): Collect warnings for tests
  sct.py
Due: autopep8, ruff

fix(test_kafka): Skip test_01_kafka_cdc_source_connector
  unit_tests/test_kafka.py
Due: autopep8, ruff

feature(tests): Be strict when evaluating tests
  unit_tests/pytest.ini
Due: none

test(out-of-space-prevention): restart needs a write stress
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-restart.yaml
Due: none

fix(manager): switch to Debian12 distro in Manager debian tests
  configurations/manager/debian12.yaml
  jenkins-pipelines/manager/debian12-manager-install.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/debian12-manager-upgrade.jenkinsfile
  sdcm/cluster.py
Due: autopep8, ruff

fix(manager): up monitor version used in Manager tests to latest 4.11
  configurations/manager/debian11.yaml
  configurations/manager/rocky8.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu20.yaml
  configurations/manager/ubuntu24.yaml
Due: none

ci(cache_issues): include `siren` repository in caching workflow
  .github/workflows/cache-issues.yaml
Due: none

fix(manager): make 3.6.0 a default version of Manager
  defaults/manager_versions.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  unit_tests/test_sdcm_mgmt_common.py
  vars/managerPipeline.groovy
Due: autopep8, ruff, update-conf-docs

fix(mgmt_cli_test): replace '~' with '_' in ks_name return value
  mgmt_cli_test.py
Due: autopep8, ruff

fix(scylla_yaml): update initial_token type to support string values
  sdcm/provision/scylla_yaml/scylla_yaml.py
Due: autopep8, ruff

ci(manager): support upgrade scenario from Manager 3.6
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
Due: none

Path conditions:
  autopep8: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)
  create-nemesis-pipelines: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)
