Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feature(perf-collector): stop the collector at teardown and collect its recordings
  sdcm/logcollector.py
  sdcm/tester.py
  unit_tests/unit/test_log_collector.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff

fix(baremetal): read a reused host's journal from the start of the run
  sdcm/cluster.py
  sdcm/cluster_baremetal.py
  sdcm/utils/remote_logger.py
  unit_tests/unit/test_cluster_baremetal.py
  unit_tests/unit/test_remote_logger_journal_since.py
Due: ruff-format, ruff

test(nemesis): add unit tests for manager monkey extraction
  sdcm/nemesis/monkey/manager.py
  unit_tests/unit/nemesis/monkey/test_manager.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(provision/gce): free the name of a GCE insert that timed out
  sdcm/provision/gce/instance_provider.py
  unit_tests/unit/provisioner/test_gce_insert_timeout.py
  unit_tests/unit/provisioner/test_gce_spot_fallback.py
Due: ruff-format, ruff

fix(nemesis): temporarily disable tablet auto-repair around repair nemeses
  sdcm/cluster.py
  sdcm/nemesis/__init__.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/rest/task_manager_client.py
  sdcm/utils/tablets/common.py
  unit_tests/unit/test_scylla_yaml.py
  unit_tests/unit/test_tablets_auto_repair.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(byo): add docs for running CI jobs with BYO ScyllaDB
  docs/byo-scylladb.md
  docs/faq.md
  vars/byoScylladb.groovy
  vars/longevityPipeline.groovy
  vars/perfRegressionParallelPipeline.groovy
  vars/rollingUpgradePipeline.groovy
Due: none

fix(cluster): let sshd open the reverse tunnels on SELinux-enforcing nodes
  sdcm/cluster.py
  unit_tests/unit/test_selinux_tunnel_ports.py
Due: ruff-format, ruff

fix(stress): relabel the files stress containers mount, for SELinux
  sdcm/cql_stress_cassandra_stress_thread.py
  sdcm/gemini_thread.py
  sdcm/nosql_thread.py
  sdcm/scylla_bench_thread.py
  sdcm/stress/latte_thread.py
  sdcm/stress_thread.py
Due: ruff-format, ruff

fix(remote): reconnect every thread's connection after a context change
  sdcm/remote/remote_base.py
  unit_tests/unit/test_remoter_context_generation.py
Due: ruff-format, ruff

fix(baremetal): have vector ship a reused host's journal from the run start
  sdcm/cluster.py
  sdcm/cluster_baremetal.py
  sdcm/provision/common/configuration_script.py
  sdcm/provision/common/utils.py
  unit_tests/unit/test_configuration_script_quoting.py
  unit_tests/unit/test_vector_journal_from_now.py
Due: ruff-format, ruff

fix(nemesis): verify rebooted node through an allocated peer (SCT-953)
  sdcm/nemesis/__init__.py
  unit_tests/unit/nemesis/monkey/test_multiple_hard_reboot.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(k8s-kind): make the local kind backend work on current hosts
  defaults/k8s_local_kind_config.yaml
  docs/configuration_options/kubernetes-backends-eks-gke-kind.md
  sdcm/cluster_k8s/mini_k8s.py
  unit_tests/unit/k8s/test_mini_k8s.py
Due: ruff-format, ruff, update-conf-docs

fix(k8s): follow images and versions that moved
  defaults/k8s_gke_config.yaml
  docs/configuration_options/kubernetes-backends-eks-gke-kind.md
  sdcm/cluster_k8s/__init__.py
  sdcm/cluster_k8s/mini_k8s.py
  sdcm/k8s_configs/minio/templates/_helper_create_bucket.txt
  sdcm/k8s_configs/minio/values.yaml
  sdcm/utils/k8s/__init__.py
  test-cases/scylla-operator/functional.yaml
Due: ruff-format, ruff, update-conf-docs

fix(k8s): adapt to current scylla-operator behaviour
  defaults/k8s_eks_config.yaml
  defaults/k8s_gke_config.yaml
  defaults/k8s_local_kind_config.yaml
  docs/configuration_options/kubernetes-backends-eks-gke-kind.md
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster_k8s/__init__.py
Due: ruff-format, ruff, update-conf-docs

fix(k8s): reuse a kept EKS/GKE cluster with SCT_REUSE_CLUSTER
  sdcm/cluster_k8s/__init__.py
  sdcm/cluster_k8s/eks.py
  sdcm/cluster_k8s/gke.py
Due: ruff-format, ruff

fix(k8s-functional): fix tests broken by SCT changes
  functional_tests/scylla_operator/conftest.py
  functional_tests/scylla_operator/test_functional.py
Due: ruff-format, ruff

fix(k8s): work with ScyllaDB 2026 images (no tar, no sudo)
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster_k8s/__init__.py
  sdcm/utils/k8s/__init__.py
  sdcm/utils/sstable/load_utils.py
Due: ruff-format, ruff

fix(k8s): harden cluster setup and pod access
  sdcm/cluster_k8s/__init__.py
  sdcm/remote/kubernetes_cmd_runner.py
  sdcm/sct_config/defaults.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  sdcm/utils/gce_utils.py
  sdcm/utils/lint/env_builder.py
  sdcm/utils/remote_logger.py
  unit_tests/unit/k8s/test_kubernetes_cmd_runner.py
  unit_tests/unit/lint/test_env_builder.py
  unit_tests/unit/test_remote_logger_executor_lifecycle.py
Due: ruff-format, ruff

fix(k8s-functional): adjust tests to tablets being the default
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster_k8s/__init__.py
  sdcm/utils/sstable/load_utils.py
Due: ruff-format, ruff

fix(mgmt): keep the k8s sctool runner off the Docker path
  sdcm/mgmt/cli.py
  unit_tests/unit/test_sdcm_mgmt_cli.py
Due: ruff-format, ruff

docs(k8s): document running the functional tests locally
  docs/k8s-functional-test.md
Due: none

docs(nemesis): document delete nemesis requirements and intent
  sdcm/nemesis/monkey/data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

refactor(nemesis): extract data operations into monkey/data_operations.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
  sdcm/nemesis/monkey/data_operations.py
  sdcm/nemesis/utils/common.py
  sdcm/utils/version_utils.py
  unit_tests/unit/nemesis/monkey/conftest.py
  unit_tests/unit/nemesis/monkey/test_data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): make @scylla_versions decorator support NemesisBaseClass subclasses
  sdcm/utils/version_utils.py
Due: ruff-format, ruff

refactor(nemesis): move static feasibility checks to precheck()
  sdcm/nemesis/monkey/data_operations.py
  unit_tests/unit/nemesis/monkey/test_data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(data-validation): always define partition-range attributes
  sdcm/nemesis/monkey/data_operations.py
  sdcm/utils/database_query_utils.py
  unit_tests/unit/test_partitions_validation_attributes.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): plan DeleteByRowsRangeMonkey before deleting
  sdcm/nemesis/monkey/data_operations.py
  unit_tests/unit/nemesis/monkey/test_data_operations.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(fts): add the full-text search (BM25) performance test
  .gitignore
  data_dir/latte/fts_search/generate_local_dataset.py
  data_dir/latte/fts_search/local_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/configuration_options/performance-regression-tests.md
  docs/fts-search-test.md
  fts_test.py
  sdcm/sct_config/mixins/performance.py
  test-cases/fts-search/fts-search-test-docker.yaml
  unit_tests/unit/test_fts_test.py
Due: ruff-format, ruff, update-conf-docs

test(vector-store): cover the index lifecycle against a real vector-store
  unit_tests/integration/test_vector_store.py
Due: ruff-format, ruff

feature(vector-store): add index-status polling helpers to the API client
  sdcm/utils/vector_store_client.py
  unit_tests/unit/test_vector_store_client.py
Due: ruff-format, ruff

feature(vector-store): read index build time from the vector-store log
  sdcm/utils/vector_store_index.py
  unit_tests/unit/test_vector_store_index.py
Due: ruff-format, ruff
