Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

chore(qodo): make Qodo code review manual-only
  .pr_agent.toml
Due: none

fix(backtrace-decoding): drop the local addr2line fallback
  sdcm/cluster.py
  sdcm/cluster_docker.py
  sdcm/cluster_k8s/__init__.py
  sdcm/sct_events/base.py
  unit_tests/unit/test_decode_backtrace.py
  unit_tests/unit/test_sct_events_database.py
Due: ruff-format, ruff

docs(skills): add downscaling-for-minicloud skill
  AGENTS.md
  CLAUDE.md
  docs/minicloud.md
  skills/downscaling-for-minicloud/SKILL.md
  skills/downscaling-for-minicloud/references/run-script-template.md
  skills/downscaling-for-minicloud/references/sizing-knobs.md
  skills/downscaling-for-minicloud/references/stress-models.md
  skills/downscaling-for-minicloud/references/test-type-params.md
  skills/downscaling-for-minicloud/references/triage-local-runs.md
  skills/downscaling-for-minicloud/references/worked-examples.md
  skills/downscaling-for-minicloud/workflows/downscale-a-test.md
Due: none

fix(backtrace-decoding): drop the local addr2line fallback
  sdcm/cluster.py
  sdcm/cluster_docker.py
  sdcm/cluster_k8s/__init__.py
  sdcm/sct_events/base.py
  unit_tests/test_decode_backtrace.py
  unit_tests/unit/test_decode_backtrace.py
  unit_tests/unit/test_sct_events_database.py
Due: ruff-format, ruff

fix(oci): resolve loader shapes through sizing so OCI loaders default to Arm
  configurations/oci/longevity-100gb-4h-cql-stress.yaml
  configurations/oci/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  configurations/oci/longevity-mv-si-4days.yaml
Due: none

feature(gce): give n4a and z3 the boot disk and local disks they require
  sdcm/provision/gce/constants.py
  sdcm/provision/gce/instance_provider.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  unit_tests/unit/provisioner/test_gce_root_disk_type.py
  unit_tests/unit/test_instance_matcher.py
Due: ruff-format, ruff

feature(catalog): add the Arm machine types the loaders need
  data/instance_catalog/aws.yaml
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/sizing_config.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
  unit_tests/unit/test_instance_catalog.py
Due: ruff-format, ruff

feature(tester): run gemini through run_stress_thread in the provision test
  sdcm/gemini_thread.py
  sdcm/tester.py
  sdcm/ycsb_thread.py
  test-cases/PR-provision-test.yaml
  unit_tests/unit/test_gemini_thread_unit.py
Due: ruff-format, ruff

fix(sizing): remove leftover conflict markers from the 2026.2 backport
  data/instance_catalog/azure.yaml
  data/instance_catalog/sizing_config.yaml
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
  docs/plans/MASTER.md
  sct.py
  sdcm/node_exporter_setup.py
  sdcm/sct_config.py
  test-cases/PR-provision-test.yaml
Due: ruff-format, ruff, update-conf-docs

perf(lint): cache the instance catalog and cap the lint worker pool
  sct.py
  sdcm/utils/cloud_catalog/instance_catalog.py
Due: ruff-format, ruff

feature(sizing): default loaders to Arm and match the image to the instance
  data/instance_catalog/sizing_config.yaml
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
  sdcm/node_exporter_setup.py
  sdcm/sct_config.py
  sdcm/sct_provision/oci/oci_region_definition_builder.py
  sdcm/utils/oci_utils.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_node_exporter_setup.py
  unit_tests/unit/test_oci_utils.py
Due: ruff-format, ruff, update-conf-docs

fix(sizing): remove leftover conflict markers from sct_config.py and PR-provision-test.yaml
  sdcm/sct_config.py
  test-cases/PR-provision-test.yaml
Due: ruff-format, ruff, update-conf-docs

fix(minicloud): count oracle nodes only when db_type sets them
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff

fix(scylla-yaml): bind prometheus_address to the wildcard on IPv6 runs
  sdcm/provision/scylla_yaml/node_builder.py
  unit_tests/test_data/test_scylla_yaml_builders/longevity-10gb-3h.result.json
Due: ruff-format, ruff

doc(plan): add Azure multi-vnic support
  docs/plans/MASTER.md
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/plans/progress.json
Due: none

fix(s3-uploader): open the log upload socket on the node's address family
  sdcm/utils/s3_remote_uploader.py
Due: ruff-format, ruff

feature(azure): validate the NIC count against the VM size
  sdcm/provision/azure/provisioner.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
Due: ruff-format, ruff

feature(azure): add the multi-DC schema/topology changes 12h pipeline
  configurations/azure/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  jenkins-pipelines/oss/tier1/longevity-multidc-schema-topology-changes-12h-azure.jenkinsfile
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

docs(azure): add the routable-IPv6 network config layout and guide
  configurations/azure/network_config/all_addresses_ipv6_public.yaml
  docs/azure_configuration.md
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff

feature(azure): add azure_network_interfaces config option
  defaults/azure_config.yaml
  docs/configuration_options.md
  docs/configuration_options/azure-backend.md
  docs/configuration_options/scylla-installation-and-configuration.md
  sdcm/provision/network_configuration.py
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/scylla.py
  unit_tests/unit/test_network_config.py
Due: ruff-format, ruff, update-conf-docs

docs(plan): mark the Azure multi-VNIC plan as complete
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/plans/progress.json
Due: none

feature(azure): give only DB nodes the secondary interfaces
  sdcm/provision/azure/provisioner.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
Due: ruff-format, ruff

feature(azure): implement AzureNode network interface introspection
  sdcm/cluster_azure.py
  sdcm/provision/azure/provisioner.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

feature(azure): build the Scylla network configuration on the node
  sdcm/cluster_azure.py
Due: ruff-format, ruff

feature(azure): give the SCT runner IPv6 when the test config enables it
  docs/plans/infrastructure/azure-multi-vnic-support.md
  docs/sct-runners.md
  sdcm/sct_runner.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

feature(azure): provision multiple network interfaces per VM
  sdcm/provision/azure/ip_provider.py
  sdcm/provision/azure/network_interface_provider.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/subnet_provider.py
  sdcm/provision/azure/utils.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
Due: ruff-format, ruff

feature(azure): configure addresses and policy routing for secondary NICs
  sdcm/cluster_azure.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/test_azure_secondary_nics_script.py
Due: ruff-format, ruff

feature(azure): support IPv6 on DB nodes, gated on the config
  sdcm/cluster_azure.py
  sdcm/provision/azure/network_interface_provider.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/subnet_provider.py
  sdcm/provision/azure/virtual_network_provider.py
  sdcm/provision/network_configuration.py
  sdcm/utils/azure_utils.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_azure_multi_nic.py
  unit_tests/unit/test_azure_secondary_nics_script.py
  unit_tests/unit/test_cluster_azure.py
Due: ruff-format, ruff

feat: add P95 latency percentile to Argus result tabs
  sdcm/argus_results.py
  sdcm/utils/latency.py
  unit_tests/unit/test_argus_results.py
Due: ruff-format, ruff

SCYLLADB-4411/feature(jenkins): i4i EC baseline for latency during topology operations
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-650gb-with-nemesis-cql-stress-tablets-ec.jenkinsfile
Due: none
