Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(cloud_catalog): correct z3 local SSD capacity in the GCE catalog
  data/instance_catalog/gce.yaml
  sdcm/utils/cloud_catalog/catalog_generator.py
Due: ruff-format, ruff

fix(gce provision): retry transient GCE API errors while polling operations
  sdcm/utils/gce_utils.py
  unit_tests/unit/test_gce_transient_api_error_retry.py
Due: ruff-format, ruff

improvement(grafana-api): migrate dashboard API from /api to /apis endpoints
  data_dir/scylla-dash-per-server-nemesis.master.json
  functional_tests/scylla_operator/test_functional.py
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/logcollector.py
  sdcm/monitorstack/restore.py
  sdcm/sct_events/grafana.py
  sdcm/utils/grafana_api.py
Due: ruff-format, ruff

fix(sdcm/cluster): Update overview template to use 4.16 monitoring
  data_dir/monitoring-dash-template.json
  sdcm/cluster.py
Due: ruff-format, ruff

improvement(monitor): Update to 4.16.x branch
  configurations/manager/debian12.yaml
  configurations/manager/rocky9.yaml
  configurations/manager/ubuntu24.yaml
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

test(grafana-api): validate dashboard API against real Grafana containers
  unit_tests/integration/test_grafana_api.py
  unit_tests/unit/test_grafana_api.py
Due: ruff-format, ruff

test(microbenchmark): add perf-cql-raw weekly microbenchmark tests
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_arm64.yaml
  configurations/performance/perf_cql_raw/latency-decorator-error-thresholds-perf-cql-raw-microbenchmark_x86_64.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_arm64.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64-write.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-cql-raw-weekly-microbenchmark_x86_64.jenkinsfile
  microbenchmarking_test.py
  sdcm/argus_results.py
  test-cases/microbenchmarking/amazon_perf_cql_raw_ARM.yaml
  test-cases/microbenchmarking/amazon_perf_cql_raw_x86.yaml
Due: ruff-format, ruff

fix(precommit): apply ruff 0.16.3 formatting to cluster and OCI modules
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/provision/oci/virtual_machine_provider.py
Due: ruff-format, ruff

fix(monitor): point to recreated 4.16.0 monitor image
  defaults/aws_config.yaml
  defaults/gce_config.yaml
  docs/configuration_options.md
Due: update-conf-docs

chore(ruff): re-apply ruff-format to files that missed the 0.16.3 bump
  sdcm/cluster.py
  sdcm/cluster_oci.py
  sdcm/provision/oci/virtual_machine_provider.py
Due: ruff-format, ruff

fix(skill-review): stop executing PR code in privileged workflow
  .github/workflows/skill-review.yml
Due: none

fix(monitor): drop conflicting node exporter before manager backend install
  sdcm/cluster.py
  unit_tests/unit/test_manager_backend_node_exporter.py
Due: ruff-format, ruff

docs(http): document curl and requests retry conventions
  .coderabbit.yaml
  AGENTS.md
  README.md
  docs/http-retry-conventions.md
  docs/plans/mini-plans/2026-04-05-curl-requests-retry-enforcement.md
  skills/code-review/SKILL.md
  skills/code-review/references/common-issues.md
Due: none

fix(events): ignore GCE first-boot Prometheus-bind EADDRNOTAVAIL race
  sdcm/sct_events/setup.py
  unit_tests/integration/test_events.py
  unit_tests/unit/test_sct_events_filters.py
Due: ruff-format, ruff

chore(sizing): tidy up sizing comments per review feedback
  test-cases/agent-test-aws.yaml
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/azure-image-arm.yaml
  test-cases/artifacts/azure-image.yaml
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/rhel10.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404-aws.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/kafka/longevity-kafka-cdc.yaml
  test-cases/kafka/longevity-kafka-sink.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
Due: none

chore(sizing): migrate scale and upgrade test configs to constraint-based sizing
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-with-mv-per-table-latte.yaml
  test-cases/scale/longevity-5000-tables.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/scale/longevity-scale-5dcs-cluster-xl.yaml
  test-cases/scale/scale-cluster.yaml
  test-cases/upgrades/manager-upgrade.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
  test-cases/upgrades/rolling-upgrade.yaml
Due: none

chore(sizing): migrate kafka and standalone test configs to constraint-based sizing
  test-cases/agent-test-aws.yaml
  test-cases/cassandra-aws-provision-test.yaml
  test-cases/kafka/longevity-kafka-cdc.yaml
  test-cases/kafka/longevity-kafka-sink.yaml
  test-cases/simple-data-validation-latte.yaml
Due: none

chore(sizing): migrate longevity test configs to constraint-based sizing
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-100GB-48h-cloud-CloudLimitedChaosMonkey-tls.yaml
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-100gb-4h.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  test-cases/longevity/longevity-1TB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-200GB-48h-network-monkey.yaml
  test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/longevity/longevity-2TB-48h-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  test-cases/longevity/longevity-5TB-1day.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
  test-cases/longevity/longevity-large-collections-12h.yaml
  test-cases/longevity/longevity-large-partition-3h.yaml
  test-cases/longevity/longevity-large-partition-4days.yaml
  test-cases/longevity/longevity-large-partition-8h.yaml
  test-cases/longevity/longevity-large-partitions-with-network-nemesis-1h.yaml
  test-cases/longevity/longevity-mini-test-1h.yaml
  test-cases/longevity/longevity-minicloud-10gb-1h.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware-with-znode-in-diff_dc.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multi-keyspaces.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-nosqlbench-3h.yaml
  test-cases/longevity/longevity-scylla-cloud-5gb-1h.yaml
  test-cases/longevity/longevity-ycsb-a-100M.yaml
  test-cases/longevity/longevity-ycsb-a-10M.yaml
  test-cases/longevity/longevity-ycsb-a-1B.yaml
  test-cases/longevity/longevity-ycsb-a-1M.yaml
Due: none

chore(sizing): migrate artifacts test configs to constraint-based sizing
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/azure-image-arm.yaml
  test-cases/artifacts/azure-image.yaml
  test-cases/artifacts/centos9-selinux.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/debian11.yaml
  test-cases/artifacts/debian12.yaml
  test-cases/artifacts/gce-image.yaml
  test-cases/artifacts/oci-image.yaml
  test-cases/artifacts/oel10.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/rhel10.yaml
  test-cases/artifacts/rhel7.yaml
  test-cases/artifacts/rhel8.yaml
  test-cases/artifacts/rocky8.yaml
  test-cases/artifacts/rocky9-selinux.yaml
  test-cases/artifacts/rocky9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404-aws.yaml
  test-cases/artifacts/ubuntu2404.yaml
  test-cases/artifacts/ubuntu2604.yaml
Due: none

chore(sizing): revert sizing changes for custom/manually-tuned test cases
  test-cases/longevity/longevity-50-percent-utilization-4h.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-3dcs.yaml
  test-cases/longevity/longevity-aws-custom-d2-workload1-5dcs.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
  test-cases/longevity/longevity-large-collections-12h.yaml
  test-cases/longevity/longevity-large-partition-4days.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs-expensive.yaml
  test-cases/upgrades/rolling-upgrade-latency-regression-aws-custom-d2-workload1-5dcs.yaml
Due: none

fix(sizing): remove over-applied arch pins per review feedback
  test-cases/longevity/longevity-1-rf-test-12h.yaml
  test-cases/longevity/longevity-100GB-48h-cloud-CloudLimitedChaosMonkey-tls.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey.yaml
  test-cases/longevity/longevity-1TB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-200GB-48h-network-monkey.yaml
  test-cases/longevity/longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml
  test-cases/longevity/longevity-5TB-1day.yaml
  test-cases/longevity/longevity-large-partition-3h.yaml
  test-cases/longevity/longevity-large-partitions-with-network-nemesis-1h.yaml
  test-cases/longevity/longevity-mini-test-1h.yaml
  test-cases/longevity/longevity-multi-dc-rack-aware.yaml
  test-cases/longevity/longevity-multi-dc-rackaware-validation.yaml
  test-cases/longevity/longevity-multi-keyspaces.yaml
  test-cases/longevity/longevity-ndbench-12-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-ndbench-192-nodes-multidc-4h.yaml
  test-cases/longevity/longevity-nosqlbench-3h.yaml
  test-cases/longevity/longevity-scylla-cloud-5gb-1h.yaml
  test-cases/longevity/longevity-ycsb-a-100M.yaml
  test-cases/longevity/longevity-ycsb-a-10M.yaml
  test-cases/longevity/longevity-ycsb-a-1B.yaml
  test-cases/longevity/longevity-ycsb-a-1M.yaml
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-with-mv-per-table-latte.yaml
  test-cases/scale/longevity-5000-tables.yaml
  test-cases/scale/longevity-many-clients-4h.yaml
  test-cases/simple-data-validation-latte.yaml
  test-cases/upgrades/manager-upgrade.yaml
  test-cases/upgrades/multi-dc-rolling-upgrade.yaml
  test-cases/upgrades/rolling-upgrade.yaml
Due: none

chore(sizing): align cql-stress sizing with reference config, use i8ge for 2TB case
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-2TB-48h-authorization-and-tls-ssl-1dis-2nondis-nemesis.yaml
Due: none

fix(integration-tests): seed moto Secrets Manager, drop retired keys
  test_sync.py
  unit_tests/test_aws_services.py
Due: ruff-format, ruff

fix(keystore): chmod the Secrets Manager version sidecar
  sdcm/keystore.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

feature(sizing): migrate alternator test-case configs to constraint-based sizing
  test-cases/features/alternator-ttl/longevity-alternator-1h-scan-12h-ttl-no-lwt-2h-grace-4loaders-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-8m-grace-sisyphus-rewrite-expired-data.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-36m-ttl-no-lwt-8m-grace-sisyphus.yaml
  test-cases/features/alternator-ttl/longevity-alternator-4m-scan-multiple-ttl-8m-grace.yaml
  test-cases/features/alternator-ttl/longevity-alternator-disable-enable-ttl.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-big-dataset.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-large-writes.yaml
  test-cases/features/alternator-ttl/longevity-alternator-ttl-lwt.yaml
  test-cases/longevity/longevity-alternator-200GB-48h.yaml
  test-cases/longevity/longevity-alternator-3h-multidc.yaml
  test-cases/longevity/longevity-alternator-3h.yaml
  test-cases/longevity/longevity-alternator-streams-100gb-12h.yaml
Due: none

test(unit_tests): drop the Elasticsearch-era microbenchmarking test
  unit_tests/test_microbenchmarking.py
Due: ruff-format, ruff

fix(integration-tests): run the integration suite in parallel
  Jenkinsfile
  requirements.in
  requirements.txt
  sct.py
  unit_tests/test_alternator_streams_kcl.py
  unit_tests/test_cassandra_harry.py
  unit_tests/test_cassandra_stress_thread.py
  unit_tests/test_cluster.py
  unit_tests/test_cql_stress_cassandra_stress_thread.py
  unit_tests/test_kafka.py
  unit_tests/test_latte_thread.py
  unit_tests/test_ndbench_thread.py
  unit_tests/test_python_driver.py
  unit_tests/test_run_cqlsh.py
  unit_tests/test_scylla_bench_thread.py
  unit_tests/test_utils_database_query_utils.py
  unit_tests/test_ycsb_thread.py
Due: ruff-format, ruff

fix(provision/gce): prevent live migration from disrupting tests
  sdcm/provision/gce/instance_provider.py
  unit_tests/unit/test_gce_scheduling_policy.py
Due: ruff-format, ruff

test(provision/gce): drop legacy zone-fallback unit test superseded by provisioner path
  unit_tests/unit/provisioner/test_gce_zone_fallback.py
Due: ruff-format, ruff

fix(provision/gce): filter fallback zones by machine type availability
  sdcm/cluster_gce.py
Due: ruff-format, ruff

feature(azure): align azure node naming with new gce provisioning logic
  sdcm/sct_provision/azure/azure_region_definition_builder.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
