Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix: detect partial provisioning and escalate to CRITICAL severity (SCT-501)
  sdcm/cluster_aws.py
  sdcm/cluster_gce.py
  sdcm/tester.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

fix(gce): guard _node_public_ips access with hasattr in _get_instances
  sdcm/cluster_gce.py
  sdcm/cluster_k8s/gke.py
Due: ruff-format, ruff

feature(perf-regression): add 2.5TB elasticity latency regression tests
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-2.5tb-i8g-elasticity.jenkinsfile
  test-cases/performance/perf-regression-latency-2.5tb-elasticity.yaml
Due: none

fix: resolve import errors for backport/15248/to-2025.4 branch
  sdcm/provision/provisioner.py
  sdcm/sct_runner.py
  sdcm/tester.py
  unit_tests/unit/test_partial_provision_guard.py
Due: ruff-format, ruff

fix(loaders): use continuous event pattern for Harry stress events
  defaults/severities.yaml
  sdcm/cassandra_harry_thread.py
  sdcm/sct_events/loaders.py
Due: ruff-format, ruff, update-conf-docs

fix: define ProvisionUnrecoverableError and ZoneResourcesExhaustedError classes
  sdcm/provision/provisioner.py
  sdcm/tester.py
Due: ruff-format, ruff

fix(network): resolve NIC creation race condition by utilizing poller results
  sdcm/provision/azure/network_interface_provider.py
  unit_tests/provisioner/fake_azure_service.py
Due: ruff-format, ruff

feature(pipeline-labels): implement pipeline labeling and test documentation system
  AGENTS.md
  CLAUDE.md
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/pipeline-labels/taxonomy.yaml
  sct.py
  sdcm/sct_config.py
  sdcm/test_metadata.py
  sdcm/utils/lint/docs_linter.py
  skills/labeling-pipelines/SKILL.md
  skills/labeling-pipelines/references/taxonomy-values.md
  skills/reviewing-pipeline-docs/SKILL.md
  skills/reviewing-pipeline-docs/references/taxonomy-values.md
  test-cases/artifacts/ami.yaml
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
  test-cases/upgrades/generic-rolling-upgrade.yaml
  unit_tests/unit/test_test_docs_linter.py
  unit_tests/unit/test_test_metadata.py
  utils/build_system/create_test_release_jobs.py
  vars/createArgusTestRun.groovy
Due: ruff-format, ruff, update-conf-docs

docs(plans): add test-metadata-rollout mini-plan for bulk documentation
  docs/plans/mini-plans/2026-06-25-test-metadata-rollout.md
  sct.py
  sdcm/utils/lint/docs_linter.py
  vars/createArgusTestRun.groovy
Due: ruff-format, ruff

improvement(adaptive-timeouts): calculate cleanup timeout from node data size
  sdcm/utils/adaptive_timeouts/__init__.py
Due: ruff-format, ruff

test(nemesis-refresh): add integration test for refresh monkey flow
  sdcm/nemesis/__init__.py
  sdcm/remote/local_cmd_runner.py
  sdcm/utils/sstable/load_utils.py
  unit_tests/lib/fake_cluster.py
  unit_tests/test_data/load_and_stream.log
  unit_tests/test_sstable_load_utils.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(nemesis-refresh): add integration test for refresh monkey flow
  sdcm/nemesis/__init__.py
  sdcm/remote/local_cmd_runner.py
  sdcm/utils/sstable/load_utils.py
  unit_tests/integration/test_sstable_load_utils.py
  unit_tests/lib/fake_cluster.py
  unit_tests/test_data/load_and_stream.log
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(adaptive-timeouts): wrap cleanup timeout calc in try block
  sdcm/utils/adaptive_timeouts/__init__.py
Due: ruff-format, ruff

test(nemesis-refresh): add integration test for refresh monkey flow
  sdcm/nemesis.py
  sdcm/remote/local_cmd_runner.py
  sdcm/utils/sstable/load_utils.py
  unit_tests/integration/test_sstable_load_utils.py
  unit_tests/lib/fake_cluster.py
  unit_tests/test_data/load_and_stream.log
Due: ruff-format, ruff

feature(testing): add NVMe namespace-rescan repro test for all backends
  artifacts_test.py
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/progress.json
  docs/plans/testing/nvme-namespace-rescan-repro-test.md
  jenkins-pipelines/oss/artifacts/artifacts-ami-nvme-rescan.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-azure-image-nvme-rescan-root.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-azure-image-nvme-rescan.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image-nvme-rescan.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oci-image-nvme-rescan.jenkinsfile
  sdcm/sct_config.py
  sdcm/sct_provision/region_definition_builder.py
  sdcm/sct_provision/user_data_objects/nvme_fault_inject.py
  test-cases/artifacts/ami-nvme-rescan.yaml
  test-cases/artifacts/azure-image-nvme-rescan-root.yaml
  test-cases/artifacts/azure-image-nvme-rescan.yaml
  test-cases/artifacts/gce-image-nvme-rescan.yaml
  test-cases/artifacts/oci-image-nvme-rescan.yaml
  unit_tests/unit/provisioner/test_nvme_fault_inject.py
Due: ruff-format, ruff, update-conf-docs

fix(events): allow default EventsProcessRegistry recreation after teardown
  sdcm/sct_events/events_processes.py
  sdcm/sct_events/setup.py
  unit_tests/unit/test_sct_events_events_processes.py
Due: ruff-format, ruff

fix(testing): reconcile scylla.yaml before scylla-server start in nvme-rescan repro test
  artifacts_test.py
  docs/plans/testing/nvme-namespace-rescan-repro-test.md
Due: ruff-format, ruff

fix(unit-tests): update stale keyspace1 fixture to keyspace_refresh
  unit_tests/test_utils_common.py
Due: ruff-format, ruff

fix(aws-provision): avoid O(cluster_size) SSH sweep during wait_for_init
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  unit_tests/lib/dummy_remote.py
  unit_tests/lib/fake_cluster.py
  unit_tests/unit/test_ip_to_node_map.py
Due: ruff-format, ruff

fix(cleanup): skip failing steps so one bad region can't abort cleanup
  sdcm/provision/aws/dedicated_host.py
  sdcm/provision/aws/emr_provisioner.py
  sdcm/utils/common.py
  sdcm/utils/resources_cleanup.py
  unit_tests/unit/test_clean_cloud_resources_func.py
  unit_tests/unit/test_emr_provisioner.py
Due: ruff-format, ruff

fix(latency-decorator): preserve exceptions through latency collection
  sdcm/utils/decorators.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
