Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feature(scylla-doctor): add SD-only test mode flag for release gating
  artifacts_test.py
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

chore(docs): Regenerate docs
  docs/configuration_options.md
Due: none

test(manager): update manager_scylla_backend_version to 2025.1
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

ci(renovate): show semver versions in GitHub Actions digest PRs
  renovate.json
Due: none

fix(manager): explicitly set instance types for GCE and Azure tests
  test-cases/manager/manager-regression-azure.yaml
  test-cases/manager/manager-regression-multiDC-gce.yaml
  test-cases/manager/manager-regression-singleDC-gce.yaml
Due: none

fix(monitoring): fix Rocky Linux monitor node provisioning
  sdcm/cluster.py
Due: ruff-format, ruff

fix(manager): stop running manager installation test on Rocky 8
  configurations/manager/rocky8.yaml
  jenkins-pipelines/manager/rocky8-manager-install.jenkinsfile
Due: none

fix(logcollector): Fix result_gradual_increase.log not being collected
  sdcm/logcollector.py
Due: ruff-format, ruff

fix(mgmt): ignore oversized allocation in snapshot listing
  mgmt_cli_test.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff

fix(py-drv): use fixed python driver with proper reconnections - v3
  Dockerfile
  pyproject.toml
Due: uv-sort

ci(oci): add analog of the tier2 multidc test for the OCI backend
  jenkins-pipelines/oss/tier2/longevity-cdc-8h-multi-dc-topology-changes-streaming-oci.jenkinsfile
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
Due: none

fix(nemesis): fix ModifyTableCompactionMonkey TWCS window/TTL conflict
  sdcm/nemesis/monkey/modify_table.py
  unit_tests/unit/nemesis/monkey/test_modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(monkey): Fix cleanup in AbortDecommissionMonkey
  sdcm/nemesis/monkey/abort_decommission.py
  unit_tests/unit/nemesis/monkey/test_abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix ModifyTableCompactionMonkey TWCS window/TTL conflict
  sdcm/nemesis/monkey/modify_table.py
  unit_tests/nemesis/test_modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix ModifyTableCompactionMonkey TWCS window/TTL conflict
  sdcm/nemesis/monkey/modify_table.py
  unit_tests/unit/nemesis/test_modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

feature(s3_boject_storage): add latte range-query workload for S3 keyspace
  configurations/object_storage_s3.yaml
  data_dir/latte/s3_range_query.rn
  longevity_test.py
  test-cases/longevity/longevity-100gb-4h-s3-range-query-latte.yaml
Due: ruff-format, ruff

fix(provision): set oracle db instance size default
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(manager): remove cron schedule from backup task creation
  mgmt_upgrade_test.py
Due: ruff-format, ruff

fix(events): broaden raft topology closed_error filter to match node-info variant
  sdcm/sct_events/setup.py
Due: ruff-format, ruff
