Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(argus): report InvalidInstanceType validation failures as TEST_ERROR
  sct.py
  sdcm/tester.py
  sdcm/utils/aws_utils.py
  unit_tests/unit/test_provision_error_event.py
Due: ruff-format, ruff

refactor(ssh-transport): make libssh2 the default SSH transport
  docs/configuration_options.md
  sdcm/remote/remote_cmd_runner.py
  sdcm/remote/remote_libssh_cmd_runner.py
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(artifacts): add fallback_to_next_availability_zone to artifact test cases
  defaults/aws_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  test-cases/artifacts/amazon2023.yaml
  test-cases/artifacts/ami.yaml
  test-cases/artifacts/centos7.yaml
  test-cases/artifacts/centos9.yaml
  test-cases/artifacts/oel76.yaml
  test-cases/artifacts/oel8.yaml
  test-cases/artifacts/oel9.yaml
  test-cases/artifacts/ubuntu2004-fips.yaml
  test-cases/artifacts/ubuntu2204.yaml
  test-cases/artifacts/ubuntu2404.yaml
Due: update-conf-docs

fix(provision/gce): add zone fallback on GCE resource pool exhaustion
  sdcm/cluster_gce.py
  sdcm/utils/gce_utils.py
  unit_tests/unit/provisioner/test_gce_zone_fallback.py
Due: ruff-format, ruff

improvement(Jenkinsfile): Set stage to failure as well
  Jenkinsfile
  vars/pullRequestSetResult.groovy
Due: none

improvement(Jenkinsfile): Redirect to pipeline-overview for current run
  vars/pullRequestSetResult.groovy
Due: none

fix(provision/gce): filter fallback zones by machine type availability
  sdcm/cluster_gce.py
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

fix(s3-uploader): parse du output by tab delimiter instead of G suffix
  sdcm/utils/s3_remote_uploader.py
Due: ruff-format, ruff

fix(renovate): scylla-doctor custom datasource parsing
  renovate.json
Due: none

feature(skills): add perf-weekly-status-report skill
  AGENTS.md
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/argus-data-format.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

fix(renovate): schema validation error in scylla-doctor datasource
  renovate.json
Due: none

fix(Jenkinsfile): resolve backport conflict in unittest stage
  Jenkinsfile
Due: none

fix(renovate): version string validation for scylla-doctor datasource
  renovate.json
Due: none

fix(build-docker-image.yaml): allow checkout in this workflow
  .github/workflows/build-docker-image.yaml
Due: none

fix(pyproject.toml): relax pyyaml constraint to allow kubernetes upgrade
  pyproject.toml
  uv.lock
Due: uv-sort

fix(nemesis): downgrade expected raft gate-closed errors
  sdcm/nemesis/__init__.py
  sdcm/sct_events/group_common_events.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(sct-runner): bump image and GCE builder versions for branch-2024.1
  sdcm/sct_runner.py
  sdcm/utils/gce_builder.py
  vars/getJenkinsLabels.groovy
Due: ruff-format, ruff

improvement(azure-provision): add stuck-VM detection and redeploy
  defaults/azure_config.yaml
  defaults/severities.yaml
  docs/configuration_options.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_config.py
  sdcm/sct_events/system.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/conftest.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
  vars/longevityPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

improvement(azure-provision): add stuck-VM detection and redeploy
  defaults/azure_config.yaml
  defaults/severities.yaml
  docs/configuration_options.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_config.py
  sdcm/sct_events/system.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/provisioner/conftest.py
  unit_tests/provisioner/fake_azure_service.py
  unit_tests/provisioner/test_stuck_vm_recreate.py
  vars/longevityPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(configuration): Slightly increase adaptive timeout multipliers
  configurations/adaptive_timeout_multipliers.yaml
Due: none

docs(plans): add nemesis high disk utilization support plan
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/nemesis-high-disk-utilization.md
  docs/plans/progress.json
Due: none

feature(pre-commit): introduce the usage of ast-grep for linting
  .pre-commit-config.yaml
  docker/ast-grep/Dockerfile
  docker/ast-grep/README.md
  rule-tests/no-curl-exec-test.yml
  rule-tests/prefer-single-quotes-test.yml
  rule-tests/space-after-list-comma-test.yml
  rules/no-curl-exec.yml
  rules/no-hardcoded-secrets.yml
  rules/no-redundant-tostring-in-gstring.yml
  rules/no-system-exit.yml
  rules/prefer-single-quotes.yml
  rules/space-after-list-comma.yml
  rules/unnecessary-tostring.yml
  sd.patch
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
