Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(libssh2_client): use incremental UTF-8 decoder for SSH output
  sdcm/remote/libssh2_client/__init__.py
Due: ruff-format, ruff

fix(cql): enable control-connection fallback for zero nodes
  sdcm/cluster.py
Due: ruff-format, ruff

fix(sct-config): apply backend required params validation for all backends
  defaults/oci_config.yaml
  jenkins-pipelines/oss/jepsen/jepsen-all.jenkinsfile
  jenkins-pipelines/oss/raft/jepsen-with-raft.jenkinsfile
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(stress-tools): add cs_extra_jvm_opts config for cassandra-stress JVM tuning
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  sdcm/stress_thread.py
Due: ruff-format, ruff, update-conf-docs

perf(stress-tools): enable ZGC for all cassandra-stress perf regression jobs
  test-cases/performance/perf-regression-latency-650gb-elasticity.yaml
  test-cases/performance/perf-regression-latency-650gb-upgrade.yaml
  test-cases/performance/perf-regression-latency-650gb-with-nemesis.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: none

test(stress-tools): add integration test proving JVM_OPTS reach cassandra-stress
  unit_tests/integration/test_cassandra_stress_thread.py
Due: ruff-format, ruff

test(stress-tools): add integration test proving JVM_OPTS reach cassandra-stress
  unit_tests/test_cassandra_stress_thread.py
Due: ruff-format, ruff

test(rf-changes): add out of space test for rf changes
  jenkins-pipelines/oss/features/out-of-space-prevention/out-of-space-prevention-rf.jenkinsfile
  longevity_oos_test.py
  test-cases/features/out-of-space-prevention/longevity-out-of-space-prevention-rf.yaml
Due: ruff-format, ruff

perf(stress-tools): enable ZGC for all cassandra-stress perf regression jobs
  docs/configuration_options.md
  sdcm/sct_config.py
  test-cases/performance/perf-regression-latency-650gb-elasticity.yaml
  test-cases/performance/perf-regression-latency-650gb-upgrade.yaml
  test-cases/performance/perf-regression-latency-650gb-with-nemesis.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
Due: ruff-format, ruff, update-conf-docs

fix(ci-oci): export SCT_OCI_INSTANCE_TYPE_DB in runSctTest.groovy
  vars/runSctTest.groovy
Due: none

fix(longevity-50b): Disable simulated_racks dues to multi-az
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
Due: none

feature(oci): add tag-based OCI image lookup by branch and version
  Jenkinsfile
  sct.py
  sdcm/nemesis/generator.py
  sdcm/sct_config.py
  sdcm/utils/oci_utils.py
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

ci(Jenkinsfile): use 'provisionResources' phase for OCI backend
  Jenkinsfile
Due: none

fix(mgmt): disable tablets for LocalStrategy keyspace in repair test
  mgmt_cli_test.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

fix(mgmt_cli_test): set scylla ownership on TLS cert files after copy
  mgmt_cli_test.py
Due: ruff-format, ruff

fix(provision/aws): poll cloud-config.service in user-script
  sdcm/provision/aws/configuration_script.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
