Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feature(cql-stress): new custom cql-stress docker image with new driver
  configurations/stress_images/cql-stress-strong-consistency-leader-awarness.yaml
Due: none

feature(docker): inject simulated rack via --rack entrypoint arg
  docs/configuration_options.md
  docs/docker-backend-overview.md
  sdcm/cluster_docker.py
  sdcm/sct_config.py
  unit_tests/integration/conftest.py
  unit_tests/integration/test_docker_simulated_racks.py
  unit_tests/lib/fake_docker_cluster.py
  unit_tests/unit/docker/__init__.py
  unit_tests/unit/docker/test_docker_rack_assignment.py
  unit_tests/unit/docker/test_docker_reuse_cluster.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff, update-conf-docs

improvement(perf skill): add uninvestigated failures table, argus events, re-run detection
  skills/perf-weekly-status-report/SKILL.md
  skills/perf-weekly-status-report/references/argus-data-format.md
  skills/perf-weekly-status-report/references/html-template.md
  skills/perf-weekly-status-report/workflows/generate-report.md
Due: none

feature(perf-logstor): add experimental logstor performance testing pipelines using Latte
  configurations/performance/enable_logstor.yaml
  configurations/performance/logstor_hotspot_queries.yaml
  configurations/performance/logstor_uniform_queries.yaml
  data_dir/latte/latte_cs_alike.rn
  data_dir/latte/latte_cs_alike_hotspot.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_hotspot.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_uniform.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  unit_tests/unit/test_gradual_grow_throughput.py
  vars/perfRegressionParallelPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(node_exporter): fail on HTTP errors when downloading tarball
  sdcm/node_exporter_setup.py
Due: ruff-format, ruff

test(logstor): add 60% logstor / 40% LSM dual-engine load distribution
  configurations/performance/logstor_lsm_dual_60_40.yaml
  data_dir/latte/latte_cs_alike_dual_engine.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_lsm_dual_60_40.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  sdcm/utils/decorators.py
  unit_tests/unit/test_dual_engine_workload.py
Due: ruff-format, ruff

test(lwt-perf): add LWT heavy/light predefined-throughput tests for tablets/vnodes
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-heavy-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-heavy-vnodes.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-light-tablets.yaml
  configurations/performance/latency-decorator-error-thresholds-steps-lwt-light-vnodes.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-heavy-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-heavy-vnodes.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-light-tablets.jenkinsfile
  jenkins-pipelines/performance_staging/scylla-enterprise-perf-regression-predefined-throughput-steps-lwt-light-vnodes.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  sdcm/sct_config.py
  sdcm/stress_thread.py
  test-cases/performance/perf-regression-predefined-throughput-steps-lwt-heavy.yaml
  test-cases/performance/perf-regression-predefined-throughput-steps-lwt-light.yaml
  unit_tests/unit/test_stress_thread_functions.py
Due: ruff-format, ruff, update-conf-docs

fix(tester): normalize tablets' NULL resize_type in wait_for_no_tablets_splits()
  sdcm/tester.py
Due: ruff-format, ruff

refactor(mgmt): split get_all_snapshot_files into bucket-wide and per-snapshot methods
  mgmt_cli_test.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

refactor(mgmt): split WORM bucket creation into object-lock and event-based-hold variants
  sdcm/mgmt/operations.py
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

test(manager): add event-based-hold backup test
  mgmt_cli_test.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
  sdcm/mgmt/operations.py
Due: ruff-format, ruff

refactor(multidc-parallel-topology-schema-changes): reduce data size and stress rate threads
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

fix(node_exporter): add missing tar extraction before installing binary
  sdcm/node_exporter_setup.py
Due: ruff-format, ruff

improvement(perf trigger): reduce perf tests frequency from weekly to bi-weekly
  configurations/triggers/perf-regression.yaml
  jenkins-pipelines/master-triggers/sct_triggers/perf-regression-trigger.jenkinsfile
  unit_tests/trigger_matrix/test_perf_regression.py
Due: ruff-format, ruff

fix(sdcm/utils/common.py): Avoid permission denied on strict umask environment
  sdcm/utils/common.py
Due: ruff-format, ruff

fix(hard-exit): address SCT-803 PR review follow-up on hard-exit escalation
  sdcm/cluster.py
  sdcm/utils/hard_exit.py
  sdcm/utils/parallel_object.py
  unit_tests/unit/test_cluster.py
  unit_tests/unit/test_hard_exit.py
Due: ruff-format, ruff

fix(nemesis): fix false-positive in process-wide stuck-thread check [SCT-803]
  sdcm/cluster.py
  sdcm/utils/hard_exit.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

feature(search): add a workload-agnostic search performance flow
  search_perf_test.py
  unit_tests/unit/test_search_perf_test.py
Due: ruff-format, ruff

feature(vector-store): add index-status polling helpers to the API client
  sdcm/utils/vector_store_client.py
  unit_tests/unit/test_vector_store_client.py
Due: ruff-format, ruff

test(vector-store): cover the index lifecycle against a real vector-store
  unit_tests/integration/test_vector_store.py
Due: ruff-format, ruff

feature(vector-store): read index build time from the vector-store log
  sdcm/utils/vector_store_index.py
  unit_tests/unit/test_vector_store_index.py
Due: ruff-format, ruff

feature(latte): mirror the full-text search rune scripts
  data_dir/latte/fts_search/fts.rn
  data_dir/latte/fts_search/metrics.rn
Due: none

feature(fts): add the full-text search (BM25) performance test
  .gitignore
  data_dir/latte/fts_search/generate_local_dataset.py
  data_dir/latte/fts_search/local_config.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/fts-search-test.md
  fts_test.py
  sdcm/sct_config.py
  test-cases/fts-search/fts-search-test-docker.yaml
  unit_tests/unit/test_fts_test.py
Due: ruff-format, ruff, update-conf-docs

feature(argus): let a caller add columns and a threshold to a latency table
  sdcm/argus_results.py
  sdcm/utils/decorators.py
  unit_tests/unit/test_argus_results.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

test(fts): cover the dataset cycle against a real vector-store
  unit_tests/integration/test_search_perf_test.py
Due: ruff-format, ruff

fix(hdrhistogram): treat a 'search' hdr tag as a READ workload
  sdcm/stress/latte_thread.py
  sdcm/utils/hdrhistogram.py
  unit_tests/unit/test_latte_thread.py
Due: ruff-format, ruff

feature(latte): stage per-invocation files into the loader container
  docs/fts-search-test.md
  fts_test.py
  sdcm/stress/latte_thread.py
  sdcm/tester.py
  search_perf_test.py
  unit_tests/integration/test_search_perf_test.py
  unit_tests/unit/test_latte_thread.py
  unit_tests/unit/test_search_perf_test.py
  unit_tests/unit/test_tester.py
Due: ruff-format, ruff

test(emr_provisioner): replace ThreadedMotoServer with @mock_aws() fixture
  unit_tests/unit/test_emr_provisioner.py
Due: ruff-format, ruff

test(hydra_sh): stub docker binary to avoid real registry pull
  unit_tests/unit/test_hydra_sh.py
Due: ruff-format, ruff
