Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

docs(minicloud): overview doc for running SCT against minicloud
  README.md
  docs/minicloud.md
Due: none

feature(minicloud): add a local rolling-upgrade flavor to run-minicloud-test.sh
  configurations/minicloud/rolling-upgrade.yaml
  docs/minicloud.md
  scripts/run-minicloud-test.sh
Due: none

feature(minicloud): make guest and container sizing configurable
  defaults/test_default.yaml
  docs/configuration_options.md
  scripts/run-minicloud-clean-resources.sh
  sct.py
  sdcm/sct_config.py
  sdcm/utils/minicloud/__init__.py
  sdcm/utils/minicloud/config.py
  sdcm/utils/minicloud/log_collection.py
  sdcm/utils/minicloud/manager.py
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_config.py
  unit_tests/unit/minicloud/test_manager.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff, update-conf-docs

feature(minicloud): core SCT support for local QEMU/KVM cloud emulation
  .gitignore
  configurations/minicloud.yaml
  defaults/docker_images/minicloud/values_minicloud.yaml
  defaults/test_default.yaml
  docker/env/hydra.sh
  docs/configuration_options.md
  scripts/run-minicloud-clean-resources.sh
  scripts/run-minicloud-provision-resources.sh
  scripts/run-minicloud-test.sh
  sct.py
  sdcm/cluster.py
  sdcm/logcollector.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/aws_okta.py
  sdcm/utils/aws_region.py
  sdcm/utils/gce_region.py
  sdcm/utils/gcp_kms.py
  sdcm/utils/minicloud/__init__.py
  sdcm/utils/minicloud/activation.py
  sdcm/utils/minicloud/bootstrap.py
  sdcm/utils/minicloud/config.py
  sdcm/utils/minicloud/endpoint.py
  sdcm/utils/minicloud/gcp.py
  sdcm/utils/minicloud/log_collection.py
  sdcm/utils/minicloud/manager.py
  sdcm/utils/minicloud/networking.py
  sdcm/utils/minicloud/preflight.py
  test-cases/minicloud-provision-test.yaml
  unit_tests/unit/minicloud/__init__.py
  unit_tests/unit/minicloud/conftest.py
  unit_tests/unit/minicloud/test_activation.py
  unit_tests/unit/minicloud/test_bootstrap.py
  unit_tests/unit/minicloud/test_config.py
  unit_tests/unit/minicloud/test_gce_clients.py
  unit_tests/unit/minicloud/test_log_collection.py
  unit_tests/unit/minicloud/test_manager.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff, update-conf-docs

feature(sct_runner): enable nested virtualization on capable runner instances
  sdcm/sct_runner.py
  sdcm/utils/gce_utils.py
Due: ruff-format, ruff

fix(gce-jenkins): correct gce_project name prefix in z4d jenkinsfiles
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-highlssd-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-standardlssd-tablets.jenkinsfile
Due: none

feature(perf-regression): add GCE z4d perf-regression and elasticity tests
  configurations/gce/z4d-highmem-16-highlssd.yaml
  configurations/gce/z4d-highmem-16-standardlssd.yaml
  configurations/performance/cassandra_stress_gradual_load_steps_z4d.yaml
  configurations/performance/elasticity-2.5Tb.yaml
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-2.5tb-z4d-highlssd-elasticity.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-latency-2.5tb-z4d-standardlssd-elasticity.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-highlssd-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-standardlssd-tablets.jenkinsfile
Due: none

feature(sct-config): support __ as a bash-exportable nested-key separator
  docs/configuration_options.md
  docs/cross-cloud-sizing.md
  docs/docker-loaders.md
  sct_sizing.py
  sdcm/sct_config.py
  sdcm/utils/nested_env_key.py
  unit_tests/unit/test_adaptive_timeouts.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_nested_env_key.py
  unit_tests/unit/test_sct_sizing.py
Due: ruff-format, ruff, update-conf-docs

docs(minicloud): merge runbook for landing the stack one PR at a time
  docs/plans/minicloud-stack-merge-runbook.md
Due: none

fix(cluster_gce): stop eager reverse-DNS resolution when DNS names are off
  sdcm/cluster.py
  sdcm/cluster_gce.py
Due: ruff-format, ruff

fix(aws_region): pass the association id to replace_route_table_association
  sdcm/utils/aws_region.py
Due: ruff-format, ruff

feature(minicloud): add a local scale flavor, and size the gate for cluster growth
  configurations/minicloud/scale-cluster.yaml
  docs/minicloud.md
  scripts/run-minicloud-test.sh
  sdcm/utils/minicloud/preflight.py
  unit_tests/unit/minicloud/test_preflight.py
Due: ruff-format, ruff

improvement(perf trigger): reduce perf tests frequency from weekly to bi-weekly
  configurations/triggers/perf-regression.yaml
  jenkins-pipelines/master-triggers/sct_triggers/perf-regression-trigger.jenkinsfile
  unit_tests/trigger_matrix/test_perf_regression.py
Due: ruff-format, ruff

feature(sct-config): support __ as a bash-exportable nested-key separator
  docs/configuration_options.md
  docs/docker-loaders.md
  sdcm/sct_config.py
  sdcm/utils/nested_env_key.py
  unit_tests/test_config.py
  unit_tests/test_nested_env_key.py
Due: ruff-format, ruff, update-conf-docs

feature(sct-config): support __ as a bash-exportable nested-key separator
  docs/configuration_options.md
  docs/docker-loaders.md
  sdcm/sct_config.py
  sdcm/utils/nested_env_key.py
  unit_tests/test_config.py
  unit_tests/unit/test_nested_env_key.py
Due: ruff-format, ruff, update-conf-docs

fix(sct-sizing): make jenkins_parser import actually lazy
  sct_sizing.py
Due: ruff-format, ruff

docs(plan): plan for preserving coredumps during out-of-space nemesis
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/nemesis/coredump-preservation-oos-nemesis.md
  docs/plans/progress.json
Due: none

fix(aws): tolerate elastic IP release failures on node destroy
  sdcm/cluster_aws.py
  unit_tests/unit/test_cluster_aws.py
Due: ruff-format, ruff

fix(aws): tolerate elastic IP release failures on node destroy
  sdcm/cluster_aws.py
  unit_tests/test_cluster_aws.py
Due: ruff-format, ruff

fix(perf-regression-alternator): disable scylla manager on t3.small monitor
  test-cases/performance/perf-regression-alternator-full.yaml
Due: none

feature(nemesis): add diagnostics collector and new test configs
  docs/diagnostic_collector.md
  sdcm/logcollector.py
  sdcm/nemesis/__init__.py
  sdcm/utils/diagnostic_collector/__init__.py
  sdcm/utils/diagnostic_collector/handlers.py
  sdcm/utils/diagnostic_collector/manager.py
  sdcm/utils/diagnostic_collector/views.py
  unit_tests/unit/diagnostic_collector/__init__.py
  unit_tests/unit/diagnostic_collector/conftest.py
  unit_tests/unit/diagnostic_collector/test_base.py
  unit_tests/unit/diagnostic_collector/test_handlers.py
  unit_tests/unit/diagnostic_collector/test_manager.py
  unit_tests/unit/diagnostic_collector/test_views.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines
