Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(config): restore ami_id_vector_store in ami_id_params list
  sdcm/sct_config.py
  unit_tests/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(manager-pipelines): use single-line test_config to prevent JSON escaping bug
  jenkins-pipelines/manager/ubuntu22-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-backup.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity-ipv6.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-sanity.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-vnodes-tablets-enterprise.jenkinsfile
Due: none

fix(nemesis): add supports_high_disk_utilization=False to KillMVBuildingCoordinator nemesis
  data_dir/nemesis.yml
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(upgrade-test): restore large_partition_stress_during_upgrade guard and param name
  upgrade_test.py
Due: ruff-format, ruff

test
  test-cases/vector-search/vector-search-test.yaml
Due: none

Add vector-store performance test
  configurations/vector_store_provision_test.yaml
  data_dir/latte/vector_search/vector_search_perf_preload.rn
  data_dir/latte/vector_search/vector_search_perf_run.rn
  data_dir/latte/vector_search/vector_search_recall.rn
  jenkins-pipelines/performance_staging/vector-store-test.jenkinsfile
  run.sh
  sdcm/argus_results.py
  sdcm/remote/agent_cmd_runner.py
  sdcm/remote/docker_cmd_runner.py
  sdcm/remote/remote_base.py
  sdcm/stress/base.py
  sdcm/stress/latte_thread.py
  sdcm/utils/common.py
  sdcm/utils/docker_utils.py
  sdcm/utils/hdrhistogram.py
  sdcm/utils/log.py
  test-cases/vector-search/vector-search-test.yaml
  vector_store_test.py
Due: ruff-format, ruff

fix(perf-strategy): address PR review comments
  docs/performance-testing-strategy.md
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/performance/performance-testing-strategy.md
  docs/plans/progress.json
Due: none

docs(nemesis): Add nemesis documentation
  AGENTS.md
  README.md
  docs/contrib.md
  docs/nemesis.md
  docs/plans/nemesis-rework.md
Due: none

fix(unit-tests): make test_remote_long_running locale-independent
  unit_tests/test_remote_long_running.py
Due: ruff-format, ruff

fix(upgrade-test): normalize large_partition_stress_during_upgrade to list before iteration
  upgrade_test.py
Due: ruff-format, ruff

fix(nemesis): wait for schema agreement after adding new DC node before altering keyspaces
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(xcloud): add e2e test for vector search during cluster scale-out
  scylla_cloud_e2e_test.py
  test-cases/vector-search/vector-search-xcloud-scale-out.yaml
Due: ruff-format, ruff

ci(vector-search): add xcloud aws scale-out pipeline
  jenkins-pipelines/vector-search/vector-search-in-xcloud-scale-out-aws.jenkinsfile
Due: none

fix(test): Handle wait_native_transport API startup race
  sdcm/cluster.py
Due: ruff-format, ruff

test
  vector_store_test.py
Due: ruff-format, ruff

fix(adaptive_timeouts): add an overhead to streaming timeouts
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/test_adaptive_timeouts.py
Due: ruff-format, ruff

fix(performance-regression-test): migrate stress commands from single-string to list handling
  performance_regression_test.py
Due: ruff-format, ruff

fix(stress-commands): use explicit keyspace names for compression stress commands
  sdcm/utils/loader_utils.py
  test-cases/enterprise-features/ics/longevity/ics-longevity-1TB-7days-authorization-and-tls-ssl.yaml
  test-cases/enterprise-features/ics/longevity/ics-longevity-50GB-4days-authorization-and-tls-ssl.yaml
Due: ruff-format, ruff

test
  sdcm/sct_config.py
  test-cases/vector-search/vector-search-test.yaml
  vector_store_test.py
Due: ruff-format, ruff, update-conf-docs

test
  sdcm/sct_config.py
  vector_store_test.py
Due: ruff-format, ruff, update-conf-docs

test
  sdcm/utils/hdrhistogram.py
  test-cases/vector-search/vector-search-test.yaml
Due: ruff-format, ruff

test(unit_tests): move pure integration tests to unit_tests/integration/
  unit_tests/conftest.py
  unit_tests/dummy_remote.py
  unit_tests/integration/conftest.py
  unit_tests/integration/test_alternator_streams_kcl.py
  unit_tests/integration/test_aws_services.py
  unit_tests/integration/test_base_version.py
  unit_tests/integration/test_cassandra_harry.py
  unit_tests/integration/test_cassandra_stress_thread.py
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/integration/test_cql_stress_cassandra_stress_thread.py
  unit_tests/integration/test_gemini_thread.py
  unit_tests/integration/test_kafka.py
  unit_tests/integration/test_ndbench_thread.py
  unit_tests/integration/test_oci_utils_integration.py
  unit_tests/integration/test_python_driver.py
  unit_tests/integration/test_run_cqlsh.py
  unit_tests/integration/test_s3_remote_uploader.py
  unit_tests/integration/test_ssh_none_auth.py
  unit_tests/integration/test_sync.py
  unit_tests/integration/test_utils_database_query_utils.py
  unit_tests/integration/test_utils_issues.py
  unit_tests/integration/test_vector_store.py
  unit_tests/integration/test_ycsb_thread.py
  unit_tests/test_cluster.py
  unit_tests/test_latte_thread.py
  unit_tests/test_scylla_bench_thread.py
  unit_tests/unit/nemesis/fake_cluster.py
Due: ruff-format, ruff

plans(testing): add unit/integration test separation plan
  .pre-commit-config.yaml
  docs/plans/MASTER.md
  docs/plans/progress.json
  docs/plans/testing/unit-integration-test-separation.md
Due: none

test(unit_tests): create unit/ and integration/ subdirectories with shared test_data_dir fixture
  unit_tests/integration/__init__.py
  unit_tests/unit/__init__.py
Due: ruff-format, ruff

test(unit_tests): split conftest.py — isolate fake fixtures to unit/ and Docker fixtures to integration/
  unit_tests/unit/conftest.py
Due: ruff-format, ruff
