Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

test(yaml): add new test config for all tables
  data_dir/latte/tablet_split_merge_load.rn
  data_dir/nemesis.yml
  defaults/severities.yaml
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-24h.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/sct_events/database.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

fix(latte_thread): add latte_schema_parameters to stress commands
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

fix(test): copy cdc-replicator.log to runner for collecting
  sdcm/logcollector.py
  tablet_split_merge_test.py
Due: ruff-format, ruff

feature(events): add tablet split/merge events
  defaults/severities.yaml
  sdcm/sct_events/database.py
Due: ruff-format, ruff, update-conf-docs

fix(claude): checkout PR branch and restrict to read-only tools
  .github/workflows/claude-code-review.yml
Due: none

fix(claude): allow Bash+Read tools so code-review plugin can fetch PR diff
  .github/workflows/claude-code-review.yml
Due: none

ci(coderabbit): add CodeRabbit configuration for automated PR reviews
  .coderabbit.yaml
Due: none

fix(coderabbit): split pipe-separated paths into individual entries
  .coderabbit.yaml
Due: none

fix(claude): add pull_request trigger alongside pull_request_target
  .github/workflows/claude-code-review.yml
Due: none

fix(claude): use --add-dir pattern for secure PR code access
  .github/workflows/claude-code-review.yml
Due: none

fix(claude): gate pull_request to same-repo PRs only
  .github/workflows/claude-code-review.yml
Due: none

fix(claude): persist-credentials: false on base checkout too
  .github/workflows/claude-code-review.yml
Due: none

fix(claude): use full HTTPS URL in review prompt
  .github/workflows/claude-code-review.yml
Due: none

docs(plans): address review feedback on pipeline-labeling plan
  docs/plans/jenkins/pipeline-labeling-and-documentation.md
Due: none

fix(claude-review): add --comment flag and full PR URL to post findings
  .github/workflows/claude-code-review.yml
Due: none

fix(claude-review): add --comment flag to post review findings to PR
  .github/workflows/claude-code-review.yml
Due: none

fix(vector-store): retrieve VS version via HTTP API request
  sdcm/cluster_aws.py
  sdcm/cluster_cloud.py
  sdcm/cluster_docker.py
  sdcm/reporting/tooling_reporter.py
  sdcm/utils/vector_store_utils.py
Due: ruff-format, ruff

fix(cluster): accept after_config in _create_node
  sdcm/cluster_aws.py
  sdcm/cluster_docker.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

feature(adaptive-timeouts): per-operation timeout multipliers
  configurations/adaptive_timeout_multipliers.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
  sdcm/sct_config.py
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff, update-conf-docs

fix(alternator): switch default to DNS routing instead of native load balancing
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

fix(apt-keys): add fallback keyservers and HTTPS fallback to fetch_apt_keys
  sdcm/cluster.py
  unit_tests/unit/test_fetch_apt_keys.py
Due: ruff-format, ruff
