Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

autopep8:
  name: autopep8
  entry: autopep8 -i -j 2
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

fix(nemesis): avoid masking KillNemesis in nemesis
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(unit test): unit test for exclusive connection
  unit_tests/conftest.py
  unit_tests/test_cluster.py
Due: autopep8, ruff

test(backup): add native/rclone backup benchmarking under read/write stress
  configurations/manager/2TB_backup_dataset.yaml
  configurations/manager/manager_native_backup_nemesis.yaml
  configurations/manager/manager_rclone_backup_nemesis.yaml
  configurations/performance/latency-decorator-error-thresholds-nemesis-ent-tablets.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/manager/manager-backup-native-backup.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v15/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
  mgmt_cli_test.py
  mgmt_upgrade_test.py
  performance_regression_manager_backup_test.py
  performance_regression_test.py
  sdcm/argus_results.py
  sdcm/mgmt/argus_report.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/common.py
  sdcm/mgmt/operations.py
  sdcm/nemesis.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  test-cases/performance/perf-regression-latency-backup-nemesis.yaml
  unit_tests/test_scylla_yaml.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(scale): scale DB cluster properly by setting racks correctly
  longevity_test.py
Due: autopep8, ruff

improvement(actions_log): added more actions log lines
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(cdc replication): Enable cdc replication tests in regular run
  cdc_replication_test.py
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/feature-cdc-replication-short-longevity-3h.jenkinsfile
  jenkins-pipelines/feature-cdc-replication-short-longevity-cs.jenkinsfile
  sdcm/sct_config.py
  test-cases/cdc/cdc-15m-replication.yaml
  test-cases/cdc/cdc-replication-longevity.yaml
  test-cases/cdc/cdc-replication-short-longevity-3h.yaml
Due: autopep8, ruff, update-conf-docs

fix(yaml): cdc
  test-cases/longevity/longevity-cdc-100gb-8h-multi-dc-topology-changes.yaml
Due: none

improvement(actions_log): removed target and metadata
  sdcm/nemesis.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(trigger): missed comma in performance trigger
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

feature(scylla-cloud): enable monitoring provisioning and setup
  defaults/cloud_config.yaml
  sdcm/cloud_api_client.py
  sdcm/cluster.py
  sdcm/cluster_cloud.py
  sdcm/sct_config.py
  sdcm/tester.py
Due: autopep8, ruff, update-conf-docs

fix(provision-test-xcloud): stop working with public addresses
  Jenkinsfile
Due: none

fix(xcloud): stop limiting to enabled versions only
  sdcm/sct_config.py
Due: autopep8, ruff, update-conf-docs

refactor(parallel object): move to it's own new file
  functional_tests/scylla_operator/test_functional.py
  ics_space_amplification_goal_test.py
  longevity_operator_multi_tenant_test.py
  longevity_tombstone_gc_test.py
  performance_regression_operator_multi_tenant_test.py
  performance_regression_test.py
  sdcm/logcollector.py
  sdcm/nemesis.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/provision/aws/dedicated_host.py
  sdcm/teardown_validators/sstables.py
  sdcm/tester.py
  sdcm/utils/benchmarks.py
  sdcm/utils/bisect_test.py
  sdcm/utils/cluster_tools.py
  sdcm/utils/common.py
  sdcm/utils/operator/multitenant_common.py
  sdcm/utils/parallel_object.py
  sdcm/utils/raft/common.py
  sdcm/utils/resources_cleanup.py
  sdcm/utils/version_utils.py
  stop_compaction_test.py
  unit_tests/test_parallelobject.py
  upgrade_test.py
Due: autopep8, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(hdr analyze): HDR histogram summary
  sdcm/utils/hdrhistogram.py
Due: autopep8, ruff

feature(xcloud): support log collect from monitor nodes
  sdcm/logcollector.py
  vars/runCollectLogs.groovy
Due: autopep8, ruff

improvement(sdcm/cluster.py): Add offline install to PATH
  sdcm/cluster.py
Due: autopep8, ruff

improvement(scylla_doctor/nonroot): Disable non-working collectors
  utils/scylla_doctor.py
Due: autopep8, ruff

fix(scylla_doctor): Always use a login session for non-root commands
  utils/scylla_doctor.py
Due: autopep8, ruff

test(longevity): new test configuration for LWT with tablets testing
  data_dir/latte/lwt_load.rn
  test-cases/longevity/longevity-lwt-basic-24h.yaml
Due: none

fix(manager backup perf): Move pipelines from v15 to perf-v17 directory
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
Due: none

fix(manager backup): remove obsolete pipeline
  jenkins-pipelines/manager/manager-backup-native-backup.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-native-backup-nemesis.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-manager-rclone-backup-nemesis.jenkinsfile
Due: none

improvement(s3_remote_uploader): Add support for additional ACLs
  sdcm/keystore.py
  sdcm/utils/common.py
  sdcm/utils/s3_remote_uploader.py
Due: autopep8, ruff

fix(integration-tests): fix ycsb tests
  unit_tests/dummy_remote.py
  unit_tests/test_ycsb_thread.py
Due: autopep8, ruff

fix(test_config_get_version_based_on_conf): remove old releases
  unit_tests/test_config_get_version_based_on_conf.py
Due: autopep8, ruff

feature(azure): Add Azure Key Management Service (KMS) integration
  docs/configuration_options.md
  sdcm/cluster.py
  sdcm/keystore.py
  sdcm/provision/azure/kms_provider.py
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/tester.py
  sdcm/utils/azure_utils.py
  test-cases/longevity/longevity-azure-kms-10gb-3h.yaml
  unit_tests/provisioner/azure_default_config.yaml
  unit_tests/provisioner/fake_azure_service.py
Due: autopep8, ruff, update-conf-docs

fix(clean_aws): correct the logic of cleanups of volumes
  utils/cloud_cleanup/aws/clean_aws.py
Due: autopep8, ruff

Path conditions:
  autopep8: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py)
  create-nemesis-pipelines: any of: (sdcm/nemesis.py|sdcm/nemesis_registry.py|sdcm/utils/nemesis_generation.py|templates/.*.j2)
