Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(sct_config): reject AWS multi-DC tests with use_dns_names
  sdcm/sct_config/config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff

fix(commitlog): count shards correctly in the commitlog size watchdog
  sdcm/commit_log_check_thread.py
  unit_tests/unit/test_commit_log_check_thread.py
Due: ruff-format, ruff

test(logstor): add 60% logstor / 40% LSM dual-engine load distribution
  configurations/performance/logstor_lsm_dual_60_40.yaml
  data_dir/latte/latte_cs_alike_dual_engine.rn
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/logstor_lsm_dual_60_40.jenkinsfile
  performance_regression_gradual_grow_throughput.py
  unit_tests/unit/test_dual_engine_workload.py
Due: ruff-format, ruff

fix(provision/aws): block region fallback when use_dns_names is set
  sdcm/cluster.py
  sdcm/provision/aws/az_resolver.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/test_cql_address_resolution.py
Due: ruff-format, ruff

fix(provision/aws): correct why use_dns_names blocks region fallback
  sdcm/cluster.py
  sdcm/provision/aws/az_resolver.py
Due: ruff-format, ruff

feature(health-check): time the validators, not just the gathering
  sdcm/cluster.py
  sdcm/utils/health_checker.py
  unit_tests/unit/test_health_check_instrumentation.py
Due: ruff-format, ruff

fix(mgmt): retry `sctool cluster list` in manager nemeses
  sdcm/cluster.py
  sdcm/cluster_k8s/__init__.py
  sdcm/mgmt/cli.py
  sdcm/mgmt/operator.py
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(keystore): key the credential cache on AWS_ENDPOINT_URL too
  sdcm/keystore.py
  unit_tests/integration/test_aws_services.py
  unit_tests/unit/test_keystore.py
Due: ruff-format, ruff

fix(fix-backport): detect conflict markers in .md files and diff3 base markers
  .claude/scripts/fix-backport.sh
  skills/fix-backport-conflicts/SKILL.md
Due: none

refactor(sct_config): address review feedback on the package split
  sdcm/sct_config/helpers.py
Due: ruff-format, ruff

test(lint): guard the linter's patch targets against silent no-ops
  sdcm/sct_config/__init__.py
  skills/writing-unit-tests/references/common-pitfalls.md
Due: ruff-format, ruff

refactor(sct_config): split field definitions into 25 domain mixins
  docs/configuration_options.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/config.py
  sdcm/sct_config/mixins/__init__.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/baremetal.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/docker.py
  sdcm/sct_config/mixins/emr.py
  sdcm/sct_config/mixins/gce.py
  sdcm/sct_config/mixins/grow_cluster.py
  sdcm/sct_config/mixins/jepsen.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/longevity.py
  sdcm/sct_config/mixins/manager.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/mixins/nemesis.py
  sdcm/sct_config/mixins/oci.py
  sdcm/sct_config/mixins/performance.py
  sdcm/sct_config/mixins/refresh.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/mixins/security.py
  sdcm/sct_config/mixins/spark_migrator.py
  sdcm/sct_config/mixins/stress.py
  sdcm/sct_config/mixins/upgrade.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/sct_config/mixins/xcloud.py
  sdcm/sct_config/types.py
Due: ruff-format, ruff

fix(sct_config): make the generated doc links resolve, drop the distutils import
  docs/configuration_options/alternator-dynamodb-api.md
  docs/configuration_options/amazon-emr-spark-migrator.md
  docs/configuration_options/auxiliary-db-cluster-oracle-cassandra.md
  docs/configuration_options/aws-backend.md
  docs/configuration_options/azure-backend.md
  docs/configuration_options/baremetal-backend.md
  docs/configuration_options/docker-backend.md
  docs/configuration_options/gce-backend.md
  docs/configuration_options/general-and-provisioning.md
  docs/configuration_options/grow-cluster-tests.md
  docs/configuration_options/jepsen-tests.md
  docs/configuration_options/kafka-cdc-connectors.md
  docs/configuration_options/kubernetes-backends-eks-gke-kind.md
  docs/configuration_options/logs-diagnostics-and-teardown.md
  docs/configuration_options/longevity-tests.md
  docs/configuration_options/monitoring-events-and-reporting.md
  docs/configuration_options/nemesis-chaos-testing.md
  docs/configuration_options/oci-backend.md
  docs/configuration_options/performance-regression-tests.md
  docs/configuration_options/refresh-sstable-loading-tests.md
  docs/configuration_options/scylla-cloud-xcloud-backend.md
  docs/configuration_options/scylla-doctor.md
  docs/configuration_options/scylla-installation-and-configuration.md
  docs/configuration_options/scylla-manager.md
  docs/configuration_options/stress-commands-and-load-generation.md
  docs/configuration_options/upgrade-tests.md
  docs/configuration_options/vector-store.md
  docs/sct-configuration.md
  sdcm/sct_config/config.py
  sdcm/sct_config/types.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff

refactor(sct_config): regroup options by what they configure, and document all 523
  docs/configuration_options.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  sdcm/sct_config/mixins/__init__.py
  sdcm/sct_config/mixins/alternator.py
  sdcm/sct_config/mixins/aux_db.py
  sdcm/sct_config/mixins/aws.py
  sdcm/sct_config/mixins/azure.py
  sdcm/sct_config/mixins/baremetal.py
  sdcm/sct_config/mixins/common.py
  sdcm/sct_config/mixins/docker.py
  sdcm/sct_config/mixins/emr.py
  sdcm/sct_config/mixins/gce.py
  sdcm/sct_config/mixins/jepsen.py
  sdcm/sct_config/mixins/kafka.py
  sdcm/sct_config/mixins/kubernetes.py
  sdcm/sct_config/mixins/logs.py
  sdcm/sct_config/mixins/longevity.py
  sdcm/sct_config/mixins/manager.py
  sdcm/sct_config/mixins/minicloud.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/mixins/nemesis.py
  sdcm/sct_config/mixins/oci.py
  sdcm/sct_config/mixins/performance.py
  sdcm/sct_config/mixins/refresh.py
  sdcm/sct_config/mixins/scylla.py
  sdcm/sct_config/mixins/security.py
  sdcm/sct_config/mixins/spark_migrator.py
  sdcm/sct_config/mixins/stress.py
  sdcm/sct_config/mixins/upgrade.py
  sdcm/sct_config/mixins/vector_store.py
  sdcm/sct_config/mixins/xcloud.py
  unit_tests/unit/config/test_option_groups.py
Due: ruff-format, ruff

refactor(sct_config): extract types, helpers and defaults into modules
  sdcm/sct_config/__init__.py
  sdcm/sct_config/config.py
  sdcm/sct_config/defaults.py
  sdcm/sct_config/helpers.py
  sdcm/sct_config/types.py
Due: ruff-format, ruff

refactor(sct_config): move sct_config.py into a package as config.py
  sdcm/sct_config/config.py
Due: ruff-format, ruff

refactor(sct_config): repoint patch targets and docs at the package
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/plans/mini-plans/2026-09-06-sct-config-package-split.md
  docs/sct-configuration.md
  skills/writing-unit-tests/references/common-pitfalls.md
  unit_tests/integration/test_config_get_version_based_on_conf.py
  unit_tests/test_gce_use_dns_names.py
  unit_tests/unit/conftest.py
  unit_tests/unit/test_config.py
  unit_tests/unit/test_instance_sizing_config.py
  unit_tests/unit/test_scylla_yaml_builders.py
Due: ruff-format, ruff

fix(sct_config): reject AWS multi-DC tests with use_dns_names
  sdcm/sct_config.py
  unit_tests/unit/test_config.py
Due: ruff-format, ruff, update-conf-docs

fix(upgrade_test): filter oversized allocation on versions without the fix
  upgrade_test.py
Due: ruff-format, ruff

test(logcollector): exercise grafana_screenshot_panels on a real monitoring stack
  unit_tests/integration/test_grafana_panel_screenshot.py
  unit_tests/test_data/grafana_screenshot_panels/detailed-panels.yaml
Due: ruff-format, ruff

feature(logcollector): add configurable Grafana panel screenshot capture
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/configuration_options/monitoring-events-and-reporting.md
  sdcm/logcollector.py
  sdcm/monitorstack/ui.py
  sdcm/sct_config/mixins/monitoring.py
  sdcm/sct_config/types.py
  unit_tests/unit/test_grafana_panel_screenshot.py
Due: ruff-format, ruff, update-conf-docs

fix(nemesis): temporarily disable tablet auto-repair around repair nemeses
  sdcm/cluster.py
  sdcm/nemesis/__init__.py
  sdcm/provision/scylla_yaml/scylla_yaml.py
  sdcm/rest/task_manager_client.py
  sdcm/utils/tablets/common.py
  unit_tests/unit/test_scylla_yaml.py
  unit_tests/unit/test_tablets_auto_repair.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

SCYLLADB-4601/docs(sc): keep the nemesis sweep statistics next to the config
  docs/sc-sanity-nemesis-coverage.md
Due: none

SCYLLADB-4601/fix(configurations): give the KMS rotation nemesis a fair attempt
  configurations/nemesis/sweep_resume_after_run7.yaml
  docs/sc-sanity-nemesis-coverage.md
Due: none
