Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

feat(tags): add JenkinsJob tag for billing aggregation
  sdcm/provision/oci/constants.py
  sdcm/test_config.py
  unit_tests/test_config.py
  vars/tagBuilder.groovy
Due: ruff-format, ruff

feat(tags): add JenkinsJob tag for billing aggregation
  sdcm/test_config.py
  unit_tests/test_config.py
  vars/tagBuilder.groovy
Due: ruff-format, ruff

TEMP: resolved conflicts
  unit_tests/test_utils_docker.py
Due: ruff-format, ruff

ci(5000-tables): remove nemesis_seed from longevity-5000-tables-latte
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

fix(nemesis): add supports_high_disk_utilization=False to nemeses that call removenode
  data_dir/nemesis.yml
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

chore(plans): move SVG generation to pre-commit and update plan statuses
  .github/workflows/progress.yml
  .pre-commit-config.yaml
  docs/plans/MASTER.md
  docs/plans/assets/progress-roadmap.svg
  docs/plans/progress.json
  scripts/generate_progress_svg.py
Due: ruff-format, ruff

feature(oci): add support of DNS names for OCI VMs to support encryption
  sdcm/cluster_oci.py
  sdcm/provision/oci/virtual_machine_provider.py
  sdcm/provision/provisioner.py
  sdcm/sct_runner.py
  sdcm/utils/oci_region.py
  sdcm/utils/oci_utils.py
  unit_tests/test_cluster_oci.py
  unit_tests/test_oci_region.py
  unit_tests/test_oci_utils.py
  unit_tests/test_oci_virtual_machine_provider.py
Due: ruff-format, ruff

Revert "fix(nemesis): unset running nemesis after _grow_cluster"
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(docker): defer DockerClient.from_env() to avoid import-time crash
  sdcm/utils/docker_utils.py
  unit_tests/test_utils_docker.py
Due: ruff-format, ruff

fix: use correct config path for billing_project tests on perf-v17 branch
  unit_tests/test_config.py
Due: ruff-format, ruff

fix(nemesis): increase timeout for waiting for streaming to start
  sdcm/nemesis/monkey/abort_decommission.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(oci-provision): install OCI CLI during image bake with graceful shutdown
  sdcm/runner_configs/oci-sct-runner-cloud-config.yaml
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(monitoring): avoid port conflicts on concurrent restores
  sdcm/monitorstack/__init__.py
Due: ruff-format, ruff

fix(sct_runner.py): bump SCT runner version
  sdcm/sct_runner.py
Due: ruff-format, ruff

fix(artifacts): use proper parameter name for the provision type
  jenkins-pipelines/oss/artifacts/artifacts-azure-image.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image-persistent-disk.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-oci-image.jenkinsfile
Due: none

fix(artifacts): use proper parameter name for the provision type
  jenkins-pipelines/oss/artifacts/artifacts-azure-image.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image-persistent-disk.jenkinsfile
  jenkins-pipelines/oss/artifacts/artifacts-gce-image.jenkinsfile
Due: none
