Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language: system  # Override the language
        exclude: >
            (?x)^(
                \.git/.*|
                data_dir/latte_stress_output\.log|
                argus/.*
            )$
    -   id: end-of-file-fixer
        language: system  # Override the language
        exclude: ^(\.git/.*|argus/.*)$
    -   id: check-yaml
        language: system  # Override the language
        args:
        - --allow-multiple-documents
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla\.yaml|
                sdcm/k8s_configs/minio/templates/.*|
                sdcm/k8s_configs/monitoring/prometheus-operator/.*|
                sdcm/k8s_configs/provisioner/templates/.*|
                sdcm/k8s_configs/eks/storageclass_gp3.yaml
            )$
    -   id: check-added-large-files
        language: system  # Override the language
        exclude: >
            (?x)^(
                sdcm/k8s_configs/monitoring/prometheus-operator/.*
            )$
    -   id: check-json
        language: system  # Override the language
    -   id: detect-aws-credentials
        language: system  # Override the language
        args: [--allow-missing-credentials]
    -   id: detect-private-key
        language: system  # Override the language
        exclude: ^data_dir/ssl_conf/.*$

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        exclude: '(\.sh$|argus/.*)'

    -   id: ruff
        name: ruff
        entry: ruff check --fix --preview
        language: system
        types: [python]
        exclude: ^argus/.*$

    -   id: update-conf-docs
        name: update-conf-docs
        entry: ./sct.py update-conf-docs
        language: system
        pass_filenames: false
        files: (?x)(sdcm/sct_config.py|defaults/.*.yaml)

    -   id: create-nemesis-yaml
        name: create-nemesis-yaml
        entry: ./sct.py create-nemesis-yaml
        language: system
        pass_filenames: false
        files: ^sdcm/nemesis/

    -   id: create-nemesis-pipelines
        name: create-nemesis-pipelines
        entry: ./sct.py create-nemesis-pipelines
        language: system
        pass_filenames: false
        files: (^sdcm/nemesis/|templates/.*.j2)

    -   id: uv-sort
        name: uv-sort
        entry: uv-sort
        language: system
        pass_filenames: false
        files: ^pyproject.toml$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
        language_version: 16.15.1

fix(nemesis): skip disrupt_refuse_connection nemesis when target is alone in rack
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

chore(azure): improve azure disk performance to avoid c-s failures
  test-cases/longevity/longevity-10gb-3h.yaml
Due: none

fix(upgrade): use java cassandra-stress for azure complex workload
  configurations/azure/azure_rolling_upgrade.yaml
Due: none

fix(sct-runner): bump image and GCE builder versions for branch-2024.1
  sdcm/sct_runner.py
  sdcm/utils/gce_builder.py
  vars/getJenkinsLabels.groovy
Due: ruff-format, ruff

fix(logcollector): skip monitoring log collection when no monitor nodes configured
  sdcm/logcollector.py
  unit_tests/unit/test_log_collector.py
Due: ruff-format, ruff

fix(nemesis): skip disrupt_refuse_connection nemesis when target is alone in rack
  sdcm/nemesis.py
Due: ruff-format, ruff

fix(nemesis): fix ModifyTableCompactionMonkey TWCS window/TTL conflict
  sdcm/nemesis/monkey/modify_table.py
  unit_tests/unit/nemesis/monkey/test_modify_table.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

fix(nemesis): fix adaptive timeout for replacing a node
  sdcm/nemesis/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

docs(sizing): add cross-cloud sizing documentation and migration skill
  README.md
  data/instance_catalog/sizing_config.yaml
  docs/configuration_options.md
  docs/cross-cloud-sizing.md
  skills/migrate-to-sizing/SKILL.md
  skills/migrate-to-sizing/workflows/migrate-config.md
Due: none

config(sizing): migrate test configs to constraint-based sizing syntax
  configurations/2TB_high_disk_used_capacity.yaml
  test-cases/PR-provision-test.yaml
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-50GB-3days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-mv-si-4days.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
  test-cases/longevity/longevity-twcs-48h.yaml
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

feature(sizing): add constraint-based cross-cloud instance sizing
  defaults/aws_config.yaml
  defaults/azure_config.yaml
  defaults/gce_config.yaml
  defaults/oci_config.yaml
  defaults/test_default.yaml
  sct.py
  sct_sizing.py
  sdcm/sct_config.py
  sdcm/utils/cloud_catalog/__init__.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/instance_catalog.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/cloud_monitor/resources/instances.py
  unit_tests/integration/test_catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
  unit_tests/unit/test_instance_catalog.py
  unit_tests/unit/test_instance_matcher.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff, update-conf-docs

config(sizing): add generated instance catalog YAML files
  data/instance_catalog/aws.yaml
  data/instance_catalog/azure.yaml
  data/instance_catalog/gce.yaml
  data/instance_catalog/oci.yaml
  data/instance_catalog/sizing_config.yaml
Due: none

test(manager): update `manager_scylla_backend_version` to `2025.4`
  defaults/test_default.yaml
  docs/configuration_options.md
Due: update-conf-docs

fix(gce-jenkins): correct gce_project name prefix in z4d jenkinsfiles
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-highlssd-tablets.jenkinsfile
  jenkins-pipelines/performance/branch-perf-v17/scylla-enterprise/perf-regression/scylla-enterprise-perf-regression-predefined-throughput-steps-z4d-standardlssd-tablets.jenkinsfile
Due: none

refactor(manager): retrieve repo URLs dynamically
  defaults/manager_versions.yaml
  docs/artifacts_test.md
  docs/configuration_options.md
  mgmt_upgrade_test.py
  sdcm/cluster.py
  sdcm/mgmt/common.py
  sdcm/sct_config.py
  unit_tests/test_sdcm_mgmt_common.py
Due: ruff-format, ruff, update-conf-docs

refactor(manager): retrieve repo URLs dynamically
  docs/artifacts_test.md
  docs/configuration_options.md
  mgmt_upgrade_test.py
  sdcm/cluster.py
  sdcm/mgmt/common.py
  sdcm/sct_config.py
  unit_tests/test_sdcm_mgmt_common.py
Due: ruff-format, ruff, update-conf-docs

feature(scylla-doctor): add SD-only test mode flag for release gating
  artifacts_test.py
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

docs(scylla-doctor): add SD release gating suite implementation plan
  docs/plans/mini-plans/scylla-doctor-release-gating-suite.md
Due: none

feature(scylla-doctor): add SD release gating pipeline shared library
  jenkins-pipelines/scylla-doctor/_display_name
  jenkins-pipelines/scylla-doctor/sd-release-gating.jenkinsfile
  vars/sdReleaseGatingPipeline.groovy
Due: none

feature(scylla-doctor): add custom tarball URL parameter for SD release gating
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
  utils/scylla_doctor.py
  vars/artifactsPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

test(manager): update manager_scylla_backend_version to 2025.1
  defaults/test_default.yaml
Due: update-conf-docs

feature(scylla-doctor): add analysis phase support for full edition
  artifacts_test.py
  sdcm/sct_config.py
  sdcm/tester.py
  unit_tests/test_scylla_doctor.py
  utils/scylla_doctor.py
  vars/artifactsPipeline.groovy
Due: ruff-format, ruff, update-conf-docs

fix(aws-provision): prevent diagnostic code from masking ValueError in get_by_owner_ami
  sdcm/utils/aws_utils.py
Due: ruff-format, ruff

ci(oci): add 'oci' label to the vars/getJenkinsLabels.groovy
  vars/getJenkinsLabels.groovy
Due: none

fix(sizing): address coderabbitai review comments
  data/instance_catalog/aws.yaml
  data/instance_catalog/sizing_config.yaml
  defaults/test_default.yaml
  docs/cross-cloud-sizing.md
  sct_sizing.py
  sdcm/sct_config.py
  sdcm/utils/cloud_catalog/catalog_generator.py
  sdcm/utils/cloud_catalog/instance_matcher.py
  sdcm/utils/cloud_catalog/pricing.py
  sdcm/utils/pricing.py
  skills/migrate-to-sizing/SKILL.md
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
  test-cases/longevity/longevity-150GB-12h-autorization-LimitedMonkey-cql-stress.yaml
  test-cases/longevity/longevity-1TB-5days-authorization-and-tls-ssl.yaml
  test-cases/longevity/longevity-large-partition-200k_pks-4days.yaml
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
  test-cases/longevity/longevity-parallel-schema-changes-12h-cql-stress.yaml
  unit_tests/integration/test_catalog_generator.py
  unit_tests/unit/test_catalog_generator.py
  unit_tests/unit/test_instance_matcher.py
  unit_tests/unit/test_instance_sizing_config.py
Due: ruff-format, ruff, update-conf-docs
