Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

fix(claude-review): post single top-level PR comment with attribution
  .github/workflows/claude-code-review.yml
  skills/code-review/workflows/review-a-pr.md
Due: none

feature(utils): add cluster disk usage summary helper
  sdcm/utils/common.py
Due: ruff-format, ruff

test(gemini): fix flaky mixed-mode oracle test
  unit_tests/test_gemini_thread.py
Due: ruff-format, ruff

fix(sct_config): remove duplicate alternator_trust_all_certificates entry
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

refactor(multidc-parallel-topology-schema-changes): increase data size
  test-cases/longevity/longevity-multidc-parallel-topology-schema-changes-12h.yaml
Due: none

ci(perf): disable job throttling for the GCE perf CI jobs
  vars/perfRegressionParallelPipelinebyRegion.groovy
Due: none

fix(ycsb): fix AWS SDK v2 credential loading for alternator
  sdcm/ycsb_thread.py
Due: ruff-format, ruff

test(gemini): fix flaky mixed-mode oracle test
  unit_tests/integration/test_gemini_thread.py
Due: ruff-format, ruff

improvement(provision/aws): mid-test capacity guard for dynamically-added nodes
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/provision/aws/az_resolver.py
  sdcm/provision/aws/capacity_reservation.py
  sdcm/sct_config.py
  sdcm/sct_provision/aws/layout.py
  sdcm/tester.py
  unit_tests/unit/provisioner/test_az_resolver.py
  unit_tests/unit/provisioner/test_capacity_reservation.py
Due: ruff-format, ruff, update-conf-docs

fix(alternator): switch default to DNS routing instead of native load balancing
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/sct_config.py
Due: ruff-format, ruff, update-conf-docs

feature(adaptive-timeouts): per-operation timeout multipliers
  configurations/adaptive_timeout_multipliers.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
  sdcm/sct_config.py
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff, update-conf-docs

Stop nemesis before teardown diagnostics to prevent hang
  sdcm/tester.py
Due: ruff-format, ruff

fix(5k-tables): set big enough timeout for data population using vnodes
  test-cases/scale/longevity-5000-tables-latte-vnodes.yaml
Due: none

feature(events): add tablet split/merge events
  defaults/severities.yaml
  sdcm/sct_events/database.py
Due: ruff-format, ruff, update-conf-docs

improvement(config): remove obsolete comments in 5k tables test config
  test-cases/scale/longevity-5000-tables-latte.yaml
Due: none

fix(azure): prolong provision stage for Azure
  vars/longevityPipeline.groovy
  vars/managerPipeline.groovy
Due: none

fix(latte_thread): add latte_schema_parameters to stress commands
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

improvement(latte_thread): add a call for post latte schema cmd hook
  sdcm/stress/latte_thread.py
Due: ruff-format, ruff

fix(test): copy cdc-replicator.log to runner for collecting
  sdcm/logcollector.py
  tablet_split_merge_test.py
Due: ruff-format, ruff

test(yaml): add new test config for all tables
  data_dir/latte/tablet_split_merge_load.rn
  defaults/severities.yaml
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-mv-cdc-24h.jenkinsfile
  sdcm/nemesis/__init__.py
  sdcm/sct_events/database.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-lwt-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-basic-24h.yaml
  test-cases/longevity/longevity-lwt-mv-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines

feature(test): LWT/MV/CDC longevity test with tablet split/merge
  data_dir/latte/lwt_load.rn
  data_dir/latte/tablet_split_merge_load.rn
  jenkins-pipelines/oss/features/Tablets/longevity-cdc-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-lwt-24h.jenkinsfile
  jenkins-pipelines/oss/features/Tablets/longevity-mv-24h.jenkinsfile
  sdcm/logcollector.py
  tablet_split_merge_test.py
  test-cases/longevity/longevity-cdc-basic-24h.yaml
  test-cases/longevity/longevity-mv-basic-24h.yaml
Due: ruff-format, ruff

feature(nemesis): Alter table config to trigger split/merge
  configurations/nemesis/SplitMergeTabletsWithAlter.yaml
  data_dir/nemesis.yml
  data_dir/nemesis_classes.yml
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-aws.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-azure.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-docker.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-gce.jenkinsfile
  jenkins-pipelines/oss/nemesis/longevity-5gb-1h-SplitMergeTabletsWithAlter-oci.jenkinsfile
  sdcm/logcollector.py
  sdcm/nemesis/__init__.py
  sdcm/nemesis/monkey/__init__.py
Due: ruff-format, ruff, create-nemesis-yaml, create-nemesis-pipelines

test(manager): switch upgrade from (<= 3.9) tests to eu-west-1 region
  jenkins-pipelines/manager/debian12-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu22-manager-upgrade.jenkinsfile
  jenkins-pipelines/manager/ubuntu24-manager-older-enterprise-upgrade.jenkinsfile
Due: none

fix(scylla-doctor): download vitals/logs with sudo on root installs
  sdcm/tester.py
Due: ruff-format, ruff

fix(oci): fix regex for the rack name parsing
  sdcm/cluster.py
  unit_tests/unit/test_cluster.py
Due: ruff-format, ruff

Revert "feature(adaptive-timeouts): per-operation timeout multipliers"
  configurations/adaptive_timeout_multipliers.yaml
  defaults/test_default.yaml
  docs/configuration_options.md
  jenkins-pipelines/oss/tier1/longevity-mv-si-4days-streaming.jenkinsfile
  sdcm/sct_config.py
  sdcm/utils/adaptive_timeouts/__init__.py
  unit_tests/unit/test_adaptive_timeouts.py
Due: ruff-format, ruff, update-conf-docs

fix(node_exporter): fail on HTTP errors when downloading tarball
  sdcm/node_exporter_setup.py
  unit_tests/test_curl_utils.py
Due: ruff-format, ruff

fix(upgrade): use scylla-enterprise-server for enterprise detection in rolling upgrades
  upgrade_test.py
Due: ruff-format, ruff

fix(perf-tests): reduce cassandra-stress JVM heap size for elasticity test
  test-cases/performance/perf-regression-latency-650gb-elasticity.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
