Repository scylladb/scylla-cluster-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, update-conf-docs, create-nemesis-yaml, create-nemesis-pipelines, uv-sort

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --preview
  language: system

update-conf-docs:
  name: update-conf-docs
  entry: ./sct.py update-conf-docs
  language: system
  pass_filenames: false

create-nemesis-yaml:
  name: create-nemesis-yaml
  entry: ./sct.py create-nemesis-yaml
  language: system
  pass_filenames: false

create-nemesis-pipelines:
  name: create-nemesis-pipelines
  entry: ./sct.py create-nemesis-pipelines
  language: system
  pass_filenames: false

uv-sort:
  name: uv-sort
  entry: uv-sort
  language: system
  pass_filenames: false

feature(nvme): add NVMe diagnostics utility module
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff

feature(nvme): integrate NVMe diagnostics into node setup and health checks
  defaults/severities.yaml
  sdcm/cluster.py
  sdcm/sct_events/health.py
  sdcm/utils/nvme_diagnostics.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

chore: regenerate progress-roadmap.svg from progress.json
  defaults/aws_config.yaml
  defaults/docker_config.yaml
  defaults/test_default.yaml
  docs/plans/assets/progress-roadmap.svg
  sdcm/teardown_validators/nvme.py
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

feature(nvme): add self-test orchestration and end-of-test log collection
  defaults/test_default.yaml
  docs/configuration_options.md
  sdcm/logcollector.py
  sdcm/teardown_validators/__init__.py
  sdcm/teardown_validators/nvme.py
  sdcm/utils/nvme_diagnostics.py
  test-cases/performance/perf-regression-predefined-throughput-steps.yaml
  unit_tests/unit/test_nvme.py
Due: ruff-format, ruff, update-conf-docs

improvement(test-cases): retune longevity-change-cluster-size-by-2-times
  data_dir/cs_mv_si_keyspace1.yaml
  test-cases/longevity/longevity-change-cluster-size-by-2-times.yaml
Due: none

fix(trigger-matrix): pass new_scylla_repo only to rolling-upgrade jobs
  sdcm/utils/trigger_matrix.py
  unit_tests/trigger_matrix/test_rolling_upgrade.py
Due: ruff-format, ruff

chore(argus): vendor client 0.16.0
  argus/_version.py
  argus/client/base.py
  argus/client/replay_log.py
  argus/client/sct/client.py
  argus/client/session.py
  argus/client/tunnel/models.py
  argus/client/tunnel/state.py
  argus/common/utils.py
  argus/version
  sct.py
  sdcm/sct_events/argus.py
  sdcm/test_config.py
  sdcm/utils/adaptive_timeouts/load_info_store.py
  sdcm/utils/argus.py
  unit_tests/unit/test_argus_postman_stop.py
  unit_tests/unit/test_argus_replay_log.py
Due: ruff-format, ruff

refactor(argus): decouple client creation from event-pipeline wiring
  sdcm/sct_events/argus.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/argus.py
  unit_tests/unit/test_argus_postman_stop.py
Due: ruff-format, ruff

fix(argus): wire real-time event pipeline to replay-only client when disabled
  sdcm/test_config.py
  unit_tests/unit/test_argus_postman_stop.py
Due: ruff-format, ruff

refactor(email): remove dead email_data collection code
  artifacts_test.py
  cdc_replication_test.py
  cluster_configuration_tests.py
  functional_tests/scylla_operator/libs/auxiliary.py
  gemini_test.py
  jepsen_test.py
  longevity_test.py
  mgmt_upgrade_test.py
  performance_regression_test.py
  performance_scale_up_test.py
  scylla_cloud_e2e_test.py
  sdcm/mgmt/operations.py
  sdcm/tester.py
  sla_per_user_system_test.py
  snitch_test.py
  tablet_split_merge_test.py
  uda_udf_test.py
  unit_tests/lib/fake_tester.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_tester.py
  upgrade_test.py
Due: ruff-format, ruff

test: Change elasticity-90-percent to use templates stress
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
Due: none

feat: Add ability to define shared variables
  defaults/test_default.yaml
  docs/configuration_options.md
  docs/loader_usage.md
  docs/plans/mini-plans/2026-07-09-strict-jinja-stress-templating.md
  longevity_test.py
  sdcm/sct_config.py
  sdcm/utils/loader_utils.py
  unit_tests/unit/test_longevity.py
  unit_tests/unit/test_render_stress_cmd.py
  unit_tests/unit/test_sct_config_validators.py
Due: ruff-format, ruff, update-conf-docs

fix(tier1): Restore tuned tier1 instances
  configurations/2TB_high_disk_used_capacity.yaml
  test-cases/features/elasticity/elasticity-90-percent-with-nemesis.yaml
Due: none

feature(skills): add test-run-comparison-reports skill
  AGENTS.md
  skills/test-run-comparison-reports/SKILL.md
  skills/test-run-comparison-reports/references/html-template.md
  skills/test-run-comparison-reports/workflows/generate-report.md
Due: none

fix(triggers): switch tier1 jobs from include_versions to exclude_versions
  configurations/triggers/tier1.yaml
Due: none

improvement(oci): handle newly added OCI region - eu-frankfurt-1
  sdcm/provision/oci/constants.py
  sdcm/utils/oci_utils.py
Due: ruff-format, ruff

fix(gemini): respect stress_duration override in run_gemini()
  sdcm/stress_thread.py
  sdcm/tester.py
  unit_tests/test_version_utils.py
Due: ruff-format, ruff

fix(gemini): use --version-json for version probe
  sdcm/cluster.py
  sdcm/utils/version_utils.py
  unit_tests/test_version_utils.py
Due: ruff-format, ruff

refactor(email): remove dead email_data collection code
  artifacts_test.py
  cdc_replication_test.py
  cluster_configuration_tests.py
  functional_tests/scylla_operator/libs/auxiliary.py
  gemini_test.py
  jepsen_test.py
  longevity_test.py
  mgmt_upgrade_test.py
  performance_regression_test.py
  performance_scale_up_test.py
  sdcm/mgmt/operations.py
  sdcm/tester.py
  sla_per_user_system_test.py
  snitch_test.py
  uda_udf_test.py
  unit_tests/test_longevity.py
  unit_tests/test_tester.py
  upgrade_test.py
Due: ruff-format, ruff

chore(argus): update vendored Argus client to 0.16.0
  argus/_version.py
  argus/client/base.py
  argus/client/driver_matrix_tests/cli.py
  argus/client/driver_matrix_tests/client.py
  argus/client/generic/cli.py
  argus/client/generic/client.py
  argus/client/replay_log.py
  argus/client/sct/client.py
  argus/client/session.py
  argus/client/sirenada/client.py
  argus/client/tunnel/__init__.py
  argus/client/tunnel/api.py
  argus/client/tunnel/models.py
  argus/client/tunnel/ssh.py
  argus/client/tunnel/state.py
  argus/common/utils.py
  argus/version
  utils/update_argus_client.py
Due: ruff-format, ruff

feat(argus): add always-on replay log and replay-only client
  sct.py
  sdcm/logcollector.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/argus.py
  sdcm/utils/resources_cleanup.py
  unit_tests/unit/test_argus_replay_log.py
  unit_tests/unit/test_investigate_download_logs.py
Due: ruff-format, ruff

fix(argus): wire real-time event pipeline to replay-only client when disabled
  sdcm/sct_events/argus.py
  sdcm/test_config.py
  sdcm/tester.py
  sdcm/utils/argus.py
Due: ruff-format, ruff

feature(argus): add argus_use_ssh_tunnel config and propagate to client
  defaults/test_default.yaml
  docs/configuration_options.md
  sct.py
  sdcm/sct_config.py
  sdcm/test_config.py
  sdcm/utils/argus.py
  sdcm/utils/resources_cleanup.py
  test-cases/longevity/longevity-100gb-4h-cql-stress.yaml
  test-cases/longevity/longevity-10gb-3h.yaml
Due: ruff-format, ruff, update-conf-docs

fix(azure): treat stuck-VM recovery giveup as capacity issue in nemeses
  docs/plans/mini-plans/2026-07-16-sct632-azure-stuck-vm-recovery-hardening.md
  sdcm/utils/decorators.py
  unit_tests/unit/test_utils_decorators.py
Due: ruff-format, ruff

fix(azure): harden stuck-VM recovery
  defaults/azure_config.yaml
  docs/configuration_options.md
  docs/plans/mini-plans/2026-07-16-sct632-azure-stuck-vm-recovery-hardening.md
  docs/superpowers/specs/2026-07-16-sct632-azure-stuck-vm-recovery-design.md
  sdcm/provision/azure/provisioner.py
  sdcm/provision/azure/virtual_machine_provider.py
  sdcm/sct_config.py
  sdcm/sct_provision/azure/azure_region_definition_builder.py
  sdcm/tester.py
  unit_tests/unit/provisioner/fake_azure_service.py
  unit_tests/unit/provisioner/test_stuck_vm_recreate.py
Due: ruff-format, ruff, update-conf-docs

fix(manager): update instance types to sizing configurations
  test-cases/manager/manager-backup-restore-set-dataset.yaml
  test-cases/manager/manager-installation-set-distro.yaml
  test-cases/manager/manager-no-delta-backup-set-dataset.yaml
  test-cases/manager/manager-regression-alternator-singleDC-set-distro.yaml
  test-cases/manager/manager-regression-azure.yaml
  test-cases/manager/manager-regression-ipv6.yaml
  test-cases/manager/manager-regression-multiDC-gce.yaml
  test-cases/manager/manager-regression-multiDC-set-distro.yaml
  test-cases/manager/manager-regression-singleDC-gce.yaml
  test-cases/manager/manager-regression-singleDC-set-distro.yaml
  test-cases/manager/manager-restore-outside.yaml
  test-cases/manager/manager-sanity-multidc-latte.yaml
  test-cases/manager/prepare_snapshot/100GB_dataset.yaml
  test-cases/manager/prepare_snapshot/10GB_dataset.yaml
  test-cases/manager/prepare_snapshot/2TB_dataset.yaml
  test-cases/manager/prepare_snapshot/5GB_dataset.yaml
Due: none

fix(vector-search): update instance types to sizing configurations
  test-cases/vector-search/vector-search-sanity.yaml
  test-cases/vector-search/vector-search-xcloud-scale-out.yaml
Due: none

fix(manager): clean up unused test cases YAML files
  test-cases/manager/manager-backup-1TB-gce.yaml
  test-cases/manager/manager-backup-and-restore-4TB-single-node.yaml
  test-cases/manager/manager-multiple-restores-schema-and-data.yaml
  test-cases/manager/manager-repair-control.yaml
  test-cases/manager/manager-repair-intensity-multiple-repaired-nodes.yaml
  test-cases/manager/manager-repair-intensity-single-repaired-nodes.yaml
Due: none

refactor(email): remove dead email_data collection code
  artifacts_test.py
  cdc_replication_test.py
  cluster_configuration_tests.py
  functional_tests/scylla_operator/libs/auxiliary.py
  gemini_test.py
  jepsen_test.py
  longevity_test.py
  mgmt_upgrade_test.py
  performance_regression_test.py
  performance_scale_up_test.py
  sdcm/mgmt/operations.py
  sdcm/tester.py
  sla_per_user_system_test.py
  snitch_test.py
  tablet_split_merge_test.py
  uda_udf_test.py
  unit_tests/test_longevity.py
  unit_tests/test_tester.py
  upgrade_test.py
Due: ruff-format, ruff

Path conditions:
  ruff-format: any of: \.py$, but not: (\.sh$|argus/.*)
  ruff: any of: \.py$, but not: ^argus/.*$
  update-conf-docs: any of: (?x)(sdcm/sct_config.py|defaults/.*.yaml)
  create-nemesis-yaml: any of: ^sdcm/nemesis/
  create-nemesis-pipelines: any of: (^sdcm/nemesis/|templates/.*.j2)
  uv-sort: any of: ^pyproject.toml$
